<div class="page">
    <div class="container">
      <ng-titulo titulo="Selecci&oacute;n de tr&aacute;mite" />
      <div class="row">
        <table class="table table-responsive table-striped table-hover">
          <thead>
            <tr>
              <th>Tipo tr&aacute;mite</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>270201</td>
              <td>
                <a routerLink="/pago/"
                  >{{ ruta }}/pago/</a
                >
              </td>
            </tr>
            <tr>
              <td>270201</td>
              <td>
                <a routerLink="/pago/aviso-siglos/solictud">{{ruta}}/aviso-siglos/solictud</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>