.alert {
  text-align: left !important;
}

.alert label {
  font-weight: normal;
}

.manifiesto-descripcion {
  text-align: justify;
  margin: -25px 0px 0px 25px !important;
}

.modal-dialog {
  max-width: 90vw !important;
  width: 100%;
  margin: 1.75rem auto;
}

::ng-deep p {
  font-size: 15px !important;
}

.mt-20 {
  margin-top: 15px;
}

.mr-5px {
  margin-right: 5px;
}

.modal-body {
  padding: 20px !important;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-footer {
  margin: 0px 25px 25px 0px;
}

textarea.form-control {
  height: 0% !important;
}

.modal-content {
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
}

.nota{
  h5{
    padding: 0 15px;
  }
}

::ng-deep .eliminar-modal {
  max-width: 400px!important;
  margin: 50px auto!important;
}
