<div class="container">
    <ng-titulo titulo="Histórico productores" />
    <form [formGroup]="formulario">
        <div class="row">
            <div class="col-md-12">
                <label for="certificadoTituloDatosConfidencialesProductor">¿Los datos del productor son
                    confidenciales?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="checkbox">
                    <input type="checkbox" id="idConfidencialesProductores"
                        formControlName="datosConfidencialesProductor"
                        (change)="setValoresStore(formulario,'datosConfidencialesProductor', 'setDatosConfidencialesProductor')" />
                    <label for="idConfidencialesProductores">No</label>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="tramiteState?.datosConfidencialesProductor">
            <div class="col-md-12">
                <label for="certificadoTituloDatosProductorMismoExportador">
                    ¿El exportador y el productor son la misma persona?</label>
            </div>
            <div class="col-md-12">
                <div class="checkbox">
                    <input type="checkbox" id="idProductorMismoExportador" formControlName="productorMismoExportador"
                        (change)="setValoresStore(formulario,'productorMismoExportador', 'setProductorMismoExportador')" />
                    <label for="idProductorMismoExportador">No</label>
                </div>
            </div>
            <div class="col-md-12" *ngIf="tramiteState?.productorMismoExportador">
                <h6>Productores por exportador</h6>
                <app-tabla-dinamica [tipoSeleccionTabla]="tablaSeleccion.CHECKBOX" [configuracionTabla]="tableColumns"
                    [datos]="productoresExportador" (listaDeFilaSeleccionada)="obtenerSeleccionadoProductores($event)"
                    [disableSeleccionTablaCheckBox]="soloLectura"></app-tabla-dinamica>
                <div class="container text-end mt-5">
                    <button type="button" name="actualizarProductoresSeleccionados" class="btn btn-default me-2"
                        (click)="productoresSeleccionados()" [disabled]="soloLectura">
                        Seleccionar
                    </button>
                    <button type="button" name="agregarProductorPorExportador" class="btn btn-primary"
                        (click)="agregarDatosProductorPorExportador()" [disabled]="soloLectura">
                        Productor nuevo
                    </button>
                </div>
                <h6>Productores por exportador</h6>
                <app-tabla-dinamica [tipoSeleccionTabla]="tablaSeleccion.CHECKBOX" [configuracionTabla]="tableColumns"
                    [datos]="agregarProductoresExportador"
                    (listaDeFilaSeleccionada)="obtenerAnadirProductosSeleccionados($event)"
                    [disableSeleccionTablaCheckBox]="soloLectura"></app-tabla-dinamica>
                <div class="container text-end mt-5">
                    <button type="button" name="actualizarProductoresSeleccionados" class="btn btn-danger"
                        (click)="eliminarProductoresSeleccionados()" [disabled]="soloLectura">
                        Eliminar
                    </button>
                </div>
                <h6>Mercancías seleccionadas</h6>
                <app-tabla-dinamica [tipoSeleccionTabla]="tablaSeleccion.CHECKBOX"
                    [configuracionTabla]="seleccionadasEncabezados" [datos]="mercanciaSeleccionadasTablaDatos"
                    (listaDeFilaSeleccionada)="seleccionDeFilas($event)"
                    [disableSeleccionTablaCheckBox]="soloLectura"></app-tabla-dinamica>

                <div class="container text-end mt-5">
                    <button type="button" name="agregarProductorPorExportador" class="btn btn-primary"
                        (click)="asignarProductor()" [disabled]="soloLectura">
                        Asignar productor
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="modalAgregarDatosProductorPorExportador" tabindex="-1"
    #modalAgregarDatosProductorPorExportador aria-labelledby="modalAgregarDatosProductorPorExportador"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <ng-titulo titulo="Datos productor por exportador" />
                <form [formGroup]="agregarDatosProductorFormulario">
                    <div class="col-md-4">
                        <label class="form-label" for="numeroRegistroFiscal">Número de registro fiscal*:</label>
                        <input type="text" class="form-control" name="numeroRegistroFiscal" id="numeroRegistroFiscal"
                            (change)="setValoresStore(agregarDatosProductorFormulario,'numeroRegistroFiscal', 'setAgregarDatosProductorNumeroRegistroFiscal')"
                            formControlName="numeroRegistroFiscal"
                            [ngClass]="isValid(agregarDatosProductorFormulario, 'numeroRegistroFiscal') ? 'required' : ''">
                    </div>
                </form>

            </div>
            <div class="modal-footer custom-footer justify-content-end">
                <button type="button" class="btn btn-default ms-3" data-bs-dismiss="modal" #closeModal>Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="agregarExportador()">Agregar</button>
            </div>
            <div>
                <p class="text-start ms-5">* Campo obligatorio</p>
            </div>       
          </div>
    </div>
</div>
@if (nuevaNotificacion) {
<section>
    <lib-notificaciones [notificacionInput]="nuevaNotificacion">
    </lib-notificaciones>
</section>
}