<div class="container">
  <form [formGroup]="subcontratadosForm">
    <div class="row mt-4">
      <div class="col-md-12">
        <ng-titulo titulo="Agregar" />
      </div>
      
      <div class="col-md-4">
        <label for="rfcBusqueda" class="form-label">RFC*:</label>
        <input
          type="text"
          formControlName="subcontrataRFCBusqueda"
          id="rfcBusqueda"
          class="form-control"
          (change)="actualizarSubcontrataRFCBusqueda($event)"
        />
      </div>
      <div class="col-md-8">
        <div class="form-group mt-5 pull-left">
          <button
            type="button"
            name="Buscar"
            id="Buscar"
            [disabled]="esFormularioSoloLectura"
            class="btn btn-primary me-5"
            (click)="buscarRFC()"
          >
            Buscar
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <label for="rfc" class="form-label"
          >Registro Federal de Contribuyentes*:</label
        >
        <input
          type="text"
          formControlName="subcontrataRFC"
          id="rfc"
          class="form-control"
          (change)="actualizarSubcontrataRFC($event)"
        />
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-8">
        <label for="razonSocial" class="form-label">Razon Social *:</label>
        <input
          type="text"
          formControlName="subcontrataRazonSocial"
          id="razonSocial"
          class="form-control"
          (change)="actualizarSubcontrataRazonSocial($event)"
        />
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <label for="empleados" class="form-label">Número de empleados *:</label>
        <input
          type="text"
          formControlName="subcontrataEmpleados"
          id="empleados"
          class="form-control"
          (change)="actualizarSubcontrataEmpleados($event)"
        />
      </div>
      <div class="col-md-4">
        <app-catalogo-select
          formControlName="subcontrataBimestre"
          [catalogo]="bimestre.catalogos"
          [label]="bimestre.labelNombre"
          [isDisabled]="esFormularioSoloLectura"
          [placeholder]="bimestre.primerOpcion"
          [required]="bimestre.required"
          name="bimestre"
          id="bimestre"
          (selectionChange)="actualizarSubcontrataBimestre($event)"
        ></app-catalogo-select>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-12 mt-3">
        <div class="d-flex justify-content-end mt-4">
          <button
            type="button"
            id="aceptar"
            [disabled]="esFormularioSoloLectura"
            class="btn btn-primary"
            (click)="cerrarModal()"
            data-bs-dismiss="modal"
            #closeModal
          >
            Aceptar
          </button>

          <button
            type="button"
            id="cancelar"
            [disabled]="esFormularioSoloLectura"
            class="btn btn-danger ms-3"
            data-bs-dismiss="modal"
            #closeModal
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
