.modal-dialog {
    max-width: 1100px !important;
}

.btn-mt {
    margin-top: 27px;
}

.pt-7 {
    padding-top: 7px;
}

.custom-footer {
    display: block;
    margin: 25px;
    line-height: 2;
}

.modal-body {
    padding: 30px 30px 15px 30px;
}
::ng-deep .eliminar-modal {
    width: 470px !important;
    max-width: 100%;
    margin: 2% auto !important;
    padding: 0 !important;
    text-align: center;
}