#modal-agregar-pfe .modal-dialog {
    max-width: 1100px !important;
}

#modal-agregar-pfe .custom-footer {
    display: block;
    margin: 25px;
    line-height: 2;
}

#modal-alerta .modal-dialog-centered, #modal-alerta-seleccion .modal-dialog-centered {
    justify-content: center;
    max-width: 320px;
}

.pt-7 {
    padding-top: 7px;
}