<ng-titulo titulo="Aduana" />

<div class="container">
    <form [formGroup]="forma">
        <div class="row">
            <div class="col-md-4">
                <app-catalogo-select
                [catalogo]="aduanaData || []" 
                formControlName="aduana" 
                label="Aduana de salida" 
                [required]="true" 
                name="aduana"
                [placeholder]="'Selecciona un valor'"
                    
                ></app-catalogo-select>
                <validadores-de-formularios 
                [forma]="forma" 
                [controlDeFormulario]="'aduana'" 
                [validadores]="validadores"
                ></validadores-de-formularios>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12 mt-5">
            <ng-alert [CONTENIDO]="aduanaAlert"></ng-alert>
        </div>
    </div>
    <div class="row">
        <h6>Itinerario de la exportación y transportación*:</h6>
        <app-tabla-dinamica
            [tipoSeleccionTabla]="tablaSeleccion.CHECKBOX"
            [configuracionTabla]="configuracionTabla"
            [datos]="configuracionTablaDatos"
            (listaDeFilaSeleccionada)="listaDeFilaSeleccionada($event)"
        ></app-tabla-dinamica>
    </div>
    <div class="col-md-12 mt-5 d-flex justify-content-end">
    <button type="button" class="btn btn-default ms-3" (click)="eliminar()">Eliminar</button>
    <button
        type="button"
        class="btn btn-primary ms-3"
        data-bs-toggle="modal"
        data-bs-target="#modalAduana"
        (click)="abrirDialogo()"
    >
        Agregar
    </button>
    </div>
</div>

<div
  class="modal fade"
  id="modalAduana"
  tabindex="-1"
  aria-labelledby="modalLabel1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <form [formGroup]="modalForma">
          <div class="row">
            @if(configuracionTablaDatos.length === 0){
              <formas-dinamicas formularioTitulo="Itinerario de la exportación y transportación" [forma]="itinerarioFormGroup" [formularioDatos]="itinerarioFormData"></formas-dinamicas>
            } @else {
              <formas-dinamicas formularioTitulo="Itinerario de la exportación y transportación" [forma]="itinerarioMaximoFormGroup" [formularioDatos]="itinerarioMaximoFormData"></formas-dinamicas>
            }
            
          </div>
          <!-- <div class="row">
              <div class="col-md-12 mt-5">
                  <ng-alert [CONTENIDO]="alertInformacion"></ng-alert>
              </div>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-md-12 mt-5 d-flex justify-content-end">
            <button type="button" class="btn btn-default ms-3" data-bs-dismiss="modal" #closeModal>Cancelar</button>
            <button type="button" class="btn btn-primary ms-3" (click)="agregarConfirmarModal()">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>