.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  z-index: 2000;
}

.modal-content {
  background: white;
  padding: 2rem;
  margin: 3% auto 3rem auto;
  width: 80%;
  max-height: 85vh;
  overflow-y: auto;
  border-radius: 8px;
  z-index: 2100;
  position: relative; 
}