<div class="container">
  <form [formGroup]="solicitudFormulario">
    <ng-titulo titulo="Datos del trámite original" />
    <div class="row">
      <div class="col-md-4">
        <label>Numero Folio Tramite Original:</label>
        <input type="text" class="form-control" id="numeroFolioTramiteOriginal"
          formControlName="numeroFolioTramiteOriginal" />
      </div>
    </div>
    <ng-titulo titulo="Datos del trámite a realizar" />
    <div class="row">
      <div class="col-md-4">
        <label>Solicitud:</label>
        <app-input-radio [radioOptions]="solicitudOpcionRadio" [isRequired]="true" [layout]="'vertical'"
          formControlName="solicitud"></app-input-radio>
      </div>
      <div class="col-md-8">
        <div>
          <label>Régimen:</label>
          <input type="text" class="form-control" id="regimen" formControlName="regimen" />
        </div>
        <div class="mt-5">
          <label>Clasificación del régimen:</label>
          <textarea class="form-control height-55" id="clasificacionRegimen"
            formControlName="clasificacionRegimen"></textarea>
        </div>
      </div>
    </div>
    <ng-titulo titulo="Datos de la mercancía" />
    <div class="row">
      <div class="col-md-4">
        <label>Producto:</label>
        <app-input-radio [radioOptions]="productoOpcionRadio" [isRequired]="true" [layout]="'vertical'"
          formControlName="condicionMercancia"></app-input-radio>
      </div>
      <div class="col-md-8">
        <div>
          <label>Descripción de la mercancía:</label>
          <textarea class="form-control height-80" id="mercanciaDescripcion"
            formControlName="mercanciaDescripcion"></textarea>
        </div>
      </div>
      <div class="col-md-12 mt-4">
        <label>Fracción arancelaria:</label>
        <textarea class="form-control height-80" id="fraccionArancelaria"
          formControlName="fraccionArancelaria"></textarea>
      </div>
      <div class="col-md-4 mt-4">
        <label>UMC:</label>
        <p id="unidadMedidaTarifaria">{{tramiteState.datosSolicitud.unidadMedidaComercial}}</p>
      </div>
      <div class="col-md-4 mt-4">
        <label>Cantidad:</label>
        <input type="text" class="form-control" id="unidadesAutorizadas" formControlName="unidadesAutorizadas" />
      </div>
      <div class="col-md-4 mt-4">
        <label>Valor de factura USD:</label>
        <input type="text" class="form-control" id="importeFacturaAutorizadoUSD"
          formControlName="importeFacturaAutorizadoUSD" />
      </div>

    </div>
    <ng-container class="mt-5">
      <ng-titulo titulo="Partidas de la mercancía" />
      <div class="table-container">
        <label class="mb-2">Partidas</label>
        <app-tabla-dinamica [configuracionTabla]="solicitudTablaEncabezados"
          [datos]="solicitudTablaDatos"></app-tabla-dinamica>
      </div>
    </ng-container>
    <ng-container class="mt-5">
      <ng-titulo titulo="Fracción arancelaria PROSEC" />
      <div class="table-container">
        <label class="mb-2">Fracciones arancelarias uso especifico:</label>
        <app-tabla-dinamica [configuracionTabla]="arancelariaTablaEncabezados"
          [datos]="arancelariaTablaDatos"></app-tabla-dinamica>
      </div>
    </ng-container>
    <ng-container class="mt-5">
      <ng-titulo titulo="País(es) procedencia" />
      <div class="row">
        <div class="col-md-12">
          <label>CAN-CANADA</label>
        </div>
        <div class="col-md-12">
          <div id="usoEspecificoDiv" class="overflow-auto" style="width: 600px; height: 100px;">
            {{ tramiteState.datosSolicitud.usoEspecifico }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Justificación de la importación o exportación y el beneficio que se obtiene *:</label>
        </div>
        <div class="col-md-12">
          <div id="justificacionImportacionExportacionDiv" class="overflow-auto" style="width: 600px; height: 100px;">
            {{ tramiteState.datosSolicitud.justificacionImportacionExportacion }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Observaciones:</label>
        </div>
        <div class="col-md-12">
          <div id="observacionesDiv" class="overflow-auto" style="width: 600px; height: 100px;">
            {{ tramiteState.datosSolicitud.observaciones }}
          </div>
        </div>
      </div>

    </ng-container>
    <ng-container class="mt-5">
      <ng-titulo titulo="Representación federal" />
      <div class="row">
        <div class="col-md-12">
          <label>Representación federal:</label>
          <div id="justificacionImportacionExportacionDiv" class="overflow-auto d-inline"
            style="width: 600px; height: 100px;">
            {{ tramiteState.datosSolicitud.representacionFederal }}
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</div>