::ng-deep {
    btn-continuar {
        .btn-default.ms-3 {
            visibility: visible !important;
        }

        .btn-primary {
            display: inline-block !important;
            visibility: visible !important;
        }
    }
}