<div class="container form-container">
    <ng-titulo titulo="Pago de derechos" />
    <div>
      <form [formGroup]="FormSolicitud" (ngSubmit)="validarFormulario()">
         <div>
            <label for="exentoDePago">Exento de pago*:</label>
            <div class="radio-container">
              <div class="radio-option">
                <input type="radio" id="no" formControlName="exentoDePago" value="No"
                (change)="setValoresStore(FormSolicitud,'exentoDePago', 'setexentoDePago')">
                <label for="no">No</label>
              </div>
              <div class="radio-option">
                <input type="radio" id="yes" formControlName="exentoDePago" value="Yes"
                (change)="setValoresStore(FormSolicitud,'exentoDePago', 'setexentoDePago')" >
                <label for="yes">Si</label>
              </div>
             
            </div>
          </div>
          
  
          <!-- Select Dropdown -->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
               

                <app-catalogo-select [catalogo]="Justificacion" formControlName="Justificacion" [label]="'Justificación'" [isDisabled]="esFormularioSoloLectura"
                [required]="true" name="Justificacion"  (change)="setValoresStore(FormSolicitud,'Justificacion', 'setJustificacion')"></app-catalogo-select>
              </div>
            </div>
          </div>
  
          <!-- Clave de referencia, Cadena de la dependencia, Banco, etc. -->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="rfcImportExport">Clave de referencia:</label>
                <input class="form-control" id="rfcImportExport" formControlName="rfcImportExport"  type="text">
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="cadenaDependencia">Cadena de la dependencia*:</label>
                <input class="form-control" id="cadenaDependencia" formControlName="cadenaDependencia"  type="text" libUppercase>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="form-group">
                
                <app-catalogo-select [catalogo]="Banco" formControlName="Banco" [label]="'Banco'" [isDisabled]="esFormularioSoloLectura"
                [required]="true" name="Banco"  
                (change)="setValoresStore(FormSolicitud,'Banco', 'setBanco')" ></app-catalogo-select>
               </div>
            </div>
           </div>
  
          <!-- Llave de pago, Fecha de pago, Importe de pago -->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="llaveDePago">Llave de pago*:</label>
                <input class="form-control" id="llaveDePago" formControlName="llaveDePago"  type="text"
                (change)="setValoresStore(FormSolicitud,'llaveDePago', 'setllaveDePago')">
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="fechaPago">Fecha de pago*:</label>
                <input class="form-control" id="fechaPago" formControlName="fechaPago"  type="date" 
                (change)="setValoresStore(FormSolicitud,'fechaPago', 'setfechaPago')">
                
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="importePago">Importe de pago*:</label>
                <input class="form-control" id="importePago" formControlName="importePago"  type="text" libUppercase>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 text-right">
              <div class="form-group">
                <button type="button" class="btn btn-outline-warning custom-button">Borrar datos del pago</button>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
  
  