/* Container to hold the radio buttons side by side */
.radio-container {
    display: flex; /* Align items in a row */
    gap: 10px; /* Space between the buttons */
    align-items: center; /* Vertically center the radio buttons and labels */
  }
  
  /* Optional: Add custom styling to the radio buttons */
  .radio-option {
    display: flex;
    align-items: center; /* Vertically center the label with the radio button */
  }
  
  input[type="radio"] {
    margin-right: 5px; /* Space between radio button and label */
  }
  /* Hide the default placeholder text */
input[type="date"]::-webkit-input-placeholder {
    color: transparent;
  }
  
  input[type="date"]::-moz-placeholder {
    color: transparent;
  }
  
  input[type="date"]::-ms-input-placeholder {
    color: transparent;
  }
  .custom-button {
    color: rgba(206, 189, 161, 1);   /* Text color */
    border-color: #a57f2c;            /* Border color */
  }
  
  .custom-button:hover {
    color: rgba(206, 189, 161, 1);   /* Keep the text color on hover */
    border-color: #a57f2c;            /* Keep the border color on hover */
  }
  