.container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    min-height: 100vh; /* Full viewport height */
  }
  .btn-space {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  .require{
    color: red;
  }

  .blue-text{
    color: rgb(0, 142, 224);
  }