<div class="container">

  <form [formGroup]="formPermisoDesistir">
    <div class="form">
      <ng-titulo titulo="Permiso a desistir" />
      <ng-container>
        <div class="row mb-3">
          <div class="col-md-8">
            <div class="form-group">
              <label for="folio" class="form-label">Folio:</label>
              <input class="form-control" type="text" formControlName="folio" name="folio" id="folio"  appUpercase/>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-8">
            <div class="form-group">
              <label for="tipoDeSolicitud" class="form-label">Tipo de solicitud*:</label>
              <textarea class="form-control" rows="3" id="tipoDeSolicitud" formControlName="tipoDeSolicitud"></textarea>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-8">
            <div class="form-group">
      
              <label for="descripcion" class="form-label">Motivo de desistimiento*:</label>
              <textarea class="form-control" rows="3" id="descripcion" formControlName="descripcion" 
              [ngClass]="isValid(formPermisoDesistir,'descripcion') ? 'required' : ''"    
              (change)="onDescripcionChange()" ></textarea>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</div>