.form-control {
    background-color: #80808024;
}


@media (min-width: 320px) and (max-width: 370px) {
    .form-label {
        text-align: unset !important;

    }
}
.label-width {
    text-align: center;
}

.bg-white {
    background-color: white !important;
}