<div class="container">

  <ng-alert [CONTENIDO]="TEXTOS.ADJUNTAR" [CUSTOMECLASS]="claseAlertaInformativa"></ng-alert>

  <table class="table">
    <thead class="table-light">
      <tr>
        <th class="expedir-header">Sin tipo de documentos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>test</td>
        
        <td class="text-right">
          <button
          type="button"
          class="btn btn-default ms-3 custom-guardar"
        >
          Guardar
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>