    .btn {
        margin: 2px !important;
    }

    .modal-body {
        form {
            ::ng-deep label {
                font-size: 1.6rem !important;
                padding-top: 0px !important;
                margin-top: 15px !important;
                margin-bottom: 0 !important;
            }
        }

        ::ng-deep hr.red {
            margin: 10px 0 45px !important;
        }
    }

    ::ng-deep .ng-invalid.ng-invalid.ng-invalid.ng-dirty.ng-dirty .form-label.form-label .require.require.require,
    ::ng-deep .ng-invalid.ng-invalid.ng-invalid.ng-touched.ng-touched .form-label.form-label .require.require.require {
        color: unset !important;
    }

    ::ng-deep html body .modal-body .ng-invalid.ng-dirty .form-label .require,
    ::ng-deep html body .modal-body .ng-invalid.ng-touched .form-label .require,
    ::ng-deep html body form .ng-invalid.ng-dirty .form-label .require,
    ::ng-deep html body form .ng-invalid.ng-touched .form-label .require {
        color: unset !important;
    }

    ::ng-deep .ng-invalid .form-label .require {
        animation: resetColor 0s forwards !important;
    }

    @keyframes resetColor {
        to {
            color: unset !important;
        }
    }

    .loader-overlay {
        position: fixed;
        /* fixed so it covers the whole viewport */
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        /* black transparent background */
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        /* make sure it's on top of everything */
    }

    .loader {
        width: 48px;
        height: 48px;
        border: 5px solid #fff;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }

    }