<div class="container">
  <ng-titulo titulo="Requisitos generales" />
  <form [formGroup]="formDespacho">
    <div class="form">
      <div class="row">
        <div class="col-md-12">
          <label class="control-label" for="buscar">Señales si se encuentra al corriente en el cumplimiento de sus
            obligaciones fiscales y aduaneras*:</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input me-3" type="radio" formControlName="cumplimiento" value="a"
            id="cumplimiento_si" (change)="setValoresStore(formDespacho,'cumplimiento', 'setCumplimientoValue')">
          <label class="control-label" for="cumplimiento_si">Sí</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input me-3" type="radio" formControlName="cumplimiento" value="aa"
            id="cumplimiento_no" (change)="setValoresStore(formDespacho,'cumplimiento', 'setCumplimientoValue')">
          <label class="control-label" for="cumplimiento_no">No</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label class="control-label" for="buscar">Indique si autorizó al S A T hacer pública su opinión positiva sobre
            el cumplimiento de obligaciones fiscales*:</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input me-3" type="radio" formControlName="autorizar" value="a" id="autorizar_si"
            (change)="setValoresStore(formDespacho,'autorizar', 'setAutorizarValue')">
          <label class="control-label" for="autorizar_si">Sí</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input me-3" type="radio" formControlName="autorizar" value="aa" id="autorizar_no"
            (change)="setValoresStore(formDespacho,'autorizar', 'setAutorizarValue')">
          <label class="control-label" for="autorizar">No</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label class="control-label" for="buscar">Indique si se encuentra en el listado de empresas publicadas por el
            S A T, en términos de los artículos 69, con excepción de la fracción V I, 69-B cuarto párrafo ó 69- Bis,
            noveno párrafo, del Código Fiscal Federal*: </label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input me-3" type="radio" formControlName="listado" value="a" id="listado_si"
            (change)="setValoresStore(formDespacho,'listado', 'setListadoValue')">
          <label class="control-label" for="listado_si">Sí</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input me-3" type="radio" formControlName="listado" value="aa" id="listado_no"
            (change)="setValoresStore(formDespacho,'listado', 'setListadoValue')">
          <label class="control-label" for="listado_no">No</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label class="control-label" for="buscar">Señale si al momento de ingresar su solicitud sus certificados de
            sellos digitales están vigentes*:</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input me-3" type="radio" formControlName="certificados" value="a"
            id="certificados_si" (change)="setValoresStore(formDespacho,'certificados', 'setCertificadosValue')">
          <label class="control-label" for="certificados_si">Sí</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input me-3" type="radio" formControlName="certificados" value="aa"
            id="certificados_no" (change)="setValoresStore(formDespacho,'certificados', 'setCertificadosValue')">
          <label class="control-label" for="certificados_no">No</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label class="control-label" for="buscar">Señale si infringió en alguno de los supuestos previos en el
            artículo 17- H Bis del C F F, durante los últimos 12 meses contados a partir de la fecha de la presentación
            de la solicitud*:</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input me-3" type="radio" formControlName="art17" value="a" id="art17_si"
            (change)="setValoresStore(formDespacho,'art17', 'setArt17Value')">
          <label class="control-label" for="art17_si">Sí</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input me-3" type="radio" formControlName="art17" value="aa" id="art17_no"
            (change)="setValoresStore(formDespacho,'art17', 'setArt17Value')">
          <label class="control-label" for="art17_no">No</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label class="control-label" for="buscar">Señale si tiene actualizado sus medios de contacto para efectos del
            buzón tributario en términos del penúltimo párrafo del artículo 17- K del C F F*:</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input me-3" type="radio" formControlName="buzon" value="a" id="buzon_si"
            (change)="setValoresStore(formDespacho,'buzon', 'setBuzonValue')">
          <label class="control-label" for="buzon_si">Sí</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input me-3" type="radio" formControlName="buzon" value="aa" id="buzon_no"
            (change)="setValoresStore(formDespacho,'buzon', 'setBuzonValue')">
          <label class="control-label" for="buzon_no">No</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label class="control-label" for="cuentaImmex">Indica si cuenta con programa IMMEX*:</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input me-3" type="radio" formControlName="cuentaImmex" value="a" id="cuentaImmex_si"
            (change)="setValoresStore(formDespacho,'cuentaImmex', 'setCuentaImmexValue')">
          <label class="control-label" for="cuentaImmex_si">Sí</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input me-3" type="radio" formControlName="cuentaImmex" value="aa" id="cuentaImmex_no"
            (change)="setValoresStore(formDespacho,'cuentaImmex', 'setCuentaImmexValue')">
          <label class="control-label" for="cuentaImmex_no">No</label>
        </div>
      </div>
      <div class="row" *ngIf="mostrarCheckboxesImmex">
        <div class="col-md-12">
          <label class="control-label" for="buscar">En caso de contar con dicho programa, seleccione alguna de las
            opciones:</label>
        </div>
        <div class="col-md-12">
          <input class="form-check-input" type="checkbox" id="checkboxImportacion1"
            formControlName="checkboxImportacion1"
            (change)="setValoresStore(formDespacho,'checkboxImportacion1', 'setCheckboxImportacion1Value')">
          <label class="form-check-label text-muted" for="checkboxImportacion1">
            <span class="text-danger">*</span>
            Haber realizado importaciones con un valor mayor al monto establecido en los artículos 100, fracción II de
            Ley
            y 144, primer párrafo del Reglamento de la Ley, en relación con el Anexo 13, en el año de calendario
            anterior
            al que se presenta la solicitud
          </label>
          <input class="form-check-input" type="checkbox" id="checkboxImportacion2"
            formControlName="checkboxImportacion2"
            (change)="setValoresStore(formDespacho,'checkboxImportacion2', 'setCheckboxImportacion2Value')">
          <label class="form-check-label text-muted" for="checkboxImportacion2">
            <span class="text-danger">*</span>
            Indique si en el ejercicio de inicio de operaciones estima efectuar importaciones con un valor superior al
            monto establecido en los artículos 100, fracción II de Ley y 144, primer párrafo del Reglamento de la Ley,
            en
            relación con el Anexo 13.
          </label>
        </div>
      </div>
      <div class="row" *ngIf="mostrarSelectImmex">
        <div class="col-md-6">
          <app-catalogo-select [catalogo]="catNumeroIMMEX" formControlName="immex" [label]="'Número del programa IMMEX'"
            [required]="true" name="immex"></app-catalogo-select>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <agentes-agencias-aduanales></agentes-agencias-aduanales>
  </div>
  <div class="row">
    <datos-transportista></datos-transportista>
  </div>
  <div class="row">
    <control-inventarios></control-inventarios>
  </div>
  <div class="row">
    <agregar-miembros-empresa></agregar-miembros-empresa>
  </div>
</div>
@if (nuevaNotificacion) {
<section>
  <lib-notificaciones [notificacionInput]="nuevaNotificacion">
  </lib-notificaciones>
</section>
}