    .btn {
        margin: 2px !important;
    }

    .modal-body {
        form {
            ::ng-deep label {
                font-size: 1.6rem !important;
                padding-top: 0px !important;
                margin-top: 15px !important;
                margin-bottom: 0 !important;
            }
        }

        ::ng-deep hr.red {
            margin: 10px 0 45px !important;
        }

    }

    ::ng-deep .mensaje-error {
        display: none !important;
    }
