.manifiesto-descripcion {
    text-align: justify;
    margin: -25px 0px 0px 25px !important;
}

.manifiesto-descripcion label {
    font-weight: normal;
}

.manifiesto-checkbox {
    text-align: left;
}