<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Modificación donaciones immex</h3>
        <h2 *ngIf="indice === 2">Cargar archivos</h2>
        <ng-alert *ngIf="indice === 2" [CONTENIDO]="TEXTO_DE_ALERTA"></ng-alert>
      </div>

      <app-wizard [listaPasos]="pasos"></app-wizard>
    </div>
    <div class="row">
      @switch (indice) { @case (1) {
      <paso-uno></paso-uno>
      } @case (2) {
      <paso-dos></paso-dos>
      } @case (3) {
      <paso-tres></paso-tres>
      } }
      <btn-continuar
        [datos]="datosPasos"
        (continuarEvento)="getValorIndice($event)"
      ></btn-continuar>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ng-alert [CONTENIDO]="TEXTOS" [CUSTOMECLASS]="infoAlert"></ng-alert>
      </div>
    </div>
  </div>
</div>
