.pagination {
    display: table;
    margin: 0 auto;
  }
  
  .custom-textarea {
    height: 90px;
  }
  
  ::ng-deep table th {
    text-align: center;
  }
  
  .header {
    display: flex;               /* Use flexbox to layout the child elements */
    justify-content: flex-end;   /* Align content to the right */
    align-items: center;         /* Vertically center the items */
  }
  
  .plus-icon {
    font-size: 20px;
    cursor: pointer;
    user-select: none;           /* Prevent text selection on the icon */
  }
  
  .container {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .content {
    margin-top: 10px;            /* Adds spacing to the top of the content */
    padding: 15px;               /* Optional: Added padding for content section */
  }
  