.modal-dialog {
    max-width: 1100px !important;
}

.modal-body {
    margin: 25px 25px 0px 25px;
}

.modal-footer {
    margin: 0px 25px 25px 0px;
}

.custome-file-label {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s ease, border-color 0.15s ease;
}

.custome-file-label:hover {
    background-color: #a5a8ab;
    border-color: #a5a8ab;
}

.input-hidden {
    display: none;
}

.w-21 {
    width: 21%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1055;
}

.custom-modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 10%;
    text-align: center;

    .title {
        background-color: black;

        h5 {
            background-color: black;
            color: white;
            height: 55px;
            text-align: center;
            margin: 0;
            line-height: 55px;
        }
    }
}