.content-with-checkbox {
    display: flex;
    text-align: left;
    gap: 10px;
    padding-left: 20px;
    flex-direction: row;
    align-items: center;
  }
   
  .align-middle {
    vertical-align: middle !important;
  }

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 4px; 
  margin-top: 2px; 
}