<div class="container col-12 mt-2" >
  <form [formGroup]="miFormulario" (ngSubmit)="aiEnviar()">
    <div class="row mt-4">
      <div class="col-md-12 mb-4">
        <label for="modalidadCertificacion"
          >Modalidad de la certificación
        </label>
        <input
          type="text"
          id="modalidadCertificacion"
          formControlName="modalidadCertificacion"
          class="form-control"
        />
      </div>
    </div>
    <ng-alert
      [CONTENIDO]="'Debe seleccionar por lo menos un tipo de aviso'"
    ></ng-alert>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="foreignClientsSuppliers"
        (change)="aiEnviar(); setClientesProveedoresExtranjeros()"
       
      />
      <label class="form-check-label">
        Aviso cuando cambie la situación, respecto del documento con el que se haya acreditado el legal use y goce del inmueble c inmuebles en donde se lleven a cabo los procesos productivos o la prestación de servicio, según se trate, referente a la vigencia, las partes y el domicilia.
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="nationalSuppliers"
        (change)="aiEnviar(); setProveedoresNacionales()"
      
      />
      <label class="form-check-label">
        Aviso de fusion o escisión de empresas que cuenten con el Registro en el Esquema de Certificacion de Empresas, cuando resulte una nueva sociedad, extinguiéndose una o mas empresas con Registro en el Esquema de Certificacion de Empresas vigente</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="modificationsMembers"
        (change)="aiEnviar(); setModificacionesMiembros()"
      
      />
      <label class="form-check-label">
        Aviso para solventar las observaciones respecto a los estándares minimos de seguridad, que deriven de cualquier inspección de supervisión de cumplimiento
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="changesToLegalDocuments"
        (change)="aiEnviar(); setCambiosDocumentosLegales()"
      
      />
      <label class="form-check-label">
        Aviso relacionado a incidentes de seguridad. (creación de vista gráfica captura, consultas funcionario y solicitante, documentos, para les avisos de SCCY DEA)
      </label>
    </div>
   
  
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="mergerOrSplitNotice"
        (change)="aiEnviar(); setNotifiFusionOescision()"
       
      />
      <label class="form-check-label">Aviso de adicion o revocacion de empresas transportistes autorizadas para efectuar el traslado de las mercancias de comercio exterios de las empresas que cuenten con el Registro en el Esquema de Certificacion de Empresas, en la modalidad de Coerador Economico Autorizado y Comercializadora e Importadora </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="additionFractions"
        (change)="aiEnviar(); setAdicionalesFractions()"
     
      />
      <label class="form-check-label"> Aviso cuando las circunstancias por las cuales se les otorgo el registro hayan variado y derivado de estas se requieran cambios o mod 'ficaciones en la información vertida en el (los) Perfil (es) de la Empresa: Importador y/o Exportador, Controladora, Aeronaves, SECIIT. Textil, Rubro Recinto Fiscalizado Estratégico, Rubro Tercerización Logistica, correspondiente. </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="presenten"
        (change)="aiEnviar(); setPresenten()"
        
      />
      <label class="form-check-label">Avise de los cambies que se presenten en el sistema corporativo y en el fiegistro bajo el nuoro de SECT </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="contratados"
        (change)="aiEnviar(); setContratados()"
       
      />
      <label class="form-check-label">Aviso de alta o bala de los atceros contratados para prester servicios de gestion aduanere almacenaje traslado o distribucion de mercancias de comercio exterior en nombre de la empresa con Registro nao el ruco de Tercerizacion logistica. </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="expirado"
        (change)="aiEnviar(); setExpirado()"
        
      />
      <label class="form-check-label">Aviso de baja del tercero que tiene expirado o cancelado su Registro en el Esquema de Certificación de Empresas, modalidad de Socio Comercial Certificado, en su caso alta de otro tercero para operar en nombre de la empresa con Registro bajo el rubro de Tercerización Logistica. </label>
    </div>
    <div class="form-check" >
      <div class="col-mt-12">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="derechos"
        (change)="aiEnviar(); setDerechos()"
     
      />
      <label class="form-check-label">Presentación de pago de derechos anual, 7.2.1 primer párrafo fracción 10, para el 2do. Año de la renovación</label>
    </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="acepto253"
              (change)="aiEnviar(); setAceptacion253()"
              
            />
            <label class="form-check-label">
              * Bajo protesta de decir verdad, manifiesto que los datos
              asentados en el presente documento son ciertos y que las
              facultades que me fueron otorgadas para representar al solicitante
              no me han sido modificadas y/ o revocadas.
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
