<form [formGroup]="manifestForm" autocomplete="off">
  <div class="row mt-5">
    <!-- First column -->
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="form-group">
        <date-picker
          label="Fecha Inicio"
          formControlName="startDate"
          [hasError]="formUtils.formHasError(manifestForm, 'startDateRequired', 'startDate')">
        </date-picker>
        @if (formUtils.formHasError(manifestForm, 'startDateRequired', 'startDate')) {
          <small class="form-text form-text-error">
            {{ formUtils.getFieldError(manifestForm, 'startDate') }}
          </small>
        }
      </div>
      <div class="form-group">
        <label>Aduana/sección aduanera</label>
        <select
          formControlName="custom"
          class="form-control"
          [ngClass]="{
            'form-control-error': formUtils.formHasError(manifestForm, 'customRequired', 'custom')
          }"
        >
          <option value="">Seleccione un valor</option>
            @for(custom of customs; track $index) {
              <option [value]="custom.idClave">
                {{ custom.aduanaNombre }}
              </option>
            }
        </select>
        @if (formUtils.formHasError(manifestForm, 'customRequired', 'custom')) {
          <small class="form-text form-text-error">
            {{ formUtils.getFieldError(manifestForm, 'custom') }}
          </small>
        }
      </div>
    </div>

    <!-- Second column -->
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="form-group">
        <date-picker
          label="Fecha Fin"
          formControlName="endDate"
          [minDate]="minEndDate()"
          [maxDate]="maxEndDate()"
          [isDisable]="isEndDateDisabled"
          [hasError]="formUtils.formHasError(manifestForm, 'endDateRequired', 'endDate')">
        </date-picker>
        @if (formUtils.formHasError(manifestForm, 'endDateRequired', 'endDate')) {
          <small class="form-text form-text-error">
            {{ formUtils.getFieldError(manifestForm, 'endDate') }}
          </small>
        }
      </div>
    </div>

    <!-- Third column -->
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="form-group">
        <label
          >Manifiesto
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="manifest"
          [ngClass]="{
            'form-control-error': formUtils.formHasError(manifestForm, 'manifestRequired', 'manifest')
          }"
        />
        @if (formUtils.formHasError(manifestForm, 'manifestRequired', 'manifest')) {
          <small class="form-text form-text-error">
            {{ formUtils.getFieldError(manifestForm, 'manifest')  }}
          </small>
        }
      </div>
    </div>
  </div>
</form>
