.modal-body {
  padding: 20px;
  background: #fff;
  /* el margen expone parte del fondo del modal */
  margin: 40px;
}

.popup {
/* contenedor modal fijo en toda la pantalla */
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
/* el índice z debe ser más alto que .jw-modal-background */
z-index: 1000;
background-color: #ffffff;
width: 82%;
margin: 25px auto;
padding: 15px 25px;

/* permite el desplazamiento para modales altos */
overflow-y: auto;
overflow-x: hidden;
}

.modal-background {
/* fondo modal fijo en toda la pantalla */
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;

/* negro semitransparente */
background-color: #000;
opacity: 0.75;

/* el índice z debe estar por debajo de .jw-modal y por encima de todo lo demás */
z-index: 900;
}