.table-container {
  position: static;
  width: 150%;
  max-width: 1150px;
  margin: 20px auto;
}

.hidden-row {
  display: none;
}

.visible-row {
  display: table-row;
}

.icon-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 69px;
  transform: translateY(-50%);
}

.bi {
  cursor: pointer;
  font-size: 2rem;
  transition: color 0.2s;
}
.bi-caret-up-fill {
  margin-bottom: -0.5rem;
}
.bi-caret-down-fill {
  margin-top: -0.5rem;
}

.name-column {
  position: relative;
  text-align: center;
}

td {
  text-align: justify;
}

.table-responsive {
  width: 100%;
  height: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
}

th {
  text-align: left;
}

input:disabled {
  color: #7f7f7f;
}

#establecimientoTIF,
#claveUCON,
#numeroGuia,
#coordenadas,
#identificacionTransporte {
  background-color: rgb(233 236 239);
  color: #7f7f7f;
}
