<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <ul class="nav nav-tabs">
        <li
          *ngFor="let tab of seccionesDeLaSolicitud"
          [ngClass]="indice === tab.index ? 'active' : ''"
        >
          <a
            data-toggle="tab"
            tabindex="0"
            (click)="seleccionaPestana(tab.index)"
            (keydown.enter)="seleccionaPestana(tab.index)"
            >{{ tab.title }}</a
          >
        </li>
      </ul>
    </ul>
    <ng-container>
      @switch (indice) { @case (1) {
      <solicitante></solicitante>
      } @case (2) {
      <app-datos-de-la-solicitud></app-datos-de-la-solicitud>
      } @case (3) {
      <app-datos-para-movilizacion-nacional></app-datos-para-movilizacion-nacional>
      } @case (4) { <<<<<<<
      HEAD:vucem-3.0-frontend/src/app/tramites/220202/pages/paso-uno/paso-uno.component.html
      <terceros [tabindex]="3"></terceros>
      =======
      <terceros [tabindex]="4"></terceros>
      >>>>>>>
      1bb2b2560482b6a09ee562708aaf77a5bfcc0716:vucem-3.0-frontend/src/app/tramites/220201/pages/paso-uno/paso-uno.component.html
      } @case (5) {
      <app-pago-de-derechos></app-pago-de-derechos>
      } }
    </ng-container>
  </div>
</div>
