.content-with-checkbox {
    display: flex;
    text-align: justify;
    gap: 5px;
    padding-left: 15px;
    flex-direction: row;
    align-items: baseline;
  }
   
  .align-middle {
    vertical-align: middle !important;
  }