<div class="container">
    <form [formGroup]="representacionForm">
      <div class="row mb-3">
        <ng-titulo titulo="Representación federal"></ng-titulo>
        <div class="col-md-4">
          <app-catalogo-select
            [catalogo]="entidad"
            [label]="'Entidad Federativa'"
            [required]="true"
            name="entidad"
            [isDisabled]="esFormularioSoloLectura" 
            [required]="true"
            formControlName="entidad"
            (selectionChange)="setValorStore(representacionForm, 'entidad')"
            >
          </app-catalogo-select>
          <div *ngIf="esInvalido('entidad')" class="text-danger">
              <small *ngIf="representacionForm.get('entidad')?.errors?.['required']">
                Este campo es obligatorio.
              </small>
          </div>
        </div>
        <div class="col-md-4">
          <app-catalogo-select
            [catalogo]="representacion"
            [label]="'Representación federal'"
            [required]="true"
            name="representacion"
            [isDisabled]="esFormularioSoloLectura" 
            [required]="true"
            formControlName="representacion"
           (selectionChange)="setValorStore(representacionForm, 'representacion')"
           >
          </app-catalogo-select>
          <div *ngIf="esInvalido('representacion')" class="text-danger">
              <small *ngIf="representacionForm.get('representacion')?.errors?.['required']">
                Este campo es obligatorio.
              </small>
          </div>
        </div>
      </div>
    </form>
  </div>
 