<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ tituloMensaje }}</h2>
      </div>

    @if (!esFormaValido && esFormaValido !== undefined) {
      <div class="col-md-12">
        <ng-alert [CONTENIDO]="formErrorAlert" [CUSTOMECLASS]="'alert-danger'"></ng-alert>
      </div>
    }
      <app-wizard [listaPasos]="pasos"></app-wizard>
    </div>

    <div class="row">
      @switch (indice) { @case (1) {
      <app-paso-uno></app-paso-uno>
      } @case (2) {
      <app-paso-dos [idTipoTRamite]="idTipoTRamite" [datosUsuario]="datosUsuario" [cargaArchivosEvento]="cargarArchivosEvento" (reenviarEventoCarga)="manejaEventoCargaDocumentos($event)" (reenviarCargaRealizada)="cargaRealizada($event)"></app-paso-dos>
      }  @case (3) {
      <paso-firma [idSolicitud]="solicitudState.idSolicitud" [procedure]="80102" [procedureUrl]="'autorizacion-programa-nuevo/solicitud'"></paso-firma> 
      } }

           <div class="row">
      <div class="col-md-12">
        @if (indice !== 2) {
      <btn-continuar
        [datos]="datosPasos"
        (continuarEvento)="getValorIndice($event)"
        [btnGuardar]="true" 
        [dePadre]="!consultaState.readonly ? true : false"
        [btnGuardarVisible]="btnGuardarVisible"
        (btnGuardarClicked)="obtenerDatosDelStore()"
      ></btn-continuar>
        } @else {
        <div class="mt-5 mb-3 d-flex justify-content-end">
          @if (seccionCargarDocumentos) {
            <button
            type="button"
            class="btn btn-default"
            (click)="anterior()"
          >
            Anterior
          </button>
          }
          <button
            class="btn btn-primary ms-3"
            (click)="
              seccionCargarDocumentos ? onClickCargaArchivos() : siguiente()
            "
            [disabled]="!activarBotonCargaArchivos && seccionCargarDocumentos"
          >
            {{ seccionCargarDocumentos ? 'Cargar archivos' : 'Continuar' }}
          </button>
        </div>
        }
      </div>
    </div>

    </div>
  </div>
</div>
