.alert {
  text-align: left !important;
}

.alert label {
  font-weight: normal;
}

.modal-dialog {
  max-width: 1100px !important;
  min-height: fit-content !important;
}

::ng-deep p {
  font-size: 15px !important;
}

.mt-20 {
  margin-top: 15px;
}

.mr-5px {
  margin-right: 5px;
}

.modal-body {
  margin: 25px 25px 0px 25px;
}

.modal-footer {
  margin: 0px 25px 25px 0px;
}

.modalsm {
  width: fit-content;
  margin-left: 115px;
  align-items: center;
}

#modalAgregarMercancias {
  min-height: 80%;;
}

.ng-touched.ng-invalid {
  border-color: #dc3545 !important;
}

textarea#domicilio.form-control {
  resize: none !important;
}