.text-blue {
    color: #7B9CF0;
}

.button {
    border-color: #f7f5f5;
    cursor: not-allowed;
}

.bg-color {
    background-color: lightgray;
}

.form-label {
    text-align: left !important;
    font-weight: 100 !important;
}
