<ng-titulo titulo="Bitácora"/>
<app-tabla-dinamica></app-tabla-dinamica>
<!-- Plantas -->
<ul class="nav nav-tabs">
    <li class="nav-item">
      <span class="nav-link active" aria-current="page" >Complementaria</span>
    </li>
  </ul>
  <ng-titulo titulo="Plantas"/>
  <app-tabla-dinamica></app-tabla-dinamica>
  <!-- Sector -->
  <ng-titulo titulo="Sector"/>
  <app-tabla-dinamica></app-tabla-dinamica>
  <!-- Mercancias a producir -->
  <ng-titulo titulo="Mercancias a producir"/>
  <app-tabla-dinamica></app-tabla-dinamica>
  <!-- Productor indirecto -->
  <ng-titulo titulo="Productor indirecto"/>
  <app-tabla-dinamica></app-tabla-dinamica>