.height {
    height: 75px;
}
.modal-body {
    overflow-y: auto;
   overflow-x: hidden;
}
.btn-row{
    margin-top: 300px;
}
.buttons-container {    
    display: flex;   
    gap: 1rem;
}

.btn-gap{
    display: flex;
    gap: 1rem;
}