<app-datos-del-tramite
  [datosMercanciaTabla]="datosMercanciaTabla"
  (updateDatosDelTramiteFormulario)="updateDatosDelTramiteFormulario($event)"
  (updateJustificacionFormulario)="updateJustificacionFormulario($event)"
  [datosDelTramiteFormState]="datosDelTramiteFormState"
  [justificacionTramiteFormState]="justificacionTramiteFormState"
  [aduanasBotones]="aduanasBotones"
  [idProcedimiento]="idProcedimiento"
  [esFormularioSoloLectura]="esFormularioSoloLectura"
  (openModal)="openModal($event)"
></app-datos-del-tramite>
<div><app-modal #modal></app-modal></div>