#motivoCancelacion{
height: 130px !important;
}

#confirmar{
    margin-right: 5px;
}

#etiqueta{
    font-weight: 100 !important;
}

.require{
font-weight: bold;
}

.custom-motivo-cancelation{
    margin-top: -12px;
     font-size: 15px;
     font-weight: 300;
}

.table-responsive{
    margin-top: 30px;
    text-align: left;
}

.CustomPrograma{
    border: 1px solid #eee;
    padding: 15px 25px;
}

.checkbox-space{
padding: 0 1.5rem;
}
