<div class="container">
  <form [formGroup]="instalacionesPrincipalesForm">
    <div class="row mt-4">
      <div class="col-md-12">
        <ng-titulo titulo="Modificar" />
      </div>

      <div class="col-md-4 mt-3">
        <label class="form-label text-start"
          >Instalaciones principales *:</label
        >
        <app-input-radio
          formControlName="principales"
          [radioOptions]="sinoOpcion.radioOptions"
          [isRequired]="sinoOpcion.isRequired"
          [layout]="'horizontal'"
          [gap]="'50px'"
          (valueChange)="actualizarPrincipales($event)"
        ></app-input-radio>
      </div>

      <div class="col-md-4 mt-3"></div>

      <div class="col-md-4 mt-3">
        <label for="municipio" class="form-label">Municipio o alcaldía:</label>
        <input
          type="text"
          id="municipio"
          formControlName="municipio"
          class="form-control"
          (change)="actualizarMunicipio($event)"
        />
      </div>

      <div class="col-md-4 mt-3">
        <app-catalogo-select
          [isDisabled]="esFormularioSoloLectura"
          formControlName="tipoDeInstalacion"
          [catalogo]="tipoDeInstalacion.catalogos"
          [label]="tipoDeInstalacion.labelNombre"
          [required]="tipoDeInstalacion.required"
          (selectionChange)="actualizarTipoDeInstalacion($event)"
        ></app-catalogo-select>
      </div>

      <div class="col-md-4 mt-3">
        <label for="entidadFederativa" class="form-label"
          >Entidad federativa :</label
        >
        <input
          type="text"
          id="entidadFederativa"
          formControlName="entidadFederativa"
          class="form-control"
          (change)="actualizarEntidadFederativa($event)"
        />
      </div>

      <div class="col-md-4 mt-3">
        <label for="registroSESAT" class="form-label"
          >Registro ante SE/SAT :</label
        >
        <input
          type="text"
          id="registroSESAT"
          formControlName="registroSESAT"
          class="form-control"
          (change)="actualizarRegistroSESAT($event)"
        />
      </div>

      <div class="col-md-8 mt-3">
        <label for="descripcion" class="form-label"
          >Colonia, calle y número :</label
        >
        <input
          type="text"
          id="descripcion"
          formControlName="descripcion"
          class="form-control"
          (change)="actualizarDescripcion($event)"
        />
      </div>

      <div class="col-md-4 mt-3">
        <label for="codigoPostal" class="form-label">Código postal :</label>
        <input
          type="text"
          id="codigoPostal"
          formControlName="codigoPostal"
          class="form-control"
          (change)="actualizarCodigoPostal($event)"
        />
      </div>

      <div class="col-md-4 mt-3">
        <label class="form-label text-start">Proceso productivo *:</label>
        <app-input-radio
          formControlName="procesoProductivo"
          [radioOptions]="sinoOpcion.radioOptions"
          [isRequired]="sinoOpcion.isRequired"
          [layout]="'horizontal'"
          [gap]="'50px'"
          (valueChange)="actualizarProcesoProductivo($event)"
        ></app-input-radio>
      </div>

      <div class="col-md-4 mt-3">
        <label class="form-label text-start"
          >Acreditación del uso y goce del inmueble *:</label
        >
        <app-input-radio
          formControlName="goceDelInmueble"
          [radioOptions]="sinoOpcion.radioOptions"
          [isRequired]="sinoOpcion.isRequired"
          [layout]="'horizontal'"
          [gap]="'50px'"
          (valueChange)="actualizarGoceDelInmueble($event)"
        ></app-input-radio>
      </div>

      <div class="col-md-4 mt-3">
        <label class="form-label text-start">Perfil de la empresa :</label>
        <app-input-radio
          formControlName="empresa"
          [radioOptions]="sinoOpcion.radioOptions"
          [isRequired]="sinoOpcion.isRequired"
          [layout]="'horizontal'"
          [gap]="'50px'"
          (valueChange)="actualizarEmpresa($event)"
        ></app-input-radio>
      </div>

      <div class="col-md-4 mt-3">
        <label class="form-label text-start"
          >Realiza actividad economica de comercio exterior *:</label
        >
        <app-input-radio
          formControlName="comercioExterior"
          [radioOptions]="sinoOpcion.radioOptions"
          [isRequired]="sinoOpcion.isRequired"
          [layout]="'horizontal'"
          [gap]="'50px'"
          (valueChange)="actualizarComercioExterior($event)"
        ></app-input-radio>
      </div>

      <div class="col-md-4 mt-3">
        <label class="form-label text-start"
          >Reconocimiento Mutuo (Instalación C-TPAT) *:</label
        >
        <app-input-radio
          formControlName="mutuo"
          [radioOptions]="sinoOpcion.radioOptions"
          [isRequired]="sinoOpcion.isRequired"
          [layout]="'horizontal'"
          [gap]="'50px'"
          (valueChange)="actualizarMutuo($event)"
        ></app-input-radio>
      </div>
      <div class="col-md-12 mt-3">
        <div class="d-flex justify-content-end mt-4">
          <button
            type="button"
            id="aceptar"
            [disabled]="esFormularioSoloLectura"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            #closeModal
            (click)="aceptarInstalacionesPrincipales()"
          >
            Aceptar
          </button>

          <button
            type="button"
            [disabled]="esFormularioSoloLectura"
            id="cancelar"
            class="btn btn-danger ms-3"
            data-bs-dismiss="modal"
            #closeModal
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
