.height {
    height: 75px;
}
.modal-body {
    overflow-y: auto;
   overflow-x: hidden;
}
.btn-row{
    margin-top: 50px;
    margin-bottom: 50px;
}
.input-error {
  border: 1px solid #dc3545 !important; 
}
textarea{
    overflow: hidden;
    resize: none;
}
.custom-backdrop{
    z-index: 1045 !important;
    background: rgba(0, 0, 0, 0.5) !important;
}