<div class="container">
  <form [formGroup]="partidasDelaMercanciaForm">
    <div>
      <ng-titulo titulo="Partidas de la mercancía"></ng-titulo>
      <ng-alert class="text-center" [CONTENIDO]="MENSAJES_TEXTOS.MENSAJES_FRACCION_ARANCELARIA_REQUERIDA"></ng-alert>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="cantidadPartidasDeLaMercancia">Cantidad<span
                [ngClass]="{'text-danger': (mostrarErrores && esInvalido('cantidadPartidasDeLaMercancia') || esInvalido('cantidadPartidasDeLaMercancia'))}">*</span>:</label>
            <input class="form-control" type="text" id="cantidad" formControlName="cantidadPartidasDeLaMercancia"
              appUppercase aria-labelledby="cantidad" maxlength="18"
              (change)="setValoresStore(partidasDelaMercanciaForm, 'cantidadPartidasDeLaMercancia')"
              [ngClass]="{'input-error': (mostrarErrores && esInvalido('cantidadPartidasDeLaMercancia') || esInvalido('cantidadPartidasDeLaMercancia'))}" />
            <div *ngIf="esInvalido('cantidadPartidasDeLaMercancia')" class="text-danger">

              <small *ngIf="partidasDelaMercanciaForm.controls['cantidadPartidasDeLaMercancia'].hasError('required')">
                Este campo es obligatorio
              </small>
              <small *ngIf="partidasDelaMercanciaForm.controls['cantidadPartidasDeLaMercancia'].hasError('noEsNumero')">
                Por favor, escribe un número entero válido
              </small>
              <small
                *ngIf="partidasDelaMercanciaForm.controls['cantidadPartidasDeLaMercancia'].hasError('validarCatorceEnterosTresDecimales')">
                La cantidad no cumple el formato especificado. Formato es máximo 14 dígitos enteros y máximo 3 decimales
              </small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="fraccionTigiePartidasDeLaMercancia">Fracción arancelaria TIGIE<span
                [ngClass]="{'text-danger': (mostrarErrores && esInvalido('fraccionTigiePartidasDeLaMercancia') || esInvalido('fraccionTigiePartidasDeLaMercancia'))}">*</span>:
            </label>
            <input class="form-control" type="text" id="fraccionTigie"
              formControlName="fraccionTigiePartidasDeLaMercancia" appUppercase aria-labelledby="fraccionTigie"
              (change)="setValoresStore(partidasDelaMercanciaForm, 'fraccionTigiePartidasDeLaMercancia')"
              [ngClass]="{'input-error': (mostrarErrores && esInvalido('fraccionTigiePartidasDeLaMercancia') || esInvalido('fraccionTigiePartidasDeLaMercancia'))}" />
            <div *ngIf="esInvalido('fraccionTigiePartidasDeLaMercancia')" class="text-danger">
              <small
                *ngIf="partidasDelaMercanciaForm.controls['fraccionTigiePartidasDeLaMercancia'].hasError('required')">Este
                campo es obligatorio</small>
              <small
                *ngIf="partidasDelaMercanciaForm.controls['fraccionTigiePartidasDeLaMercancia'].hasError('noEsNumero')">
                Por favor, escribe un número entero válido
              </small>
              <small
                *ngIf="partidasDelaMercanciaForm.controls['fraccionTigiePartidasDeLaMercancia'].hasError('validarCatorceEnterosTresDecimales')">
                La fracción arancelaria no cumple el formato especificado. Formato es máximo 14 dígitos enteros y máximo
                3 decimales
              </small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <app-catalogo-select [catalogo]="fraccionDescripcionPartidasDeLaMercancia"
              formControlName="fraccionDescripcionPartidasDeLaMercancia" [isDisabled]="esFormularioSoloLectura"
              [tooltipQuestionCircle]="false"
              (change)="setValoresStore(partidasDelaMercanciaForm, 'fraccionDescripcionPartidasDeLaMercancia')"></app-catalogo-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="form-label" for="descripcion">Descripción<span
                [ngClass]="{'text-danger': (mostrarErrores && esInvalido('descripcionPartidasDeLaMercancia') || esInvalido('descripcionPartidasDeLaMercancia'))}">*</span>:
            </label>
            <textarea class="form-control height" rows="3" id="descripcion" [maxlength]="245"
              formControlName="descripcionPartidasDeLaMercancia" aria-labelledby="descripcion"
              (change)="setValoresStore(partidasDelaMercanciaForm, 'descripcionPartidasDeLaMercancia')"
              [ngClass]="{'input-error': (mostrarErrores && esInvalido('descripcionPartidasDeLaMercancia') || esInvalido('descripcionPartidasDeLaMercancia'))}"></textarea>
            <div *ngIf="esInvalido('descripcionPartidasDeLaMercancia')" class="text-danger">
              <small
                *ngIf="partidasDelaMercanciaForm.controls['descripcionPartidasDeLaMercancia'].hasError('required')">
                Este campo es obligatorio
              </small>
              <small
                *ngIf="partidasDelaMercanciaForm.controls['descripcionPartidasDeLaMercancia'].hasError('maxlength')">Máximo
                255 caracteres</small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="valorPartidaUSD">Valor partida USD<span
                [ngClass]="{'text-danger': (mostrarErrores && esInvalido('valorPartidaUSDPartidasDeLaMercancia') || esInvalido('valorPartidaUSDPartidasDeLaMercancia'))}">*</span>:
            </label>
            <input class="form-control" type="text" id="valorPartidaUSD" maxlength="20"
              formControlName="valorPartidaUSDPartidasDeLaMercancia" aria-labelledby="valorPartidaUSD" (change)="
                setValoresStore(partidasDelaMercanciaForm, 'valorPartidaUSDPartidasDeLaMercancia')"
              [ngClass]="{'input-error': (mostrarErrores && esInvalido('valorPartidaUSDPartidasDeLaMercancia') || esInvalido('valorPartidaUSDPartidasDeLaMercancia'))}" />
            <div *ngIf="esInvalido('valorPartidaUSDPartidasDeLaMercancia')" class="text-danger">
              <small
                *ngIf="partidasDelaMercanciaForm.controls['valorPartidaUSDPartidasDeLaMercancia'].hasError('required')">
                Este campo es obligatorio
              </small>
              <small
                *ngIf="partidasDelaMercanciaForm.controls['valorPartidaUSDPartidasDeLaMercancia'].hasError('validarCatorceEnterosTresDecimales')">
                El Valor USD no cumple el formato especificado. Formato es máximo 16 dígitos enteros y máximo 3
                decimales.
              </small>
              <small
                *ngIf="partidasDelaMercanciaForm.controls['valorPartidaUSDPartidasDeLaMercancia'].hasError('noEsNumero')">
                Por favor, escribe un número entero válido</small>
              <small
                *ngIf="partidasDelaMercanciaForm.controls['valorPartidaUSDPartidasDeLaMercancia'].hasError('min')">El
                valor debe ser mayor o igual a 0</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 text-end">
          <div class="btn-group">
            <button class="btn btn-default me-2" type="button" [disabled]="esFormularioSoloLectura"
              (click)="abrirCargarArchivoModal()">
              Cargar archivo
            </button>
            <button class="btn btn-primary" (click)="validarYEnviarFormulario()" [disabled]="esFormularioSoloLectura">
              Agregar
            </button>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12 d-flex justify-content-center">
          <ng-alert [CONTENIDO]="MENSAJES_TEXTOS.MENSAJES_MERCANCIA_REQUERIDA" class="w-100 text-center"></ng-alert>
        </div>
      </div>

    </div>
  </form>

  <!-- modal start-->
  <div class="modal fade custom-backdrop" id="cargarArchivo" tabindex="-1" aria-labelledby="cargarArchivoLabel"
    aria-hidden="true" data-bs-focus="false" data-backdrop="false" #cargarArchivo>
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title mt-0"></h4>
        </div>
        <div class="modal-body">
          <div class="modal-body">
            <div class="row">
              <div class="container mt-4">
                <div *ngIf="mostrarNotificacion" class="col-md-12">
                  <ng-alert [CONTENIDO]="TEXTOS.INSTRUCCIONES" [CUSTOMECLASS]="'alert-danger'"></ng-alert>
                </div>
                <div *ngIf="alertaArchivo" class="col-md-12">
                  <ng-alert [CONTENIDO]="ALERTARCHIVOMSG.INSTRUCCIONES" [CUSTOMECLASS]="'alert-danger'"></ng-alert>
                </div>
                <ng-titulo titulo="Cargar archivo"> </ng-titulo>

                <div class="row align-items-center mb-3">
                  <div class="col-md-3">
                    <label for="archivoNacionales" class="form-label mb-0 me-3">Archivo:</label>
                  </div>
                </div>

                <div class="row align-items-center mb-3">
                  <div class="col-md-6 d-flex align-items-center">
                    <input type="file" id="archivoNacionales" class="d-none" (change)="archivoSeleccionado($event)"
                      #archivoNacionalesElemento />

                    <div class="input-group w-100">
                      <button type="button" (click)="archivoNacionalesElemento?.click()">
                        Seleccionar archivo
                      </button>
                      <input type="text" class="form-control"
                        [value]="nombreArchivoSeleccionado || 'Sin archivos seleccionados'" readonly
                        style="background-color: #fff; cursor: default;" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="footer d-flex justify-content-end ">
            <div class="row btn-row me-3">
              <div class="btn-group">
                <button type="button" id="cancelarCHN" name="cancelar" class="btn btn-default cancel me-2"
                  data-bs-dismiss="modal" [disabled]="esFormularioSoloLectura">
                  Cerrar
                </button>
                <button type="button" class="btn btn-primary" [disabled]="esFormularioSoloLectura"
                  (click)="enviarArchivo()">Enviar</button>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>

  <!-- modal end -->

  <div class="row">
    <div>
      <h6>Partidas</h6>
      <div *ngIf="mostrarTabla">
        <app-tabla-dinamica [configuracionTabla]="tableHeaderData" [datos]="tableBodyData"
          [disableSeleccionTablaCheckBox]="esFormularioSoloLectura" [tipoSeleccionTabla]="CHECKBOX"
          (listaDeFilaSeleccionada)="handleListaDeFilaSeleccionada($event)"
          [styleCenter]="true"
          [isInvalida]="mostrarErrores && tableBodyData.length === 0"
          >
        </app-tabla-dinamica>
      </div>

      <form [formGroup]="formForTotalCount">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="cantidadTotal">Cantidad total:</label>
              <input class="form-control" type="text" id="cantidadTotal" formControlName="cantidadTotal"
                aria-labelledby="cantidadTotal" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="valorTotalUSD">Valor Total USD:</label>
              <input class="form-control" type="text" id="valorTotalUSD" formControlName="valorTotalUSD"
                aria-labelledby="valorTotalUSD" />
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <hr />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6"></div>
          <div class="col-md-6 col-sm-6 text-end">
            <div class="btn-group">
              <button class="btn btn-danger me-2" type="button" [disabled]="esFormularioSoloLectura"
                (click)="confirmarEliminarPartida()">
                Eliminar Partida
              </button>
              <button class="btn btn-primary" type="button" (click)="navegarParaModificarPartida()"
                [disabled]="esFormularioSoloLectura">
                Modificar partida mercancia
              </button>
            </div>
          </div>
        </div>
      </form>

      <!-- modal start-->
      <div class="modal fade custom-backdrop" id="modificarPartida" tabindex="-1"
        aria-labelledby="modificarPartidaLabel" aria-hidden="true" data-bs-focus="false" data-bs-backdrop="false"
        #modificarPartidaModal>
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title mt-0">Modificar partida</h4>
            </div>
            <div class="modal-body">
              <form [formGroup]="modificarPartidasDelaMercanciaForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-label" for="cantidad">Cantidad<span
                          [ngClass]="{'text-danger': mostrarErroresModal && esInvalidoModal('cantidadPartidasDeLaMercancia')}">*</span>:</label>
                      <input class="form-control" type="text" id="cantidad"
                        formControlName="cantidadPartidasDeLaMercancia" appUppercase aria-labelledby="cantidad"
                        [ngClass]="{'is-invalid': mostrarErroresModal && modificarPartidasDelaMercanciaForm.get('cantidadPartidasDeLaMercancia')?.invalid}" />
                      <div
                        *ngIf="mostrarErroresModal && modificarPartidasDelaMercanciaForm.get('cantidadPartidasDeLaMercancia')?.touched && modificarPartidasDelaMercanciaForm.get('cantidadPartidasDeLaMercancia')?.invalid"
                        class="text-danger">
                        <div
                          *ngIf="mostrarErroresModal && modificarPartidasDelaMercanciaForm.get('cantidadPartidasDeLaMercancia')?.touched && modificarPartidasDelaMercanciaForm.get('cantidadPartidasDeLaMercancia')?.invalid"
                          class="text-danger">
                          <small
                            *ngIf="modificarPartidasDelaMercanciaForm.get('cantidadPartidasDeLaMercancia')?.hasError('required')">La
                            cantidad debe ser mayor a cero</small>
                          <small
                            *ngIf="modificarPartidasDelaMercanciaForm.get('cantidadPartidasDeLaMercancia')?.hasError('noEsNumero')">La
                            cantidad debe ser un dato numérico.</small>
                          <small
                            *ngIf="modificarPartidasDelaMercanciaForm.get('cantidadPartidasDeLaMercancia')?.value === '0' || modificarPartidasDelaMercanciaForm.get('cantidadPartidasDeLaMercancia')?.value === 0">La
                            cantidad debe ser mayor a cero.</small>
                          <small
                            *ngIf="modificarPartidasDelaMercanciaForm.get('cantidadPartidasDeLaMercancia')?.hasError('validarCatorceEnterosTresDecimales')">La
                            cantidad no cumple el formato especificado. Máximo 14 enteros y 3 decimales.</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-label" for="descripcion">Descripción<span
                          [ngClass]="{'text-danger': mostrarErroresModal && esInvalidoModal('descripcionPartidasDeLaMercancia')}">*</span>:</label>
                      <input class="form-control" type="text" id="descripcion"
                        formControlName="descripcionPartidasDeLaMercancia" aria-labelledby="descripcion"
                        [ngClass]="{'is-invalid': mostrarErroresModal && modificarPartidasDelaMercanciaForm.get('descripcionPartidasDeLaMercancia')?.invalid}" />
                      <div
                        *ngIf="mostrarErroresModal && modificarPartidasDelaMercanciaForm.get('descripcionPartidasDeLaMercancia')?.touched && modificarPartidasDelaMercanciaForm.get('descripcionPartidasDeLaMercancia')?.invalid"
                        class="text-danger">
                        <small
                          *ngIf="modificarPartidasDelaMercanciaForm.get('descripcionPartidasDeLaMercancia')?.hasError('required')">Debe
                          agregar una descripción.</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-label" for="valorPartidaUSD">Valor partida USD<span
                          [ngClass]="{'text-danger': mostrarErroresModal && esInvalidoModal('valorPartidaUSDPartidasDeLaMercancia')}">*</span>:</label>
                      <input class="form-control" type="text" id="valorPartidaUSD"
                        formControlName="valorPartidaUSDPartidasDeLaMercancia" aria-labelledby="valorPartidaUSD"
                        [ngClass]="{'is-invalid': mostrarErroresModal && modificarPartidasDelaMercanciaForm.get('valorPartidaUSDPartidasDeLaMercancia')?.invalid}" />
                      <div
                        *ngIf="mostrarErroresModal && modificarPartidasDelaMercanciaForm.get('valorPartidaUSDPartidasDeLaMercancia')?.touched && modificarPartidasDelaMercanciaForm.get('valorPartidaUSDPartidasDeLaMercancia')?.invalid"
                        class="text-danger">
                        <small
                          *ngIf="modificarPartidasDelaMercanciaForm.get('valorPartidaUSDPartidasDeLaMercancia')?.hasError('required')">Debe
                          agregar el valor en dólares de la partida.</small>
                        <small
                          *ngIf="modificarPartidasDelaMercanciaForm.get('valorPartidaUSDPartidasDeLaMercancia')?.hasError('noEsNumero')">Debe
                          agregar el valor en dólares de la partida.</small>
                        <small
                          *ngIf="modificarPartidasDelaMercanciaForm.get('valorPartidaUSDPartidasDeLaMercancia')?.value === '0' || modificarPartidasDelaMercanciaForm.get('valorPartidaUSDPartidasDeLaMercancia')?.value === 0">Debe
                          agregar el valor en dólares de la partida.</small>
                        <small
                          *ngIf="modificarPartidasDelaMercanciaForm.get('valorPartidaUSDPartidasDeLaMercancia')?.hasError('validarCatorceEnterosTresDecimales')">El
                          Valor USD no cumple el formato especificado. Formato es máximo 16 dígitos enteros y máximo 3
                          decimales</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <app-catalogo-select [catalogo]="fraccionDescripcionPartidasDeLaMercancia"
                        [label]="'Fracción arancelaria TIGIE'" [required]="true"
                        formControlName="fraccionDescripcionPartidasDeLaMercancia"
                        (valueChange)="setValoresStore(modificarPartidasDelaMercanciaForm, 'fraccionDescripcionPartidasDeLaMercancia')">
                      </app-catalogo-select>
                      <div
                        *ngIf="mostrarErroresModal && modificarPartidasDelaMercanciaForm.get('fraccionDescripcionPartidasDeLaMercancia')?.touched && modificarPartidasDelaMercanciaForm.get('fraccionDescripcionPartidasDeLaMercancia')?.invalid"
                        class="text-danger">
                        <small
                          *ngIf="modificarPartidasDelaMercanciaForm.get('fraccionDescripcionPartidasDeLaMercancia')?.hasError('required')">
                          Fracción arancelaria TIGIE es obligatoria.
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-5">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                      <hr />
                    </div>
                  </div>
                </div>
              </form>
              <footer class="footer d-flex py-5 justify-content-end">
                <button type="button" id="cancelarCHN" name="cancelar" class="btn btn-primary cancel me-2"
                  data-bs-dismiss="modal">
                  Cancelar
                </button>
                <button type="button" class="btn btn-primary ms-2" [disabled]="esFormularioSoloLectura"
                  (click)="validarModificarPartida()">Modificar</button>
              </footer>
            </div>
          </div>
        </div>
      </div>


      <lib-notificaciones *ngIf="mostrarNotificacion" [notificacionInput]="nuevaNotificacion"
        (confirmacionModal)="onConfirmacionModal($event)">
      </lib-notificaciones>