<fieldset [formGroupName]="claveDeControl">
    <ng-titulo titulo="Datos del trámite a realizar" />
    <div class="row">
      <div class="col-md-4">
        <div class="form-field">
          <app-catalogo-select
          id="certificadosAutorizados"
          [catalogo]="certificadosAutorizados.catalogos"
          [label]="certificadosAutorizados.labelNombre"
          [placeholder]="certificadosAutorizados.primerOpcion"
          [required]="certificadosAutorizados.required"
          [isDisabled]="false"
        ></app-catalogo-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-field">
            <input-fecha [datos]="fechaInicioInput" (valorCambiado)="cambioFechaInicio($event)"></input-fecha>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-field">
           <app-catalogo-select
           id="horaDeInspeccion"
           [catalogo]="horaDeInspeccion.catalogos"
           [label]="horaDeInspeccion.labelNombre"
           [placeholder]="horaDeInspeccion.primerOpcion"
           [required]="horaDeInspeccion.required"
           [isDisabled]="false"
           ></app-catalogo-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-field">
          <app-catalogo-select
          id="aduanaDeIngreso"
          [catalogo]="aduanaDeIngreso.catalogos"
          [label]="aduanaDeIngreso.labelNombre"
          [placeholder]="aduanaDeIngreso.primerOpcion"
          [required]="aduanaDeIngreso.required"
          [isDisabled]="false"
          ></app-catalogo-select>      
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-field"> 
          <app-catalogo-select
          id="sanidadAgropecuaria"
          [catalogo]="sanidadAgropecuaria.catalogos"
          [label]="sanidadAgropecuaria.labelNombre"
          [placeholder]="sanidadAgropecuaria.primerOpcion"
          [required]="sanidadAgropecuaria.required"
          [isDisabled]="false"
        ></app-catalogo-select>        
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-field">
          <app-catalogo-select
          id="puntoDeInspeccion"
          [catalogo]="puntoDeInspeccion?.catalogos"
          [label]="puntoDeInspeccion?.labelNombre"
          [placeholder]="puntoDeInspeccion?.primerOpcion"
          [required]="puntoDeInspeccion?.required"
          [isDisabled]="false"
        ></app-catalogo-select>           
        </div>
    </div>
    </div>
  </fieldset>
