<div class="container form-container">
    <ng-titulo titulo="Representante Legal" />

    <form [formGroup]="represtantante">
        <ng-container >
            <h6>*Registro Federal de Contribuyentes:</h6>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input
                            class="form-control"
                            id="resigtro"
                            formControlName="resigtro"
                            type="text"
                            (change)="setValoresStore(represtantante,'resigtro', 'setResigtro')"
                        />
                        @if(represtantante.controls['resigtro'].invalid && represtantante.controls['resigtro'].touched){
                            <div class="d-grid">
                                @if(represtantante.controls['resigtro'].errors?.['required']) {
                                    <span class="mensaje-error">Este campo es obligatorio</span>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label" for="rfc">RFC</label>
                        <input
                            class="form-control"
                            id="rfc"
                            formControlName="rfc"
                            type="text"
                        />
                    </div>
                </div>

                <div class="col-md-4 d-flex align-items-center">
                    <div class="btn-group">
                        <button class="btn btn-default" type="button" [disabled]="esFormularioSoloLectura ? true : false">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label" for="nombre">Nombre</label>
                        <input
                            class="form-control"
                            id="nombre"
                            formControlName="nombre"
                            type="text"
                        />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label" for="apellidoPaterno"
                            >Apellido Paterno</label
                        >
                        <input
                            class="form-control"
                            id="apellidoPaterno"
                            formControlName="apellidoPaterno"
                            type="text"
                        />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label" for="apellidoMaterno"
                            >Apellido Materno</label
                        >
                        <input
                            class="form-control"
                            id="apellidoMaterno"
                            formControlName="apellidoMaterno"
                            type="text"
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label" for="telefono">Teléfono</label>
                        <input
                            class="form-control"
                            id="telefono"
                            formControlName="telefono"
                            type="text"
                            (change)="setValoresStore(represtantante,'telefono', 'setTelefono')"
                        />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label" for="correo">Correo Electrónico</label>
                        <input
                            class="form-control"
                            id="correo"
                            formControlName="correo"
                            type="text"
                            (change)="setValoresStore(represtantante,'correo', 'setCorreo')"
                        />
                    </div>
                </div>
            </div>
        </ng-container>
    </form>
</div>
  