/* Overlay to block interaction with radio group when disabled */
.radio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  z-index: 2;
  cursor: not-allowed;
}
.alert {
  text-align: left !important;
}

.alert label {
  font-weight: normal;
}

.modal-dialog {
  max-width: 1100px !important;
}

::ng-deep p {
  font-size: 15px !important;
}

.mt-20 {
  margin-top: 15px;
}

.mr-5px {
  margin-right: 5px;
}

.modal-body {
  margin: 25px;
}

.modal-footer {
  margin: 0px 25px 25px 25px;
}

textarea.form-control {
  height: 0% !important;
}

.modalsm {
  width: fit-content;
  margin-left: 115px;
  align-items: center;
}
.custom-checkbox-label{
    text-align: justify;
    margin: -25px 0 0 25px !important;
}
::ng-deep #modalAgregarMercancias .require {
  display: none !important;
}
.modal-cancelar{
  position: relative;
    top: 15%;
}
