.radio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  z-index: 2;
  cursor: not-allowed;
}
.alert {
  text-align: left !important;
}

.alert label {
  font-weight: normal;
}

.modal-dialog {
  max-width: 1100px !important;
}

::ng-deep p {
  font-size: 15px !important;
}

.mt-20 {
  margin-top: 15px;
}

.mr-5px {
  margin-right: 5px;
}

.modal-body {
  margin: 25px;
}

.modal-footer {
  margin: 0px 25px 25px 25px;
}

textarea.form-control {
  height: 0% !important;
}

.modalsm {
  width: fit-content;
  margin-left: 115px;
  align-items: center;
}
.custom-checkbox-label{
    text-align: justify;
    margin: -25px 0 0 25px !important;
}
::ng-deep #modalAgregarMercancias .require {
  display: none !important;
}
.modal-cancelar{
  position: relative;
    top: 15%;
}

.seleccionar-desplegable {
  ::ng-deep .form-label {
    padding-top: 0 !important;
  }
}

// Clases para modales personalizados
.modal-content{
  .modal-header{
    padding: 20px;
  }
}
.confirmar-modal-agregar {
  display: none !important;
}

.confirmar-modal-small {
  max-width: 350px !important;
  margin: 5% auto !important;
}

.confirmar-modal-medium {
  max-width: 450px !important;
}

.confirmar-modal-large {
  max-width: 650px !important;
}

.modal-footer-centered {
  justify-content: center!important;
}

.modal-vehiculo-confirmation {
  z-index: 1070 !important;
}

::ng-deep .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.4) !important; 
}

::ng-deep .modal-backdrop.fade.show {
  opacity: 0.5 !important;
}

// Clases para fondo personalizado de modales
.custom-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.custom-modal-backdrop.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.custom-modal-backdrop.show {
  opacity: 1;
}
