<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Desistimiento</h1>
      </div>
      @if (alertaNotificacion) {
        <section>
          <lib-notificaciones [notificacionInput]="alertaNotificacion">
          </lib-notificaciones>
        </section>
      }
      @if (formWithErrors) {
        <div class="col-md-12">
          <ng-alert [CONTENIDO]="formErrorAlert"
                    [CUSTOMECLASS]="'alert-danger'"></ng-alert>
        </div>
      }
      <app-wizard [listaPasos]="pasos"></app-wizard>
    </div>

    <div class="row">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
      <btn-continuar
        [datos]="datosPasos"
        (continuarEvento)="continuarEvent($event)">
      </btn-continuar>
    </div>

  </div>
</div>
  