<div class="container">
  <form [formGroup]="miFormulario" (ngSubmit)="aiEnviar()">
    <div class="row">
      <div class="col-md-12 mb-4">
        <label for="modalidadCertificacion"
          >Modalidad de la certificación
        </label>
        <input
          type="text"
          id="modalidadCertificacion"
          formControlName="modalidadCertificacion"
          class="form-control"
        />
      </div>
    </div>
    <ng-alert
      [CONTENIDO]="'Debe seleccionar por lo menos un tipo de aviso'"
    ></ng-alert>
    <div class="form-check">
      <lib-input-check [label]="' Aviso cuando cambie la situación, respecto del documento con el que se haya acreditado el legal uso y goce del inmueble o inmuebles en donde se lleven a cabo los procesos productivos o la prestación del servicio, según se trate, referente a la vigencia, las partes y el domicilio.
      '" [id]="'foreignClientsSuppliers'" [required]="false" formControlName="foreignClientsSuppliers" (change)="setValoresStore(miFormulario,'foreignClientsSuppliers', 'setforeignClientsSuppliers')" [isDisabled]="esFormularioSoloLectura ? true : false"></lib-input-check>
     </div>
    <div class="form-check">
      <lib-input-check [label]="' Aviso de fusión o escisión de empresas que cuenten con el Registro en el Esquema de Certificación de Empresas, cuando resulte una nueva sociedad, extinguiéndose una o más empresas con Registro en el Esquema de Certificación de Empresas vigente
      '" [id]="'nationalSuppliers'" [required]="false" formControlName="nationalSuppliers" (change)="setValoresStore(miFormulario,'nationalSuppliers', 'setnationalSuppliers')" [isDisabled]="esFormularioSoloLectura ? true : false"></lib-input-check>
      </div>
    <div class="form-check">
      <lib-input-check [label]="'  Aviso para solventar las observaciones respecto a los estándares mínimos de seguridad, que deriven de cualquier inspección de supervisión de cumplimiento.
DAviso relacionado a incidentes de seguridad. (creación de vista gráfica captura, consultas funcionario y solicitante, documentos, para los avisos de SCC y OEA)
      '" [id]="'modificationsMembers'" [required]="false" formControlName="modificationsMembers" (change)="setValoresStore(miFormulario,'modificationsMembers', 'setmodificationsMembers')" [isDisabled]="esFormularioSoloLectura ? true : false"></lib-input-check>
      </div>
    <div class="form-check">
      <lib-input-check [label]="'  Aviso cuando varíe o cambie la situación respecto del documento con el
        que se haya acreditado el legal uso y goce del inmueble o inmuebles en
        donde se lleven a acabo los procesos productivos o la prestación de
        servicios según se trate, referente a la vigencia, las partes y
        domicilio
      '" [id]="'changesToLegalDocuments'" [required]="false" formControlName="changesToLegalDocuments" (change)="setValoresStore(miFormulario,'changesToLegalDocuments', 'setchangesToLegalDocuments')" [isDisabled]="esFormularioSoloLectura ? true : false"></lib-input-check>
     </div>
    <div class="form-check">
      <lib-input-check [label]="' Aviso cuando se realicen modificaciones a lo establecido en el E4 Perfil del Agente Aduanal; E5 Perfil de Auto Transportista Terrestre; E6 Perfil de Mensajería y Paquetería; E7 Perfil de Recinto Fiscalizado; E9 Perfil del Transportista Ferroviario; E10 Perfil de Parques Industriales; E11 Perfil de Almacén General de Depósito, contenidos en el Anexo 1, por cada instalación que corresponda. 
      '" [id]="'mergerOrSplitNotice'" [required]="false" formControlName="mergerOrSplitNotice" (change)="setValoresStore(miFormulario,'mergerOrSplitNotice', 'setmergerOrSplitNotice')" [isDisabled]="esFormularioSoloLectura ? true : false"></lib-input-check>
     </div>
    <div class="form-check">
      <lib-input-check [label]="' Aviso de adición de Parques Industriales, cuando las instalaciones pertenezcan al misma RFC de la persona moral con Registro en el Esquema de Certificación de Empresas en la modalidad de Socio Comercial Certificado, rubro Parque Industrial. 
      '" [id]="'additionFractions'" [required]="false" formControlName="additionFractions" (change)="setValoresStore(miFormulario,'additionFractions', 'setadditionFractions')" [isDisabled]="esFormularioSoloLectura ? true : false"></lib-input-check>
     </div>

    <div class="form-check">
      <lib-input-check [label]="' Aviso adición o modificación de mandatarios, aduana de adscripción o adicionales y/o sociedades a las que pertenece, bajo la patente aduanal con la que se haya obtenido su registro en la modalidad de Socio Comercial Certificado. 
      '" [id]="'additionmodificación'" [required]="false" formControlName="additionmodificación" (change)="setValoresStore(miFormulario,'additionmodificación', 'setadditionmodificación')" [isDisabled]="esFormularioSoloLectura ? true : false"></lib-input-check>
      </div>

    <div class="form-check">
       <lib-input-check [label]="' Presentación de pago de derechos anual, 7.2.1 primer párrafo fracción 10, para el 2do. Año de la renovación 
      '" [id]="'additionPresentación'" [required]="false" formControlName="additionPresentación" (change)="setValoresStore(miFormulario,'additionPresentación', 'setadditionPresentación')" [isDisabled]="esFormularioSoloLectura ? true : false"></lib-input-check>
     </div>

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">
          <div class="form-check">
            <lib-input-check [label]="'  * Bajo protesta de decir verdad, manifiesto que los datos
              asentados en el presente documento son ciertos y que las
              facultades que me fueron otorgadas para representar al solicitante
              no me han sido modificadas y/ o revocadas. 
      '" [id]="'acepto253'" [required]="true" formControlName="acepto253" (change)="setValoresStore(miFormulario,'acepto253', 'setacepto253')" [isDisabled]="esFormularioSoloLectura ? true : false"></lib-input-check>
           </div>
        </div>
      </div>
    </div>
  </form>
</div>
