<div class="Page">
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Cancelación de servicios extraordinarios</h1>
      </div>

      <app-wizard [listaPasos]="pantallasPasos"></app-wizard>

    </div>
    <div class="row">
      @switch (indice) {
      @case (1) {
      <app-paso-uno></app-paso-uno>
      }
      @case (2) {
      <app-paso-dos></app-paso-dos>
      }
      }
    </div>
  <btn-continuar [datos]="datosPasos" (continuarEvento)="getValorIndice($event)"></btn-continuar>
            </div>
</div>
  <div class="modal fade" id="modalConfirmarCancelarSolicitud" tabindex="-1" #modalConfirmarCancelarSolicitud  aria-labelledby="modalAddAgentLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Cancelar servicio extraordinario</h4>
        </div>
        <div class="modal-body">
          <p>¿Deseas cancelar el folio {{ folio }}?</p>
        </div>
        <div class="modal-footer custom-footer">
                <button type="button" class="btn btn-default" (click)="abrirModalSi()">Si</button> 
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

   <div class="modal fade" id="modalConfirmar" tabindex="-1" #modalConfirmar>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <p>Has proporcionado información con formato incorrecto o no proporcionaste información en campos obligatorios</p>
        </div>
        <div class="modal-footer custom-footer">
          <button type="button" class="btn btn-primary" (click)="abrirModalAceptar()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
