.form-select {
    min-height: 3rem;
    font-size: medium;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 60vh;
  }