<ng-titulo titulo="Devolver montos de facturas asociadas" />


<div>
  <div class="container">
    <form [formGroup]="devolverForm">

      <div class="row sub-title">
        <div class="col-md-5">
          <div class="form-group">
            <label class="form-label" for="folio">Folio del oficio de certificado:</label>
            <input class="form-control" id="folio" formControlName="folio" type="text">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label class="form-label" for="disponible"> Monto disponible <span class="text-secondary fw-normal">(en unidades primarias)</span>:</label>
            <input class="form-control" id="disponible" formControlName="disponible" type="text">
          </div>
        </div>
      </div>
      <div class="row sub-title">
        <div class="col-md-12">
          <div class="form-group">
            <H6> Facturas disponibles para devolver</H6>
            <app-tabla-dinamica [configuracionTabla]="facturasData" [datos]="facturase"
              [tipoSeleccionTabla]="TablaSeleccion.CHECKBOX">
            </app-tabla-dinamica>

            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
              </ul>
            </nav>

          </div>
        </div>

      </div>

      <div class="row sub-title">
        <div class="col-md-5">
          <div class="form-group">
            <label class="form-label" for="cantidad"> Cantidad a devolver <span class="text-secondary fw-normal">(en unidades primarias)</span>:</label>
            <input class="form-control" id="cantidad" formControlName="cantidad" type="text"
              (change)="setValoresStore(devolverForm,'cantidad', 'setCantidad')">
          </div>
        </div>
      </div>
      <div class="row btn-right">
        <div>
          <button type="button" class="btn btn-primary btn-space" [disabled]="esFormularioSoloLectura">Devolver monto</button>

        </div>
      </div>
      <div class="row sub-title">
        <div class="col-md-12">
          <div class="form-group">
            <H6> Facturas seleccionadas para devolver</H6>
            <app-tabla-dinamica [configuracionTabla]="facturasDatas" [datos]="facturas"
              [tipoSeleccionTabla]="TablaSeleccion.CHECKBOX">
            </app-tabla-dinamica>

            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
              </ul>
            </nav>

          </div>
        </div>

      </div>
      <div class="row btn-right">
        <div>
          <button type="button" class="btn btn-primary btn-space" [disabled]="esFormularioSoloLectura">Eliminar seleccionado</button>

        </div>
      </div>
      <div class="row sub-title">
        <div class="col-md-5">
          <div class="form-group">
            <label class="form-label" for="total">Total a devolver:</label>
            <input class="form-control" id="total" formControlName="total" type="text">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label class="form-label" for="cuadrados"> Total a devolver en metros cuadrados:</label>
            <input class="form-control" id="cuadrados" formControlName="cuadrados" type="text">
          </div>
        </div>
      </div>
      <div class="row cerrar-btn">
        <div>
          <button class="btn btn-default" type="button" [disabled]="esFormularioSoloLectura" (click)="cerrarModal()">Cerrar</button>
        </div>

      </div>

    </form>
  </div>
</div>