<div class="container">
    <form [formGroup]="importadorForm">
      <div class="col-md-12">
        <ng-titulo titulo="Importador en destino" />
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          <app-catalogo-select
            [label]="'Tipo'"
            [catalogo]="tipo"
            formControlName="tipo"
            [required]="true"
            name="tipo"
            formControlName="tipo"
          ></app-catalogo-select>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label" for="Cantidad-total"
              >Valor (sin espacios, sin guiones)*:</label
            >
            <input
              class="form-control"
              value=""
              class="form-control"
              id="Cantidad-total"
              placeholder=""
              type="text"
              appUppercase
              name="Cantidad-total"
              formControlName="cantidadTotal"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label" for="Razón-social">Razón social*:</label>
            <input
              class="form-control"
              value=""
              class="form-control"
              id="Razón-social"
              placeholder=""
              type="text"
              appUppercase
              name="Razón-social"
              formControlName="razonSocial"
            />
          </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label" for="Domicilio">Domicilio*:</label>
            <input
              class="form-control"
              value=""
              class="form-control"
              id="Domicilio"
              placeholder=""
              type="text"
              appUppercase
              name="Domicilio"
              formControlName="domicilio"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label" for="ciudad"
              >Ciudad (población, estado o provincia)*:</label
            >
            <input
              class="form-control"
              value=""
              class="form-control"
              id="ciudad"
              placeholder=""
              type="text"
              appUppercase
              name="ciudad"
              formControlName="ciudad"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label" for="cp">C P*:</label>
            <input
              class="form-control"
              value=""
              class="form-control"
              id="cpImportador"
              placeholder=""
              type="text"
              appUppercase
              name="cpImportador"
              formControlName="cpImportador"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label" for="País">País*:</label>
            <input
              class="form-control"
              value=""
              class="form-control"
              id="PaisImportador"
              placeholder=""
              type="text"
              appUppercase
              name="PaisImportador"
              formControlName="PaisImportador"
            />
          </div>
        </div>
      </div>
    </form>
  </div>