# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc
documentation
coverage

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data
.angular
./.package-lock.json
package-lock.json
pnpm-lock.yaml
.bablerc
/.vs/frontend/FileContentIndex
*.sqlite-journal
/.vs/slnx.sqlite
/.vs/frontend/v17/.wsuo
/.vs/frontend/v17/workspaceFileList.bin

**/.claude/settings.local.json
.vs
/.vs/VSWorkspaceState.json
/package-lock.json
/tsconfig.base.json
/package-lock.json
/nx.json
/package-lock.json
