<div class="container">
   <form [formGroup]="importadorExportadorForm">
     <div class="row">
        <div class="col-md-12">
           <label class="form-label text-start"
          >Conforme a la regla 7.1.4 primer párrafo, fracciones I a la IV,
          acredite lo siguiente:</label>
        </div>
      </div>
      <div class="w-100 p-2">
      <div class="form-group">
        <label class="form-label text-left">
          <span class="text-danger">*</span> Señale si ha realizado operaciones de comercio exterior durante los
            últimos dos años anteriores a su solicitud e indique la fecha de
            inicio de operaciones de comercio exterior
        </label>
       <app-input-radio [radioOptions]="opcionDeBotonDeRadio" 
                [isRequired]="true" [layout]="'horizontal'" 
                formControlName="comercioExteriorRealizado" 
                (change)="onComercioExteriorChange()"></app-input-radio>
        <div *ngIf="importadorExportadorForm.controls['comercioExteriorRealizado'].invalid &&
            importadorExportadorForm.controls['comercioExteriorRealizado'].touched"
            class="text-danger" >
          Este campo es obligatorio.
        </div>
      </div>
      </div>

    
      <div class="row"  *ngIf="comercioExteriorActivo">
        <div class="col-md-6 mt-4">
          <input-fecha
            [datos]="fechaDeFinDeVigencia"
            [setFecha]="importadorExportadorForm.get('fechaInicioComercio')?.value"
            (valorCambiado)="actualizarFechaInicioComercio($event)"
          >
          </input-fecha>
        </div>
      </div>

      <div class="row" *ngIf="noComercioExteriorActivo">
      <div class="w-100 p-4">
      <div class="form-group">
        <label class="form-label text-left">
          <span class="text-danger">*</span> Señale si forma parte de un mismo grupo, siempre que las empresas de grupo hayan efectuado operaciones de comercio exterior en el plazo referido.
        </label>
       <app-input-radio [radioOptions]="opcionDeBotonDeRadio" 
                [isRequired]="true" [layout]="'horizontal'" 
                formControlName="esParteGrupoComercioExterior" 
                (change)="onEsParteGrupoComercioExteriorChange()"></app-input-radio>
        <div *ngIf="importadorExportadorForm.controls['esParteGrupoComercioExterior'].invalid &&
            importadorExportadorForm.controls['esParteGrupoComercioExterior'].touched"
            class="text-danger" >
          Este campo es obligatorio.
        </div>
      </div>
      </div>
      </div>


      <div class="row" *ngIf="parteGrupoComercioExterior">
        <div class="w-100 p-4">
            <div class="form-group">
                <label class="form-label text-left estructura-accionaria-corporativa">
                  <span class="text-danger">*</span> Agregue un diagrama de la estructura accionaria y corporativa, así como copia de las escrituras públicas, en las que conste la participación accionaria de las empresas que formen parte del grupo.
                </label>
            </div>
                <label class="form-label text-left">
                Empresas del Grupo
              </label>
              <app-tabla-dinamica 
              [configuracionTabla]="tableHeaderDatos"
              [datos]="tablaDatos" 
              [tipoSeleccionTabla]="tablaSeleccionCheckbox"
              (filaSeleccionada)="onFilaSeleccionada($event)"
              >
              </app-tabla-dinamica>
              <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-primary me-2" (click)="abrirModal(template)">
                      Agregar
                  </button>
                  <button class="btn btn-danger me-2" type="button" (click)="modificarEmpresa()">
                      Modificar
                  </button>
                  <button class="btn btn-default" type="button" (click)="eliminarEmpresa()">
                      Eliminar
                  </button>
              </div>
        </div>
      </div>


      <!-- on click of NO -->
      <div class="row" *ngIf="noComercioExteriorActivo">
      <div class="w-100 p-4">
      <div class="form-group">
        <label class="form-label text-left">
          <span class="text-danger">*</span> Señale si su constitución resultó de una fusión o escisión, siempre que las empresas fusionantes o, en su caso, la sociedad escindente, hayan efectuado operaciones de comercio exterior.
        </label>
       <app-input-radio [radioOptions]="opcionDeBotonDeRadio" 
                [isRequired]="true" [layout]="'horizontal'" 
                formControlName="fusionEscisionConOperacionExterior" 
                (change)="onFusionEscisionConOperacionExteriorChange()"></app-input-radio>
        <div *ngIf="importadorExportadorForm.controls['fusionEscisionConOperacionExterior'].invalid &&
            importadorExportadorForm.controls['fusionEscisionConOperacionExterior'].touched"
            class="text-danger" >
          Este campo es obligatorio.
        </div>
      </div>
      </div>
      </div>
      <!-- -------------- -->
      

      <!-- <div class="row">
        <div class="col-md-12 p-3">
          <div class="w-100 p-2">
            <div class="form-group">
              <label class="form-label text-left">
                <span class="text-danger">*</span> Señale si ha efectuado el pago del derecho correspondiente a la fecha de presentación de la solicitud, a que se refiere el artículo 40, inciso m) de la LFD, en relación con el Anexo 19 de la RMF vigente a la fecha de presentación de la solicitud del registro.
              </label>
            </div>
         
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <input-fecha [datos]="fechaInicioInput"
                    (valorCambiado)="onFechaCambiada($event)"
                    [setFecha]="importadorExportadorForm.get('fechaDePago')?.value"></input-fecha>
      </div> -->
   </form>
</div>



<!-- Modal -->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title">{{ isEditMode ? 'Modificar' : 'Agregar' }} Enlace Operativo</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="agregarEnlaceOperativoForm">
          <label class="form-label text-left">
                <span class="text-danger">*</span> RFC
          </label>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <input
                  class="form-control"
                  id="rfc"
                  formControlName="rfcEnclaveOperativo"
                  type="text"
                  
                />
              </div>
              @if(agregarEnlaceOperativoForm.controls['rfcEnclaveOperativo'].invalid && agregarEnlaceOperativoForm.controls['rfcEnclaveOperativo'].touched) {
                <div class="mensaje-error">Este campo es obligatorio.</div>
              }
            </div>
            <div class="col-md-8">
                <div class="btn-group">
                  <button class="btn btn-default" type="button" (click)="buscarRFC()">Buscar</button>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label class="form-label" for="rfc">RFC:</label>
                <input
                  class="form-control"
                  id="rfc"
                  formControlName="enlaceOperativorfc"
                  type="text"
                />
              </div>
              @if(agregarEnlaceOperativoForm.controls['enlaceOperativorfc'].invalid && agregarEnlaceOperativoForm.controls['enlaceOperativorfc'].touched) {
                <div class="mensaje-error">Este campo es obligatorio.</div>
              }
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label" for="denominacionRazonsocial">Denominación o razón social</label>
                <input
                  class="form-control"
                  id="denominacionRazonsocial"
                  formControlName="denominacionRazonsocial"
                  type="text"
                />
              </div>
              @if(agregarEnlaceOperativoForm.controls['denominacionRazonsocial'].invalid && agregarEnlaceOperativoForm.controls['denominacionRazonsocial'].touched) {
                <div class="mensaje-error">Este campo es obligatorio.</div>
              }
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label" for="domicilio"
                  >Domicilio</label
                >
                <input
                  class="form-control"
                  id="domicilio"
                  formControlName="domicilio"
                  type="text"
                />
              </div>
              @if(agregarEnlaceOperativoForm.controls['domicilio'].invalid && agregarEnlaceOperativoForm.controls['domicilio'].touched) {
                <div class="mensaje-error">Este campo es obligatorio.</div>
              }
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <input-fecha
                  [datos]="fechaDeLaUltimaOperacion"
                  [setFecha]="agregarEnlaceOperativoForm.get('inputfechaDeLaUltimaOperacion')?.value"
                  (valorCambiado)="actualizarFechaDeLaUltimaOperacion($event)"
                ></input-fecha>

              </div>
             
            </div>
            
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="aceptarEnlaceOperativo()">
          Aceptar
        </button>
        <button type="button" class="btn btn-primary" (click)="limpiarFormulario()">
          Limpiar
        </button>
        <button type="button" class="btn btn-danger" (click)="cancelarModal()">
          Cancelar
        </button>
      </div>
</ng-template>

<!-- Modal de validación de fecha -->
<ng-template #templateFechaInvalida>
  <div class="modal-header">
    <h4 class="modal-title text-danger"></h4>
  </div>
  <div class="modal-body">
    <p class="mb-0">Fecha Inválida. La Fecha actual no puede ser más grande que el día de hoy.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="cerrarModalFechaInvalida()">
      Aceptar
    </button>
  </div>
</ng-template>

<!-- Modal de éxito -->
<ng-template #templateExito>
  <div class="modal-header">
    <h4 class="modal-title text-success"></h4>
  </div>
  <div class="modal-body">
    <p class="mb-0">Datos guardados correctamente.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="cerrarModalExito()">
      Aceptar
    </button>
  </div>
</ng-template>

<!-- Modal de RFC duplicado -->
<ng-template #templateRFCDuplicado>
  <div class="modal-header">
    <h4 class="modal-title text-warning"></h4>
  </div>
  <div class="modal-body">
    <p class="mb-0">Ya existe un registro con ese RFC</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="cerrarModalRFCDuplicado()">
      Aceptar
    </button>
  </div>
</ng-template>

<!-- Modal de datos obligatorios -->
<ng-template #templateDatosObligatorios>
  <div class="modal-header">
    <h4 class="modal-title text-warning"></h4>
  </div>
  <div class="modal-body">
    <p class="mb-0">Debe capturar todos los datos marcados como obligatorios.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="cerrarModalDatosObligatorios()">
      Aceptar
    </button>
  </div>
</ng-template>

<!-- Add the confirmation modal template -->
<ng-template #templateConfirmacionEliminacion>
  <div class="modal-header">
    <h4 class="modal-title text-danger"></h4>
  </div>
  <div class="modal-body">
    <p class="mb-0">¿Está seguro que desea eliminar los registros marcados?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirmarEliminacionEmpresa()">
      Aceptar
    </button>
    <button type="button" class="btn btn-primary" (click)="cerrarModalConfirmacionEliminacion()">
      Cancelar
    </button>
  </div>
</ng-template>

<!-- Add selection required modal template -->
<ng-template #templateSeleccionRequerida>
  <div class="modal-header">
    <h4 class="modal-title text-warning"></h4>
  </div>
  <div class="modal-body">
    <p class="mb-0">{{ mensajeSeleccion }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="cerrarModalSeleccionRequerida()">
      Aceptar
    </button>
  </div>
</ng-template>

<!-- ...existing code... -->

