.alert {
  text-align: left !important;
}

.alert label {
  font-weight: normal;
}

.manifiesto-descripcion {
  text-align: justify;
  margin: -25px 0px 0px 25px !important;
}

.modal-dialog {
  max-width: 1220px !important;
}

::ng-deep p {
  font-size: 15px !important;
}

.mt-20 {
  margin-top: 15px;
}

.mr-5px {
  margin-right: 5px;
}

.modal-body {
  margin: 25px 25px 0px 25px;
}

.modal-footer {
  margin: 0px 25px 25px 0px;
}

textarea.form-control {
  height: 0% !important;
}

.modal-content {
  padding-left: 6% !important;
  padding-right: 6% !important;
  padding-bottom: 5% !important;
}
.estructura-accionaria-corporativa{
  color: #0077C0;
}
.empresaExtranjeraIMMEX{
  color: #0077C0;
  font-size: 16px;
}
.numerooperacionbancaria{
    margin-left: -117px;
    min-width: 300px;
    position: relative;
    left: -20px;
}