
table,
th,
td {
  text-align: center;
  vertical-align: middle;
}


::ng-deep table,
::ng-deep th,
::ng-deep td {
  text-align: center !important;
  vertical-align: middle !important;
}


::ng-deep app-tabla-dinamica table,
::ng-deep app-tabla-dinamica th,
::ng-deep app-tabla-dinamica td {
  text-align: center !important;
  vertical-align: middle !important;
}


::ng-deep .table th,
::ng-deep .table td,
::ng-deep .table-responsive th,
::ng-deep .table-responsive td {
  text-align: center !important;
  vertical-align: middle !important;
}


::ng-deep .table-striped th,
::ng-deep .table-striped td,
::ng-deep .table-bordered th,
::ng-deep .table-bordered td {
  text-align: center !important;
  vertical-align: middle !important;
}