.form-label {
    text-align: left !important;
    font-weight: 100 !important;
}

.button {
    border-color: #f7f5f5;
    cursor: not-allowed;
}

.bg-color {
    background-color: lightgray;
}

.text-center {
    display: flex !important;
    justify-content: center !important;
}

formas-dinamicas ::ng-deep .form-group .form-label {
    font-weight: 100 !important;
}