<div class="page">
  <div class="container">
    <div class="container">
      <form [formGroup]="cafeExportForm">
        <div class="row mt-5">
          <ng-titulo titulo="Café de exportación" />
          <div class="col-md-8 form-group">
            <label class="form-label" for="descripcionMercancia"
              >Marca Comercial*:</label
            >
            <input
              type="text"
              id="descripcionMercancia"
              class="form-control"
              formControlName="descripcionMercancia"
              [required]="true"
              [disabled]="esFormularioSoloLectura"
            />
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <app-catalogo-select
              
                [catalogo]="clasificacion.catalogos"
                [label]="clasificacion.labelNombre"
                [placeholder]="clasificacion.primerOpcion"
                [isDisabled]="false"
                formControlName="clasificacion"
                [required]="true"
                [isDisabled]="esFormularioSoloLectura"
              ></app-catalogo-select>
            </div>
          </div>
    
    
        
          <div class="col-md-4 form-group">
            <label class="form-label" for="porcentajeConcentracion"
              >Volúmen por ciclo cafetalero en Kg*:</label
            >
            <input
              type="text"
              id="porcentajeConcentracion"
              class="form-control"
              formControlName="porcentajeConcentracion"
              [required]="true"
              [disabled]="esFormularioSoloLectura"
            />
          </div>
          <div class="row mb-5">
            <div class="col-md-12">
              <div class="pull-right">
                <button
                  type="button"
                  class="btn btn-danger me-2"
                  id="cancelarBtnBd"
                  (click)="cancelarBodega()"
                >
                  Cancelar
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  id="guardarBtnBd"
                  (click)="seleccionaTab(2)"
                >
                  Guardar
                </button>
              </div>
            </div>
          </div> 


        </div>
    
       
      </form>
    </div>
    
    
   

    
 
  </div>
</div>