<div class="container">
    <div class="container1">
        <ng-titulo titulo="Aviso" />
        <form [formGroup]="avisoForm">
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label" for="numero de registro">numero de registro:</label>
                    <input type="text" class="form-control" id="numero de registro" formControlName="numeroderegistro" readonly />
                </div>
            </div>
        </form>
    </div>
    <div class="container2">
        <ng-titulo titulo="Datos del Donate Extranjero" />
        <form [formGroup]="avisoForm">
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label" for="nNobmre-Denomination-Razon-Social">Nobmre/:Denomination o Razon Social :</label>
                    <input type="text" class="form-control" id="Nobmre-Denomination-Razon-Social" formControlName="NobmreDenominationRazonSocial" readonly />
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="rfc-tax-id">RFC/TAX ID :</label>
                    <input type="text" class="form-control" id="rfc-tax-id" formControlName="rfctaxid" readonly />
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="Telefono">Telefono :</label>
                    <input type="text" class="form-control" id="Telefono" formControlName="Telefono" readonly />
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="correo-electronico">correo electronico :</label>
                    <input type="text" class="form-control" id="correo-electronico" formControlName="correoelectronico" readonly />
                </div>
            </div>
        </form>
    </div>
    <div class="container3">
        <ng-titulo titulo="Domacilo fiscal del Donate Extranjero" />
        <form [formGroup]="avisoForm">
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label" for="entidadad-federativa">Entidadad Federativa* :</label>
                    <input type="text" class="form-control" id="entidadad-federativa" formControlName="entidadadfederativa" readonly />
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="alcadila-municipio">Alcadila municipio* :</label>
                    <input type="text" class="form-control" id="alcadila-municipio" formControlName="alcadilamunicipio" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label" for="colonia">Colonia* :</label>
                    <input type="text" class="form-control" id="colonia" formControlName="colonia" readonly />
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="codigo-postal">codigo postal* :</label>
                    <input type="text" class="form-control" id="codigo-postal" formControlName="codigopostal" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label" for="calle">Calle* :</label>
                    <input type="text" class="form-control" id="calle" formControlName="calle" readonly />
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="numero-y/o-etra-exterior">Numero y/o letra exterior* :</label>
                    <input type="text" class="form-control" id="numero-y/o-letra-exterior" formControlName="numeroletraexterior" readonly />
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="numero-y/o-letra-interior">Numero y/o letra interior* : </label>
                    <input type="text" class="form-control" id="numero-y/o-letra interior" formControlName="numeroletrainterior" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label" for="entre-calle">Entre calle* :</label>
                    <input type="text" class="form-control" id="entre-calle" formControlName="entrecalle" readonly />
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="y-calle">y calle :</label>
                    <input type="text" class="form-control" id="y-calle" formControlName="ycalle" readonly />
                </div>
                <div class="row">
                   <div class="col-md-6">   
                    <label for="manul" class="m-3">manul</label>
                    <input type="radio" name="check" id="manul">
                    <label for="Carga" class="m-3">Carga masiva</label>
                    <input type="radio" name="check" id="Carga">
                   </div>
                </div>
            </div>
        </form>
    </div>
    <app-mercancia></app-mercancia>
</div>