<div class="container">
  <form [formGroup]="formulario">
    <ng-titulo titulo="Permiso renuncia de derechos" />
    <div class="row mt-2">
      <div class="col-md-5">
        <div class="form-group">
          <label class="form-label">Folio trámite:</label>
          <input
            class="form-control disabled-color"
            placeholder=""
            type="text"
            name="mercanciaSolicitudFolioTramite"
            formControlName="mercanciaSolicitudFolioTramite"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="form-label">Tipo de solicitud:</label>
          <input
            class="form-control disabled-color"
            placeholder=""
            type="text"
            readonly
            name="mercacniaSolicitudTipoSolicitud"
            formControlName="mercacniaSolicitudTipoSolicitud"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-label">Régimen:</label>
          <input
            class="form-control disabled-color"
            placeholder=""
            type="text"
            readonly
            name="mercacniaSolicitudRegimen"
            formControlName="mercacniaSolicitudRegimen"
          />
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5">
        <div class="form-group">
          <label class="form-label">Clasificación del régimen:</label>
          <input
            class="form-control disabled-color"
            placeholder=""
            type="text"
            readonly
            name="mercacniaSolicitudClasificacionRegimen"
            formControlName="mercacniaSolicitudClasificacionRegimen"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="form-label">Periodo de vigencia:</label>
          <input
            class="form-control disabled-color"
            placeholder=""
            type="text"
            readonly
            name="mercacniaSolicitudPeriodoDeVigencia"
            formControlName="mercacniaSolicitudPeriodoDeVigencia"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-label">Unidad de medida:</label>
          <input
            class="form-control disabled-color"
            placeholder=""
            type="text"
            readonly
            name="mercacniaSolicitudUnidadMedida"
            formControlName="mercacniaSolicitudUnidadMedida"
          />
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5">
        <div class="form-group">
          <label class="form-label">Fracción arancelaria:</label>
          <input
            class="form-control disabled-color"
            placeholder=""
            type="text"
            readonly
            name="mercacniaSolicitudFraccionArancelaria"
            formControlName="mercacniaSolicitudFraccionArancelaria"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="form-label">Cantidad autorizada</label>
          <input
            class="form-control disabled-color"
            placeholder=""
            type="text"
            readonly
            name="mercacniaSolicitudCantidadAutorizada"
            formControlName="mercacniaSolicitudCantidadAutorizada"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-label">Valor autorizado:</label>
          <input
            class="form-control disabled-color"
            placeholder=""
            type="text"
            readonly
            name="mercacniaSolicitudValorAutorizado"
            formControlName="mercacniaSolicitudValorAutorizado"
          />
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label">NICO:</label>
          <input
            class="form-control disabled-color"
            placeholder=""
            type="text"
            readonly
            name="solicitudNicoSener"
            formControlName="solicitudNicoSener"
          />
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label class="form-label">Descripción NICO:</label>
          <textarea
            class="form-control disabled-color textarea-auto-height"
            rows="2"
            formControlName="solicitudDescNicoSener"
          ></textarea>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label class="form-label">Acotación:</label>
          <textarea
            class="form-control disabled-color textarea-auto-height"
            rows="2"
            name="solicitudAcotacion"
            readonly
            formControlName="solicitudAcotacion"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5">
        <div class="form-group">
          <label class="form-label">Permiso válido desde:</label>
          <input
            class="form-control disabled-color"
            placeholder=""
            type="text"
            readonly
            name="mercacniaSolicitudPermisoValidoDesde"
            formControlName="mercacniaSolicitudPermisoValidoDesde"
          />
        </div>
      </div>
      <div class="col-md-7">
        <div class="form-group">
          <label class="form-label">Permiso válido hasta:</label>
          <input
            class="form-control disabled-color"
            placeholder=""
            type="text"
            readonly
            name="mercacniaSolicitudPermisoValidoHasta"
            formControlName="mercacniaSolicitudPermisoValidoHasta"
          />
        </div>
      </div>
    </div>

    <hr class="red" />

    <div class="row mt-2">
      <div class="col-md-10 col-sm-12">
        <div class="form-group">
          <label class="form-label">Motivo renuncia de derechos*:</label>
          <textarea
            class="form-control textarea-auto-height"
            rows="4"
            name="motivoRenunciaDeDerechos"
            formControlName="motivoRenunciaDeDerechos"
            (change)="setValoresStore(formulario,'motivoRenunciaDeDerechos')"
          ></textarea>

          <div *ngIf="esInvalido('motivoRenunciaDeDerechos')" class="text-danger">
            <small *ngIf="formulario.controls['motivoRenunciaDeDerechos'].hasError('required')">Este campo es obligatorio</small>
            <small *ngIf="formulario.controls['motivoRenunciaDeDerechos'].hasError('maxlength')">No puede escribir más de 255 caracteres</small>
        </div>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-12">
        <ng-titulo titulo="Manifiesto bajo protesta" />
        <div class="form-check bg-light p-0">

          <div *ngIf="esInvalido('mercacniaSolicitudControlar')" class="text-danger">
            <small *ngIf="formulario.controls['mercacniaSolicitudControlar'].hasError('required')">Favor de seleccionar el Manifiesto</small>
        </div>
            <div class="alert alert-info content-with-checkbox">
              <input class="form-check-input" formControlName="mercacniaSolicitudControlar" [ngClass]="{'is-invalid': esInvalido('mercacniaSolicitudControlar')}" type="checkbox" id="manifiesto"
              (change)="setValoresStore(formulario, 'mercacniaSolicitudControlar')">
              {{MANIFIESTO_BAJO_PROTESTA}}
            </div>
        </div>
      </div>
    </div>

  </form>
</div>
