.textarea-auto-height{
    height: auto;
}

.disabled-color{
    background-color: #e9ecef;
}

.content-with-checkbox{
    display: flex;
    text-align: left;
    gap: 20px;
    padding-left: 40px;
}