.monumento-button{
  margin-top:25px;
}
  
.monumento-borrar{
  padding-right:40px;
}
  @media (min-width: 320px) and (max-width: 370px) {
    .form-label {
      text-align: unset !important;
    }
  }
  