<div class="container">
  <ng-titulo titulo="Monumento"/>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <h6>Monumento*:</h6>
        <app-tabla-dinamica [tipoSeleccionTabla]="tablaSeleccion.CHECKBOX" [configuracionTabla]="configTableArray" [datos]="monumentoTablaDatos" (listaDeFilaSeleccionada)="monumentoSeleccionLista = $event" [disableSeleccionTablaCheckBox]="soloLectura"></app-tabla-dinamica>
      </div>
      <div class="col-md-12">
        
        <nav aria-label="Page navigation example">
          <ul class="pagination d-flex justify-content-center">
             
              <li class="page-item"><a class="page-link" href="#">1</a></li>
          </ul>
        </nav>
      </div>
      <div class="monumento-button">
        <div class="row">
          <div class="col-md-12"> 
          <div class="pull-right">
            <div class="col-md-6">  
        <button type="button" id="btn-borrar-parte" class="btn btn-danger monumento-borrar" [disabled] ="!monumentoSeleccionLista.length || soloLectura" (click)="Borrar()">Borrar</button>
        </div>
        <div class="col-md-6">  
        <button type="button" id="btn-agregar-parte" class="btn btn-primary" [disabled]="soloLectura" (click)="agregar()">Agregar</button>
      </div>
      </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  