.radio-inline {
    font-weight: 400;
    padding-left: 0px;
    cursor: pointer;
    margin-bottom: 0;
}

textarea {
    height: 150px;
}

.ajuste-label-combo-catalogos {
    margin-top: 0px;
}

.espacio-label {
    text-indent: 20px;
}