.text-danger {
    color: red;
}

.porWidth {
    width: 10%;
}

.input-width {
    width: 100%;
}

textarea.mesaje-archivo[disabled] {
    width: 80%;
    min-height: 120px !important;
    height: auto !important;
    background-color: #f0f0f0;
}