<div class="container">
  <form [formGroup]="pagosDerechosForm">
    <div class="row mt-5">
      <ng-titulo titulo="Pago de derechos" />
      

      <div class="row mt-2">
      <div class="col-md-6 form-group">
        <label class="form-label" for="claveDeReferencia"
          >Clave de referencia:</label
        >
        <input
          type="text"
          id="claveDeReferencia"
          class="form-control"
          formControlName="claveDeReferencia"
          (change)="setValoresStore('claveDeReferencia')"
        />
      </div>

      <div class="col-md-6 form-group">
        <label class="form-label" for="NumeroDe">Número de operación:</label>
        <input
          type="text"
          id="NumeroDe"
          class="form-control"
          formControlName="numeroDe"
          (change)="setValoresStore('numeroDe')"

        />
      </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6 form-group">
        <label class="form-label" for="cadenaDependencia"
          >Cadena de la dependencia:</label
        >
        <input
          type="text"
          id="cadenaDependencia"
          class="form-control"
          formControlName="cadenaDependencia"
          (change)="setValoresStore('cadenaDependencia')"
        />
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <app-catalogo-select
          [catalogo]="bancoList"
          [label]="'Banco'"
          [required]="false"
          id="clave"
          formControlName="banco"
          (change)="setValoresStore('banco')"
          [isDisabled]="esFormularioSoloLectura"
        >
        </app-catalogo-select>

         
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-4 form-group">
        <label class="form-label" for="llaveDePago">Llave de pago:</label>
        <input
          type="text"
          id="llaveDePago"
          class="form-control"
          formControlName="llaveDePago"
          (change)="setValoresStore('llaveDePago')"
        />
      </div>

      <div class="col-md-4 form-group">
        <div class="form-field">
          <input-fecha
            [datos]="configuracionFechaFinVigencia"
            (valorCambiado)="cambioFechaDePago($event)"
            [setFecha]="this.tramiteState.fechaDePago"
            
          ></input-fecha>
        </div>

      </div>

      <div class="col-md-4 form-group">
        <label class="form-label" for="importeDePago">Importe de pago:</label>
        <input
          type="text"
          id="importeDePago"
          class="form-control"
          formControlName="importeDePago"
          (change)="setValoresStore('importeDePago')"
        />
      </div>
    </div>
    <div class="d-flex justify-content-end mt-5">
      <button type="button" class="btn btn-primary ms-2 d-flex" (click)="borrarDatosDelPago()" [disabled]="esFormularioSoloLectura">Borrar datos del pago</button>
    </div>
  </form>
</div>
