.btn-buscar {
    display: flex;
    align-items: end;
    justify-content: right;
}

.btn-cancelar {
    display: flex;
    align-items: end;
    justify-content: start;
}

.margin-top-4 {
    margin-top: 4em;
}

textarea.form-control {
    height: 0% !important;
}

.modal-dialog {
    max-width: 1200px !important;
}

.require {
    color: #CE0923;
    font-weight: bold;
}