<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li [ngClass]="indice === 1 ? 'active' : ''">
        <a
          data-toggle="tab"
          (click)="seleccionaTab(1)"
          (keydown.enter)="seleccionaTab(1)"
          (keydown.space)="seleccionaTab(1)"
          role="button"
          tabindex="0"
          >Solicitante</a
        >
      </li>
      <li [ngClass]="indice === 2 ? 'active' : ''">
        <a
          data-toggle="tab"
          (click)="seleccionaTab(2)"
          (keydown.enter)="seleccionaTab(2)"
          (keydown.space)="seleccionaTab(2)"
          role="button"
          tabindex="2"
          >Datos de la solicitud</a
        >
      </li>
      <li [ngClass]="indice === 3 ? 'active' : ''">
        <a
          data-toggle="tab"
          (click)="seleccionaTab(3)"
          (keydown.enter)="seleccionaTab(3)"
          (keydown.space)="seleccionaTab(3)"
          role="button"
          tabindex="3"
          >Terceros relacionados</a
        >
      </li>
      <li [ngClass]="indice === 4 ? 'active' : ''">
        <a
          data-toggle="tab"
          (click)="seleccionaTab(4)"
          (keydown.enter)="seleccionaTab(4)"
          (keydown.space)="seleccionaTab(4)"
          role="button"
          tabindex="4"
          >Pago de derechos</a
        >
      </li>
    </ul>
    <ng-container>
      <solicitante #solicitante [hidden]="indice !== 1" ></solicitante>
      <app-contenedor-de-datos-solicitud #datosSolicitud
        [hidden]="indice !== 2"
        [formularioDeshabilitado]="formularioDeshabilitado"
      ></app-contenedor-de-datos-solicitud>
      <app-terceros-relacionados-vista
        #tercerosRelacionados
        [hidden]="indice !== 3"
        [formularioDeshabilitado]="formularioDeshabilitado"
      ></app-terceros-relacionados-vista>
      <app-pago-de-derechos-contenedora
        #pagoDeDerechos
        [hidden]="indice !== 4"
        [formularioDeshabilitado]="formularioDeshabilitado"
      ></app-pago-de-derechos-contenedora>
    </ng-container>
  </div>
</div>
