<div class="container">
        <div class="row mt-5 mb-3 mt-md-5 mt-lg-5">
        <div class="col-md-12 mt-5">
            <app-tabla-dinamica 
                [configuracionTabla]="configuracionTabla" 
                [datos]="domiciliosTabla">
            </app-tabla-dinamica>
            <nav aria-label="Page navigation example">
                <ul class="pagination d-flex justify-content-center">
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row mb-3">
        <form [formGroup]="formDomiciliosDePlantas">
            <div class="col-md-4">
                <label for="representacionFederal" class="form-label">Representación federal:</label>
                <input type="text" id="representacionFederal" class="form-control" formControlName="representacionFederal" placeholder="DELEGACION FEDERAL CULIACAN" (change)="setValoresStore('representacionFederal', 'setRepresentacionFederal')">
            </div>
            <div class="col-md-4">
                <label for="actividadProductiva" class="form-label">Actividad productiva:</label>
                <input type="text" id="actividadProductiva" class="form-control" formControlName="actividadProductiva" placeholder="CARROCERIAS, MOTORES, PARTES Y" (change)="setValoresStore('actividadProductiva', 'setActividadProductiva')">
            </div>
        </form>
    </div>
</div>