::ng-deep .alert-danger {
  background-color: #f8d7da !important;
  border: 1px solid #dc3545 !important;
  border-radius: 8px !important;
  padding: 20px !important;
  margin: 20px 0 !important;
  color: #111111 !important;
  
  .d-flex {
    .col-md-12 {
      margin-bottom: 8px;
      
      strong {
        font-weight: 600;
        font-size: 14px;
      }
      
      span {
        font-size: 14px;
        margin-right: 400px;
        color: #dc3545;
      }
    }
  }
}