table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.index {
    background-color: #eeeeee;
    color: rgb(158, 153, 153);
    font-weight: bold;
    text-align: center;
}
.page-number {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(158, 153, 153);
    background-color: #EEEEEE;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
}

.page-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.warning {
    background: antiquewhite;
    border: none;
}

.display{
    display: flex !important;
}