<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subenlaces">
                      <span class="sr-only">Interruptor de Navegación</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">VUCEM</a>
              </div>
              <div class="collapse navbar-collapse" id="subenlaces">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="#">Inicio</a></li>
                      <li><a href="#">Consultas</a></li>
                      <li><a href="#">Tablero de seguimiento</a></li>
                      <li><a href="#">Solicitudes</a></li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                              aria-expanded="false">Trámites <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Favoritos y frecuentes</a></li>
                              <li><a href="#">Solicitudes nuevas</a></li>
                              <li><a href="#">Solicitudes subsecuentes</a></li>
                          </ul>
                      </li>
                      <li><a href="#">Usuarios</a></li>
                      <li><a href="#">Otras tareas</a></li>
                  </ul>
              </div>
          </div>
      </nav>
    </div>
  </div>
</div>
