<div class="mt-4">
  <form [formGroup]="solicitudForm">
    <div class="col-md-12">
      <ng-container formGroupName="reexportacionForm">
        <div class="row">
          <div class="col-md-8">
            <app-catalogo-select
              [catalogo]="numeroDeCertificado"
              [label]="'Número de certificado fitosanitario de reexportación'"
              formControlName="numeroDeCertificado"
              [required]="true"
              (change)="numeroDeCertificadoSeleccion()"
              name="numeroDeCertificado"
            >
            </app-catalogo-select>
          </div>
        </div>
        <ng-titulo titulo="Aduana"></ng-titulo>
        <div class="row">
          <div class="col-md-8">
            <app-catalogo-select
              [catalogo]="aduana"
              [label]="'Aduana de salida'"
              formControlName="aduana"
              [required]="true"
              (change)="aduanaSeleccion()"
              name="aduana"
            >
            </app-catalogo-select>
          </div>
        </div>
        <ng-titulo titulo="Pais"></ng-titulo>
        <label class="form-label">País de origen*</label>
        <crosslist
          [fechas]="selectRangoDias"
          [label]="paisDeOrigenLabel"
          [botones]="paisDeOrigenBotons"
        ></crosslist>
        <br />
        <label class="form-label"
          >Lungar de procedencia en el terretorio nacional*</label
        >
        <crosslist
          [fechas]="selectEntidades"
          [label]="entidadesLabel"
          [botones]="entidadesBotons"
        ></crosslist>
        <div class="row">
          <div class="col-md-12">
            <app-catalogo-select
              [catalogo]="descripcionProducto"
              [label]="'Descripción del producto'"
              fromControlName="descripcionProducto"
              [required]="true"
              (change)="descripcionProductoSeleccion()"
              name="descripcionProducto"
            >
            </app-catalogo-select>
          </div>
        </div>
        <ng-titulo titulo="Mercancías"></ng-titulo>
        <div class="table-responsive">
          <div class="innercontainer">
            <app-tabla-dinamica
              [configuracionTabla]="encabezadoDeTabla"
              [datos]="datosSolicitud"
            ></app-tabla-dinamica>
          </div>
        </div>
        <div class="col-md-12 mt-5 d-flex justify-content-end">
          <button type="button" class="btn btn-default">Modificar</button>
          <button type="button" class="btn btn-danger ms-3">Eliminar</button>
          <button
            type="button"
            class="btn btn-primary ms-3">
            Agregar 
          </button>
        </div>
      </ng-container>
    </div>
  </form>
</div>
