.alert {
  text-align: left !important;
}

.alert label {
  font-weight: normal;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.modal-content {
  margin: auto;
}

::ng-deep p {
  font-size: 15px !important;
}

.mt-20 {
  margin-top: 15px;
}

.mr-5px {
  margin-right: 5px;
}

.modal-body {
  margin: 25px 25px 0px 25px;
}

.modal-footer {
  margin: 0px 25px 25px 0px;
}

textarea.form-control {
  height: 0% !important;
}

.modalsm {
  width: fit-content;
  margin-left: 115px;
  align-items: center;
}

#modalAgregarMercancias {
  min-height: 80%;
}

.ng-touched .ng-invalid {
  border-color: #dc3545 !important;
}

.is-invalid app-catalogo-select {
  border-color: #dc3545 !important;
}

.modal-lg-custom {
  max-width: 80%;
}

/* Haz que el asterisco sea rojo cuando el campo tenga errores de validación */
.form-group.has-error label .require,
.form-group:has(.is-invalid) label .require,
label:has(+ input.is-invalid) .require,
label:has(+ input-fecha.is-invalid) .require,
label:has(+ app-catalogo-select .required) .require,
.has-error .form-label,
.has-error label .require {
    color: #dc3545 !important;
}
