.disabledColor1{
    background-color: #e9ecef;
  }
  .btn-space {
    margin-right: 10px;  /* Ajusta el valor según sea necesario */
  }

  .disabled-link {
    pointer-events: none;
    color: gray;
    cursor: not-allowed;
  }
.custom-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.custom-link:hover {
  color: #7b9cf0;
  text-decoration: underline;
}
