<div class="container">
    <div class="row">
      <ul class="nav nav-tabs">
        <li [ngClass]="indice === 1 ? 'active' : ''">
          <a (click)="seleccionaTab(1)" (keyup.enter)="seleccionaTab(1)" (keydown.space)="seleccionaTab(1)" tabindex="0" data-toggle="tab" >Solicitante</a>
        </li>
        <li [ngClass]="indice === 2 ? 'active' : ''">
          <a (click)="seleccionaTab(2)" (keyup.enter)="seleccionaTab(2)" (keydown.space)="seleccionaTab(2)" tabindex="0" data-toggle="tab" >Tipo Aviso</a>
        </li>
      </ul>
  
      <ng-container>
        @switch (indice) {
        @case (1) {
        <solicitante #Solicitante></solicitante>
        }
        @case (2) {
          @if(esDatosRespuesta){
            <app-information-general-solicitante #informationGeneralRef></app-information-general-solicitante>
          }
        } 
      }
      </ng-container>
    </div>
</div>