<div class="container">
    <ng-titulo titulo="Domicilio del destinatario"/>
    <form [formGroup]="solicitudForm">
    <div class="row">
        <div class="col-md-6 mb-4">
            <label class="form-label" for="ciudad">Ciudad (población, estado o provincia):</label>
            <input type="text" class="form-control" id="ciudad" formControlName="ciudad" readonly>
        </div>

        <div class="col-md-6 mb-4">
            <label class="form-label" for="calle">Calle:</label>
            <input type="text" class="form-control" id="calle" formControlName="calle" readonly>
        </div>

        <div class="col-md-4 mb-4">
            <label class="form-label" for="numero-letra">Número y/o letra:</label>
            <input type="text" class="form-control" id="numero-letra" formControlName="numeroLetra" readonly>
        </div>
        <div class="col-md-4 mb-4">
            <label class="form-label" for="telefono">Teléfono:</label>
            <input type="text" class="form-control" id="telefono" formControlName="telefono" readonly>
        </div>
        <div class="col-md-4 mb-4">
            <label class="form-label" for="fax">Fax:</label>
            <input type="text" class="form-control" id="fax" formControlName="fax" readonly>
        </div>
        <div class="col-md-12 mb-4">
            <label class="form-label" for="correo-electronico">Correo electrónico:</label>
            <input type="text" class="form-control" id="correo-electronico" formControlName="correoElectronico" readonly>
        </div>
        <div class="col-md-12 mb-4">
            <label class="form-label" for="observaciones">Observaciones:</label>
            <textarea id="observaciones" class="form-control" formControlName="observaciones" [readonly]="true" style="height: 80px;"></textarea>
        </div>
    </div>
</form>
</div>
