// Paleta de colores global para VUCEM
$color-dark: #272829;
$color-dark-medium: #393c3e;
$color-gray: #545454;
$color-light-gray: #dddddd;
$color-bg-light: #f6f6f6;
$color-white: #ffffff;
$color-blue: #4d92df;
