.alert {
  text-align: left !important;
}

.alert label {
  font-weight: normal;
}

// .modal-dialog-centered {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   min-height: 100vh;
// }

// .modal-content {
//   margin: auto;
// }

::ng-deep p {
  font-size: 15px !important;
}

// .mt-20 {
//   margin-top: 15px;
// }

// .mr-5px {
//   margin-right: 5px;
// }
.modal-lg-custom {
  max-width: 800px;
}

.modal-body {
  margin: 25px 25px 0px 25px;
}

.modal-footer {
  margin: 0px 25px 25px 0px;
}

textarea.form-control {
  height: auto !important;
  min-height: 80px !important;
  resize: vertical;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
}

.modalsm {
  width: auto;
  max-width: 90vw;
  margin: 0 auto;
}

#modalModificar {
  .modal-dialog {
    max-width: 800px;
    width: 90vw;
    margin: 1.75rem auto;
  }
  
  .modal-content {
    min-height: 400px;
    width: 100%;
  }

  .modal-header {
    border-bottom: none;
    padding: 1rem 1rem 0 1rem;
    height: 40%;
  }
}
