.m-1 {
  margin: 0.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mt {
  margin-top: 0.25rem !important;
}

.mt-1 {
  margin-top: 0.5rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mr {
  margin-right: 0.25rem !important;
}

.ml {
  margin-left: 0.25rem !important;
}

.flex {
  display: flex;
}

.flex-right {
  display: flex;
  justify-content: right;
}

.text-bold {
  font-weight: bold;
}

.text-normal {
  font-weight: normal !important;
}
