textarea {
    width: 100%; /* Takes the full width of the container */
    min-height: 120px; /* Minimum height */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Allow only vertical resizing */
    box-sizing: border-box; /* Includes padding and border in the element's total width/height */
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    textarea {
      min-height: 100px; /* Slightly smaller height for smaller screens */
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    textarea {
      min-height: 80px; /* Further reduced height for very small screens */
    }
  }
  
 
  .manifiestoDescripcion {
    text-align: justify;
    margin: -25px 0px 0px 25px !important;
  }
  
  .modal-dialog {
    max-width: 100% !important;
  }
  
  ::ng-deep p {
    font-size: 15px !important;
  }
  
  .mt-20 {
    margin-top: 15px;
  }
  
  .mr-5px {
    margin-right: 5px;
  }
  
  .modal-body {
    margin: 25px 25px 0px 25px;
  }
  
  .modal-footer {
    margin: 0px 25px 25px 0px;
  }
  
  textarea.form-control {
    height: 0% !important;
  }
  
  .modal-content {
    padding-left: 6% !important;
    padding-right: 6% !important;
    padding-bottom: 5% !important;
  
  }
