<app-tercerosrelacionados
  [esFormularioSoloLectura]="esFormularioSoloLectura"
  [cuerpoTablaDestino]="personas"
  [cuerpoTablaExportador]="datosForma"
  [catalogosDatos]="catalogosDatos"
  (eliminarSeleccion)="handleEliminarDestinatario()"
  (eliminarSeleccionEstinoTable)="handleEliminarExportador()"
  (abrirModalDestinatario)="abrirModalDestinatario($event)"
  (abrirModalExportador)="abrirModalExportador($event)"
  [mensajeErrorTablaExportador]="mensajeErrorTablaExportador"
  [mensajeErrorTablaDestinatario]="mensajeErrorTablaDestinatario"
></app-tercerosrelacionados>

<app-modal #modalRef></app-modal>
