<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <ng-container>
                <ng-titulo titulo="Clave S.C.I.A.N"></ng-titulo>
                <form [formGroup]="claveForm">
                    <div class="row">
                        <div class="col-md-8">
                            <app-catalogo-select [catalogo]="clave" [label]="'Clave S.C.I.A.N'" [required]="true"
                                name="clave" formControlName="clave" (change)="getMunicipios()">
                            </app-catalogo-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <app-catalogo-select [catalogo]="clave" [label]="'Descripción del S.C.I.A.N'"
                                [required]="true" name="descripcion" formControlName="descripcion">
                            </app-catalogo-select>
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>
        <div class="mt-5 modal-footer d-flex justify-content-end">
            <button type="button" class="btn btn-default" (click)="limpiar()">Limpiar</button>
            <button type="button" class="btn btn-default ms-2" (click)="cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary ms-2" (click)="agregar()">Agregar</button>
        </div>
    </div>
</div>