<div class="page">
  <div class="container">
    <form [formGroup]="forma">
      <div class="row">
        <formas-dinamicas
          formularioTitulo="Manifestaciones de cancelación"
          [forma]="ninoFormGroup"
          [formularioDatos]="manifestacionesFormData"
          [estado]="cancelacionGarantiaState"
          [soloLectura]="consultaState.readonly"
          (emitirCambioDeValor)="emitirCambioDeValor($event)"
        ></formas-dinamicas>
      </div>
    </form>
  </div>
</div>
