.pt4-custom {
    padding-top: 4rem !important;
}
.pt7-custom {
    padding-top: 7rem !important;
}
.estilo-campo-personalizado {
    display: flex;
    align-items: flex-end;
}
.disabled-input-fecha {
  pointer-events: none;
  opacity: 1;
}