.pagination {
    display: table;
    margin: 0 auto;
}
.btn-space {
    margin-right: 10px; 
  }

.row-spacing {
    padding-bottom: 20px;
}
.custom-textarea {
  height: 120px;
  resize: none;            
  overflow: auto;        
  border-radius: 6px;
}

.text-right {
    text-align: right;
}