<div class="conatiner p-3">
    <div class="row mt-2">
        <div class="col-md-12 text-container">
            <p>{{textos.paraca1}}</p>
            <p>{{textos.paraca2}}</p>
            <h4 class="para-title">{{textos.encabezamiento1}}</h4>
            <p>{{textos.paraca3}}</p>
        </div>
    </div>
    <form [formGroup]="forma">
        <div class="row mt-2">
            <formas-dinamicas 
                [forma]="reporteDeAnomaliasFormGroup" 
                [formularioDatos]="reporteDeAnomaliasDatos"
                [estado]="solicitudeState"
                [soloLectura]="consultaState.readonly"
                (emitirCambioDeValor)="emitirCambioDeValor($event)"
                >
            </formas-dinamicas>
        </div>
        <div class="row mt-2">
                <div class="col-md-12 text-container">
                    <h4 class="para-title">{{textos.encabezamiento2}}</h4>
                    <p>{{textos.paraca4}}</p>
                    <p>{{textos.paraca5}}</p>
                    <p>{{textos.paraca6}}</p>
                </div>
                <div class="col-md-12 text-container">
                    <div class="mt-2 alert-text">
                        <ul>
                            <div class="centered-list-wrapper">
                                <ol type="a">
                                    <li>Información general del embarque, orden de compra.</li>
                                    <li>Solicitud de transporte; confirmación de medio de transporte; identificación del operador de
                                        transporte (registros de acceso, salida, registro de las inspecciones de seguridad,
                                        etcétera.).</li>
                                    <li>Formatos de Inspección del contenedor; orden de salida; registros de entrega.</li>
                                    <li>Videos de los sistemas de alarma y de circuito cerrado de televisión y video vigilancia.
                                    </li>
                                    <li>Documentación generada para el transportista (lista de empaque, carta porte, hoja de
                                        instrucciones).</li>
                                    <li>Documentación generada para socios comerciales (descripción de mercancías, proformas,
                                        facturas, etcétera).</li>
                                    <li>Documentación generada por los socios comerciales (pedimentos, manifiestos, reportes de
                                        seguimiento e inspección, videos en su caso, etcétera).</li>
                                </ol>
                            </div>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="row mt-2">
            <formas-dinamicas 
                [forma]="investigacionFormGroup" 
                [formularioDatos]="investigacionDatos"
                [estado]="solicitudeState"
                [soloLectura]="consultaState.readonly"
                (emitirCambioDeValor)="emitirCambioDeValor($event)"
                >
            </formas-dinamicas>
        </div>
    </form>
</div>
