<form [formGroup]="FormCatalogo">
  @if (catalogos_datos) {
    <label for="tipo_solicitud" class="control-label">
      {{catalogos_datos.labelNombre}}
      @if (catalogos_datos.required) {*}:
    </label>
    <select class="form-control" id="tipo-solicitud" formControlName="seleccion" (change)="seleccion()">
      <option value=0 disabled>Selecciona un valor</option>
      @for (item of catalogos_datos.catalogos; track $index)
      {
      <option value={{item.id}}>{{item.value}}</option>
      }
    </select>
  }
</form>
