<div class="container">
    <form [formGroup]="productorIndirecto">
        <div class="row">
            <div class="col-md-12">
                <ng-titulo titulo="Productor indirecto"></ng-titulo>
            </div>
        </div>
        <div class="row">
        <div class="col-md-4">
            <div class="form-group">
            <label class="form-label" for="contribuyentes">Registro federal de contribuyentes:</label>
            <input type="text" 
            value=""
            class="form-control" 
            id="contribuyentes"  
            placeholder="Registro federal de contribuyentes"
            formControlName="contribuyentes"
            (change)="
                setValoresStore(
                    productorIndirecto,
                  'contribuyentes',
                  'setcontribuyentes'
                )"
            maxlength="13"
            soloLetrasNumeros
                >
            </div>
        </div>
        </div>
    </form>
    <div class="row mb-5">
        <div class=" text-end mt-5">
            <button class="btn btn-default me-2">Eliminar Productor</button>
            <button class="btn btn-primary" (click)="agregarProductor()">Agregar Productor</button>
        </div>
    </div>
    <div class="row">
        <h6>Solicitud Prosec Productor Indirecto Tabla:</h6>
        <app-tabla-dinamica [tipoSeleccionTabla]="TablaSeleccion.CHECKBOX" [configuracionTabla]="productorColumnsConfiguracion" [datos]="productorDato" ></app-tabla-dinamica>
    </div>
</div>