textarea {
    width: 100%; /*  Ocupa todo el ancho del contenedor */
    min-height: 120px; /* Altura minima */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permitir unicamente cambio de tamaño vertical */
    box-sizing: border-box; /* Incluye relleno y borde en el ancho/alto total del elemento */
    resize: none; /* Deshabilitar el cambio de tamaño manual */
    overflow: hidden;
  }
  
  /* Ajustes para pantallas más pequeñas */
  @media (max-width: 768px) {
    textarea {
      min-height: 100px; /* Altura ligeramente menor para pantallas más pequeñas */
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    textarea {
      min-height: 80px; /*  Altura aún más reducida para pantallas muy pequeñas*/
    }
  }