<app-anexo-uno [anexoConfiguartion]="anexoUnoConfig"
[anexoDosConfiguartion]="anexoImportacionConfig"
[anexoUnoTablaLista]="anexoUnoTablaLista"
[anexoDosTablaLista]="anexoDosTablaLista"
[formularioDeshabilitado]="esFormularioSoloLectura"
(obtenerAnexoUnoDevolverLaLlamada)="obtenerAnexoUnoDevolverLaLlamada($event)"
(obtenerAnexoDosDevolverLaLlamada)="obtenerAnexoDosDevolverLaLlamada($event)"
(rutaLaFraccionDeComplemento)="rutaLaFraccionDeComplemento($event)"
(complimentosDatos)="modifierComplimentos($event)"
  [formularioDatosSubcontratista]="anexoUnoFormGroup"
  [formularioDatosSubcontratistaDos]="anexoDosFormGroup"
  (complimentosDatosDos)="modifierDosComplimentos($event)"
>
</app-anexo-uno>
