<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li [ngClass]="indice === 1 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(1)" (keydown.enter)="seleccionaTab(1)"
          (keydown.space)="seleccionaTab(1)" role="button" tabindex="1">Solicitante</a>
      </li>

      <li [ngClass]="indice === 2 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(2)" (keydown.enter)="seleccionaTab(2)"
          (keydown.space)="seleccionaTab(2)" role="button" tabindex="2">Contenedor</a>
      </li>
    </ul>

    <ng-container>
      @switch (indice) { 
        @case (1) {
          <solicitante [tabindex]="1" (continuarEvento)="continuar()"></solicitante>
          <btn-continuar [datos]="datosPasos" (continuarEvento)="getValorIndice($event)"></btn-continuar>
        } 
        @case (2) {
          <app-contenedor (continuarEvento)="continuar()"></app-contenedor>
        } 
      }
    </ng-container>
  </div>
</div>