th,td {
    padding: 12px;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 30%;
    thead {
        tr,th {
            border: 0 !important;
        }
    }
    tbody {
        tr,th {
            cursor: pointer;
            border-top: 1px solid #ddd;
        }
    }
}

td:first-child {
    background-color: #f0f0f0;
    text-align: center;
    width: 50px;
    border: 0 !important;
}

.selected-row {
  background-color: #f0f0f0;
}