<form [formGroup]="transferForm" autocomplete="off">
  <div class="row mt-5">
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="form-group">
        <date-picker
            label="Fecha de transmisión"
            formControlName="transferDate"
            [hasError]="formUtils.isValidField(transferForm, 'transferDate')">
          </date-picker>
          @if (formUtils.isValidField(transferForm, 'transferDate')) {
            <small class="form-text form-text-error">
              {{ formUtils.getFieldError(transferForm, 'transferDate') }}
            </small>
          }
      </div>
    </div>
  </div>
</form>
