
  
  .dropdown-field {
    height: 100px;
  }
  
  ::ng-deep .aceptar-modal {
    .popup {
      width: 30% !important; 
      height:50% !important;
      position: relative; 
      z-index: 1050; 
      background-color: white; 
      border-radius: 8px; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    }
  
    .black-top-header {
      background-color: black; 
      height: 50px; 
      width: 100%; 
    }
  
    p {
      margin-top: 20px;
      font-size: 16px; 
      text-align: center; 
    }
  
    .d-flex {
      display: flex;
      justify-content: center; 
      margin-top: 20px;
    }
  
    button {
      justify-content: center;
      min-width: 100px; 
      margin: 20% 40%;
    }
  }