<div class="container">
    <div class="row">
        <label>Folio Tramite: <span class="font-weight-normal">{{ folioTramite?.folioTramite }}</span></label>
        <label>Tipo de solicitud: <span>{{ folioTramite?.tipoTramite }}</span></label>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group pull-right">
                    <button type="button" class="btn btn-danger" (click)="cancelar()" [disabled]="consultaDatos.readonly">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="continuar()" [disabled]="consultaDatos.readonly">
                        Continuar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <ul class="nav nav-tabs">
            <li [ngClass]="indice === 1 ? 'active' : ''">
                <a data-toggle="tab" (click)="seleccionaTab(1)" (keydown.enter)="seleccionaTab(1)" (keydown.space)="seleccionaTab(1)" role="button" tabindex="1">Capturar Requerimiento</a>
            </li>
        </ul>
        <ng-container>
            @switch (indice) { @case (1) {
            <app-capturar-requerimiento></app-capturar-requerimiento>
            }}
        </ng-container>
    </div>
</div>