<div class="page">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <h2 *ngIf="indice === 1">Validar a posteriori el certificado para el Acuerdo Alianza del Pacífico</h2>
      </div>
        @if(esFormaValido){
      <div class="col-md-12">
        <ng-alert [CONTENIDO]="formErrorAlert" [CUSTOMECLASS]="'alert-danger'"></ng-alert>
      </div>
      }
      <app-wizard [listaPasos]="pasos"></app-wizard>
    </div>
    <div class="row"> @switch (indice) { 
      @case (1) { 
        <app-paso-uno #pasoUnoRef></app-paso-uno>
       } @case (2) { 
        <paso-firma [idSolicitud]="solicitudState.idSolicitud" [procedure]="110223" [procedureUrl]="'certificado-alianza-posteriori'"></paso-firma>


       } } <btn-continuar [datos]="datosPasos" (continuarEvento)="getValorIndice($event)"  [btnGuardar]="true"
        [dePadre]="true"></btn-continuar>
    </div>
  </div>
</div>