<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li [ngClass]="indice === 1 ? 'active' : ''">
                <a data-toggle="tab" (click)="seleccionaTab(1)" (keydown.enter)="seleccionaTab(1)"
                (keydown.space)="seleccionaTab(1)" role="button" tabindex="0">Solicitante</a>
            </li>
            <li [ngClass]="indice === 2 ? 'active' : ''">
                <a data-toggle="tab" (click)="seleccionaTab(2)" (keydown.enter)="seleccionaTab(2)"
                (keydown.space)="seleccionaTab(2)" role="button" tabindex="2">Datos Comunes</a>
            </li>
            <li [ngClass]="indice === 3 ? 'active' : ''">
                <a data-toggle="tab" (click)="seleccionaTab(3)" (keydown.enter)="seleccionaTab(3)"
                (keydown.space)="seleccionaTab(3)" role="button" tabindex="3">Terceros Relacionados</a>
            </li>
            <li [ngClass]="indice === 4 ? 'active' : ''">
                <a data-toggle="tab" (click)="seleccionaTab(4)" (keydown.enter)="seleccionaTab(4)"
                (keydown.space)="seleccionaTab(4)" role="button" tabindex="4">Recinto Fiscalizado</a>
            </li>
            <li [ngClass]="indice === 5 ? 'active' : ''">
                <a data-toggle="tab" (click)="seleccionaTab(5)" (keydown.enter)="seleccionaTab(5)"
                (keydown.space)="seleccionaTab(5)" role="button" tabindex="5">Perfil RF</a>
            </li>
        </ul>

        <ng-container>
            @switch (indice) {
                @case (1) {
                    <solicitante [tabindex]="1"></solicitante>
                }
                @case (2) {
                    @if(esDatosRespuesta){
                        <app-datos-comunes></app-datos-comunes>
                    }
                }
                @case (3) {
                    @if(esDatosRespuesta){
                        <app-represtantante></app-represtantante>
                        <app-enlace></app-enlace>
                        <app-persona></app-persona>
                    }
                }
                @case (4) {
                    @if(esDatosRespuesta){
                        <app-mensajeria></app-mensajeria>
                    }
                }
                @case (5) {
                    @if(esDatosRespuesta){
                        <app-perfiles-mensajeria></app-perfiles-mensajeria>
                    }
                }
            }
        </ng-container>
    </div>
</div>
