
.table-container{
    overflow-x: auto;
    white-space: nowrap;
}
::ng-deep .centered-table-wrapper app-tabla-dinamica .table-wrapper table th, table td {
    text-align: center !important;
}

.buscar {
    height: 51px;
}