  <fieldset [formGroupName]="claveDeControl">
    <ng-titulo titulo="Responsable inspección en punto" />
    <div class="row">
      <div class="col-md-4">
        <div class="form-field">
          <label for="nombreInsp" class="form-label">Nombre(s) *:</label>
          <input class="form-control" type="text" formControlName="nombre" id="nombreInsp" (change)="setNombre($event)" />
   <div class="d-grid"
          *ngIf="grupoFormularioPadre.get(claveDeControl)?.get('nombre')?.errors?.['required'] &&
          grupoFormularioPadre.get(claveDeControl)?.get('nombre')?.touched
  "
        >
          <span class="mensaje-error">Este campo es obligatorio.</span>
        </div>
        <div class="d-grid"
          *ngIf="grupoFormularioPadre.get(claveDeControl)?.get('nombre')?.errors?.['maxlength'] &&
          grupoFormularioPadre.get(claveDeControl)?.get('nombre')?.touched
  "
        >
          <span class="mensaje-error">Por favor, no escribas más de 150 caracteres</span>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-field">
            <label for="primerapellido" class="form-label">Primer apellido:</label>
            <input class="form-control" type="text" formControlName="primerapellido" id="primerapellido" (change)="setPrimerapellido($event)" [maxLength]="80" />
              <div class="d-grid"
          *ngIf="grupoFormularioPadre.get(claveDeControl)?.get('primerapellido')?.errors?.['maxlength'] &&
          grupoFormularioPadre.get(claveDeControl)?.get('primerapellido')?.touched
  "
        >
          <span class="mensaje-error">Por favor, no escribas más de 80 caracteres</span>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-field">
            <label for="segundoapellido" class="form-label">Segundo apellido:</label>
            <input class="form-control" type="text" formControlName="segundoapellido" id="segundoapellido" (change)="setSegundoapellido($event)"  [maxLength]="80" />
              <div class="d-grid"
          *ngIf="grupoFormularioPadre.get(claveDeControl)?.get('segundoapellido')?.errors?.['maxlength'] &&
          grupoFormularioPadre.get(claveDeControl)?.get('segundoapellido')?.touched
  "
        >
          <span class="mensaje-error">Por favor, no escribas más de 80 caracteres</span>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-field">
          <label for="mercancia" class="form-label">
            Cantidad de contenedores en que arriba la mercancía*:
            <span class="bi bi-question-circle-fill" title="Número de tolvas, furgones o contenedores en que arriba la mercancía" data-bs-toggle="tooltip"></span>
          </label>
          <input class="form-control" type="text" formControlName="mercancia" id="mercancia" (change)="setMercancia($event)" />
          <div class="d-grid"
            *ngIf="grupoFormularioPadre.get(claveDeControl)?.get('mercancia')?.errors?.['required'] &&
            grupoFormularioPadre.get(claveDeControl)?.get('mercancia')?.touched"
          >
            <span class="mensaje-error">Este campo es obligatorio.</span>
          </div>
          <div class="d-grid"
            *ngIf="grupoFormularioPadre.get(claveDeControl)?.get('mercancia')?.touched &&
            !grupoFormularioPadre.get(claveDeControl)?.get('mercancia')?.valid"
          >
            <span class="mensaje-error">Por favor, verifica la cantidad ingresada.</span>
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-field">
          <app-catalogo-select
          id="tipoContenedor"
          [catalogo]="tipoContenedor.catalogos"
          [label]="tipoContenedor.labelNombre"
          [placeholder]="tipoContenedor.primerOpcion"
          [required]="tipoContenedor.required"
          [isDisabled]="esFormularioSoloLectura"
          formControlName="tipocontenedor"
          (selectionChange)="setTipoContenedor($event)"
        ></app-catalogo-select>
        </div>
    </div>
  </fieldset>
