.require {
    color: #CE0923;
    font-weight: bold;
}

#descripcion {
    height: 0% !important;
}

.btn-align {
    margin-top: 30px !important;
    padding-bottom: 20px; 
    text-align: right;
}

.tab-content {
    padding-top: 25px;
}