<form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()">
  <!-- Campos ocultos -->
  <input type="hidden" formControlName="cveFolioCaat" />
  <input type="hidden" formControlName="rol" />

  <div>
    <ng-titulo [titulo]="titulo"></ng-titulo>

    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label class="control-label" for="tipoAgente">{{ tipoAgenteLabel }}*:</label>
          <app-catalogo-select [catalogo]="agentCatalog" formControlName="tipoAgente" [required]="true"
            name="tipoAgente" [isDisabled]="soloLectura" (change)="conTipoAgenteData('tipoAgente')" [placeholder]="'Selecciona tipo de agente'"></app-catalogo-select>
        </div>

        <div class="text-end mt-3">
          <button type="button" class="btn btn-danger" [disabled]="soloLectura" (click)="limpiarAgente()">
            Limpiar
          </button>
        </div>
      </div>
    </div>

    @if(rolesUsuario.includes('personaMoral')) {
    <div class="row">
      <div class="col col-md-12">
        <h3>Nombre del director general</h3>
        <hr class="red">
      </div>
    </div>
    <div class="row">
      <div class="col col-md-4 form-group">
        <div>
          <label class="control-label" for="nombreDirectorGeneral">Nombre(s)*:</label>
        </div>
        <div>
          <input type="text" formControlName="directorGeneralNombre" size="30" id="nombreDirectorGeneral"
            maxlength="200" class="form-control" (input)="actualizarDirectorGeneralNombre('directorGeneralNombre')" />
        </div>
        @if(solicitudForm.get('directorGeneralNombre')?.invalid && solicitudForm.get('directorGeneralNombre')?.touched)
        {
        <div class="text-danger small">Este campo es obligatorio.</div>
        }
      </div>
      <div class="col col-md-4 form-group">
        <div>
          <label class="control-label" for="apellidoPaternoDirectorGeneral">Primer apellido*:</label>
        </div>
        <div>
          <input type="text" formControlName="primerApellido" size="30" id="apellidoPaternoDirectorGeneral"
            maxlength="200" class="form-control" (input)="actualizarPrimerApellido('primerApellido')" />
        </div>
        @if(solicitudForm.get('primerApellido')?.invalid && solicitudForm.get('primerApellido')?.touched) {
        <div class="text-danger small">Este campo es obligatorio.</div>
        }
      </div>
      <div class="col col-md-4 form-group">
        <div>
          <label class="control-label" for="apellidoMaternoDirectorGeneral">Segundo apellido:</label>
        </div>
        <div>
          <input type="text" formControlName="segundoApellido" size="30" id="apellidoMaternoDirectorGeneral"
            maxlength="200" class="form-control" (input)="actualizarApellidoMaterno('segundoApellido')" />
        </div>
      </div>
    </div>
    }
  </div>
</form>