<div class="container">
    <form [formGroup]="seguridad">
        <div class="row mt-2">
            <div class="col-md-12 text-container">
                <p>
                    {{textos.paraca1}}
                </p>
                <p>
                    {{textos.paraca2}}</p>
            </div>
        </div>

        <!-- 7.1-Integridad-de-la-carga  -->
        <div class="row mt-4" label>
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento1}}</h4>
                <p>
                    {{textos.paraca3}}
                </p>
            </div>


            <div class="col-md-12 text-container">
                <textarea id="candadosSeguridad" class="custom-textarea" rows="6" cols="100" formControlName="candadosSeguridad" (change)="setValoresStore(seguridad,'candadosSeguridad', 'setCandadosSeguridad')"></textarea>
            </div>

            <div class="row mt-2 alert-text">
                <div class="col-md-12 text-container">
                    <p><span class="danger">*</span>Anexar el procedimiento documentado para la supervisión de colocación y revisión de sellos y/o candados en los medios de transporte que transportan mercancía de comercio exterior. Este debe incluir, entre otros aspectos de acuerdo a su operación:</p>
                </div>
            </div>

            <div class="col-md-12 text-container mt-4">
                <div class="mt-2 alert-text">
                    <ul>
                        <div class="centered-list-wrapper">
                            <ol type="a">
                                <li>El uso de sellos y/o candados que cumplan o excedan la Norma ISO 17712.</li>
                                <li>Si aplica, utilizar el método de inspección de VVTT.</li>
                                <ol type="1">
                                    <li>V-Ver el sello y mecanismos de las cerraduras del contenedor (View).</li>
                                    <li>V- Verificar el número de sello (Verify).</li>
                                    <li>T- Tirar del sello para asegurarse que está correctamente puesto (Tug).</li>
                                    <li>T-Torcer y girar el sello para asegurarse de que ha cerrado (Twist and Turn).
                                    </li>
                                </ol>
                                <li>Revisar y cotejar la documentación que contenga el número del sello o candado original para efectos de entradas o salidas de recintos fiscalizados. Revisar que los dispositivos de cierre, bisagras y pasadores estén unidos al remolque o contenedor y soldados o con remache. También, pueden colocar placas protectoras en las bisagras de las puertas y/o colocar un sello/cinta adhesiva sobre al menos de cada lado. También, se debe verificar el correcto funcionamiento de las manijas, cerrojos y todos los demás mecanismos de bloqueo o cierre de los vehículos de carga para detectar manipulaciones y cualquier inconsistencia antes de colocar cualquier dispositivo de sellado.
                                </li>
                                <li>Indicar cómo asignan y remplazan los candados de alta seguridad, en el caso de maniobras como reconocimiento previo, reemplazo, entre otros.</li>
                            </ol>
                        </div>
                    </ul>
                </div>
            </div>

            <div class="row mt-2 alert-text">
                <div class="col-md-12 text-container">
                    <p><span class="danger">*</span>En su caso, anexe el procedimiento documentado para el control y manejo de los sellos y/o candados, este debe incluir, entre otros aspectos de acuerdo a su operación:</p>
                </div>
            </div>

            <div class="col-md-12 text-container mt-4">
                <div class="mt-2">
                    <ul>
                        <div class="centered-list-wrapper">
                            <ol type="a">
                                <li>Qué tipo de sellos y/o candados utiliza en sus operaciones (comercio exterior, tránsito, almacenaje, etcétera).</li>
                                <li>{{textos.paraca7}}</li>
                                <li>{{textos.paraca8}}
                                </li>
                                <li>Cómo se atienden las discrepancias en los números de sellos y/o candados.</li>
                                <li>Indicar quién es el proveedor(es) y cómo comprueba que las especificaciones de los sellos y/o candados cumplan con la Norma ISO 17712 (anexar certificado expedido por la empresa certificadora encargada de verificar el cumplimiento de la ISO correspondiente).
                                </li>
                            </ol>
                        </div>
                    </ul>
                </div>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="enliste">
                    <span class="danger">*</span>Enliste de acuerdo a su análisis de riesgo y su proceso logístico, los medios de transporte que están sujetos a la colocación de sellos y/o candados de alta seguridad.
                </label>
                <textarea id="enliste" class="custom-textarea" rows="6" cols="100" formControlName="enliste" (change)="setValoresStore(seguridad,'enliste', 'setEnliste')" ></textarea>
                <span
                    *ngIf="seguridad.controls['enliste']?.errors?.['required'] && seguridad.controls['enliste']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>
            </div>
            <div class="col-md-12 text-container mt-4">
                <p>NOTA:</p>
                <p>Todos los procedimientos escritos deben difundirse y mantenerse a nivel operativo para que sean de fácil acceso para los empleados encargados de ejecutar las tareas arriba descritas, revisarse al menos una vez al año y actualizarse según sea necesario.</p>
            </div>
        </div>
        
        <!-- 7.2-Inspección-de-los-medios  -->
        <div class="row mt-4" label>
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento2}}</h4>
                <p>
                    Debe haber procedimientos establecidos para verificar la integridad física de la estructura de los medios de transporte, contenedor, carros de tren, remolques y/o semirremolques utilizados como Instrumentos de Tráfico Internacional, que entran o salen del recinto fiscalizado conforme a su naturaleza, incluso la confiabilidad de los mecanismos de cerradura en los mismos con la finalidad de identificar compartimientos naturales u ocultos. Las inspecciones de los medios de transporte o vehículos de carga, contenedores y remolques deben ser sistemáticas y efectuarse a la entrada y salida del recinto fiscalizado y en su caso, en el punto de carga de las mercancías; deberá llevarse un registro de estas inspecciones, en un área de acceso controlado y realizarse en un lugar monitoreado por los sistemas de alarma y de circuito cerrado de televisión y video vigilancia dicho sistema debe cubrir el proceso de inspección en su totalidad.
                </p>
                <p>El procedimiento documentado para su inspección debe incluir de manera enunciativa, más no limitativa, los siguientes puntos de revisión para auto transporte:</p>
            </div>

            <p>Medios de Transporte:</p>

            <div class="mt-4">
                <ul class="list-unstyled">
                    <div class="centered-list-wrapper">
                        <ol type="1">
                            <li>Defensa;</li>
                            <li>Llantas;</li>
                            <li>Piso (Tractor);</li>
                            <li>Tanques de combustible;</li>
                            <li>Interior de la cabina (dormitorio y compartimiento de herramientas);</li>
                            <li>Tanques de aire;</li>
                            <li>Chasis;</li>
                            <li>Área de la quinta rueda;</li>
                            <li>Ejes de transmisión;</li>
                            <li>Tubade escape;</li>
                            <li>Motor.</li>
                        </ol>
                    </div>
                </ul>
            </div>

            <p>Remolques, Carros de tren, Semirremolques y Contenedores</p>

            <div class="mt-4">
                <ul class="list-unstyled">
                    <div class="centered-list-wrapper">
                        <ol type="1">
                            <li>Puertas exteriores e interiores;</li>
                            <li>Paredes laterales (izquierda y derecha);</li>
                            <li>Techo interino y externo;</li>
                            <li>Pared frontal;</li>
                            <li>Piso interno;</li>
                            <li>Sistema de refrigeración.</li>
                        </ol>
                    </div>
                </ul>
            </div>

            <p>Para los medios de transporte con remolque o compartimiento de carga integrado, deberá adicionarse a los puntos de medios de transporte, lo indicado en el apartado de Remolques.</p>

            <p>{{textos.paraca9}}</p>

            <div class="row mt-2">
                <div class="col-md-12 text-container">
                    <p><span class="danger">*</span>{{textos.etiqueta}}</p>
                </div>
            </div>

            <div class="col-md-12 text-container mt-4">
                <div class="mt-2">
                    <ul class="list-unstyled">
                        <div class="centered-list-wrapper">
                            <ol type="a">
                                <li>Responsables de llevar a cabo la inspección.</li>
                                <li>Definición del lugar(es) donde se lleva a cabo la inspección e indicar cómo es el monitoreo por los sistemas de alarma y de circuito cerrado de televisión y video vigilancia.</li>
                                <li>Los puntos de revisión de seguridad para medios de transporte, remolques, semirremolques, contenedores, transportación ferroviaria y/o multimodal conforme a las disposiciones oficiales, tanto de seguridad como aquellas de calidad e inspecciones agrícolas con cuya finalidad es buscar plagas visibles.
                                </li>
                                <li>Formatos establecidos para la inspección de medios de transporte.
                                </li>
                            </ol>
                        </div>
                    </ul>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-12 text-container">
                    <p><span class="danger">*</span>{{textos.etiqueta2}}</p>
                </div>
            </div>

            <div class="col-md-12 text-container mt-4">
                <div class="mt-2">
                    <ul>
                        <div class="centered-list-wrapper">
                            <ol type="a">
                                <li>Fecha de inspección;</li>
                                <li>Hora de la inspección;</li>
                                <li>Placas del vehículo (tractor y remolque);</li>
                                <li>Número de contenedor/remolque;</li>
                                <li>Áreas específicas de los vehículos de carga que fueron inspeccionadas; y</li>
                                <li>Nombre y firma del empleado que realiza la inspección y del supervisor.</li>
                            </ol>
                        </div>
                    </ul>
                </div>
            </div>

            <div class="row mt-2 alert-text">
                <div class="col-md-12 text-container">
                    <p>{{textos.paraca10}}</p>
                </div>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="susceptibleContaminacion">
                    <span class="danger">*</span>{{textos.etiqueta3}}
                </label>
                <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                    class="gap" formControlName="susceptibleContaminacion" (change)="setValoresStore(seguridad,'susceptibleContaminacion', 'setSusceptibleContaminacion')"></app-input-radio>
            </div>
            
        </div>

        <!-- 7.3-Almacenaje-de-vehículos  -->
        <div class="row mt-4" label>
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento3}}</h4>
                <p>
                    {{textos.paraca11}}
                </p>
                <p> {{textos.paraca12}}</p>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="encuentrenVacios">
                    <span class="danger">*</span>Indique si la empresa almacena los contenedores, remolques y/o semirremolques para su posterior despacho, o en su caso los que se encuentren vacíos y de qué manera mantiene la integridad de los mismos dentro de sus instalaciones.
                </label>
                <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                    class="gap" formControlName="encuentrenVacios" (change)="setValoresStore(seguridad,'encuentrenVacios', 'setEncuentrenVacios')"></app-input-radio>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="utilizarCandado">
                    <span class="danger">*</span>En caso de utilizar candado y/o sellos, indique qué tipo utiliza.
                </label>
                <textarea id="utilizarCandado" class="custom-textarea" rows="6" cols="100" formControlName="utilizarCandado" (change)="setValoresStore(seguridad,'utilizarCandado', 'setUtilizarCandado')"></textarea>
                <span
                    *ngIf="seguridad.controls['utilizarCandado']?.errors?.['required'] && seguridad.controls['utilizarCandado']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="semirremolquesVacios">
                    <span class="danger">*</span>En caso de utilizar algún contenedor, remolques y/o semirremolques como almacén de materia prima y/o algún otro tipo de mercancías, señale como mantiene la integridad y seguridad de las mismas.
                </label>
                <textarea id="semirremolquesVacios" class="custom-textarea" rows="6" cols="100" formControlName="semirremolquesVacios" (change)="setValoresStore(seguridad,'semirremolquesVacios', 'setSemirremolquesVacios')"></textarea>
                <span
                    *ngIf="seguridad.controls['semirremolquesVacios']?.errors?.['required'] && seguridad.controls['semirremolquesVacios']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>
            </div>
        </div>
    </form>
</div>