.ngx-bordered-table {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}

.ngx-bordered-table .datatable-body-row,
.ngx-bordered-table .datatable-header {
  border: 1px solid #dee2e6;
}

.ngx-bordered-table .datatable-row-group {
  border: 1px solid #dee2e6;
}

// .ngx-datatable.bootstrap {
//   .datatable-header {
//     .datatable-header-cell {
//       font-weight: bolder !important;
//     }
//   }
// }

.datatable-header-cell {
  font-weight: bold !important;
}
