<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" for="idPedimento">Número de pedimento:</label>
      <input class="form-control" id="idPedimento" placeholder="" type="text" [formControl]="pedimentoForm"
        [ngClass]="isValid ? 'required' : ''" libSoloNumeros>
    </div>
  </div>
  <div class="col-md-4 d-flex align-items-end">
    <button type="button" class="btn btn-primary" (click)="agregaPedimento()">Agregar</button>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <table class="table table-respomsive">
      <thead>
        <tr>
          @for (item of hTabla; track $index) {
          <th>{{item}}</th>
          }
        </tr>
      </thead>
      <tbody>
        <tr>
          @for (item of pedimentos; let i = $index; track i) {
          <td>{{item.patente}}</td>
          <td>{{item.pedimento}}</td>
          <td>{{item.aduana}}</td>
          <td>{{item.descTipoPedimento}}</td>
          <td>{{item.numero}}</td>
          <td>{{item.comprobanteValor}}</td>
          <td>{{item.pedimentoValidado | booleanoSiNo}}</td>
          <td>
          <td>
            <button type="button" class="btn btn-link" title="Eliminar" (click)="eliminar(i)">
              <i class="bi bi-trash3 bi-c"></i>
            </button>
          </td>
          }
        </tr>

      </tbody>
    </table>
  </div>
</div>

<!-- Modal error -->
<div class="modal" [ngClass]="modal" id="modalError" #modalError tabindex="-1" aria-labelledby="modalErrorLabel"
  aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ tituloModal }}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p>{{ mensajeModal }}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="cerrarModal()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

