<div class="page">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h3>
          Permiso de importación de plaguicidas que serán importados
          temporalmente a efecto de someterlos a un proceso de transformación o
          elaboración para su exportación posterior o a una operación de maquila
          o submaquila, y que no serán comercializados ni utilizados en
          territorio nacional
        </h3>
      </div>

      <app-wizard [listaPasos]="pasos"></app-wizard>
    </div>

    <div class="row">
      @switch (indice) { @case (1) {
      <app-paso-uno></app-paso-uno>
      } @case (2) {
      <app-paso-dos></app-paso-dos>
      } @case (3) {
      <app-paso-tres></app-paso-tres>
      } }

      <btn-continuar
        [datos]="datosPasos"
        (continuarEvento)="getValorIndice($event)"
      ></btn-continuar>
      <app-aviso-de-privacidad *ngIf="indice === 1"></app-aviso-de-privacidad>
    </div>
  </div>
</div>
