// -----------------------------------------------------------------------------
// Estilos para el componente MenuUsuario
// Define la apariencia de la lista de opciones del menú de usuario.
// -----------------------------------------------------------------------------
.menu-usuario {
    .list-group-item {
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #f8f9fa;
        }
    }

      // Estilos para los iconos Bootstrap dentro del menú.
    .bi {
        font-size: 1rem;
    }
}