<form [formGroup]="mensajeriaGroup">

    @if(isLaSolicitante){
    <div class="row mt-5">
        <div class="col-md-12">
            <label><span class="danger">*</span>Señale quien opera el transporte de aeronaves:</label>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 space-between">
            La solicitante &nbsp;<input class="form-check-input" type="checkbox" id="laSolicitanteInterna"
                formControlName="laSolicitanteInterna"
                (change)="setValoresStore(mensajeriaGroup,'laSolicitanteInterna', 'setLaSolicitanteInterna')" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 space-between">
            Subsidiaria &nbsp;<input class="form-check-input" type="checkbox" id="subsidiaria"
                formControlName="subsidiaria"
                (change)="setValoresStore(mensajeriaGroup,'subsidiaria', 'setSubsidiaria')" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 space-between">
            Filiales &nbsp;<input class="form-check-input" type="checkbox" id="filiales" formControlName="filiales"
                (change)="setValoresStore(mensajeriaGroup,'filiales', 'setFiliales')" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 space-between">
            Matrices &nbsp;<input class="form-check-input" type="checkbox" id="matrices" formControlName="matrices"
                (change)="setValoresStore(mensajeriaGroup,'matrices', 'setMatrices')" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <label for="aeronauticaCivil"><span class="danger">*</span>Señale si cuenta con el registro de rutas aéreas
                o aerovías dentro del espacio aéreo nacional ante la Dirección General de Aeronáutica Civil de la
                SCT.</label>
            <app-input-radio [disabled]="esFormularioSoloLectura" [radioOptions]="opcionDeBotonDeRadio"
                [isRequired]="true" [layout]="'horizontal'" formControlName="aeronauticaCivil"
                (change)="setValoresStore(mensajeriaGroup,'aeronauticaCivil', 'setAeronauticaCivil')"></app-input-radio>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <label for="conformidadArticulos"><span class="danger">*</span>Señale si cuenta con la concesión o
                autorización para prestar los servicios de manejo, almacenaje y custodia de mercancías de comercio
                exterior de conformidad con los artículos 14 y 14-A de la ley.</label>
            <app-input-radio [disabled]="esFormularioSoloLectura" [radioOptions]="opcionDeBotonDeRadio"
                [isRequired]="true" [layout]="'horizontal'" formControlName="conformidadArticulos"
                (change)="setValoresStore(mensajeriaGroup,'conformidadArticulos', 'setConformidadArticulos')"></app-input-radio>
        </div>
    </div>
    }
    @if(isSusFiliales){
    <ng-titulo titulo="Sus filiales, subsidiarias o matrices nacionales o extranjeras"></ng-titulo>
    <div class="row">
        <div class="col-md-12">
            <label>Dueñas de unidades de transporte</label>
            <app-tabla-dinamica [disableSeleccionTablaCheckBox]="esFormularioSoloLectura"
                [configuracionTabla]="mercanciasTabla" [datos]="mercanciasTablaDatos"
                [tipoSeleccionTabla]="tablaSeleccionCheckbox"></app-tabla-dinamica>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-12 d-flex justify-content-end mt-3 mb-4">
            <button [disabled]="esFormularioSoloLectura" class="btn btn-primary me-2"
                (click)="openTablaModal()">Agregar</button>
            <button [disabled]="esFormularioSoloLectura" class="btn btn-primary me-2">Modificar</button>
            <button [disabled]="esFormularioSoloLectura" class="btn btn-default me-2">Eliminar</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <label for="documentosMercancias"><span class="danger">*</span>Indique si tiene celebrado un contrato de
                servicios, con una vigencia mínima de 5 años, la cual no deberá ser menor a un año a la fecha de su
                solicitud, celebrado de forma directa o a través de sus matrices, filiales o subsidiarias, con un
                concesionario o permisionario debidamente autorizado por la SCT, mediante el cual pongan a disposición
                para uso dedicado de las actividades de la empresa de mensajería o paquetería al menos 30 aeronaves y
                que provea frecuencias regulares a los aeropuertos donde dicha empresa realiza el despacho de los
                documentos o mercancías.</label>
            <app-input-radio [disabled]="esFormularioSoloLectura" [radioOptions]="opcionDeBotonDeRadio"
                [isRequired]="true" [layout]="'horizontal'" formControlName="documentosMercancias"
                (change)="setValoresStore(mensajeriaGroup,'documentosMercancias', 'setDocumentosMercancias')"></app-input-radio>
        </div>
    </div>
    }
    @if(isLasEmpresas){
    <ng-titulo titulo="Las empresas que forman parte del grupo a la que pertenece la solicitante"></ng-titulo>
    <div class="row">
        <div class="col-md-12">
            <label>Empresas del Grupo</label>
            <app-tabla-dinamica [disableSeleccionTablaCheckBox]="esFormularioSoloLectura"
                [configuracionTabla]="mercanciasTabla" [datos]="mercanciasTablaDatos"
                [tipoSeleccionTabla]="tablaSeleccionCheckbox"></app-tabla-dinamica>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-12 d-flex justify-content-end mt-3 mb-4">
            <button [disabled]="esFormularioSoloLectura" class="btn btn-primary me-2"
                (click)="openTablaDosModal()">Agregar</button>
            <button [disabled]="esFormularioSoloLectura" class="btn btn-primary me-2">Modificar</button>
            <button [disabled]="esFormularioSoloLectura" class="btn btn-default me-2">Eliminar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Empresas del Grupo con Aeronaves</label>
            <app-tabla-dinamica [disableSeleccionTablaCheckBox]="esFormularioSoloLectura"
                [configuracionTabla]="mercanciasTabla" [datos]="mercanciasTablaDatos"
                [tipoSeleccionTabla]="tablaSeleccionCheckbox"></app-tabla-dinamica>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-12 d-flex justify-content-end mt-3 mb-4">
            <button [disabled]="esFormularioSoloLectura" class="btn btn-primary me-2"
                (click)="openTablaDosModal()">Agregar</button>
            <button [disabled]="esFormularioSoloLectura" class="btn btn-primary me-2">Modificar</button>
            <button [disabled]="esFormularioSoloLectura" class="btn btn-default me-2">Eliminar</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <label for="generalAeronauticaCivil"><span class="danger">*</span>Indique si las empresas que forman parte
                del grupo, las cuales operen el transporte de las aeronaves, tienen autorizadas o registradas rutas
                aéreas o aerovías dentro del espacio aéreo nacional ante la Dirección General de Aeronáutica Civil de la
                SCT.</label>
            <app-input-radio [disabled]="esFormularioSoloLectura" [radioOptions]="opcionDeBotonDeRadio"
                [isRequired]="true" [layout]="'horizontal'" formControlName="generalAeronauticaCivil"
                (change)="setValoresStore(mensajeriaGroup,'generalAeronauticaCivil', 'setGeneralAeronauticaCivil')"></app-input-radio>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <label for="exteriorConformidad"><span class="danger">*</span>Indique si las empresas que forman parte del
                grupo, cuentan con la concesión o autorización para prestar los servicios de manejo, almacenaje y
                custodia de mercancías de comercio exterior de conformidad con los artículos 14 y 14-A de la Ley
                Aduanera.</label>
            <app-input-radio [disabled]="esFormularioSoloLectura" [radioOptions]="opcionDeBotonDeRadio"
                [isRequired]="true" [layout]="'horizontal'" formControlName="exteriorConformidad"
                (change)="setValoresStore(mensajeriaGroup,'exteriorConformidad', 'setExteriorConformidad')"></app-input-radio>
        </div>
    </div>
    }
    <div class="row mt-5">
        <div class="col-md-12">
            <label for="fechaDePresentacion"><span class="danger">*</span>Indique si cuenta con la manifestación de
                impacto ambiental.</label>
            <app-input-radio [disabled]="esFormularioSoloLectura" [radioOptions]="opcionDeBotonDeRadio"
                [isRequired]="true" [layout]="'horizontal'" formControlName="fechaDePresentacion"
                (change)="setValoresStore(mensajeriaGroup,'fechaDePresentacion', 'setFechaDePresentacion')"></app-input-radio>
            <label><span class="danger">*</span>Anexar documento emitido por la SEMARNAT sobre el impacto ambiental de
                acuerdo a la norma NMX-R-046-SCFI-2005</label>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <label for="mensajeriaPaqueteria"><span class="danger">*</span>Manifieste si cumple con los estándares
                mínimos en materia de seguridad establecidos en el formato denominado "Perfil de la empresa de
                Mensajería y Paquetería".</label>
            <app-input-radio [disabled]="esFormularioSoloLectura" [radioOptions]="opcionDeBotonDeRadio"
                [isRequired]="true" [layout]="'horizontal'" formControlName="mensajeriaPaqueteria"
                (change)="setValoresStore(mensajeriaGroup,'mensajeriaPaqueteria', 'setMensajeriaPaqueteria')"></app-input-radio>
        </div>
    </div>
    <ng-titulo titulo="Reconocimiento Mutuo"></ng-titulo>
    <div class="row">
        <div class="col-md-12">
            <label for="reconocimientoMutuo"><span class="danger">*</span>{{textos.etiqueta}}</label>
            <app-input-radio [disabled]="esFormularioSoloLectura" [radioOptions]="opcionReconocimiento"
                [isRequired]="true" [layout]="'horizontal'" formControlName="reconocimientoMutuo"
                (change)="setValoresStore(mensajeriaGroup,'reconocimientoMutuo', 'setReconocimientoMutuo')"></app-input-radio>
        </div>
    </div>
    <ng-titulo titulo="Listado de Socio Comercial Certificado"></ng-titulo>
    <div class="row">
        <div class="col-md-12">
            <label><span class="danger">*</span>Con la finalidad de crear cadenas de suministros más seguras, se
                establecerá un listado con las empresas que hayan obtenido la certificación como Socio Comercial, misma
                que se publicará en el Portal del SAT que incluirá los datos generales que la empresa autorice, así como
                el estatus de su certificación, mismas que podrán ser consultadas por las empresas que hayan obtenido su
                inscripción en el Registro de certificación de empresas.</label>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <label for="rfcListado">RFC</label>
            <app-input-radio [disabled]="esFormularioSoloLectura" [radioOptions]="opcionDeBotonDeRadio"
                [isRequired]="true" [layout]="'horizontal'" formControlName="rfcListado"
                (change)="setValoresStore(mensajeriaGroup,'rfcListado', 'setRfcListado')"></app-input-radio>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <label for="nombreRazonSocialListado">Nombre o Razón Social</label>
            <app-input-radio [disabled]="esFormularioSoloLectura" [radioOptions]="opcionDeBotonDeRadio"
                [isRequired]="true" [layout]="'horizontal'" formControlName="nombreRazonSocialListado"
                (change)="setValoresStore(mensajeriaGroup,'nombreRazonSocialListado', 'setNombreRazonSocialListado')"></app-input-radio>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <label for="direccionFiscalListado">Dirección Fiscal</label>
            <app-input-radio [disabled]="esFormularioSoloLectura" [radioOptions]="opcionDeBotonDeRadio"
                [isRequired]="true" [layout]="'horizontal'" formControlName="direccionFiscalListado"
                (change)="setValoresStore(mensajeriaGroup,'direccionFiscalListado', 'setDireccionFiscalListado')"></app-input-radio>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <label for="paginaElectronicaListado">Página Electrónica</label>
            <app-input-radio [disabled]="esFormularioSoloLectura" [radioOptions]="opcionDeBotonDeRadio"
                [isRequired]="true" [layout]="'horizontal'" formControlName="paginaElectronicaListado"
                (change)="setValoresStore(mensajeriaGroup,'paginaElectronicaListado', 'setPaginaElectronicaListado')"></app-input-radio>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <label for="correoElectronicaListado">Correo Electrónico de contacto</label>
            <app-input-radio [disabled]="esFormularioSoloLectura" [radioOptions]="opcionDeBotonDeRadio"
                [isRequired]="true" [layout]="'horizontal'" formControlName="correoElectronicaListado"
                (change)="setValoresStore(mensajeriaGroup,'correoElectronicaListado', 'setCorreoElectronicaListado')"></app-input-radio>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <label for="telefonoContactoListado">Teléfono de contacto</label>
            <app-input-radio [disabled]="esFormularioSoloLectura" [radioOptions]="opcionDeBotonDeRadio"
                [isRequired]="true" [layout]="'horizontal'" formControlName="telefonoContactoListado"
                (change)="setValoresStore(mensajeriaGroup,'telefonoContactoListado', 'setTelefonoContactoListado')"></app-input-radio>
        </div>
    </div>
    <ng-titulo titulo="Clasificación de la Información"></ng-titulo>
    <div class="row">
        <div class="col-md-12">
            <label for="informacionProporcionada">La información proporcionada, durante este trámite para el Registro de
                Certificación de Empresas es clasificada por la empresa como:</label>
            <app-input-radio [disabled]="esFormularioSoloLectura" [radioOptions]="opcionInformacionProporcionada"
                [isRequired]="true" [layout]="'horizontal'" formControlName="informacionProporcionada"
                (change)="setValoresStore(mensajeriaGroup,'informacionProporcionada', 'setInformacionProporcionada')"></app-input-radio>
        </div>
    </div>



</form>

<!--inicio html modal-->
<div class="modal fade" #tablaModal tabindex="-1" aria-labelledby="tablaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                Agregar Enlace Operativo
            </div>
            <div class="modal-body">
                <form [formGroup]="susFilialesForm">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="rfc"><span class="danger">*</span>RFC</label>
                                <input type="text" id="rfc" formControlName="rfc" class="form-control"
                                    (change)="setValoresStore(susFilialesForm,'rfc', 'setRfc')">
                                @if(susFilialesForm.controls['rfc'].invalid && susFilialesForm.controls['rfc'].touched){
                                <div class="d-grid">
                                    @if(susFilialesForm.controls['rfc'].errors?.['required']) {
                                    <span class="mensaje-error">Este campo es obligatorio</span>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-4 dis-flex-end">
                            <div class="form-group">
                                <button [disabled]="esFormularioSoloLectura"
                                    class="btn btn-primary me-2">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="rfcDos">RFC</label>
                                <input type="text" id="rfcDos" formControlName="rfcDos" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="denominacionRazonSocial">Denominación o razón social</label>
                                <input type="text" id="denominacionRazonSocial"
                                    formControlName="denominacionRazonSocial" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="domicilio">Domicilio</label>
                                <input type="text" id="domicilio" formControlName="domicilio" class="form-control">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button [disabled]="esFormularioSoloLectura" type="button" class="btn btn-primary"
                    (click)="closeTablaModal()">Aceptar</button>
                <button [disabled]="esFormularioSoloLectura" type="button" class="btn btn-primary"
                    (click)="closeTablaModal()">Limpiar</button>
                <button [disabled]="esFormularioSoloLectura" type="button" class="btn btn-primary"
                    (click)="closeTablaModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" #tablaDosModal tabindex="-1" aria-labelledby="tablaDosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                Agregar Enlace Operativo
            </div>
            <div class="modal-body">
                <form [formGroup]="lasEmpresasForm">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="rfc"><span class="danger">*</span>RFC</label>
                                <input type="text" id="rfcLasEmpresas" formControlName="rfcLasEmpresas"
                                    class="form-control"
                                    (change)="setValoresStore(lasEmpresasForm,'rfcLasEmpresas', 'setRfcLasEmpresas')">
                                @if(lasEmpresasForm.controls['rfcLasEmpresas'].invalid &&
                                lasEmpresasForm.controls['rfcLasEmpresas'].touched){
                                <div class="d-grid">
                                    @if(lasEmpresasForm.controls['rfcLasEmpresas'].errors?.['required']) {
                                    <span class="mensaje-error">Este campo es obligatorio</span>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-4 dis-flex-end">
                            <div class="form-group">
                                <button [disabled]="esFormularioSoloLectura"
                                    class="btn btn-primary me-2">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="denominacionRazonSocial">Denominación o razón social</label>
                                <input type="text" id="denominacionRazonSocial"
                                    formControlName="denominacionRazonSocial" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="domicilio">Domicilio</label>
                                <input type="text" id="domicilio" formControlName="domicilio" class="form-control">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button [disabled]="esFormularioSoloLectura" type="button" class="btn btn-primary"
                    (click)="closeTablaDosModal()">Aceptar</button>
                <button [disabled]="esFormularioSoloLectura" type="button" class="btn btn-primary"
                    (click)="closeTablaDosModal()">Limpiar</button>
                <button [disabled]="esFormularioSoloLectura" type="button" class="btn btn-primary"
                    (click)="closeTablaDosModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>