/* Centra el texto del mensaje de la modal RFC */
.rfc-modal-center .mensaje-error,
.rfc-modal-center .notificacion-mensaje,
.rfc-modal-center .modal-body {
  text-align: center !important;
  justify-content: center;
  align-items: center;
  display: flex;
}
.municipio-label {
  word-spacing: 0.2rem;
}
.margin-left-check{
  margin-left: 7rem;
}

.fw-300 {
  font-weight: 300 !important;
}

.ml-38{
  margin-left: 38px;
}

.custom-check-input {
    margin-top: 2px !important;
}
