.btn {
    margin: 2px !important;
}

.modal-body {
    form {
        ::ng-deep label {
            font-size: 1.6rem !important;
            padding-top: 0px !important;
            margin-top: 15px !important;
            margin-bottom: 0 !important;
        }
    }

    ::ng-deep hr.red {
        margin: 10px 0 45px !important;
    }
}

::ng-deep .mensaje-error {
    display: none !important;
}

::ng-deep .ng-invalid.ng-invalid.ng-invalid.ng-dirty.ng-dirty .form-label.form-label .require.require.require,
::ng-deep .ng-invalid.ng-invalid.ng-invalid.ng-touched.ng-touched .form-label.form-label .require.require.require {
    color: unset !important;
}

::ng-deep html body .modal-body .ng-invalid.ng-dirty .form-label .require,
::ng-deep html body .modal-body .ng-invalid.ng-touched .form-label .require,
::ng-deep html body form .ng-invalid.ng-dirty .form-label .require,
::ng-deep html body form .ng-invalid.ng-touched .form-label .require {
    color: unset !important;
}

::ng-deep .ng-invalid .form-label .require {
    animation: resetColor 0s forwards !important;
}

@keyframes resetColor {
    to {
        color: unset !important;
    }
}