<form [formGroup]="registroForm" (ngSubmit)="validarDestinatarioFormulario()">
  <ng-container formGroupName="validacionForm">
    <ng-titulo titulo="Datos del certificado" />
    <div class="row">
      <div class="col-md-4 mb-3">
        <label>Observaciones:</label>
        <div class="col-md-12 align-text-area">
          <textarea
            cols="80"
            rows="5"
            formControlName="observaciones" [disabled]="soloLectura"
            (change)="
              setValoresStore(
                validacionForm,
                'observaciones',
                'setObservaciones'
              )
            "
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <label>Presica*:</label>
        <div class="col-md-12 align-text-area">
          <textarea
            cols="80"
            rows="5"
            formControlName="presica" [disabled]="soloLectura"
            (change)="setValoresStore(validacionForm, 'presica', 'setPresica')"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <label>Presenta:</label>
        <div class="col-md-12 align-text-area">
          <textarea
            cols="80"
            rows="5"
            formControlName="presenta" [disabled]="soloLectura"
            (change)="
              setValoresStore(validacionForm, 'presenta', 'setPresenta')
            "
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <app-catalogo-select
          [catalogo]="optionsIdioma"
          [label]="'Idioma'"
          [required]="true"
          id="idioma"
          formControlName="idioma"
          [isDisabled]="soloLectura"
          (change)="setValoresStore(validacionForm, 'idioma', 'setIdioma')"
        ></app-catalogo-select>
      </div>
      <ng-container *ngIf="isJustificacion">
        <ng-titulo titulo="Justificación para obtención del certificado" />
        <div class="row">
          <label>¿Desea obtener el certificado de origen?:</label>
        </div>
        <div class="row">
          <label style="font-weight: bold">
            <input
              type="checkbox"
              formControlName="casillaVerificacion" [disabled]="soloLectura"
              (change)="
                setValoresStore(
                  validacionForm,
                  'casillaVerificacion',
                  'setCheckbox'
                )
              "
            />
            Sí
          </label>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label>Justificación*:</label>
            <div class="col-md-12 align-text-area">
              <textarea
                cols="80"
                rows="5"
                formControlName="justificacion" [disabled]="soloLectura"
                (change)="
                  setValoresStore(
                    validacionForm,
                    'justificacion',
                    'setJustificacion'
                  )
                "
              ></textarea>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-titulo titulo="Representación federal" />
      <div class="row">
        <div class="col-md-4">
          <app-catalogo-select
            [catalogo]="optionsEntidad"
            [label]="'Entidad federativa'"
            [required]="true"
            formControlName="entidad"
            [isDisabled]="soloLectura"
            (change)="setValoresStore(validacionForm, 'entidad', 'setEntidad')"
          ></app-catalogo-select>
        </div>
        <div class="col-md-4">
          <app-catalogo-select
            [catalogo]="optionsRepresentacion"
            [label]="'Representación federal'"
            [required]="true"
            id="representacion"
            formControlName="representacion"
            [isDisabled]="soloLectura"
            (change)="
              setValoresStore(
                validacionForm,
                'representacion',
                'setRepresentacion'
              )
            "
          ></app-catalogo-select>
        </div>
      </div>
    </div>
  </ng-container>
</form>
