.background-color {
    background-color: #e9ecef;
}

.inline-box {
    font-weight: normal;
    display: -webkit-inline-box
}

.manifestoText {
    display: block;
    text-align: initial;
    display: flex;
    margin-left: 10px;
}