<form [formGroup]="forma" *ngIf="esFormularioInicializado">
    <div class="row mt-5">
      <div class="col-md-12">
        <label class="form-label text-left">Señale el sector productivo o servicio al que pertenece:</label>
      </div>
        <div class="col-md-6">
            <div class="form-group">
                <app-catalogo-select [catalogo]="sectorProductivoList" [label]="'Sector Productivo'"
                    [placeholder]="'Seleccione un valor'" [required]="false" id="sector-productivo"
                    formControlName="sectorProductivo" (change)="
            setValoresStore(forma,'sectorProductivo'); manejarCamposMutuamenteExcluyentes('sectorProductivo', 'sectorServicio', $event); actualizarValidacionSector()"
            [isDisabled]="esFormularioSoloLectura"></app-catalogo-select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <app-catalogo-select [catalogo]="sectorServicio" [label]="'Servicio'"
                    [placeholder]="'Seleccione un valor'" [required]="false" id="sector-servicio"
                    formControlName="sectorServicio"
                    (change)="setValoresStore(forma, 'sectorServicio'); manejarCamposMutuamenteExcluyentes('sectorServicio', 'sectorProductivo', $event); actualizarValidacionSector()"
                    [isDisabled]="esFormularioSoloLectura"></app-catalogo-select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="text-danger mt-3" *ngIf="tieneSectorValidationError()">
                <b>Debe seleccionar un sector productivo o un servicio</b>
        </div>
        </div>
        <div class="col-md-12 pt-5">
            <ng-alert [CONTENIDO]="SECTOR_PRODUCTIVO"></ng-alert>
        </div>

    </div>



    <div class="row">
        <div class="col-md-12">
            <label class="form-label text-left"><span class="text-danger">*</span> Señale si al momento de ingresar su solicitud si se encuentra al corriente en el cumplimiento de sus obligaciones fiscales y aduaneras</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="cumplimientoFiscalAduanero" (valueChange)="onSeleccionfalsa($event)"
                (change)="setValoresStore(forma,'cumplimientoFiscalAduanero')"></app-input-radio>
            <div *ngIf="esInvalido('cumplimientoFiscalAduanero')" class="text-danger mt-3">
                <b *ngIf="forma.controls['cumplimientoFiscalAduanero'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pt-5">
            <label class="form-label text-left"><span class="text-danger">*</span> Indique si autorizó al S A T hacer pública su opinión positiva sobre el cumplimiento de obligaciones fiscales</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="autorizaOpinionSAT" (valueChange)="onSeleccionfalsa($event)"
                (change)="setValoresStore(forma,'autorizaOpinionSAT')"></app-input-radio>
            <div *ngIf="esInvalido('autorizaOpinionSAT')" class="text-danger mt-3">
                <b *ngIf="forma.controls['autorizaOpinionSAT'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pt-5">
            <label class="form-label text-left"><span class="text-danger">*</span> Señale si cuenta con empleados propios para realizar el proceso productivo o la prestación de servicios, registrado ante el IMSS</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="cuentaConEmpleadosPropios" (valueChange)="enCambioDeValor($event); onSeleccionfalsa($event, EMPLEADO_REQUISITO)"
                (change)="setValoresStore(forma,'cuentaConEmpleadosPropios')"></app-input-radio>
            <div *ngIf="esInvalido('cuentaConEmpleadosPropios')" class="text-danger mt-3">
                <b *ngIf="forma.controls['cuentaConEmpleadosPropios'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="radioSeleccionado">
        <div class="col-md-12 pt-5">
            <label class="form-label text-left">Cual es el número de empleados propios con los que contó en el último bimestre anterior a su solicitud</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label text-left">Número de empleados</label>
                <input class="form-control" 
                       id="numero-de-empleadas" 
                       type="text" 
                       name="numeroDeEmpleadas"
                       formControlName="numeroDeEmpleadas"                      
                       (change)="setValoresStore(forma, 'numeroDeEmpleadas')" />
                
                <div *ngIf="esInvalido('numeroDeEmpleadas')" class="text-danger mt-3">
                    <b *ngIf="forma.controls['numeroDeEmpleadas'].hasError('required')">
                        Se debe agregar los datos del número de empleados propios del último bimestre
                    </b>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <app-catalogo-select 
                    [catalogo]="bimestreList" 
                    [label]="'Bimestre'"
                    [placeholder]="'Seleccione un valor'" 
                    [required]="true" 
                    id="bimestre"
                    formControlName="bimestreUltimo" 
                    [isDisabled]="!this.radioSeleccionado || esFormularioSoloLectura"
                    (change)="setValoresStore(forma, 'bimestreUltimo')">
                </app-catalogo-select>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 pt-5">
            <label class="form-label text-left"><span class="text-danger">*</span> Cumple con la obligación de retener y enterar el I S R de los trabajadores</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="retencionISRTrabajadores" (valueChange)="onSeleccionfalsa($event)"
                (change)="setValoresStore(forma,'retencionISRTrabajadores')"></app-input-radio>
            <div *ngIf="esInvalido('retencionISRTrabajadores')" class="text-danger mt-3">
                <b *ngIf="forma.controls['retencionISRTrabajadores'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pt-5">
            <label class="form-label text-left"><span class="text-danger">*</span> Acredita realizar el pago de cuotas obrero patronales</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="pagoCuotasIMSS" (valueChange)="onSeleccionfalsa($event); manejarPagoCuotasIMSS($event)"
                (change)="setValoresStore(forma,'pagoCuotasIMSS')"></app-input-radio>
            <div *ngIf="esInvalido('pagoCuotasIMSS')" class="text-danger mt-3">
                <b *ngIf="forma.controls['pagoCuotasIMSS'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="mostrarRespuestaObligatoria">
        <div class="col-md-12 pt-5">
            <h5 class="m-0 text-danger mt-3">Respuesta Obligatoria</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pt-2 mb-5">
            <label class="form-label text-left"><span class="text-danger">*</span> Señale si al momento de ingresar su solicitud la empresa solicitante cuenta con subcontratación de servicios especializados o de ejecución de obras especializadas</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="cuentaConSubcontratacionEspecializada" (valueChange)="toggleTablaPorValor($event)"
                (change)="setValoresStore(forma,'cuentaConSubcontratacionEspecializada')"></app-input-radio>
            <div *ngIf="esInvalido('cuentaConSubcontratacionEspecializada')" class="text-danger mt-3">
                <b *ngIf="forma.controls['cuentaConSubcontratacionEspecializada'].hasError('required')">Debe agregar empleados propios ó subcontratados.</b>
            </div>
        </div>

        <ng-container *ngIf="esTablaVisible">
            <app-numero-empleados-bimestre [bimestreList]="bimestreList"></app-numero-empleados-bimestre>
        </ng-container>

    </div>


            <div class="row" *ngIf="esTablaVisible">
        <div class="col-md-12">
            <label class="form-label text-left"><span class="text-danger">*</span> En su caso, acredita cumplir con el registro y estar en el padrón a que se refiere el artículo 15 de la LFT.</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="registroPadronLFT" (valueChange)="onSeleccionfalsa($event)"
                (change)="setValoresStore(forma,'registroPadronLFT')"></app-input-radio>
            <div *ngIf="esInvalido('registroPadronLFT')" class="text-danger mt-3">
                <b *ngIf="forma.controls['registroPadronLFT'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pt-5">
            <label class="form-label text-left"><span class="text-danger">*</span> Señale si al momento de ingresar su solicitud se encuentra en el listado de empresas publicadas por el SAT en términos del articulo 69, con excepción de lo dispuesto en la fracción VI.</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="listadoSATArt69" (valueChange)="onSeleccionVerdadera($event)"
                (change)="setValoresStore(forma,'listadoSATArt69')"></app-input-radio>
            <div *ngIf="esInvalido('listadoSATArt69')" class="text-danger mt-3">
                <b *ngIf="forma.controls['listadoSATArt69'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pt-5">
            <label class="form-label text-left"><span class="text-danger">*</span> Del mismo modo indique si al momento de ingresar su solicitud se encuentra en el listado de empresas publicadas por el SAT en términos del artículo 69-B, cuarto párrafo del CFF.</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="listadoSATArt69B" (valueChange)="onSeleccionVerdadera($event)"
                (change)="setValoresStore(forma,'listadoSATArt69B')"></app-input-radio>
            <div *ngIf="esInvalido('listadoSATArt69B')" class="text-danger mt-3">
                <b *ngIf="forma.controls['listadoSATArt69B'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pt-5">
            <label class="form-label text-left"><span class="text-danger">*</span> Señale si se encuentra en el listado de empresas publicadas por el SAT en términos del artículo 69-B Bis noveno párrafo del CFF.</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="listadoSATArt69BBis" (valueChange)="onSeleccionVerdadera($event)"
                (change)="setValoresStore(forma,'listadoSATArt69BBis')"></app-input-radio>
            <div *ngIf="esInvalido('listadoSATArt69BBis')" class="text-danger mt-3">
                <b *ngIf="forma.controls['listadoSATArt69BBis'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pt-5">
            <label class="form-label text-left"><span class="text-danger">*</span> Señale si sus certificados de sellos digitales están vigentes.</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="certificadosSellosVigentes" (valueChange)="onSeleccionfalsa($event)"
                (change)="setValoresStore(forma,'certificadosSellosVigentes')"></app-input-radio>
            <div *ngIf="esInvalido('certificadosSellosVigentes')" class="text-danger mt-3">
                <b *ngIf="forma.controls['certificadosSellosVigentes'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pt-5">
            <label class="form-label text-left"><span class="text-danger">*</span> En caso afirmativo señale si se infringió alguno de los supuestos previstos en el artículo 17-H Bis del CFF, durante los últimos doce meses.</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="infringioSupuestos17HBis" (valueChange)="onSeleccionVerdadera($event)"
                (change)="setValoresStore(forma,'infringioSupuestos17HBis')"></app-input-radio>
            <div *ngIf="esInvalido('infringioSupuestos17HBis')" class="text-danger mt-3">
                <b *ngIf="forma.controls['infringioSupuestos17HBis'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 pt-5">
             <app-domicilios-rfc-solicitante #domiciliosRfcSolicitanteRef (reconocimientoMutuoCTPATChange)="onReconocimientoMutuoCTPATChanged($event)"></app-domicilios-rfc-solicitante>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pt-5">
            <label class="form-label text-left"><span class="text-danger">*</span> Señale si tiene actualizado sus medios de contacto para efectos del buzón tributario en términos del penúltimo párrafo del artículo 17-K del CFF.</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="mediosContactoActualizadosBuzon" (valueChange)="onSeleccionfalsa($event)"
                (change)="setValoresStore(forma,'mediosContactoActualizadosBuzon')"></app-input-radio>
            <div *ngIf="esInvalido('mediosContactoActualizadosBuzon')" class="text-danger mt-3">
                <b *ngIf="forma.controls['mediosContactoActualizadosBuzon'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ng-titulo [titulo]="'Querella'"></ng-titulo>
            <label for="" class="form-label text-left"><span class="text-danger">*</span> Señale si el SAT ha interpuesto querella o denuncia penal en contra de los socios, accionistas, según corresponda, representante legal, e integrantes de la administración de la empresa solicitante o declaratoria de perjuicio, según corresponda, durante los últimos tres años anteriores a la presentación de la solicitud de certificación.</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="querellaSATUltimos3Anios" (valueChange)="onSeleccionVerdadera($event)"
                (change)="setValoresStore(forma,'querellaSATUltimos3Anios')"></app-input-radio>
            <div *ngIf="esInvalido('querellaSATUltimos3Anios')" class="text-danger mt-3">
                <b *ngIf="forma.controls['querellaSATUltimos3Anios'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>


     <div class="row">
        <div class="col-md-12 pt-5">
            <label class="form-label text-left"><span class="text-danger">*</span> Señale si ingresa mensualmente su información contable a través del portal del SAT, de conformidad con el artículo 28, fracción IV, del CFF y las reglas 2.8.1.5. y la 2.8.1.6. de la RMF.</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="ingresoInfoContableSAT" (valueChange)="onSeleccionVerdadera($event)"
                (change)="setValoresStore(forma,'ingresoInfoContableSAT')"></app-input-radio>
            <div *ngIf="esInvalido('ingresoInfoContableSAT')" class="text-danger mt-3">
                <b *ngIf="forma.controls['ingresoInfoContableSAT'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-agregar-miembro-empresa #agregarMiembroEmpresaRef></app-agregar-miembro-empresa>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pt-5">
            <label class="form-label text-left"><span class="text-danger">*</span> Manifieste si sus socios o accionistas, según corresponda, representantes legales con facultad para actos de dominio e integrantes de la administración, no se encuentren vinculados con alguna empresa a la que se le hubiere cancelado su Registro en el Esquema de Certificación de Empresas, de conformidad con la regla 7.2.4., apartado A, fracciones V, VI y VII y apartado B, fracciones II, y III y V y/o de la regla 7.2.5., fracciones VI, VII y XI.</label>
            <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                formControlName="ingresoInfoContableSAT" (valueChange)="onSeleccionVerdadera($event)"
                (change)="setValoresStore(forma,'ingresoInfoContableSAT')"></app-input-radio>
            <div *ngIf="esInvalido('ingresoInfoContableSAT')" class="text-danger mt-3">
                <b *ngIf="forma.controls['ingresoInfoContableSAT'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pt-5">
            <div class="form-check bg-light p-0">
                <div class="alert alert-info py-6">
                <div class="row align-items-center mb-3">
                <div class="col-auto">
                    <input type="checkbox" formControlName="manifests"
                    [disabled]="esFormularioSoloLectura"
                    (change)="setValoresStore(forma, 'manifests')" required/>
                    <span class="fw-bold align-middle text-danger"> *</span>
                </div>
                <div class="col">
                    Una vez manifestado lo anterior, se solicita al SAT, a través de AGACE, que realice las inspecciones a que hace referencia la fracción IX de la regla 7.1.1, a las instalaciones señaladas en las que se realizan las operaciones de comercio exterior con el propósito de verificar la información plasmada en la presente solicitud del Registro en el Esquema Integral de Certificación.
                </div>
                </div>
            </div>
        </div>
            <div *ngIf="esInvalido('manifests')" class="text-danger mb-3">
                <b *ngIf="forma.controls['manifests'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-check bg-light p-0">
                <div class="alert alert-info py-6">
                <div class="row align-items-center mb-3">
                <div class="col-auto">
                    <input type="checkbox" formControlName="bajoProtesta"
                    [disabled]="esFormularioSoloLectura"
                    (change)="setValoresStore(forma, 'bajoProtesta')" required/>
                    <span class="fw-bold align-middle text-danger"> *</span>
                </div>
                <div class="col">
                    Bajo protesta de decir verdad, manifiesto que los datos asentados en el presente documento son ciertos y que las facultades que me fueron otorgadas para representar al solicitante no me han sido modificadas y/o revocadas.
                </div>
                </div>
            </div>
            <div *ngIf="esInvalido('bajoProtesta')" class="text-danger mt-3">
                <b *ngIf="forma.controls['bajoProtesta'].hasError('required')">Respuesta Obligatoria</b>
            </div>
        </div>
    </div>
    </div>
</form>

<lib-notificaciones 
  *ngIf="esHabilitarElDialogo"
  [notificacionInput]="nuevaNotificacion" 
  (confirmacionModal)="cerrarModal()">
</lib-notificaciones>