.espaciador-campo {
    padding-top: 5rem;
}
.text-danger {
    padding-top: 1rem;
}
.disabled-bg {
    background: #efefef;
}
.noevents {
    pointer-events: none;
}
.text-area-size {
    height: 20%;
}