.espaciador-campo {
    padding-top: 3rem;
}
.espaciador-campo-pequeño {
    padding-top: 1rem;
}
.text-danger {
    padding-top: 1rem;
}
.disabled-bg {
    background: #efefef;
}
.noevents {
    pointer-events: none;
}
.text-area-size {
    height: 20%;
}
.contenedor-error {
    min-height: 2.5rem;
    display: block;
}