:host {
    h1 {
        font-family: Patria;
        font-weight: bold;
        font-size: 32px;
        line-height: 30.11px;
        letter-spacing: 0%;
        color: #404041;
        margin-bottom: 40px;
    }

    // #region acordion
    .acuses-y-resoluciones-folio-tramite {
        background-color: #ffffff !important;
        border: 0 !important;
        font-family: Roboto;

    }

    .acuses-y-resoluciones-folio-tramite {
        border-right: 0;
        border-left: 0;
        border-radius: 0;
    }

    .acuses-y-resoluciones-folio-tramite:first-child {
        border-top: 0;
    }

    .acuses-y-resoluciones-folio-tramite:last-child {
        border-bottom: 0;
    }

    // #region form
    .form-label {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0%;
        color: #212529;
    }

    .form-control {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0%;
        color: #212529;
    }

    .btn {
        margin-top: 40px;
        margin-bottom: 40px;
        font-family: Montserrat;
        width: 200px;
        height: 48px;
        gap: 10px;
        border-radius: 4px;
        border-width: 1px;
        float: right;
    }

    .boton-buscar {
        background: #591932;
        border: 1px solid #591932;
        color: #ffffff;
        border-color: #591932;
    }
}