.modal-dialog {
  width: auto;
  max-width: 95vw;
  margin: auto;
}
.modal-content {
  padding: 2rem;
  overflow: auto;
  max-height: 90vh;
}
.modal-body {
  padding: 1rem 1.5rem;
  overflow-y: auto;
  max-height: 65vh;
}
.modal-footer {
  padding: 1rem 1.5rem;
}

.textarea-auto-height {
  min-height: 150px;
  max-height: 300px;
}

.has-error {
  color: #dc3545;
}
