<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-10">
                <h1>Solicitud de prórroga de inspección física acuícola</h1>
            </div>
            <app-wizard [listaPasos]="pasos"></app-wizard>
        </div>
        <div class="row">
            @switch (indice) {
            @case (1) {
            <app-paso-uno></app-paso-uno>
            }
            @case (2) {
            <app-paso-dos></app-paso-dos>
            }
            @case (3) {
            <app-paso-tres></app-paso-tres>
            }
            }
            <btn-continuar [datos]="datosPasos" (continuarEvento)="getValorIndice($event)"></btn-continuar>
        </div>
    </div>
</div>
