<div class="container mt-4 mb-4">
  <ng-titulo titulo="Información de la mercancía" />
  <form *ngIf="informacionDeLaform" [formGroup]="informacionDeLaform">
    <div class="row">
      <div class="col-md-4">
        <app-catalogo-select
          [catalogo]="fraccionArancelariaOptions"
          formControlName="fraccionArancelaria"
          [label]="'Fracción arancelaria'"
          [isDisabled]="esFormularioSoloLectura"
          [required]="true"
          name="fraccionArancelaria"
          (change)="
            valorSeleccionadoFraccion();
            setValoresStore(
              informacionDeLaform,
              'fraccionArancelaria',
              'setFraccionArancelaria'
            )
          "
        ></app-catalogo-select>
      </div>

      <div class="col-md-8">
          <label for="descripcionFraccion" class="form-label">Descripción:</label>
          <textarea
            id="descripcionFraccion"
            class="form-control"
            formControlName="descripcionFraccion"
            (change)="
              setValoresStore(
                informacionDeLaform,
                'descripcionFraccion',
                'setDescripcionFraccion'
              )
            "
          ></textarea>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-4">
        <app-catalogo-select
          [catalogo]="nicoOptions"
          formControlName="nico"
          [isDisabled]="esFormularioSoloLectura"
          [label]="'Nico'"
          [required]="true"
          name="nico"
          (change)="
            valorSeleccionadoNico();
            setValoresStore(informacionDeLaform, 'nico', 'setNico')
          "
        ></app-catalogo-select>
      </div>

      <div class="col-md-8">
          <label for="descripcionNico" class="form-label">Descripción:</label>
          <textarea
            id="descripcionNico"
            class="form-control"
            formControlName="descripcionNico"
            (change)="
              setValoresStore(
                informacionDeLaform,
                'descripcionNico',
                'setDescripcionNico'
              )
            "
          ></textarea>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-4">
        <label for="nombreQuimico" class="form-label">Nombre químico*:</label>
        <textarea
          id="nombreQuimico"
          class="form-control"
          formControlName="nombreQuimico"
          maxlength="256"
          [ngClass]="{ 'required': esInvalido('nombreQuimico') }"
          (change)="
            setValoresStore(
              informacionDeLaform,
              'nombreQuimico',
              'setNombreQuimico'
            )
          "
        ></textarea>
        @if (informacionDeLaform.get('nombreQuimico')?.hasError('required') && informacionDeLaform.get('nombreQuimico')?.touched) {
          <div class="mensaje-error">Este campo es obligatorio.</div>
        }
      </div>

      <div class="col-md-8">
        <label for="nombreComercial" class="form-label"
          >Nombre comercial*:</label
        >
        <textarea
          id="nombreComercial"
          class="form-control"
          formControlName="nombreComercial"
          maxlength="256"
          [ngClass]="{ 'required': esInvalido('nombreComercial') }"
          (change)="
            setValoresStore(
              informacionDeLaform,
              'nombreComercial',
              'setNombreComercial'
            )
          "
        ></textarea>
        @if (informacionDeLaform.get('nombreComercial')?.hasError('required') && informacionDeLaform.get('nombreComercial')?.touched) {
          <div class="mensaje-error">Este campo es obligatorio.</div>
        }
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-8">
        <label for="numeroCAS" class="form-label"
          >Número de Chemical Abstracts Substance (CAS)*:</label
        >
        <textarea
          id="numeroCAS"
          class="form-control"
          formControlName="numeroCAS"
          maxlength="120"
          [ngClass]="{ 'required': esInvalido('numeroCAS') }"
          (change)="
            setValoresStore(informacionDeLaform, 'numeroCAS', 'setNumeroCAS')
          "
        ></textarea>
        @if (informacionDeLaform.get('numeroCAS')?.hasError('required') && informacionDeLaform.get('numeroCAS')?.touched) {
          <div class="mensaje-error">Este campo es obligatorio.</div>
        }
      </div>

      <div class="col-md-4">
        <app-catalogo-select
          [catalogo]="estadoFisicoOptions"
          formControlName="estadoFisico"
          [isDisabled]="esFormularioSoloLectura"
          [label]="'Estado Fisico'"
          [required]="true"
          name="estadoFisico"
          (change)="
            setValoresStore(
              informacionDeLaform,
              'estadoFisico',
              'setEstadoFisico'
            )
          "
        ></app-catalogo-select>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <label for="acondicionamiento" class="form-label text-start"
          >Indique el acondicionamiento con el que se presenta la mercancía al
          momento del despacho aduanero (sacos, totes, pipas, carro tanque, iso
          tanque, etc)*:</label
        >
        <textarea
          id="acondicionamiento"
          class="form-control"
          style="height: 50%; resize: none"
          formControlName="acondicionamiento"
          [ngClass]="{ 'required': esInvalido('acondicionamiento') }"
          (change)="
            setValoresStore(
              informacionDeLaform,
              'acondicionamiento',
              'setAcondicionamiento'
            )
          "
        ></textarea>
        @if (informacionDeLaform.get('acondicionamiento')?.hasError('required') && informacionDeLaform.get('acondicionamiento')?.touched) {
          <div class="mensaje-error">Este campo es obligatorio.</div>
        }
      </div>
    </div>
  </form>
</div>
