  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs" [class.hide]="mostrarBusqueda">
        <ul class="nav nav-tabs">
          <li
            *ngFor="let tab of seccionesDeLaSolicitud"
            [ngClass]="indice === tab.index ? 'active' : ''"
          >
            <a
              data-toggle="tab"
              tabindex="{{ tab.index }}"
              (click)="seleccionaPestana(tab.index)"
              (keydown.enter)="seleccionaPestana(tab.index)"
              >{{ tab.title }}</a
            >
          </li>
        </ul>
      </ul>
      <ng-container>
        @switch (indice) { @case (1) {
        <solicitante></solicitante>
        } @case (2) {
           @if(esDatosRespuesta){
         
        <app-cancelacion-de-solicitud [class.hide]="mostrarBusqueda" #CancelacionDeSolicitudComponent></app-cancelacion-de-solicitud>
         } } }
      </ng-container>
    </div>
  </div>