.table-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-header h3 {
  margin: 0 !important;
  font-size: 18px;
  text-align: left;
}

.toggle-btn {
  background-color: #0e4279;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.body-panel {
  transition: 0.2s linear;
  overflow: hidden;
}

.close {
  height: 0;
}

.open {
  height: auto;
}
