<div class="page">
    <div class="container">
        <div class="row">
            <ng-titulo titulo="Personas para oír y recibir notificaciones" />
        </div>
        <div class="row">
            <p class="fw-bold">Personas para oír y recibir notificaciones</p>
        </div>
        <div class="row mt-5">
            <app-tabla-dinamica
              [tipoSeleccionTabla]="tipoSeleccionTabla"
              [configuracionTabla]="tableHeaderTereceros"
              [datos]="tablaTereceros"
              [disableSeleccionTablaCheckBox]="consultaState.readonly"
            >
            </app-tabla-dinamica>
          </div>
    </div>
</div>