<div class="container">
  <ng-titulo titulo="Tipo de servicio extraordinario" />

  <form [formGroup]="FormSolicitud">
    <div class="row">
      <div class="col-md-4">
        <app-catalogo-select [catalogo]="tiposSolicitud" formControlName="tipoSolicitud" [label]="'Tipo solicitud'"
          [required]="true" name="tipoSolicitud" (change)="tipoSolicitudSeleccion()"></app-catalogo-select>
      </div>
    </div>

    @if(tipoSolicitudSeleccionada) {
    <ng-titulo titulo="Datos del importador/exportador" />
    <div formGroupName="datosImportadorExportador">
      @if (isApoderado && masDeUnaPatente) {
      <!-- Sección Apoderado elegir patente -->
      <div class="row">
        <div class="col-md-12">
          <h6>
            Debes seleccionar una patente para la solicitud del servicio
            extraordinario
          </h6>
        </div>
        @for (patente of patentes; track $index ) {
        <div class="col-md-4">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="apoderadoPatente" [value]="patente"
              id="apoderadoPatente_{{ $index + 1 }}" formControlName="apoderadoPatente" (change)="patenteApoderado()" />
            <label class="form-check-label" for="apoderadoPatente_{{ $index + 1 }}">{{
              patente
              }}</label>
          </div>
        </div>
        }
      </div>

      <!-- Sección RFC y Nombre  -->
      <div class="row">
        <div class="col-md-4">
          <label for="empresaApoderado" id="RFCempresa">RFC</label>
          <span class="require">*</span>
          <select id="empresaApoderado" formControlName="empresaApoderado" class="form-control">
            <option value="-1" selected>Seleccione una opción</option>
            <!-- Add options as needed -->
          </select>
        </div>

        @if (isApoderado && masDeUnaEmpresa) {
        <div class="col-md-4">
          <label for="empresasApoderado" id="RFCEmpresas">RFC</label>
          <span class="require">*</span>
          <select formControlName="empresasApoderado" id="empresasApoderado" class="form-control">
            <option value="-1" selected>Seleccione una opción</option>
          </select>
          <span id="errorEmpresasApoderado" name="errorEmpresasApoderado" class="text-danger"></span>
        </div>

        }
      </div>

      } @else {
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="rfcImportExport">RFC*:</label>
            <input class="form-control" id="rfcImportExport" placeholder="RFC" type="text"
              formControlName="rfcImportExport" [ngClass]="
                  isValid(datosImportadorExportador, 'rfcImportExport')
                    ? 'required'
                    : ''
                " libUppercase (blur)="busqueda_rfc()" />
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <label class="form-label" for="nombreImportExport">Nombre:</label>
            <input class="form-control" id="nombreImportExport" formControlName="nombreImportExport"
              placeholder="Nombre" type="text" appUppercase />
          </div>
        </div>
      </div>
      }

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="desNumeroRegistro">Número de registro o programa:</label>
            <input class="form-control" id="desNumeroRegistro" placeholder="" type="text"
              formControlName="desNumeroRegistro" [ngClass]="
                isValid(datosImportadorExportador, 'desNumeroRegistro')
                  ? 'required'
                  : ''
              " (change)="
                setValoresStore(
                  datosImportadorExportador,
                  'desNumeroRegistro',
                  'setdesNumeroRegistro'
                )
              " />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <div class="form-check-custome">
              <label class="form-label" for="programa">Programa de fomento:</label>
              <input class="form-check-input check-ms" type="checkbox" id="programa" formControlName="programa"
                (change)="checkPrograma()" />
            </div>
            <input class="form-control" id="desProgramaFomento" placeholder="" type="text"
              formControlName="desProgramaFomento" (change)="
                setValoresStore(
                  datosImportadorExportador,
                  'desProgramaFomento',
                  'setDesProgramaFomento'
                )
              " />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <div class="form-check-custome">
              <label class="form-check-label" for="checkIMMEX">Immex (Número/aaaa):</label>
              <input class="form-check-input check-ms" type="checkbox" id="checkIMMEX" formControlName="checkIMMEX"
                (change)="checkImmex()" />

            </div>
            <input class="form-control" id="desImmex" placeholder="" type="text" formControlName="desImmex" (change)="
                setValoresStore(
                  datosImportadorExportador,
                  'desImmex',
                  'setDesImmex'
                )
              " />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <div class="form-check-custome">
              <label class="form-label" for="industriaAutomotriz">Industria Automotriz:</label>
              <input class="form-check-input check-ms" type="checkbox" id="industriaAutomotriz"
                formControlName="industriaAutomotriz" (change)="checkAutomotriz()" />
            </div>
            <input class="form-control" id="desIndustrialAutomotriz" placeholder="" type="text"
              formControlName="desIndustrialAutomotriz" (change)="
                setValoresStore(
                  datosImportadorExportador,
                  'desIndustrialAutomotriz',
                  'setDesIndustriaAutomotriz'
                )
              " />
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <label for="tipoEmpresa">Tipo de empresa certificada</label>
        </div>

        <div class="col-md-6">
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tipoEmpresaCertificada" value="a" id="certificacionA"
                formControlName="tipoEmpresaCertificada" (change)="
                  setValoresStore(
                    datosImportadorExportador,
                    'tipoEmpresaCertificada',
                    'setTipoEmpresaCertificada'
                  )
                " />
              <label class="form-check-label" for="certificacionA">I.V.A e I.E.P.S Certificación A:</label>
            </div>
          </div>
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tipoEmpresaCertificada" value="aa" id="certificacionAA"
                formControlName="tipoEmpresaCertificada" (change)="
                  setValoresStore(
                    datosImportadorExportador,
                    'tipoEmpresaCertificada',
                    'setTipoEmpresaCertificada'
                  )
                " />
              <label class="form-check-label" for="certificacionAA">I.V.A e I.E.P.S Certificación AA:</label>
            </div>
          </div>
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tipoEmpresaCertificada" value="aaa"
                id="certificacionAAA" formControlName="tipoEmpresaCertificada" (change)="
                  setValoresStore(
                    datosImportadorExportador,
                    'tipoEmpresaCertificada',
                    'setTipoEmpresaCertificada'
                  )
                " />
              <label class="form-check-label" for="certificacionAAA">I.V.A e I.E.P.S Certificación AAA:</label>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="socioComercial"
                formControlName="socioComercial" (change)="checkIdSocioComercial()" />
              <label class="form-check-label" for="socioComercial">Socio comercial</label>
            </div>
          </div>

          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="certificacionOEA"
                formControlName="certificacionOEA" (change)="
                  setValoresStore(
                    datosImportadorExportador,
                    'certificacionOEA',
                    'setCertificacionOEA'
                  )
                " />
              <label class="form-check-label" for="certificacionOEA">Operador económico autorizado</label>
            </div>
          </div>

          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="revision" formControlName="revision"
                (change)="
                  setValoresStore(
                    datosImportadorExportador,
                    'revision',
                    'setRevision'
                  )
                " />
              <label class="form-check-label" for="revision">Revisión en origen</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="idSocioComercial">ID Socio comercial @if(isRequired()) {*}:
            </label>
            <input class="form-control" id="idSocioComercial" placeholder="" type="text"
              formControlName="idSocioComercial" [ngClass]="
                isValid(datosImportadorExportador, 'idSocioComercial')
                  ? 'required'
                  : ''
              " (change)="
                setValoresStore(
                  datosImportadorExportador,
                  'idSocioComercial',
                  'setIdSocioComercial'
                )
              " />
            @if(isValid(datosImportadorExportador,'idSocioComercial')) {
            <div class="mensaje-error">Campo requerido</div>
            }
          </div>
        </div>
      </div>
    </div>

    <ng-titulo titulo="Datos del servicio" />
    <div formGroupName="datosServicio">
      <div class="row">
        <div class="col-md-4">
          <label for="fechaInicio" class="form-label">Fecha inicio*:</label>
          <input class="form-control" type="date" name="fechaInicio" id="fechaInicio" formControlName="fechaInicio"
            [ngClass]="isValid(datosServicio, 'fechaInicio') ? 'required' : ''" (change)="
              setValoresStore(datosServicio, 'fechaInicio', 'setFechaInicio')
            " />

          @if (isValid(datosServicio,'fechaInicio')) {
          <div class="mensaje-error">Fecha no válida</div>
          }
        </div>

        <div class="col-md-4">
          <input-hora formControlName="horaInicio" [label]="'Hora inicio'" [required]="true" [inputId]="'horaInicio'"
            (change)="
              setValoresStore(datosServicio, 'horaInicio', 'setHoraInicio')
            "></input-hora>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label for="fechaFinal" class="form-label">Fecha final*:</label>
          <input class="form-control" type="date" name="fechaFinal" id="fechaFinal" formControlName="fechaFinal"
            [ngClass]="isValid(datosServicio, 'fechaFinal') ? 'required' : ''" [min]="diaMinimo"
            (change)="changeFechaFinal()" />

          @if (isValid(datosServicio,'fechaFinal')) {
          <div class="mensaje-error">Fecha no válida</div>
          } @if (intervaloFechaError()) {
          <div class="mensaje-error">Intervalo de fecha no válido</div>
          } @if (fechaInicioPasadaFechaFinalError()) {
          <div class="mensaje-error">
            La fecha de incio no debe ser despues que la fecha final
          </div>
          }
        </div>

        <div class="col-md-4">
          <input-hora formControlName="horaFinal" [label]="'Hora Final'" [required]="true" [inputId]="'horaFinal'"
            (change)="changeHoraFinal()"></input-hora>
          @if (intervaloFechaError()) {
          <div class="mensaje-error">Intervalo de fecha no válido</div>
          } @if (fechaInicioPasadaFechaFinalError()) {
          <div class="mensaje-error">
            La fecha de incio no debe ser despues que la fecha final
          </div>
          }
        </div>
      </div>

      <div class="row mt-5" *ngIf="mostrarRangoFechas">
        <div class="col-md-12">
          <div class="panel-group ficha-collapse" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading" (click)="mostrar_colapsable()">
                <h4 class="panel-title">
                  <a>
                    Especifique los días que se utilizarán dentro del periodo*:
                  </a>
                </h4>
                <button type="button" class="collpase-button collapsed" title="Colapsable"></button>
              </div>
              @if(colapsable){
              <div class="panel-collapse collapse in" id="panel-01">
                <div class="panel-body">
                  <crosslist [fechas]="selectRangoDias"></crosslist>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-titulo titulo="Datos del despacho para el servicio extraordinario" />
    <div formGroupName="despachoSeleccion">
      <div class="row">
        <div class="col-md-4">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="lda" (change)="showConfirmDialogLDA_DD('lda')"
              formControlName="lda">
            <label class="form-check-label" for="lda">Despacho LDA:</label>
          </div>

        </div>
        <div class="col-md-4">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="dd" (change)="showConfirmDialogLDA_DD('dd')"
              formControlName="dd">
            <label class="form-check-label" for="dd">Despacho DD:</label>
          </div>

        </div>
      </div>

      <div class="row" *ngIf="tipoDespacho">
        <div class="col-md-4">
          <div class="form-group">
            <label for="tipo" class="form-label">{{this.labelTipoDespacho}}*:</label>
            <input type="text" [id]="idNameAutorizacion" class="form-control" [formControlName]="idNameAutorizacion"
              placeholder="" (change)="setValoresStore(mercancia, idNameAutorizacion, 'setAutorizacionDDEX')" [ngClass]="
            isValid(despachoSeleccion, idNameAutorizacion)
              ? 'required'
              : ''
          " />
          </div>
        </div>
      </div>

    </div>

    <div formGroupName="despacho">
      <div class="row">
        <div class="col-md-4">
          <app-catalogo-select [catalogo]="aduanas" formControlName="idAduanaDespacho" [label]="'Aduana'" [required]="true"
            (change)="setValoresStore(despacho, 'idAduanaDespacho', 'setIdAduanaDespacho')"></app-catalogo-select>
        </div>
        <div class="col-md-4">
          <app-catalogo-select [catalogo]="seccionAduanera" formControlName="idSeccionDespacho"
            [label]="'Sección aduanera'" [required]="false" [isDisabled]="desactivarSelectSeccionAduanera"
            (change)="changeSeccionAduanera()"></app-catalogo-select>
        </div>
        @if (!tipoDespacho) {
        <div class="col-md-4">
          <app-catalogo-select [catalogo]="recintoCatalogo" formControlName="nombreRecinto"
            [label]="'Nombre del recinto'" [required]="false" [isDisabled]="desactivarSelectRecinto"
            (change)="changeRecinto()"></app-catalogo-select>
        </div>
        } @else {
        <div class="col-md-4">
          <app-catalogo-select [catalogo]="selectCatalogoDespacho" formControlName="nombreRecinto"
            [label]="'Tipo despacho'" [required]="false" [isDisabled]="activarCatalogoDespacho"></app-catalogo-select>
        </div>

        }

      </div>

      <div class="row">
        <div class="col-md-4">
          <app-catalogo-select [catalogo]="tipoOperacion" formControlName="tipoOperacion" [label]="'Tipo de operacion'"
            [required]="true" (change)="
              setValoresStore(despacho, 'tipoOperacion', 'setTipoOperacion')
            "></app-catalogo-select>
        </div>
        <div class="col-md-4">
          <label for="patente" class="form-label">Patente/Número de autorización:</label>
          <input class="form-control" type="text" name="patente" id="patente" formControlName="patente" />
        </div>
        <div class="col-md-4">
          <div class="form-check">
            <div>
              <label class="form-label" for="relacionSociedad">Relación de sociedad:
              </label>
              <input class="form-check-input ms-3" type="checkbox" value="" id="relacionSociedad" />
            </div>
            <div>
              <label class="form-label" for="encargoConferido">Encargo conferido:</label>
              <input class="form-check-input ms-3" type="checkbox" value="" id="encargoConferido" />
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="tipoDespacho">
        <div class="col-md-8">
          <div class="form-group">
            <label class="form-label" for="domicilioDespacho">Indica el domicilio*:</label>
            <textarea class="form-control h-25" id="exampleFormControlTextarea1" rows="3"
              formControlName="domicilioDespacho" id="domicilioDespacho" placeholder="" title="Domicilio"></textarea>
          </div>
        </div>
      </div>
    </div>

    @if (individual()) {
    <ng-titulo titulo="Datos del pedimento" />

    <c-pedimento [validacion]="validacionPedimento" [datosNroPedimento]="datosPedimentoComponente"
      (validaCampos)="validaCampoPedimento()"></c-pedimento>
    }

    <ng-titulo titulo="Mercancía" />
    <div formGroupName="mercancia">
      <div class="row">
        <div class="col-md-4">
          <app-select-paises [catalogosPaises]="paisesOrigen" formControlName="paisOrigen" [label]="'País de origen'"
            [required]="true" (change)="setValoresStore(mercancia, 'paisOrigen', 'setPaisOrigen')"></app-select-paises>
        </div>

        <div class="col-md-4">
          <app-select-paises [catalogosPaises]="paisesProcedencia" formControlName="paisProcedencia"
            [label]="'País de procedencia'" [required]="true" (change)="
              setValoresStore(
                mercancia,
                'paisProcedencia',
                'setPaisProcedencia'
              )
            "></app-select-paises>
        </div>

        <div class="col-md-8">
          <div class="form-group">
            <label for="descripcionGenerica" class="form-label">Descripción genérica*:</label>
            <textarea class="form-control" rows="3" id="descripcionGenerica" formControlName="descripcionGenerica" (change)="
                setValoresStore(mercancia, 'descripcionGenerica', 'setDescripcionGenerica')
              "></textarea>
          </div>
        </div>

        <div class="col-md-8">
          <div class="form-group">
            <label for="justificacion" class="form-label">Justificación*:</label>
            <textarea class="form-control" rows="3" id="justificacion" formControlName="justificacion" (change)="
                setValoresStore(mercancia, 'justificacion', 'setJustificacion')
              "></textarea>
          </div>
        </div>
      </div>
    </div>

    @if (individual()) {
    <ng-titulo titulo="Datos del vehículo de como se presentará al despacho" />

    <div formGroupName="transporte">
      <div class="row">
        <div class="col-md-4">
          <app-catalogo-select [catalogo]="tipoVehiculo" formControlName="tipoTransporte" [label]="'Tipo de transporte'"
            [required]="true" (change)="
              setValoresStore(transporte, 'tipoTransporte', 'setTipoTransporte')
            "></app-catalogo-select>
        </div>
      </div>
      @if (transporte.get('tipoTransporte')?.value) {
      <div class="row">
        <lib-agregar-transporte [tipo]="transporte.get('tipoTransporte')?.value"></lib-agregar-transporte>
      </div>
      }
    </div>


    }

    <ng-titulo titulo="Personas responsables del despacho (máximo 5)" />
    <agrega-personas />

    <ng-titulo titulo="Pagos" />
    <div formGroupName="pagoCaptura">
      <div class="row rf">
        <div class="col-md-4 form-group">
          <label class="form-label" for="montoPagar">Monto a pagar:</label>
          <input class="form-control" id="montoPagar" placeholder="" type="text" formControlName="montoAPagar" (change)="
              setValoresStore(pagoCaptura, 'montoAPagar', 'setMontoPagar')
            " />
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 form-group">
          <label class="form-label" for="lineaCaptura">Línea de captura*:</label>
          <input class="form-control" id="lineaCaptura" placeholder="" type="text" formControlName="lineaCaptura"
            (change)="
              setValoresStore(pagoCaptura, 'lineaCaptura', 'setLineaCaptura')
            " />
        </div>
        <div class="col-md-4 form-group">
          <label class="form-label" for="monto">Monto*:</label>
          <input class="form-control" id="monto" placeholder="" type="text" formControlName="monto"
            (change)="setValoresStore(pagoCaptura, 'monto', 'setMonto')" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <div class="btn-group">
            <button class="btn btn-primary me-2" type="button">
              Consultar
            </button>
            <button class="btn btn-danger" type="button">Eliminar</button>
          </div>
        </div>
      </div>

      <div class="row">
        <p class="p-bold">
          A través del siguiente vinculo puedes ingresar a la página para
          generar la línea de captura de la constancia que se solicita:
        </p>
        <p>Generar línea de captura</p>
      </div>
    </div>
    }
  </form>
</div>

<!-- Modal error -->
<div class="modal fade modal" #modalAviso tabindex="-1" aria-labelledby="modalAviso"
aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ tituloModal }}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p>{{ mensajeModal }}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="cerrarModal('aviso', true)">
          Sí
        </button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-default" #closeModal>
          No
        </button>
      </div>
    </div>
  </div>
</div>