<div>
    <div class="form">
      <div class="row">
        <div class="col-md-12">
          <h3 class="titulo-dictamen">Generar Dictamen</h3>
        </div>
        <div class="d-flex gap-3 justify-content-center">
          <div class="border px-4 py-2 d-flex align-items-center radio-button">
              <input class="form-check-input me-3 seleccion-radio" type="radio" name="cumplimiento"
                  value="a" id="sentidoDictamenAceptado">
              <label class="control-label" for="sentidoDictamen">Aceptado</label>
          </div>
          <div class="border px-4 py-2 d-flex align-items-center radio-button">
              <input class="form-check-input me-3 seleccion-radio" type="radio" name="cumplimiento"
                  value="aa" id="sentidoDictamenRechazado">
              <label class="control-label" for="sentidoDictamen">Rechazado</label>
          </div>
      </div>
    </div>
    <div>
        <div class="col-md-12">
            <label for="justificacionDictamen" class="form-label">Sentido dictamen / Justificación del dictamen</label><span class="text-danger">*</span>
            <textarea id="justificacionDictamen" class="form-control text-height" placeholder="" ></textarea>
            </div>
    </div>
    </div>
</div>