.radio-button {
    border-radius: 4px;
    }
    
    .seleccion-radio{
        background-color: #9F803C;
        border-color: #9F803C;
    }

    .titulo-dictamen{
        color: #9F803C;
        font-family: 'Georgia', serif;
    }

    .text-height{
        height: 100px;
    }