<div class="container">
    <ng-titulo titulo="Agregar miembros de la empresa" />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th>Tipo de persona</th>
                  <th>Nombre</th>
                  <th>R.F.C.</th>
                  <th>En su carácter de</th>
                  <th>Nacionalidad</th>
                  <th>Obligado a tributar en México</th>
                  <th>Nombre de la empresa</th>
                </tr>
              </thead>
        
              <tbody>
                @for (item of miembros; track $index) {    
                  <tr>
                    <td>{{item.tipoPersona}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.rfc}}</td>
                    <td>{{item.caracter}}</td>
                    <td>{{item.nacionalidad}}</td>
                    <td>{{item.tributar}}</td>
                    <td>{{item.nombreEmpresa}}</td>
                  </tr>

                }
              </tbody>
        
            </table>
            
          </div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 d-flex align-items-rigth">
            <div class="btn-group">
              <button class="btn btn-default" type="button" >Modificar</button>
              <button class="btn btn-default" type="button" >Eliminar</button>
              <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#modalMiembros" (click)="abrirModal()">
                Agregar
              </button>
              
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="modalMiembros" tabindex="-1" aria-labelledby="modalMiembrostLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar</h4>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="formMiembros">
          <div class="form-group">
            <label for="tipoPersona">Tipo de persona</label>
            <input type="text" id="tipoPersona" formControlName="tipoPersona" class="form-control"> 
          </div>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" formControlName="nombre" class="form-control">
          </div>
          <div class="form-group">
            <label for="rfc">R.F.C.</label>
            <input type="text" id="rfc" formControlName="rfc" class="form-control">
          </div>
          <div class="form-group">
            <label for="caracter">En su carácter de</label>
            <input type="text" id="caracter" formControlName="caracter" class="form-control">
          </div>
          <div class="form-group">
            <label for="nacionalidad">Nacionalidad</label>
            <input type="text" id="nacionalidad" formControlName="nacionalidad" class="form-control">
          </div>
          <div class="form-group">
            <label for="tributar">Obligado a tributar en México</label>
            <input type="text" id="tributar" formControlName="tributar" class="form-control"> 
          </div>
          <div class="form-group">
            <label for="nombreEmpresa">Nombre de la empresa</label>
            <input type="text" id="nombreEmpresa" formControlName="nombreEmpresa" class="form-control"> 
          </div>
        </form>
      </div>
      <div class="modal-footer custom-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal" #closeModal>Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="agregarMiembro()">Agregar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->