<div class="container">
  <form [formGroup]="tecnicaForm">
    <ng-titulo titulo="Concluir trámite"></ng-titulo>
    <div class="row">
    <div class="col-md-4">
        <app-catalogo-select [catalogo]="contenedores.catalogos" [label]="contenedores.labelNombre" [placeholder]="contenedores.primerOpcion" [required]="true" formControlName="contenedores" (change)="setValoresStore(tecnicaForm,'contenedores', 'setContenedores')" [isDisabled]="soloLectura"></app-catalogo-select>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <app-catalogo-select [catalogo]="aduana.catalogos" [label]="aduana.labelNombre" [placeholder]="aduana.primerOpcion" [required]="true" formControlName="aduana" (change)="setValoresStore(tecnicaForm,'aduana', 'setAduana')" [isDisabled]="soloLectura"></app-catalogo-select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-label">Observaciones:</label>
          <textarea class="form-control no-resize" maxlength="400" rows="3" formControlName="observaciones"
            (change)="setValoresStore(tecnicaForm,'observaciones', 'setObservaciones')"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>