.obra-de-arte-table {
    ::ng-deep ng-table{
      th:not(:first-child), td:not(:first-child) {
        min-width: 158px;
        text-align: center;
        vertical-align: middle;
      }
    }
  }

.content-with-checkbox {
    display: flex;
    text-align: justify;
    gap: 5px;
    padding-left: 15px;
    flex-direction: row;
    align-items: center;
  }

  .checkbox-spacing{
    display: flex;
    align-items: center;
    margin-right: 45px;
  }