<form [formGroup]="seguridadDeProcesosForm">
  <div class="page">
    <div class="container">
      <div class="col-md-12">
        <label class="form-label text-start fs-4">
          Deben establecerse medidas de control para garantizar la integridad y
          seguridad de la mercancía, los procesos relacionados con el transporte
          (en cualquiera de sus modalidades), la recepción, control, manejo,
          almacenaje, custodia y entrega de carros de ferrocarril con mercancía
          de comercio exterior, para garantizar la seguridad de la cadena de
          suministros. Estas medidas de control y procedimientos deben
          documentarse y asegurarse de mantener la integridad de los embarques
          de importación y exportación desde el punto de origen hasta su destino
          final. Asimismo, deben existir procedimientos establecidos para
          impedir, detectar o disuadir que materiales no declarados o personal
          no autorizado tengan acceso a los equipos tractivos y de arrastre
          (furgones, góndolas, tolvas, carros tanque, chasises, remolques,
          plataformas que no tienen tracción propia que circulan en las vías
          férreas y que utilizan para transportar mercancía en su interior y en
          contenedores). Estas medidas de control y procedimientos deben
          documentarse con la intención y el objetivo de mantener en todo
          momento la integridad del medio de transporte y los embarques de
          importación y exportación desde el punto de origen hasta su destino
          final.
        </label>
      </div>
      <!-- 5.1 Mapeo de procesos. -->
      <div class="col-md-12">
        <ng-titulo titulo="5.1 Mapeo de procesos." />
      </div>
      <div class="col-md-12">
        <label class="form-label text-start fs-4">
          Se debe contar con un mapeo de procesos que describa paso a paso el
          flujo operativo para el traslado de carros de ferrocarril con
          mercancías de comercio exterior a lo largo de la cadena de suministro
          que incluya de forma enunciativa mas no limitativa lo siguiente:
          solicitud del cliente, asignación de la tripulación, en su caso el
          ingreso a las instalaciones del cliente, proveedor o vendedor
          (espuela) que describa la entrega y retiro de los carros de
          ferrocarril, el traslado hacia las terminales, el proceso de
          clasificación de los carros, rutas, escapes o laderos. Asimismo, el
          transportista ferroviario deberá contar con procedimientos por escrito
          para la designación de la tripulación (Maquinistas de Camino,
          Conductor de Trenes, Garrotero de camino, Maquinista de patio,
          Mayordomo, Garrotero de patio, Inspector de vía), despachadores de
          trenes, rutas previamente diseñadas, recolección o entrega de carros
          de ferrocarril cargados e intercambio de carros de ferrocarril con
          mercancía de comercio exterior al ferrocarril conectante; manejo de
          documentación propia del carro de ferrocarril; comunicación durante el
          trayecto de ruta del tren entre los puntos intermedios o finales, su
          relación con otros actores de la cadena de suministros tales como
          agentes aduanales, operadores logísticos, clientes contratantes, entre
          otros.
        </label>
      </div>
      <div class="col-md-12 mt-3">
        <div class="alert alert-info">
          <div class="form-check">
            <ol type="a">
              <li>
                Anexar el procedimiento documentado donde describa
                detalladamente el flujo operativo de su servicio general de
                transporte y el tipo de servicio que prestan, que incluya la
                designación de la tripulación, vehículos rodantes/unidades
                rutas, recolección y entrega de carros de ferrocarril cargados,
                el manejo de documentación, la comunicación durante la operación
                con demás actores de la cadena de suministros incluyendo a sus
                contratantes. Este proceso deberá incluir por lo menos lo
                siguiente:
              </li>
              <li>Solicitud de servicio.</li>
              <li>Asignación de equipo tractivo (locomotoras).</li>
              <li>Asignación de tripulación.</li>
              <li>Confirmación de servicio a la tripulación.</li>
              <li>Instrucciones a la tripulación.</li>
              <li>
                Recolección carros de ferrocarril cargados:
                <ol type="1">
                  <li>Identificación ante la empresa.</li>
                  <li>Cartas de Instrucciones para entrega.</li>
                </ol>
              </li>
              <li>Sello del contenedor (si aplica).</li>
              <li>
                Traslado al patio de clasificación de carros de ferrocarril.
              </li>
              <li>Creación de órdenes de trabajo y clasificación de trenes.</li>
              <li>Confirmación de lo clasificado.</li>
              <li>
                Asignación de tripulación para salida de terminal o patio de
                clasificación.
              </li>
              <li>Documentación generada para el servicio de traslado</li>
              <li>
                Traslado de carros de ferrocarril cargados al puerto, frontera,
                aduana de salida.
              </li>
              <li>
                Indicaciones para coordinarse con otros proveedores de servicios
                que intervienen en el despacho aduanero y cruce fronterizo
                (Agentes Aduanales).
                <ol type="1">
                  <li>Documentación que se requiera presentar en la aduana.</li>
                  <li>Equipo de protección personal.</li>
                </ol>
              </li>
              <li>
                Lineamiento de carga y descarga de mercancía en la Aduana y/o
                con el cliente.
              </li>
              <li>
                Medio de comunicación constante con la empresa concesionaria de
                transporte ferroviario.
              </li>
              <li>Traslado a destino final.</li>
              <li>Flujo de información asociado con el embarque.</li>
              <li>
                Proceso de gestión administrativa (proceso general de envío de
                información documental, y cobranza).
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <div class="alert alert-info">
          <div class="form-check">
            <p>
              Para efectos del proceso de gestión administrativa y cobranza, la
              empresa concesionaria de transporte ferroviario debe contar con un
              procedimiento documentado para recibir y registrar la solicitud
              del servicio que va a requerir el usuario, debiendo contener, por
              lo menos lo siguiente*:
            </p>
            <ol type="a">
              <li>
                Solicitud de Servicio, que incluya de forma enunciativa más no
                limitativa al menos la siguiente información:
                <ol type="1">
                  <li>Origen (recolección).</li>
                  <li>Destino.</li>
                  <li>
                    Especificaciones de la carga (doméstica, internacional,
                    peligrosa, de alto valor, etcétera).
                  </li>
                  <li>Hora y fecha de entrega.</li>
                  <li>Costo por operación de carro de ferrocarril.</li>
                  <li>Seguro por carro cargado de ferrocarril.</li>
                </ol>
              </li>
              <li>Designación de tripulación.</li>
              <li>Preparación y entrega de documentación.</li>
              <li>
                Indicaciones para coordinarse con otros proveedores de servicios
                que intervienen en el despacho aduanero y cruce fronterizo
                (autoridades, agentes aduanales, DOT,
                consolidadores/des-consolidadores, entre otros).
              </li>
              <li>Documentación que se requiera presentar en aduana.</li>
              <li>
                Armado y desarmado de trenes, así como enganche y desenganche de
                carros de ferrocarril en los patíos o terminales en las vías de
                clasificación en la aduana y/o con el cliente (terminales
                trasvase, terminales automotrices, etcétera).
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
