<ng-titulo titulo="Datos generales del solicitante" />
<div class="info-box">
    <ul>Para seleccionar un tratado y criterio,siga los siguientes pasos:
        <li>Primero seleccione un pais o bloque</li>
        <li>Despues seleccione un tratado o acuerdo</li>
        <li>Seleccione el criterio para conferir origen</li>
        <li>Finalmente agregue su seleccion a la lista de tratados</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-8" *ngFor="let config of dropdownConfigs">
        <select-catalogos [catalogosDatos]="config" (valorSeleccion)="seleccionar()"></select-catalogos>
    </div>
</div>

<!-- <button class="btn btn-primary float-end">Agregar tratado</button> -->

<div class="col-12 d-flex justify-content-end mt-3">
    <button class="btn btn-primary">Agregar tratado</button>
  </div>

<ng-table [commonTableHeader]="commonTableHeaders" [commonTableBody]="mercanciasData"></ng-table>


