.fixed-width-button {
    width: 220px;
}

.pagination {
  display: table;
  margin: 0 auto;
}

:host ::ng-deep textarea {
  height: 95px;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: scroll;
  border: 1px solid #dee2e6;
  max-width: 1152px;
  border-radius: 0.25rem;
}

table td {
  word-wrap: break-word;
}

table {
  margin-bottom: 0;
  table-layout: fixed;
}

.modal-content {
  width: fit-content;
  margin-top: 50%
}

.model-div {
  background-color: black;
  height: 55px
}

.show {
  background: #0000006b;

}
