.disabled {
    background-color: var(--bs-secondary-bg);
    opacity: 1;
    pointer-events: none;
}

select {
    -webkit-appearance: listbox !important;
}

.page-number {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(158, 153, 153);
    background-color: #EEEEEE;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
}

.page-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 15px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
}

.cargarbtn {
    width: 100%;
    margin-bottom: 20px;
}

.tipo-busqueda-radio {
    margin-bottom: 30px;

    .radio {
        label {
            font-weight: 300;
            display: flex;
            align-items: center;
            margin-bottom: 0;
        }

        input {
            width: 13px;
            height: 13px;
            margin-right: 15px;
            margin-top: 0px;
        }
    }
}

.page-link {
    font-size: 16px;
    padding: 3px 5px;
    width: 35px;
    background: #EEEEEE;
    color: #888888;
}
