.btn-group {
    width: auto;  /* Ensure button does not stretch */
  }
  .form-check-input-container {
    display: block;
    margin-top: 5px; /* Adds some space between the label and checkbox */
  }
  /* Optional: Add fade-in effect */
.modal.fade.show {
    display: block;
    opacity: 1;
    transition: opacity 0.5s;
  }
  
  