::ng-deep table th{
  text-align: center;
}
.header {
  display: flex;        /* Use flexbox to layout the child elements */
  justify-content: space-between; /* Space between elements */
  align-items: center;  /* Vertically center the items */
}

.header span:first-child {
  text-align: left;      /* Align the first span to the left */
  flex-grow: 1;          /* Allow the first span to take up remaining space */
}
.container {
  border: 1px solid #ccc;
  padding: 10px;
}  

.plus-icon {
  font-size: 20px;
  cursor: pointer;
}  
.content {
  margin-top: 10px;
}
