.align-item-center {
  align-items: center;
}

.modal-height {
  max-height: 70vh;
  height: 100%;
  overflow-y: auto;
}

.overflow-auto {
  overflow: auto;
}

.text-area-garantias {
  height: 200px;
  width: 500px;
}

.modal-datos-generales {
  max-width: 90vw;
}

.text-area-uso {
  height: 50%;
  resize: none;
}
.tiene-error{
    color:#d0021b;
}
.custom-footer{
  display: flex;
  justify-content: end;
  align-items: end;
  align-content: end;
}

.required{
  border-color: #d0021b ;
}



