<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li [ngClass]="indice === 1 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(1)" (keydown.enter)="seleccionaTab(1)"
          (keydown.space)="seleccionaTab(1)" role="button" tabindex="1">Solicitante</a>
      </li>
      <li [ngClass]="indice === 2 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(2)" (keydown.enter)="seleccionaTab(2)"
          (keydown.space)="seleccionaTab(2)" role="button" tabindex="2">Registro de donación</a>
      </li>
    </ul>

    <ng-container>
      @switch (indice) {
      @case (1) {
      <div class="row mt-5">
        <div class="col-md-12">
          <div class="alert alert-warning" style="color:black;">
            Deberá verificar que todos los datos se encuentren actualizados, en caso de encontrar alguna inconsistencia
            deberá acudir
            con el área correspondiente a realizar la actualización.
          </div>
        </div>
      </div>
      <solicitante [tabindex]="1" #solicitante></solicitante>
      }
      @case (2) {
      @if(esDatosRespuesta) {
      <app-registro-de-donacion [tabindex]="2"></app-registro-de-donacion>
      }
      }
      }
    </ng-container>
  </div>
</div>