.gris-color {
    background-color: rgb(227, 226, 226);
  }

  .disabled-input-fecha {
    background-color: rgb(227, 226, 226) !important;
    pointer-events: none;
    opacity: 1;
  }
  
  ::ng-deep .disabled-input-fecha{
    background-color: rgb(227, 226, 226) !important;
    pointer-events: none;
    opacity: 1;
  }

.label-spacing{
  display: block; 
  margin-bottom: 2em;
}

.alert {
  margin-bottom: 0px;
}