/* 
 * @class .is-invalid
 * @description Estilo aplicado a los elementos inválidos, mostrando un borde rojo para indicar error.
 */

 .is-invalid {
  border: 1px solid red !important;
  border-radius: 4px;
}

/* 
* @class .custom-modal-size
* @description Estilo personalizado para ajustar el tamaño del modal, aumentando el ancho máximo y configurando un ancho automático.
*/

.custom-modal-size {
  max-width: 120% !important; 
  width: auto !important; 
}

/* 
 * @class .validation-message
 * @description Estilo para los mensajes de validación, con un tamaño de fuente grande y un margen superior.
 */
.validation-message {
  font-size: 1.5rem !important;
  margin-top: 0.25rem;
  line-height: 1.2;
}

/* 
 * @class .validation-message-small
 * @description Estilo para los mensajes de validación pequeños, con un tamaño de fuente reducido y un margen superior.
 */
.validation-message-small {
  font-size: 0.7rem !important;
  margin-top: 0.25rem;
  line-height: 1.2;
}
/* 
 * @class .form-group
 * @description Estilo para los grupos de formulario, con un margen inferior y un tamaño de fuente grande.
 */
.form-group .validation-message {
  margin-bottom: 0.5rem;
}