.content-with-checkbox {
    display: flex;
    text-align: justify;
    gap: 5px;
    padding-left: 15px;
    flex-direction: row;
    align-items: center;
  }

  .checkbox-spacing{
    display: flex;
    align-items: center;
    margin-right: 45px;
  }
  .tiene-error{
    color:#d0021b;
}
