.form-control {
    height: 35px;
    font-size: 15px;
    font-weight: 500
}

.form-label {
    font-size: 15px;
}

@media (min-width: 320px) and (max-width: 370px) {
    .form-label {
        text-align: unset !important;

    }
}