<div class="container">

  <div class="row table-responsive">
    <div class="col-md-12">
      <h5>Baja de choferes:</h5>

      <app-tabla-dinamica 
        [tipoSeleccionTabla]="tipoSeleccionTabla" 
        [configuracionTabla]="ConfiguracionColumna"
        [datos]="datosDelChoferNacional" 
        (listaDeFilaSeleccionada)="onChofereNationalSelected($event)"
      ></app-tabla-dinamica>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12 text-end">
      <div class="btn-group">
        <button class="btn btn-default" type="button" 
          (click)="deleteSelectedRow()" [disabled]="isReadonly">
          Eliminar
        </button>
        <button 
          class="btn btn-primary ms-2" 
          (click)="addNewRow(agregarModalDialog)" [disabled]="isReadonly">
          Buscar
        </button>
      </div>
    </div>
    <ng-template #datosDeChoferesModal>
      <div id="datosDeChoferesModal">
        <app-choferes-datos 
          [datosDeChofere]="datosChofere" 
          #datosDeChoferesModal 
          [readonly]="isReadonly"
          (addModalEvent)="addModal($event)" 
          (cancelEvent)="cancelModal()"
        ></app-choferes-datos>

      </div>
    </ng-template>
  </div>

