<div class="container">
    <form>
        <div class="row mt-2">
            <div class="col-md-12 text-container">
                <p>La empresa de mensajería y paquetería debe contar con mecanismos establecidos y procesos documentados
                    para impedir, detectar o disuadir la entrada de personal no autorizado a las instalaciones. Todas
                    las áreas sensibles de la empresa, deben tener barreras físicas, elementos de control y disuasión
                    contra el acceso no autorizado.</p>
            </div>
        </div>

        <!-- 2.1-Instalaciones-recipiente  -->
        <div class="row mt-3">
            <div class="col-md-12 text-container">
                <h4 class="para-title">2.1 Instalaciones.</h4>
                <p>
                    Las instalaciones deben estar construidas con materiales que puedan resistir accesos no autorizados.
                    Se deben realizar inspecciones periódicas documentadas para mantener la integridad de las
                    estructuras y en el caso de haberse detectado una irregularidad, efectuar la reparación
                    correspondiente y lo antes posible por parte del personal designado para estas tareas. Asimismo, se
                    deben tener identificados plenamente los límites territoriales, así como los diversos accesos, rutas
                    internas y la ubicación de los edificios.
                </p>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique los materiales predominantes con los que se encuentra
                    construida la instalación (por
                    ejemplo: de estructura de metal y paredes de lámina, paredes de ladrillo, concreto, malla ciclónica,
                    entre otros).
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>De qué forma se lleva a cabo la revisión y mantenimiento de la
                    integridad de las estructuras.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique el personal o área responsable para realizar las tareas de
                    inspección, mantenimiento y reparación de daños de las instalaciones.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label class="alert-text">
                    <span class="danger">*</span>Anexe un Plano de distribución o arquitectónico de conjunto, donde se
                    puedan identificar los límites, rutas de acceso y la ubicación de los edificios.
                </label>
            </div>
        </div>

        <!-- 2.2-Accesos-en-puertas-recipiente  -->
        <div class="row mt-4"label>
            <div class="col-md-12 text-container">
                <h4 class="para-title">2.2 Accesos en puertas y casetas</h4>
                <p>
                    Las puertas de entrada o salida de personal y/o vehículos deben ser atendidas, controladas,
                    vigiladas y/o supervisadas. La cantidad de puertas de acceso debe mantenerse al mínimo necesario. El
                    acceso a las áreas sensibles debe estar restringido según la descripción del trabajo o las tareas
                    asignadas.
                </p>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique cuantas puertas y/o accesos existen en las instalaciones, así
                    como el horario de operación de cada una.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique de qué forma son monitoreadas (en caso de tener personal de
                    vigilancia asignado, indicar la cantidad).
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Detalle si existen puertas y/o accesos bloqueados, o permanentemente
                    cerradas y su ubicación.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Describa cómo asegura que el acceso a las áreas sensibles este
                    restringido según la descripción del trabajo o las tareas asignadas (incluya el tipo de registros y
                    controles que utiliza)
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>
        </div>

        <!-- 2.3-Bardas-perimetrales-recipiente  -->
        <div class="row mt-4">
            <div class="col-md-12 text-container">
                <h4 class="para-title">2.3 Bardas perimetrales.</h4>
                <p>
                    Las bardas perimetrales y/o barreras periféricas deben instalarse para asegurar los parámetros de
                    las instalaciones de la empresa, con base en un análisis de riesgo. Se deben utilizar cercas,
                    barreras interiores o un mecanismo para identificar y segregar la carga internacional, así como la
                    de alto valor y peligrosa. Estas deben ser inspeccionadas regularmente y llevar un registro de la
                    revisión con la finalidad de asegurar su integridad e identificar daños, mismos que deben repararse
                    lo antes posible por parte del personal designado para estas
                    tareas.
                    <br />
                </p>
                <i>Las áreas de almacenaje, alto valor, peligrosas, y/o de acceso restringido, deben estar claramente
                    identificadas y monitoreadas para prevenir ingresos no autorizados.</i>
                <div class="mt-2">
                    <ul>
                        <li>El procedimiento para la inspección de las bardas perimétricas podría incluir:
                            <div class="centered-list-wrapper">
                                <ol type="a">
                                    <li>Personal responsable para llevar a cabo el proceso.</li>
                                    <li>Cómo y con qué frecuencia se llevan a cabo las inspecciones de las cercas,
                                        bardas
                                        perimétricas y/o periféricas y los edificios.</li>
                                    <li>Cómo se lleva el registro de la inspección.</li>
                                    <li>Quién es el responsable de verificar que las reparaciones y/o modificaciones
                                        cumplan
                                        con
                                        las especificaciones técnicas y requisitos de seguridad necesarias.</li>
                                </ol>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>Describir el tipo de barrera periférica y/o bardas con las que cuenta la instalación</label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Describa que áreas se encuentran segregadas
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Señale las características de las mismas (material, dimensiones, etc.).
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>En caso de no contar con bardas, favor de justificar detalladamente la
                    razón.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Periodicidad con la que se verifica la integridad de las bardas
                    perimétricas, y los registros que se llevan a cabo con la finalidad de asegurar su integridad e
                    identificar daños, mismos que deben repararse lo antes posible.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span> Indique el personal o área responsable para realizar las tareas de
                    inspección y reparación de daños
                    razón.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    Describa de qué manera se encuentra segregada la carga destinada al extranjero, el material
                    peligroso y la de alto valor
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span> Indique cómo separa la mercancía nacional y la de comercio exterior, y
                    si está identificada de manera adicional (Por ejemplo: empaque distinto; etiquetas; embalaje, entre
                    otros).
                    razón.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    Identifique y señale las áreas de acceso restringido. (Mercancías peligrosas, alto valor,
                    confidenciales, etc.).
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>
        </div>

        <!-- 2.4-Estacionamientos-recipiente  -->
        <div class="row mt-4">
            <div class="col-md-12 text-container">
                <h4 class="para-title">2.4 Estacionamientos.</h4>
                <p>
                    El acceso a los estacionamientos de las instalaciones debe ser controlado y monitoreado por el
                    personal de seguridad o designado para esta tarea. Se debe prohibir que los vehículos privados (de
                    empleados, visitantes, proveedores, contratistas, entre otros), se estacionen dentro de las áreas de
                    manejo y almacenaje de la mercancía, así como en áreas adyacentes..
                </p>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span> Describa el procedimiento para el control y monitoreo de los
                    estacionamientos
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Responsables de controlar y monitorear el acceso a los
                    estacionamientos.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span> Identificación de los estacionamientos (especificar si el
                    estacionamiento de visitantes, se encuentra separado de las áreas de almacenaje y manejo de
                    mercancía).
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Cómo se lleva el control de entrada y salida de vehículos a las
                    instalaciones. (Indicar los registros que se realizan para el control del estacionamiento, y los
                    mecanismos de control existentes), (por ejemplo: tarjetones, tarjetas lectoras, corbatines, etc.
                    etcétera), cómo se asignan y el área responsable de hacerlo.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Políticas o mecanismos para no permitir el ingreso de vehículos
                    privados a las áreas de almacenaje y manejo de mercancía.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>
        </div>

        <!-- 2.5-Control-de-llaves-recipiente  -->
        <div class="row mt-4">
            <div class="col-md-12 text-container">
                <h4 class="para-title">2.5 Control de llaves y dispositivos de cerraduras.</h4>
                <p>
                    Las ventanas, puertas y cercas interiores y exteriores, de acuerdo a su análisis de riesgo, deben
                    asegurarse con dispositivos de cierre. La empresa debe contar con un procedimiento documentado para
                    el manejo y control de Ilaves y/o dispositivos de cierre de las áreas interiores que se hayan
                    considerado como críticas. Asimismo, deben llevar un registro y establecer un control a través de
                    cartas responsivas firmadas por las personas que cuentan con Ilaves o accesos autorizados conforme a
                    su nivel de responsabilidad y labores dentro su área de trabajo.
                </p>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique si todas las ventanas, puertas y cercas interiores y
                    exteriores, de acuerdo a su análisis de riesgo, disponen de mecanismos de cierre o seguridad.
                </label>
                <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                    class="gap"></app-input-radio>
            </div>

            <div class="mt-4 alert-text">
                <span class="danger">*</span>Anexar los procedimientos documentados para el manejo, y control de llaves
                y/o dispositivos de cierre, asegúrese<br />
                Asegúrese que incluya los siguientes puntos:
                <div class="centered-list-wrapper">
                    <ol type="a">
                        <li>Responsables de administrar y controlar la seguridad de las llaves.</li>
                        <li>Formato y/o registro de control para el préstamo de llaves.</li>
                        <li>Tratamiento de pérdida o no devolución de llaves.</li>
                        <li>Señalar si existen áreas en las que se acceda con dispositivos electrónicos y/o algún otro
                            mecanismo de acceso.</li>
                    </ol>
                </div>

            </div>
        </div>

        <!-- 2.6-Alumbrado-recipiente  -->
        <div class="row mt-4">
            <div class="col-md-12 text-container">
                <h4 class="para-title">2.6 Alumbrado.</h4>
                <p>
                    El alumbrado dentro y fuera de las instalaciones debe permitir una clara identificación de personas,
                    material y/o equipo que ahí se encuentre, incluyendo las siguientes áreas: entradas y salidas, áreas
                    de manejo, carga, descarga y almacenaje de la mercancía, bardas perimetrales y/o periféricas, cercas
                    interiores y áreas de estacionamiento, debiendo contar con un sistema de emergencia y/o respaldo en
                    las áreas sensibles.
                </p>
            </div>

            <div class="mt-2">
                <ul>
                    <li>El procedimiento podrá incluir:</li>
                    <div class="centered-list-wrapper">
                        <ol type="a">
                            <li>Cómo se controla el sistema de iluminación.</li>
                            <li>Horarios de funcionamiento.</li>
                            <li>Identificación de áreas con iluminación permanente.</li>
                        </ol>
                    </div>
                </ul>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Describa el procedimiento para la operación y mantenimiento del
                    sistema de iluminación.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Señale qué áreas se encuentran iluminadas y cuáles cuentan con un
                    sistema de respaldo.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique si cuenta con una planta de poder auxiliar.
                </label>
                <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                    class="gap"></app-input-radio>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Mencione si cuenta con algún otro mecanismo para suministrar energía
                    eléctrica en caso de alguna contingencia.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>De qué manera se cerciora que el sistema de iluminación sea el
                    apropiado en cada una de las áreas del recinto fiscalizado, así como que tenga continuidad ante la
                    falta de suministro en cada una de las áreas de la instalación y con especial énfasis de las áreas
                    consideradas como críticas y/o sensibles, de manera que permita una clara identificación del
                    personal, material y/o equipo que abarca.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>
        </div>

        <!-- 2.7-Aparatos-de-comunicación-recipiente  -->
        <div class="row mt-4">
            <div class="col-md-12 text-container">
                <h4 class="para-title">2.7 Aparatos de comunicación.</h4>
                <p>
                    La empresa debe contar con aparatos y/o sistemas de comunicación con la finalidad de contactar de
                    forma inmediata al personal de seguridad y/o con las autoridades, en caso de ocurrir una situación
                    de emergencia y seguridad. Adicionalmente, se debe contar con un sistema de respaldo y verificar su
                    buen funcionamiento de manera periódica.
                </p>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Describa el procedimiento que el personal debe realizar para contactar
                    al personal de seguridad de la empresa o, en su caso, de la autoridad correspondiente en caso de
                    algún incidente de seguridad
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique si el personal operativo y administrativo cuenta o dispone de
                    aparatos (teléfonos fijos, móviles, botones de alerta y/o emergencia) para comunicarse con el
                    personal de seguridad y/o con quien corresponda. (Estos deberán estar accesibles a los usuarios,
                    para poder tener una pronta reacción).
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span> Indique qué tipo de aparatos de comunicación utiliza el personal de
                    seguridad en la empresa (teléfonos fijos, celulares, radios, sistema de alarma, etcétera)
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    Describir el procedimiento para el control y mantenimiento de los aparatos de comunicación
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>


            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Políticas de asignación de aparatos de comunicación móvil.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>


            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Programa de mantenimiento de aparatos de comunicación fija y móvil.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique si cuenta con aparatos de comunicación de respaldo, en caso de
                    que el sistema permanente fallara, y, en su caso, detalle brevemente.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>
        </div>

        <!-- 2.8-Sistemas-de-alarma-recipiente  -->
        <div class="row mt-4">
            <div class="col-md-12 text-container">
                <h4 class="para-title">2.8 Sistemas de alarma y circuito cerrado de televisión y video vigilancia
                    (CCTV).</h4>
                <p>
                    Los sistemas de alarma y de circuito cerrado de televisión y video vigilancia y las tecnologías de
                    seguridad, se deben utilizar para vigilar, notificar o disuadir accesos no autorizados y actividades
                    prohibidas en las instalaciones y demás áreas consideradas sensibles, notificar al área
                    correspondiente, además de utilizarse como herramienta de prueba en investigaciones derivadas de
                    algún incidente de seguridad.
                </p>
                <p class="mt-2">
                    Estos sistemas y tecnologías de seguridad, deben colocarse de acuerdo a un análisis de riesgo previo
                    de tal forma que se mantengan vigiladas, monitoreadas y supervisadas las áreas que impliquen el
                    manejo, carga, descarga, almacenaje de las mercancías, inspecciones de seguridad a los vehículos de
                    carga, así como del acceso de personal, visitantes, proveedores, vehículos de pasajeros y de carga y
                    demás áreas consideradas sensibles de forma permanente e ininterrumpida de conformidad con lo
                    establecido para dicho efecto por la ANAM y operación simultánea con la aduana o área que se trate.
                    Lo anterior resulta aplicable en los casos en las que las empresas de mensajería y paquetería estén
                    ubicadas dentro de un recinto fiscalizado y/o fuera de él.
                </p>
                <p class="mt-2">
                    Dichos sistemas deben permitir una clara identificación del área o ambiente que vigila y mantener un
                    respaldo de las grabaciones por lo menos de un mes, considerando que, en el caso de que sus procesos
                    logísticos excedan este periodo, deberá aumentar el periodo del mantenimiento de estos respaldos,
                    con la finalidad de tener los elementos necesarios para deslindar las responsabilidades
                    correspondientes en caso de un incidente de seguridad. La empresa de mensajería y paquetería debe
                    contar con un procedimiento documentado de operación. Para el caso de los sistemas de alarma y de
                    circuito cerrado de televisión y video vigilancia y las tecnologías de seguridad, deben incluir la
                    supervisión del buen estado del equipo, la verificación de la correcta posición de las cámaras,
                    indicar la frecuencia con la que debe realizar el respaldo de las grabaciones al menos por sesenta
                    días de conformidad con la regla 2.3.8., para aquellos que cuenten con autorizaciones de recinto
                    fiscalizado y recinto fiscalizado estratégico, para los demás casos deberá de ser el plazo de
                    grabación al menos de treinta días, así como los responsables de su operación. Dichos sistemas y
                    toda la infraestructura de tecnología de seguridad deberán tener un acceso restringido.
                </p>
                <p class="mt-2">
                    Anexe un layout o mapa de distribución de las cámaras de seguridad.
                </p>
            </div>

            <div class="col-md-12 text-container mt-2">
                <label>
                    <span class="danger">*</span>Indique si cuenta con un procedimiento documentado para la operación
                    del CCTV, que incluya la supervisión del buen estado del equipo, la verificación de la correcta
                    posición de las cámaras, el mantenimiento para el respaldo de las grabaciones al menos por sesenta
                    días de conformidad con la regla 2.3.8., para aquellos que cuenten con autorizaciones de recin
                    fiscalizado y recinto fiscalizado estratégico, para los demás casos deberá de ser el plazo de
                    grabación al menos de treinta días.
                </label>
                <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                    class="gap"></app-input-radio>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span> Indique si todas las puertas y ventanas tienen sensores de alarma, así
                    como las áreas donde se cuenta con sensores de movimiento.
                </label>
                <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                    class="gap"></app-input-radio>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Describa el procedimiento a seguir en caso de activarse una alarma
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique el personal o área responsable de dar mantenimiento, cómo se
                    reportan fallas y los registros que utilizan.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Describa el procedimiento documentado para la operación de los
                    sistemas de alarma y de circuito cerrado de televisión y video vigilancia y las tecnologías de
                    seguridad, (este debe revisarse y actualizarse anualmente y de acuerdo con el análisis de riesgo o
                    las circunstancias)
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indicar el número de cámaras de seguridad de los sistemas de alarma y
                    de circuito cerrado de televisión y video vigilancia instaladas, y su ubicación por áreas (Detalle
                    si cubre las zonas de embarque y descarga, incluyendo los puntos de entrada y salida de las
                    instalaciones, para cubrir el movimiento de vehículos e individuos)
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Mencione donde se lleva a cabo la inspección señalada en el
                    sub-estándar 7.2).
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Señalar la ubicación de los sistemas de alarma y de circuito cerrado de
                    televisión y video vigilancia y las tecnologías de seguridad, dónde se localizan los monitores,
                    quién los revisa
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique los horarios de operación, y en su caso, si existen estaciones
                    de monitoreo remoto. Toda la infraestructura de tecnología de seguridad debe estar protegida
                    físicamente contra el acceso no autorizado
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique de qué forma revisan las grabaciones (aleatoria, cada semana,
                    eventos especiales, áreas restringidas, etcétera).
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique quién es el personal designado y cómo la gerencia se involucra
                    en las revisiones
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Cómo se documentan los resultados de las revisiones para incluir
                    acciones correctivas para fines de auditoría
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique por cuánto tiempo se mantienen estas grabaciones (debiendo ser
                    por lo menos de un mes).
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>


            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique si los sistemas de alarma y de circuito cerrado de televisión y
                    video vigilancia y las tecnologías de seguridad se encuentran respaldadas por una planta de poder
                    eléctrica.
                </label>
                <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                    class="gap"></app-input-radio>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>En caso de no contar con una planta de poder eléctrica, mencione algún
                    otro mecanismo para suministrar energía eléctrica, que garanticen su funcionamiento.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Estos sistemas deberían de tener una función de alarma/notificación,
                    que indique una condición de falla en el funcionamiento y/o grabación, señale si sus sistemas tienen
                    dicha función
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indicar si adicionalmente a los sistemas de alarma y de circuito
                    cerrado de televisión y video vigilancia utiliza algún otro tipo de tecnología para robustecer las
                    medidas de seguridad con las que ya cuenta.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Describa el procedimiento que se ha implementado para probar e
                    inspeccionar de manera regular los sistemas de alarma y de circuito cerrado de televisión y video
                    vigilancia y las tecnologías de seguridad y asegurar su buen funcionamiento. Los resultados de las
                    inspecciones y las pruebas de funcionamiento deben estar documentadas, al igual que las acciones
                    correctivas necesarias (estas se deben implementar lo antes posible). Adicionalmente, que los
                    resultados documentados de estas inspecciones se mantengan durante un tiempo suficiente para fines
                    de auditoría.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indicar si el proveedor de alarmas y sistemas de alarma y de circuito
                    cerrado de televisión y video vigilancia tiene acceso a las cámaras de seguridad, si es el encargado
                    de realizar el monitoreo de las mismas
                </label>
                <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                    class="gap"></app-input-radio>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique de qué forma se controlan los accesos y quién es el responsable
                    de dicho monitoreo
                </label>
                <textarea class="custom-textarea" rows="6" cols="100"></textarea>
            </div>
        </div>
    </form>
</div>