.para-title{
  color: rgb(35, 112, 184);
}

.alert-text {
  color: rgb(35, 112, 184);
}

.danger {
  color: red;
  margin-right: 5px;
}

.container {
  overflow: hidden;
  word-wrap: break-word;
  padding: 15px;
}

.text-container {
  width: 96%;
  box-sizing: border-box;
}

.custom-textarea {
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  padding: 10px;
  font-size: 14px;
}
