.danger{
    color:red;
    margin-right:5px;
}

.gap .form-group form{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.gap .form-group form > div:first-of-type{
    width:100%;
}

.gap .form-group form div{
    width:50%;
    margin-right: 0px !important;
}

.dis-flex-end{
    display: flex;
    align-items: end;
}

.ml-15{
    margin-left: 15px;
}

.mr-15{
    margin-right: 15px;
}