<div class="conatiner p-3">
    <div class="row mt-2">
        <div class="col-md-12 text-container">
            <p>{{textos.paraca1}}</p>
            <p>{{textos.paraca2}}</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-container">
            <h4 class="para-title">{{textos.encabezamiento1}}</h4>
            <p>
                {{textos.paraca3}}
            </p>
            <p>{{textos.paraca4}}</p>
            <div class="mt-2 alert-text">
                <ul>
                    <div class="centered-list-wrapper">
                        <ol type="a">
                            <li>Responsables de cada procedimiento.</li>
                            <li>Formatos y documentos utilizados.</li>
                            <li>Sistemas utilizados.
                            </li>
                            <li>Actor de la cadena logística con el que se intercambia la información.</li>
                        </ol>
                    </div>
                </ul>
            </div>
            <p>{{textos.paraca5}}</p>
            <div class="mt-2 alert-text">
                <ul>
                    <div class="centered-list-wrapper">
                        <ol type="a">
                            <li>Clasificación arancelaria (respaldo de información o fichas técnicas de la mercancía que el cliente envía al Agente Aduanal para su correcta clasificación).</li>
                            <li>Cumplimiento de regulaciones y restricciones no arancelarias. [Interacción con sus clientes y las diferentes dependencias de gobierno para el cumplimiento de regulaciones y restricciones no arancelarias (RRNA)].</li>
                            <li>Manifestación de valor (La verificación y confirmación de la información proporcionada por el cliente servirá de respaldo para la utilización de los métodos de valoración establecido en la Ley).
                            </li>
                            <li>Pago de contribuciones (el intercambio de la información que se genera para el pago de contribuciones deberá ser claro y preciso con el cliente).</li>
                        </ol>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <form [formGroup]="forma">
        <div class="row mt-2">
            <formas-dinamicas 
                [forma]="gestionFormGroup" 
                [formularioDatos]="gestionDatos"
                [estado]="solicitudeState"
                [soloLectura]="consultaState.readonly"
                (emitirCambioDeValor)="emitirCambioDeValor($event)"
                >
            </formas-dinamicas>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento2}}</h4>
                <p>{{textos.paraca7}}</p>
                <p>{{textos.paraca8}}</p>
            </div>
            <formas-dinamicas 
                [forma]="controlFormGroup" 
                [formularioDatos]="controlDatos"
                [estado]="solicitudeState"
                [soloLectura]="consultaState.readonly"
                (emitirCambioDeValor)="emitirCambioDeValor($event)"
                >
            </formas-dinamicas>
            <div class="col-md-12 text-container">
                <p>{{textos.paraca9}}</p>
                <div class="mt-2 alert-text">
                    <ul>
                        <div class="centered-list-wrapper">
                            <ol type="a">
                                <li>Procedimiento de solicitud de gafetes con las Asociaciones o Confederaciones</li>
                                <li>Políticas de uso de gafetes</li>
                                <li>Infracciones relacionadas con el uso indebido de gafetes
                                </li>
                                <li>Multas aplicables a las infracciones relacionadas con el uso indebido de gafetes.</li>
                            </ol>
                        </div>
                    </ul>
                </div>
                <p>{{textos.paraca10}}</p>
                <div class="mt-2 alert-text">
                    <ul>
                        <div class="centered-list-wrapper">
                            <ol type="a">
                                <li>La supervisión de actos previos y derivados del despacho aduanero.</li>
                                <li>Elaboración del pedimento.</li>
                                <li>El conjunto de actos y formalidades relativos a la entrada de mercancías al territorio nacional y a su salida del mismo.
                                </li>
                                <li>Multas aplicables a las infracciones relacionadas con el uso indebido de gafetes.</li>
                            </ol>
                        </div>
                    </ul>
                </div>
            </div>
            <formas-dinamicas 
                [forma]="actualizadaFormGroup" 
                [formularioDatos]="actualizadaDatos"
                [estado]="solicitudeState"
                [soloLectura]="consultaState.readonly"
                (emitirCambioDeValor)="emitirCambioDeValor($event)"
                >
            </formas-dinamicas>
        </div>
    </form>
</div>