.custom-agregar-monto{
    position: relative;
    top:27px;
    padding: 8px 30px;
}

.custom-eliminar-monto{
    color:#b38e5d;
    border-color: #b38e5d;
    padding:8px 20px;
}

.monto-a-expedir{
    padding: 20px;
}

.custom-disponibles {
   margin-top: 70px;
}

.custom-textarea-observaciones{
  height: 70px !important;
}

.custom-mid-eliminar {
    background-color: #b38e5d !important;
    color: white !important;
    border: none !important;
}