<form [formGroup]="gestionAduaneraForm">
  <div class="page">
    <div class="container">
      <div class="col-md-12">
        <label class="form-label text-start ">
          La empresa concesionaria de transporte ferroviario debe contar con
          procedimientos documentados, en el que se establezcan políticas
          internas y de operación, así como de los controles necesarios para el
          debido cumplimiento de las obligaciones aduaneras.
        </label>
      </div>
      <!-- 6.1 Obligaciones aduaneras. -->
      <div class="col-md-12">
        <ng-titulo titulo="6.1 Obligaciones aduaneras." />
      </div>
      <div class="col-md-12">
        <label class="form-label text-start ">
          La empresa concesionaria de transporte ferroviario deberá contar con
          un procedimiento documentado con el objetivo de cumplir con lo
          establecido en la regla 1.9.11. transmitiendo por medio electrónico a
          la aduana de entrada o salida, o en caso de tránsito la aduana de
          despacho, la lista de intercambio en los tiempos establecidos en las
          RGCE antes del arribo del ferrocarril, la cual deberá contener además
          de los requisitos previstos en la regla 4.2.14 la clave y número de
          pedimento que ampare las mercancías, así como la descripción de las
          mismas, conforme a lo señalado en el pedimento, en el COVE o
          conocimiento de embarque respectivo, según sea el caso.
        </label>
      </div>
      <div class="col-md-12">
        <label class="form-label text-start ">
          Deben contar con procedimiento documentado con el objetivo de dar
          cumplimiento a la regla 2.4.13., para efectos de los artículos 20,
          fracción III y 53 de la Ley.
        </label>
      </div>
      <div class="col-md-12">
        <label class="form-label text-start ">
          Tratándose de tránsitos internos deberá contar con un procedimiento
          documentado en el que se contemplen de forma clara, precisa y exacta
          ante la aduana de destino los avisos a las autoridades aduaneras
          causado por arribo extemporáneo, asimismo, para los casos de
          destrucción de mercancías. Para efectos de lo estipulado en el
          artículo 128 de la Ley y la regla 4.6.17., estos procedimientos deben
          contemplar los plazos establecidos en el Anexo 15.
        </label>
      </div>
      <div class="col-md-12">
        <label class="form-label text-start ">
          Se debe contar con un procedimiento documentado en los casos de
          importación temporal, retorno y transferencia de carros de ferrocarril
          la empresa ferroviaria conforme a lo señalado en la regla 4.2.14, así
          como, tratándose de la exportación temporal de locomotoras nacionales
          o nacionalizadas que efectúen las empresas concesionarias de
          transporte ferroviario deberán cumplir con los términos de los
          artículos 115 y 116 de la Ley, como lo señala la regla 4.4.3.
        </label>
      </div>
      <div class="col-md-12">
        <label class="form-label text-start ">
          Debe contar con procedimiento documentado para los casos en que los
          carros de ferrocarril sufran daño y se deban destruir o cambiar de
          régimen a importación definitiva conforme a los artículos 94 y 106,
          fracción V, incisos a) y e) de la Ley, de conformidad con la regla
          4.2.18.
        </label>
      </div>
      <div class="col-md-12 mb-3">
        <formas-dinamicas
          [forma]="obligacionesAduanerasFormGroup"
          [formularioDatos]="obligacionesAduanerasFormData"
          [templateMap]="templateMap"
          [estado]="rubroTransporteFerrovariostate"
          [soloLectura]="consultaState.readonly"
          (emitirCambioDeValor)="establecerCambioDeValor($event)"
        ></formas-dinamicas>
      </div>
    </div>
  </div>
</form>

<ng-template #customTemplate1>
  <div class="alert alert-info">
    <div class="form-check">
      <p>
        Anexe el procedimiento para la transmisión electrónica de datos con la aduana.
      </p>
      <p>
        Anexe el procedimiento a seguir cuando algún equipo ferroviario sufre algún daño.
      </p>
    </div>
  </div>
</ng-template>
