@media (min-width: 320px) and (max-width: 376px) {

  .btn-default,
  .btn-primary {
    padding: 5px !important;
    margin: 5px
  }
}

@media (min-width: 376px) and (max-width: 480px) {

  .btn-default,
  .btn-primary {
    padding: 5px !important;
    margin: 5px
  }
}


@media (min-width: 481px) and (max-width: 767px) {

  .btn-default,
  .btn-primary {
    padding: 5px !important;
    margin: 5px
  }
}
