<app-historico-productores
  (formHistoricoEvent)="setValoresStore($event)"
  (agregarDatosProductorFormularioEvent)="setValoresStoreAgregarForm($event)"
  [tramiteState]="tramiteState"
  [agregarDatosProductor]="agregarDatosProductor"
  [productoresExportador]="productoresExportador || []"
  [mercanciaDatos]="mercancia || []"
  [esFormularioSoloLectura]="esFormularioSoloLectura"
  [idProcedimiento] = "110205"
  (setbuscarMercanciaEvent)="conseguirDisponiblesDatos()"
  [tableColumns]="tableColumns"></app-historico-productores>
