<div class="conatiner p-3">
    <div class="row mt-2">
        <div class="col-md-12 text-container">
            <p>{{textos.paraca1}}</p>
            <h4 class="para-title">{{textos.encabezamiento1}}</h4>
            <p>{{textos.paraca2}}</p>
            <p>{{textos.paraca4}}</p>
            <p>{{textos.paraca3}}</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 text-container">
        <div class="mt-2 alert-text">
          <ul>
            <div class="centered-list-wrapper">
              <ol type="a">
                <li>Integración de documentación previa al despacho aduanero.</li>
                <li>Pedimento de exportación/importación.</li>
                <li>Lista de empaque.</li>
                <li>El conocimiento de embarque. (Guía aérea, bill of lading y carta porte) según sea el caso.</li>
                <li>Copia de los documentos que comprueben el cumplimiento de las restricciones y regulaciones no arancelarias a la importación que se hubieran expedido conforme a las leyes correspondientes.</li>
                <li>El documento con base en el cual se determine la procedencia y el origen de las mercancías para la aplicación de preferencias arancelarias.</li>
                <li>El documento en el que conste la garantía otorgada mediante depósito efectuado en la cuenta aduanera de garantía a que se refiere el artículo 84-A de la Ley, cuando el valor declarado sea inferior al precio estimado que establezca la SE.</li>
                <li>El certificado de peso o volumen expedido por la empresa certificadora autorizada por la Secretaría mediante reglas, tratándose del despacho de mercancías a granel en aduanas de tráfico marítimo, en los casos que establezca el Reglamento.</li>
                <li>La información que permita la identificación, análisis y control que señale la Secretaría mediante reglas.</li>
                <li>Manifestación de valor de las mercancías.</li>
                <li>Hoja de cálculo de determinación de contribuciones, aprovechamientos y/o accesorios.</li>
                <li>Carta responsiva (técnica y hoja de datos de seguridad de materiales MSDS en su caso).</li>
                <li>Póliza de seguro de la mercancía que se despachó.</li>
                <li>El Agente Aduanal deberá conducir revisiones de forma regular para verificar los accesos a la información y asegurarse que no sean utilizados de manera indebida.</li>
              </ol>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 text-container">
            <p>{{textos.paraca5}}</p>
        </div>
        <div class="col-md-12 text-container">
            <div class="mt-2 alert-text">
                <ul>
                    <div class="centered-list-wrapper">
                        <ol type="a">
                            <li>Registro de control para entrega, préstamo, entre otros de documentación.</li>
                            <li>Acceso restringido al área de archivos.</li>
                            <li>Políticas de almacenamiento y clasificación.</li>
                            <li>Un plan de seguridad actualizado que describa las medidas en vigor relativas a la protección de los documentos contra accesos no autorizados, así como contra la destrucción deliberada o la pérdida de los mismos.</li>
                            <li>Para el caso de información electrónica o digital, deberá apegarse a los criterios de seguridad del sub-estándar de 9.2 Seguridad de la tecnología de la información.</li>
                        </ol>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 text-container">
            <h4 class="para-title">{{textos.encabezamiento2}}</h4>
            <p>{{textos.paraca6}}</p>
            <p>{{textos.paraca7}}</p>
            <p>{{textos.paraca8}}</p>
            <p>{{textos.paraca9}}</p>
            <p>{{textos.paraca10}}</p>
        </div>
        <div class="col-md-12 text-container">
            <div class="mt-2 alert-text">
                <ul>
                    <div class="centered-list-wrapper">
                        <ol type="a">
                        <li>Señalar la frecuencía con que se llevan a cabo las copias de respaldo de la información.</li>
                        <li>Quien tiene acceso a las mismas y quién autoriza la recuperación de la información.</li>
                        <li>Indicar qué tipo de pruebas realiza y cada cuando, para verificar la seguridad de la red, los sistemas y la infraestructura.</li>
                        <li>Mencionar si para realizar este tipo de pruebas o escaneos de vulnerabilidad, lo hace a través de un software, un tercero o proveedor y, en su caso indique el nombre o razón social.</li>
                        <li>En caso de encontrar vulnerabilidades, describa las acciones correctivas que deben implementarse.</li>
                        <li>Indicar si comparte información sobre las amenazas a la seguridad cibernética con sus socios comerciales que participan dentro de su cadena de suministro (por ejemplo: comunicados, boletines, correos electrónicos, etcétera).</li>
                        <li>Los sistemas deben estar protegidos bajo contraseñas y con frecuencia deben ser modificadas, por lo anterior indique el procedimiento para cambiarlas.</li>
                        <li>Señalar si existen políticas de seguridad de la información para su protección.</li>
                        <li>Debe existir un sistema o software para detectar e identificar el abuso, intrusión o acceso de personas no autorizadas a sus sistemas y/o datos de Tecnología de la Información (cualquier sistema que sea utilizado por la empresa), así como el abuso de las políticas y procedimientos establecidos por la empresa, incluido el acceso indebido a sistemas internos, sitios web externos y la manipulación o alteración de datos comerciales por parte de empleados o contratistas.</li>
                        <li>Todos los infractores deben estar sujetos a la aplicación de medidas disciplinarias, por lo anterior, indicar las políticas correctivas y/o sanciones en caso de la detección de alguna violación a los sistemas y políticas de seguridad de Tecnologías de la Información.</li>
                        </ol>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <form [formGroup]="forma">
        <div class="row mt-2">
            <formas-dinamicas 
                [forma]="tecnologiaFormGroup" 
                [formularioDatos]="tecnologiaDatos"
                [estado]="solicitudeState"
                [soloLectura]="consultaState.readonly"
                (emitirCambioDeValor)="emitirCambioDeValor($event)"
                >
            </formas-dinamicas>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 text-container">
                <div class="mt-2 alert-text">
                    <ul>
                        <div class="centered-list-wrapper">
                            <ol type="a">
                                <li>Una política actualizada y documentada de protección de los sistemas informáticos del Agente Aduanal de accesos no autorizados y destrucción deliberada o pérdida de la información. Todos los datos sensibles y confidenciales deben almacenarse en un formato cifrado o encriptado.</li>
                                <li>Detallar si opera con sistemas múltiples (sedes/sitios) y cómo se controlan dichos sistemas.</li>
                                <li>Quién es responsable de la protección del sistema informático del Agente Aduanal (la responsabilidad no debería estar limitada a una persona sino a varias de forma que cada uno pueda controlar las acciones del resto).</li>
                                <li>El acceso de cada usuario debe asignarse a través de cuentas individuales y estar restringido según la descripción del trabajo o las tareas asignadas. Por lo anterior, describa cómo se conceden autorizaciones de acceso y nivel de acceso a los sistemas informáticos (el acceso a la información sensible debe estar limitado al personal autorizado a realizar modificaciones y uso de la información). El acceso autorizado debe monitorearse por parte del área responsable de concederlo, para verificar o en su caso reportar que el acceso a los sistemas confidenciales se basa en los requisitos del trabajo.</li>
                                <li>Indicar los elementos o formato que deben tener las contraseñas, para el acceso a sistemas de Tecnologías de la Información y equipos de métodos de autenticación y quién proporciona esas contraseñas.</li>
                                <li>Indicar el nombre del cortafuego "firewall" y anti-virus utilizados (incluir lo relacionado al licenciamiento), debiendo evidenciar que este software de seguridad está activo y recibe actualizaciones periódicas.</li>
                            </ol>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <formas-dinamicas 
                [forma]="tecnologiaDosFormGroup" 
                [formularioDatos]="tecnologiaDosDatos"
                [estado]="solicitudeState"
                [soloLectura]="consultaState.readonly"
                (emitirCambioDeValor)="emitirCambioDeValor($event)"
                >
            </formas-dinamicas>
        </div>
    </form>
</div>
