<div class="container">
    <form [formGroup]="pagoForm">
      <div class="row">
        <ng-titulo titulo="Pago de derechos" />
        <div class="row mt-2">
          <div class="col-md-12">
            <label for="certficacion_a">Exento de pago</label>
          </div>
          <div class="col-md-4">
            <app-input-radio
              [radioOptions]="radioOptions"
              [selectedValue]="selectedValue"
              [isRequired]="true"
              [layout]="'horizontal'"
              formControlName="exentoPago"
                 (change)="setValoresStore()"
            ></app-input-radio>
          </div>
        </div>
        <div class="col-md-4">
          <app-catalogo-select
            [catalogo]="justificacionSelector"
            formControlName="justificacion"
            [label]="'Justificación'"
            [required]="true"
            name="justificacion"
               (change)="setValoresStore()"
          ></app-catalogo-select>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="nombreImportExport"
              >Clave de referencia*</label
            >
            <input
              class="form-control"
              id="nombreImportExport"
              placeholder=""
              type="text"
              [disabled]="true"
              name="claveReferencia"
              formControlName="claveReferencia"
                 (change)="setValoresStore()"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="nombreImportExport"
              >Cadena de la dependencia*</label
            >
            <input
              class="form-control"
              id="nombreImportExport"
              placeholder=""
              type="text"
              libUppercase
              [disabled]="true"
              name="cadenaDependencia"
              formControlName="cadenaDependencia"
                 (change)="setValoresStore()"
            />
          </div>
        </div>
        <div class="col-md-4">
          <app-catalogo-select
            [catalogo]="bancoSelector"
            formControlName="banco"
            [label]="'Banco'"
            [required]="true"
            [isDisabled]="true"
            name="banco"
               (change)="setValoresStore()"
          ></app-catalogo-select>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="nombreImportExport"
              >Llave de pago</label
            >
            <input
              class="form-control"
              id="nombreImportExport"
              placeholder=""
              type="text"
              libUppercase
              [disabled]="true"
              name="llavePago"
              formControlName="llavePago"
                 (change)="setValoresStore()"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input-fecha [datos]="fechaInicioInput"></input-fecha>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="nombreImportExport"
              >Importe de pago*:</label
            >
            <input
              class="form-control"
              id="nombreImportExport"
              placeholder=""
              type="text"
              [disabled]="true"
              name="importePago"
              formControlName="importePago"
                 (change)="setValoresStore()"
            />
          </div>
        </div>
      </div>
    </form>
  </div>