<div class="container">
    <div class="row">
        <br>
        <ul class="nav nav-tabs">
            <li [ngClass]="indiceDictamen === 1 ? 'active' : ''">
                <a data-toggle="tab" (click)="seleccionaTab(1)" (keydown.enter)="seleccionaTab(1)"
                    (keydown.space)="seleccionaTab(1)" role="button" tabindex="0">Capturar requerimiento</a>
            </li>
            <li [ngClass]="indiceDictamen === 2 ? 'active' : ''">
                <a data-toggle="tab" (click)="seleccionaTab(2)" (keydown.enter)="seleccionaTab(2)"
                    (keydown.space)="seleccionaTab(2)" role="button" tabindex="2">Seleccionar documentos</a>
            </li>
        </ul>
        <ng-container>
            @switch (indiceDictamen) {
            @case (1) {
            <app-capturar-requerimiento></app-capturar-requerimiento>
            }
            @case (2) {
            <app-solicitar-documentos></app-solicitar-documentos>
            }
            }
        </ng-container>
    </div>
    <div class="d-flex justify-content-lg-end h1">
        <button type="button" class="btn btn-default ms-2">Cancelar</button>
        <button class="btn btn-primary ms-2" type="button" (click)="continuar()">Continuar</button>
    </div>
</div>