<ng-titulo titulo="Representante legal"></ng-titulo>

<form [formGroup]="representanteLegalForm">
    <div class="row d-flex align-items-center">
        <div class="col-md-4">
            <label for="rfc" class="form-label">RFC*:</label>
            <input type="text" class="form-control" formControlName="rfc" id="representanteLegalRFC"
              placeholder="LEQI810131457" maxlength="13" (change)="setValoresStore('rfc')">
        </div>
        <div class="col-md-4 btn-buscar">
            <button type="button" class="btn btn-primary" name="consultarIDC" id="consultarIDC"
                >Buscar</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <label for="nombreOrazonsocial" class="form-label">Nombre o Razón Social*:</label>
            <input type="text" class="form-control" formControlName="nombreOrazonsocial" id="representanteLegalNombre"
             placeholder="MISAEL">
        </div>
        <div class="col-md-4">
            <label for="apellidoPaterno" class="form-label">Apellido paterno*:</label>
            <input type="text" class="form-control" formControlName="apellidoPaterno" id="representanteLegalApPaterno"
              placeholder="BARRAGAN">
        </div>
        <div class="col-md-4">
            <label for="apellidoMaterno" class="form-label">Apellido materno:</label>
            <input type="text" class="form-control" formControlName="apellidoMaterno" id="representanteLegalApMaterno"
              placeholder="RUIZ">
        </div>
    </div>
</form>