<div class="container">
    <ng-titulo titulo="Representación federal"></ng-titulo>
    <form>
        <div class="row">
            <div class="col-md-4 form-group">
                <select-catalogos [catalogosDatos]="entidads" (valorSeleccion)="entidadSeleccion($event)"></select-catalogos>
            </div>
            <div class="col-md-4 form-group">
                <select-catalogos [catalogosDatos]="representacions" (valorSeleccion)="representacionSeleccion($event)"></select-catalogos>
            </div>
        </div>
    </form>
</div>