<div class="container">
    <form [formGroup]="gestionAduanera">
        <div class="row mt-2">
            <div class="col-md-12 text-container">
                <p>{{textos.paraca1}}</p>
                <p>{{textos.paraca2}}</p>
            </div>
        </div>

        <!-- 6.1-Gestión-del-despacho -->
        <div class="row mt-3">
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento1}}</h4>
                <p>
                    {{textos.paraca3}}
                </p>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Describa el procedimiento de selección y evaluación del agente o
                    apoderado aduanal.
                </label>
                <textarea id="describaProcedimiento" class="custom-textarea" rows="6" cols="100" formControlName="describaProcedimiento" (change)="setValoresStore(gestionAduanera,'describaProcedimiento', 'setDescribaProcedimiento')"></textarea>
                <span
                    *ngIf="gestionAduanera.controls['describaProcedimiento']?.errors?.['required'] && gestionAduanera.controls['describaProcedimiento']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique los criterios de selección
                </label>
                <textarea class="custom-textarea" rows="6" cols="100" formControlName="indiqueLosCriterios" id="indiqueLosCriterios" (change)="setValoresStore(gestionAduanera,'indiqueLosCriterios', 'setIndiqueLosCriterios')"></textarea>
                <span
                    *ngIf="gestionAduanera.controls['indiqueLosCriterios']?.errors?.['required'] && gestionAduanera.controls['indiqueLosCriterios']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique los métodos de evaluación y periodicidad.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100" formControlName="indiqueLosMetodos" id="indiqueLosCriterios" (change)="setValoresStore(gestionAduanera,'indiqueLosMetodos', 'setIndiqueLosMetodos')"></textarea>
                <span
                    *ngIf="gestionAduanera.controls['indiqueLosMetodos']?.errors?.['required'] && gestionAduanera.controls['indiqueLosMetodos']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Describa los indicadores con los que evalúa el servicio de los agentes
                    aduanales.
                </label>
                <textarea class="custom-textarea" rows="6" cols="100" formControlName="describaLosIndicadores" id="describaLosIndicadores" (change)="setValoresStore(gestionAduanera,'describaLosIndicadores', 'setDescribaLosIndicadores')"></textarea>
                <span
                    *ngIf="gestionAduanera.controls['describaLosIndicadores']?.errors?.['required'] && gestionAduanera.controls['describaLosIndicadores']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Indique el nombre completo y el número de la patente y/o autorización
                    del agente o apoderado aduanal autorizado para promover sus operaciones de comercio exterior.
                </label>
                <textarea id="comercioExterior" class="custom-textarea" rows="6" cols="100" formControlName="comercioExterior" (change)="setValoresStore(gestionAduanera,'comercioExterior', 'setComercioExterior')"></textarea>
                <span
                    *ngIf="gestionAduanera.controls['comercioExterior']?.errors?.['required'] && gestionAduanera.controls['comercioExterior']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>
            </div>
        </div>

        <!-- 6.2-Obligaciones-aduaneras -->
        <div class="row mt-3">
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento2}}</h4>
                <p>
                    {{textos.paraca4}}
                </p>
            </div>

            <div class="col-md-12 text-container mt-4">
                <ul>
                    <li>Aunado a lo anterior, la empresa de mensajería y paquetería en caso de contar con
                        autorización como Recinto Fiscalizado Estratégico, Depósito Fiscal, elaboración,
                        transformación o reparación en Recinto Fiscalizado, debe contar con un procedimiento
                        documentado para el cumplimiento de las obligaciones aduaneras que deriven de las
                        operaciones de comercio exterior que manejan. Este debe incluir al menos lo siguiente:
                        <div class="centered-list-wrapper">
                            <ol type="a">
                                <li>la garantía anual que debe enterarse al interés fiscal conforme al valor
                                    promedio de las mercancías que manejan</li>
                                <li>La identificación del espacio físico para la realización de reconocimiento
                                    aduanero practicado por las autoridades aduaneras</li>
                                <li>el espacio físico destinado para los servicios de manejo, almacenaje y custodia
                                    tratándose de mercancías que haya pasado a propiedad del fisco federal
                                </li>
                                <li>el almacenamiento y custodia gratuita de mercancías conforme a la normatividad
                                </li>
                                <li>proceso de transferencia de mercancías entre almacenes</li>
                                <li>proceso para acreditar el pago sobre los aprovechamientos por ser recinto
                                    fiscalizado</li>
                                <li>sobre la autorización para que las mercancías puedan ser objeto de elaboración,
                                    transformación o reparación, en su caso.</li>
                            </ol>
                        </div>
                    </li>
                    <li>Por otro lado, debe incluir en el procedimiento, el proceso de comunicación con los
                        consignatarios en caso de destrucción o extravío de mercancía; garantizar el intercambio de
                        información mediante sistema simultáneo que contengan los datos señalados en la regla 2.3.8. y
                        establecer protocolos relacionados con el tratamiento, comunicación, guarda y custodia de
                        mercancía de comercio exterior bajo el régimen de tránsito interno.</li>
                </ul>
            </div>

            <div class="mt-4">
                <p class="alert-text">
                    <span class="danger">*</span>Anexe el procedimiento para cumplir con sus obligaciones aduaneras
                </p>
            </div>
        </div>

        <!-- 6.3-Comprobación-aduanera -->
        <div class="row mt-3">
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento3}}</h4>
                <p>
                    {{textos.paraca5}}
                </p>
            </div>

            <div class="row mt-2 alert-text">
                <div class="col-md-12 text-container">
                    <p><span class="danger">*</span>Anexe el procedimiento establecido para verificar la información que
                        aparece registrada en el SAAI Web, y cotejar que las contribuciones y/o cuotas compensatorias
                        hubieran sido pagadas previo a la liberación de los embarques para someterse a las formalidades
                        del despacho aduanero.</p>
                </div>
            </div>
        </div>
    </form>
</div>