<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="card shadow-md border">
      <div class="card-body p-5">
        <div class="bg-body-tertiary p-5 border-bottom">
          <strong>Folio del trámite:</strong>
          <span class="ms-3">{{ folioTramite }}</span>
        </div>

        <div class="bg-body-tertiary p-5 mt-5">
          <strong>Tipo de solicitud:</strong>
          <span class="ms-3">{{ tipoSolicitud }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
