.terceros-relacionados-container {
  ::ng-deep ng-table {

    th:not(:first-child),
    td:not(:first-child) {
      min-width: 190px;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.form-check-input {
  border: 1px solid black;
  cursor: pointer;
}

.domicilio {
  margin-top: -15px !important;
  margin-bottom: -5px !important;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.custom-row {
  margin-left: -7px;
}