<div class="container mb-5">

    <!-- detos de la solicitud -->
    <form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()">
      <div class="form" formGroupName="datosdelForm">
        <ng-titulo titulo="Datos generales del solicitante" />
  
        <div class="row mb-3">
            <div class="col-md-4 form-group">
                <label for="numeroRegistroAmbiental">Número de Registro Ambiental:</label>
                <span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="numeroRegistroAmbiental" id="numeroRegistroAmbiental" maxlength="13" size="30" [ngClass]="isInvalid('numeroRegistroAmbiental') ? 'required' : ''" />
                <div *ngIf="isInvalid('numeroRegistroAmbiental')" class="text-danger">
                    Este campo es obligatorio
                  </div>
            </div>
            <div class="col-md-8 form-group">
                <label for="descripcionGenerica1">Giro industrial del importador </label>
                <span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="descripcionGenerica1" id="descripcionGenerica1" maxlength="150" size="105" [ngClass]="isInvalid('descripcionGenerica1') ? 'required' : ''" />
                <div *ngIf="isInvalid('descripcionGenerica1')" class="text-danger">
                    Este campo es obligatorio
                </div>
            </div>
            </div>
            <div class="row mb-3">
            <div class="col-md-4 form-group">
                <label for="numeroProgramaImmex">Número de authorizacion Immex</label>
                <span class="text-danger">*</span>
                <select class="form-control numeroProgramaImmex" formControlName="numeroProgramaImmex" id="numeroProgramaImmex" [ngClass]="isInvalid('numeroProgramaImmex') ? 'required' : ''">
                    <option value="">Seleccione un valor</option>
                    <option *ngFor="let item of comboAutorizacionIMMEX" [value]="item.clave">{{ item.descripcion }}</option>
                </select>
                <div *ngIf="isInvalid('numeroProgramaImmex')" class="text-danger">
                    Este campo es obligatorio
                </div>
            </div>
        </div>
      </div>
    </form>
    <app-administrar-residuos></app-administrar-residuos>
  </div>