<div class="container">
  <ng-titulo titulo="Representación federal"></ng-titulo>
  <form [formGroup]="frmRepresentacion">
    <div class="row">
      <div class="col-md-4 form-group">
        <app-catalogo-select
          [catalogo]="entidadFederativaLista"
          [label]="'Entidad federativa'"
          [required]="true"
          (selectionChange)="fetchEntidadFederativa($event);setValoresStore(frmRepresentacion,'entidad', 'setEntidad')"
          [placeholder]="'Seleccione un valor'"
          formControlName="entidad"
        ></app-catalogo-select>
        @if (frmRepresentacion.controls['entidad'].invalid && frmRepresentacion.controls['entidad'].touched) {
          <div class="text-danger">
            @if (frmRepresentacion.controls['entidad'].errors?.['required']) {
              <small>Debe seleccionar un valor.</small>
            }
          </div>
        }
        
      </div>
      <div class="col-md-4 form-group">
        <app-catalogo-select
          [catalogo]="representacionFederalLista"
          [label]="'Representación federal'"
          [required]="true"
          (selectionChange)="fetchRepresentacionFederal($event);setValoresStore(frmRepresentacion,'representacion', 'setRepresentacion')"
          [placeholder]="'Seleccione un valor'"
          formControlName="representacion"
        ></app-catalogo-select>
        @if (frmRepresentacion.controls['representacion'].invalid && frmRepresentacion.controls['representacion'].touched) {
          <div class="text-danger">
            @if (frmRepresentacion.controls['representacion'].errors?.['required']) {
              <small>Debe seleccionar un valor.</small>
            }
          </div>
        }
        
      </div>
    </div>
    <table>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
    </table>
  </form>
</div>
