<div class="container">
  <form [formGroup]="declaracionForm" class="form-group">
    <div class="row">
      <div class="col-12 mb-4">
        <ng-titulo [titulo]="'Aviso de adición de fracciones'"></ng-titulo>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-4">
        <ng-alert [CONTENIDO]="messageFraccion"></ng-alert>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <app-input-radio
            [radioOptions]="radioOptions"
            [isRequired]="true"
            [layout]="'horizontal'"
            [gap]="'50px'"
            formControlName="idCarga"
            (change)="valorSeleccionadoTipoCarga()"
          ></app-input-radio>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-4">
        <ng-titulo [titulo]="'Fracciones añadidas'"></ng-titulo>
      </div>
      @if(divBtnCargaMVisible){
      <div class="col-12 text-end mb-4">
        <button
          type="button"
          class="btn btn-primary me-md-3"
          id="cargaFracciones"
          (click)="abrirModalCargaMasivaFr()"
        >
          Carga masiva
        </button>
      </div>
      }

      <div class="col-12">
        <div class="table-responsive">
          <ng-table [commonTableHeader]="gridFraccionesHeader"></ng-table>
        </div>
        <div class="d-flex justify-content-end mt-5">
          <button
            type="button"
            class="btn btn-primary me-md-3"
            id="descargarReporteFracciones"
          >
            Vista Previa
          </button>
          <button
            type="button"
            class="btn btn-primary me-md-3"
            id="eliminarFracciones"
          >
            Eliminar
          </button>
          <button
            type="button"
            class="btn btn-primary me-md-3"
            id="modificarFracciones"
          >
            Modificar
          </button>
          <button
            type="button"
            class="btn btn-primary me-md-3"
            id="agregaFracciones"
            (click)="modalAgregaCarga()"
          >
            Agregar
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-4">
        <ng-titulo [titulo]="'Fracciones añadidas'"></ng-titulo>
      </div>

      <div class="col-md-12">
        <div class="alert alert-info">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" />
            <label class="form-check-label">
              {{ alotoFracciones }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal fade" tabindex="-1" #cargaMasivaFrModal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Fracciones</h5>
      </div>
      <form [formGroup]="declaracionFormModel" class="form-group">
        <div class="modal-body p-4">
          <div class="row">
            <div class="col-12">
              <div class="alert alert-info">
                Descargue la plantilla para la carga masiva de Fracciones
                <a href="#">Aquí</a>
              </div>
            </div>
            <div class="col-7">
              <input
                type="file"
                class="form-control sfile"
                name="archivoProceso"
                id="archivoProceso"
                title="Examinar"
                formControlName="archivoProceso"
              />
            </div>
            <div class="col-5">
              <div class="button-group d-flex justify-content-center">
                <button
                  type="button"
                  class="btn btn-primary me-md-3"
                  (click)="cargarArchivoProcesosAjax()"
                >
                  Anexar
                </button>
                <button type="button" class="btn btn-primary">
                  Vista previa
                </button>
              </div>
            </div>
          </div>

          <div class="button-group d-flex justify-content-center mt-5 me-md-3">
            <button
              type="button"
              class="btn btn-primary"
              (click)="closeCargaMasivaFrModal()"
            >
              Regresar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" #fraccionesModel>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Fracciones</h5>
      </div>
      <form [formGroup]="cargaManualForm" class="form-group">
        <div class="modal-body p-4">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="rfc" class="form-label"
                  >Fracción declarada en la certificación</label
                >
                <input
                  type="text"
                  id="txtfraccionDeclCertMod"
                  formControlName="txtfraccionDeclCert"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <app-catalogo-select
                  formControlName="activRelProc"
                  [label]="'Actividad relacionada con el proceso'"
                  [required]="true"
                  [catalogo]="activRelProcMod"
                    [isDisabled]="esFormularioSoloLectura"
                ></app-catalogo-select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="txtDescripcionMercanciaMod" class="form-label"
                  >Descripción de la mercancía</label
                >
                <textarea
                  class="form-control"
                  rows="3"
                  id="txtDescripcionMercanciaMod"
                  formControlName="txtDescripcionMercancia"
                  style="height: 80px"
                ></textarea>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <app-catalogo-select
                  formControlName="cveFraccionCorrelacion"
                  [label]="'Correlación fracción actual'"
                  [required]="true"
                  [catalogo]="cveFraccionCorrelacionMod"
                    [isDisabled]="esFormularioSoloLectura"
                ></app-catalogo-select>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <app-catalogo-select
                  formControlName="unidadMedida"
                  [label]="'Unidad de medida de la tarifa (UMT)'"
                  [required]="true"
                  [catalogo]="unidadMedidaMod"
                    [isDisabled]="esFormularioSoloLectura"
                ></app-catalogo-select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <app-catalogo-select
                  formControlName="nico"
                  [label]="'NICO'"
                  [required]="true"
                  [catalogo]="cveNicoMod"
                    [isDisabled]="esFormularioSoloLectura"
                ></app-catalogo-select>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="txtDescripcionNicoMod" class="form-label"
                  >Descripción NICO:</label
                >
                <textarea
                  class="form-control"
                  rows="3"
                  id="txtDescripcionNicoMod"
                  formControlName="txtDescripcionNico"
                  style="height: 80px"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row" [ngStyle]="{ 'pointer-events': esFormularioSoloLectura ? 'none' : 'auto' }">
            <div class="col-12">
              <ng-titulo [titulo]="'País(es) de origen'"></ng-titulo>
            </div>
            <crosslist
              [fechas]="selectRangoDias"
              [showSearchInput1]="true"
              [showSearchInput2]="true"
              [botonField]="botonField"
              [fechasSeleccionadas]="fechasDatos"
            ></crosslist>
          </div>

          <div class="button-group d-flex justify-content-center mt-5 me-md-3">
            <button
              type="button"
              class="btn btn-primary"
              (click)="closefraccionesModelModel()"
            >
              Aceptar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

@if (nuevaNotificacion) {
  <section>
    <lib-notificaciones [notificacionInput]="nuevaNotificacion">
    </lib-notificaciones>
  </section>
  }

 