<app-terceros-relacionados
  [fabricanteTablaDatos]="(tercerosDatos$ | async)?.fabricanteTablaDatos || []"
  [destinatarioFinalTablaDatos]="(tercerosDatos$ | async)?.destinatarioFinalTablaDatos || []"
  [proveedorTablaDatos]="(tercerosDatos$ | async)?.proveedorTablaDatos || []"
  [facturadorTablaDatos]="(tercerosDatos$ | async)?.facturadorTablaDatos || []"
  [idProcedimiento]="idProcedimiento"
  [elementosRequeridos]="elementosRequeridos"
  [formularioDeshabilitado]="esFormularioSoloLectura"
></app-terceros-relacionados>
