.custom-btn-eliminar{
    background-color: #ad895a;
    border: 1px solid #ad895a !important;
    color: #fff;
}

.custom-btn-Eliminar{
    background-color: #ad895a;
    border: 1px solid #ad895a !important;
    color: #fff;
}

.uppercase{
    text-transform: uppercase;
}