.custom-btn-eliminar{
    background-color: #ad895a;
    border: 1px solid #ad895a;
    color: #fff;
}

.custom-btn-Eliminar{
    background-color: #ffffff;
    border: 1px solid #ad895a;
    color: #ad895a;
}