<div class="container">
  <div class="row mt-5">
    <form [formGroup]="solicitud" class="pl-16">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="justificacion">Folio del tramite (pruebas)<span
                [ngClass]="
                solicitud.get('justificacion')?.invalid && solicitud.get('justificacion')?.touched ? 'has-error' : ''">*</span>:</label>
            <input formControlName="folioTramite" type="text" (change)="setValoresStore(solicitud,'folioTramite')"
              class="form-control" id="tramite" maxlength="120" />
          </div>
          <div class="form-group">
            <label for="justificacion">Justificación<span
                [ngClass]="
                solicitud.get('justificacion')?.invalid && solicitud.get('justificacion')?.touched ? 'has-error' : ''">*</span>:</label>
            <textarea rows="5" cols="70" class="justificacionTextArea" formControlName="justificacion"
              id="justificacion" (change)="setValoresStore(solicitud,'justificacion')"
              [ngClass]="{'border-danger': solicitud.get('justificacion')?.touched && solicitud.get('justificacion')?.invalid}"></textarea>

            <div *ngIf="solicitud.get('justificacion')?.touched && solicitud.get('justificacion')?.invalid"
              class="text-danger">
              <div *ngIf="solicitud.get('justificacion')?.errors?.['required']">
                Este campo es obligatorio.
              </div>
              <div *ngIf="solicitud.get('justificacion')?.errors?.['maxlength']">
                La justificación no puede tener más de 4000 caracteres.
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>