.text-center {
  text-align: center;
}

.error-message {
  color: red;
  border-color: red;
  font-size: 12px;
  text-align: center;
}

.error-container {
  text-align: center;
}
.error-title {
  font-weight: bold;
  margin-bottom: 1rem;
}
.error-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.error-index {
  text-align: left;
  min-width: 20px;
  position: absolute;
  left: 15px;
}
.error-text {
  color: #b40606;
}
