<form [formGroup]="forma">
    <div class="row mb-3">
        <formas-dinamicas [forma]="formularioFormGroup" [formularioDatos]="formularioDatosSolicitud"
            [estado]="DatosSolicitudState" (emitirCambioDeValor)="establecerCambioDeValor($event)" [soloLectura]="consultaState.readonly"></formas-dinamicas>
    </div>
</form>

<form [formGroup]="formularioMercancia">
    <div class="row mb-3">
        <formas-dinamicas formularioTitulo="Datos de la mercancía" [forma]="datosMercanciaFormGroup"
            [formularioDatos]="formularioDatosMercancia" [estado]="DatosSolicitudState"
            (emitirCambioDeValor)="establecerCambioDeValor($event)" [soloLectura]="consultaState.readonly"></formas-dinamicas>
    </div>
</form>

<form [formGroup]="formularioLogistica">
    <div class="row mb-3">
        <formas-dinamicas formularioTitulo="Logística de las operaciones" [forma]="formularioLogisticaFormGroup"
            [formularioDatos]="formularioLogisticaOperaciones" [estado]="DatosSolicitudState"
            (emitirCambioDeValor)="establecerCambioDeValor($event)" [soloLectura]="consultaState.readonly"></formas-dinamicas>
    </div>
</form>

<form [formGroup]="formularioUbicacion">
    <div class="row mb-3">
        <formas-dinamicas formularioTitulo="Lugar en que se encuentra la mercancía en el domicilio del solicitante"
            [forma]="formularioUbicacionFormGroup" [formularioDatos]="formularioUbicacionMercancia"
            [estado]="DatosSolicitudState" (emitirCambioDeValor)="establecerCambioDeValor($event)" [soloLectura]="consultaState.readonly"></formas-dinamicas>
    </div>
</form>