
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li [ngClass]="indice === 1 ? 'active' : ''">
                <a data-toggle="tab" (keyup)="seleccionaTab(1)" (click)="seleccionaTab(1)">Solicitante</a>
            </li>
            <li [ngClass]="indice === 2 ? 'active' : ''">
                <a data-toggle="tab" (keyup)="seleccionaTab(1)" (click)="seleccionaTab(2)">Datos Comunes</a>
            </li>
            <li [ngClass]="indice === 3 ? 'active' : ''">
                <a data-toggle="tab" (keyup)="seleccionaTab(1)" (click)="seleccionaTab(3)">Terceros Relacionados</a>
            </li>
            <li [ngClass]="indice === 4 ? 'active' : ''">
                <a data-toggle="tab" (keyup)="seleccionaTab(1)" (click)="seleccionaTab(4)">Agente Aduanal</a>
            </li>
            <li [ngClass]="indice === 5 ? 'active' : ''">
                <a data-toggle="tab" (keyup)="seleccionaTab(1)" (click)="seleccionaTab(5)">Perfiles</a>
            </li>
        </ul>
        <ng-container>
            @switch (indice) {
                @case(1) {
                    <solicitante></solicitante>
                }              
                @case (2) {
                    <shared-datos-comunes [procedureNumero]="procedureNumero" [procedureActivo]="procedureActivo"></shared-datos-comunes>
                }
                @case(3) {
                    <shared-terceros-relacionados [consultaState]="consultaState"></shared-terceros-relacionados>
                }
                @case(4) {
                   <app-agente-aduanal [consultaState]="consultaState"></app-agente-aduanal>
                }
                @case (5) {
                   <app-perfiles [consultaState]="consultaState"></app-perfiles>
                }

            }
        </ng-container>
    </div>
</div>