<div class="Page">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h1>Renuncia de derechos de permisos</h1>
      </div>
      <app-wizard [listaPasos]="pantallasPasos"></app-wizard>
    </div>
    <div class="row">
      @switch (indice) { @case (1) {
      <app-datos></app-datos>
      } @case (2) {
        <app-paso-dos></app-paso-dos>
      } @case (3) {
        <app-paso-tres></app-paso-tres>
      } }
    </div>

    <btn-continuar
      [datos]="datosPasos"
      (continuarEvento)="getValorIndice($event)"
    ></btn-continuar>
  </div>
</div>
