@charset "UTF-8";
@import "_variables";

// Estilos personalizados extraídos de _gobmx.scss

html {
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 1.428571429;
  color: #404041;
}

a {
  background-color: transparent;
  color: #12c;
  text-decoration: underline;

  &:active,
  &:hover {
    outline: 0;
    color: #7b9cf0;
  }

  &:focus {
    outline-offset: -2px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 0 0 12.5px;
}

.lead {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
}

.text-primary {
  color: #4a90e2;

  a {
    &:focus,
    &:hover {
      color: #2275d7;
    }
  }
}

.text-success {
  color: #3c763d;

  a {
    &:focus,
    &:hover {
      color: #2b542c;
    }
  }
}

.text-info {
  color: #31708f;

  a {
    &:focus,
    &:hover {
      color: #245269;
    }
  }
}

.text-warning {
  color: #8a6d3b;

  a {
    &:focus,
    &:hover {
      color: #66512c;
    }
  }
}

.text-danger {
  color: #a94442;

  a {
    &:focus,
    &:hover {
      color: #843534;
    }
  }
}

.bg-primary {
  color: $color-white;
  background-color: $color-primario;

  a {
    &:focus,
    &:hover {
      color: #D4C19C;
      background-color: rgba(255, 255, 255, .15);
    }
  }
}

.bg-success {
  background-color: #dff0d8;

  a {
    &:focus,
    &:hover {
      background-color: #c1e2b3;
    }
  }
}

.bg-info {
  background-color: #d9edf7;

  a {
    &:focus,
    &:hover {
      background-color: #afd9ee;
    }
  }
}

.bg-warning {
  background-color: #fcf8e3;

  a {
    &:focus,
    &:hover {
      background-color: #f7ecb5;
    }
  }
}

.bg-danger {
  background-color: #f2dede;

  a {
    &:focus,
    &:hover {
      background-color: #e4b9b9;
    }
  }
}

.btn {
  border: none;
  font-size: 18px;
  border-radius: 3px;
  padding: 10px 25px;

  &.active,
  &:active {
    background-image: none;
  }

  &.focus,
  &:focus {
    outline: none;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none;
  }
}

.btn-default {
  border: 2px solid #6f7271;
  box-shadow: 0 0 0 0 #6f7271;
}

.btn-primary {
  border: 2px solid $color-primario;
  box-shadow: 0 0 0 0 $color-primario;
}

.btn-success {
  box-shadow: 0 2px 0 0 #357935;
}

.btn-info {
  box-shadow: 0 2px 0 0 #2390b0;
}

.btn-warning {
  box-shadow: 0 2px 0 0 #c77c11;
}

.btn-danger {
  border: 2px solid #b38e5d;
  box-shadow: 0 0 0 0 #b38e5d;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 20px 50px;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 1px 5px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}

.red {
  color: #a22244;
}

.giant {
  font-size: 90px;
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 700;
  text-indent: -6px;
  line-height: 67%;
}

.top-buffer,
.vertical-buffer {
  margin-top: 64px;
}

.bottom-buffer,
.vertical-buffer {
  margin-bottom: 64px;
}

.vh,
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  text-indent: -9999px;
}

.box {
  padding: 25px;

  dt,
  h4,
  h5 {
    font-weight: 400;
  }

  dd,
  dl,
  p {
    margin-bottom: 15px;
  }

  &.inverted {
    background-color: #f5f5f5;
  }

  &.light {
    background-color: #fff;
  }

  &.bordered {
    border: 1px solid #ddd;
  }
}

.dl-wide {
  display: table;
  width: 100%;
  border-bottom: 1px solid #919191;
  margin-bottom: 15px;
  padding-bottom: 20px;

  &.last {
    border-bottom: none;
  }

  dt {
    font-weight: 500;
  }

  dd {
    margin-bottom: 30px;
    font-weight: 400;
  }
}

.form-group {
  .form-control-lada,
  .form-control-phone {
    display: inline-block;
    width: auto;
  }

  .form-control-lada {
    width: 20%;
  }

  .form-control-phone {
    width: 75%;
  }

  .form-control.form-control-error {
    border-color: #d9534f;
  }

  .form-text.form-text-error {
    color: #d9534f;
  }
}

.navbar {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  height: 60px;
  border: none;

  .navbar-brand {
    padding: 15px 15px;
    font-size: 20px;

    > img {
      max-height: 30px;
    }
  }

  .navbar-inverse {
    .navbar-nav > li > a {
      text-decoration: none;
    }

    .navbar-toggle {
      border: none;
    }
  }
}

.main-footer {
  background-color: $color-primario;
  min-height: 56px;
  color: $color-white;
  padding: 0px 0 0px;
  text-align: left;
  font-weight: 300;

  .list-info {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-right: 15px;

      a {
        color: $color-white;

        &.link-email,
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .row > div {
    margin-bottom: 15px;
  }

  p {
    margin: 0;
  }
}

.gobmx-footer {
  margin-top: 15px;
}

.message-subscribe {
  margin-top: 20px;
  font-size: 14px;
}

.breadcrumb {
  padding: 22px 0;
  margin-bottom: 25px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px;

  > li + li:before {
    content: ">";
    padding: 0 5px;
    color: #ccc;
  }

  a {
    text-decoration: none;
  }

  > .active {
    color: #777;
  }

  .icon {
    margin-right: 5px;
  }
}

.user-credencials {
  position: absolute;
  left: 0;
  right: 0;
  margin: 16px 15px;
  padding: 6px 20px;
  border: 1px solid #dce0e0;
  border-radius: 5px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 15px;
  }

  button {
    margin-left: 10px;
  }

  .user-credencials__name {
    font-weight: 700;
  }
}

.well {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  border: 1px solid #efefef;
  border-radius: 4px;
  box-shadow: none;
  padding: 20px 10px;

  &.well-success {
    background-color: #4a90e2;
    color: $color-white;
    border: none;
  }

  &.well-lg {
    padding: 70px;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .well {
    padding: 40px;
  }

  .main-footer {
    padding: 20px 0;
  }
}

@media (min-width: 992px) {
  .giant {
    font-size: 120px;
  }
}

@media (min-width: 1200px) {
  .giant {
    font-size: 150px;
  }
}
