@import "bootstrap/scss/bootstrap";

@import "_variables.scss";
@import "_gobmx.scss";
@import "_iconos_gobmx.scss";

.bi-c {
  color: $color-primario;

  &:hover {
    color: $color-danger;
  }
}

/* Tamaños personalizados del offcanvas */

.offcanvas-size-xl {
  --#{$prefix}offcanvas-width: min(95vw, 45%) !important;
}
.offcanvas-size-xxl {
  --#{$prefix}offcanvas-width: min(95vw, 90vw) !important;
}
.offcanvas-size-md {
  /* add Responsivenes to default offcanvas */
  --#{$prefix}offcanvas-width: min(95vw, 400px) !important;
}
.offcanvas-size-sm {
  --#{$prefix}offcanvas-width: min(95vw, 250px) !important;
}

.offcanvas-footer {
  padding: 10px;
  display: flex;
  justify-content: end;
}

.btn-disabled {
  background-color: $color-primario;
  color: $white;
  opacity: 0.6;
  cursor: not-allowed;

  &:hover {
    background-color: $color-primario;
    color: $white;
  }
}


.required {
  border: #fe4a47 1px solid;
}






