@import "bootstrap/scss/bootstrap";

@import "_variables.scss";
@import "_gobmx.scss";

.bi-c {
  color: $color-primario;

  &:hover {
    color: $color-danger;
  }
}

/* Tamaños personalizados del offcanvas */

.offcanvas-size-xl {
  --#{$prefix}offcanvas-width: min(95vw, 45%) !important;
}
.offcanvas-size-xxl {
  --#{$prefix}offcanvas-width: min(95vw, 90vw) !important;
}
.offcanvas-size-md {
  /* add Responsivenes to default offcanvas */
  --#{$prefix}offcanvas-width: min(95vw, 400px) !important;
}
.offcanvas-size-sm {
  --#{$prefix}offcanvas-width: min(95vw, 250px) !important;
}

.offcanvas-footer {
  padding: 10px;
  display: flex;
  justify-content: end;
}

.navbar-gob {
  background-color: $color-primario;
  height: 60px;
  color: $white;
}

.img-logo {
  width: 128px;
  height: 48px;
}

.align-icon {
  display: grid;
  align-items: center;
}

.btn-disabled {
  background-color: $color-primario;
  color: $white;
  opacity: 0.6;
  cursor: not-allowed;

  &:hover {
    background-color: $color-primario;
    color: $white;
  }
}


.required {
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
  box-shadow: 0 0 4px 1px #fe4a47;
}






