<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li [ngClass]="indice === 1 ? 'active' : ''">
        <a
          (click)="seleccionaTab(1)"
          (keyup.enter)="seleccionaTab(1)"
          (keydown.space)="seleccionaTab(1)"
          tabindex="0"
          data-toggle="tab"
          >Solicitante</a
        >
      </li>
      <li [ngClass]="indice === 2 ? 'active' : ''">
        <a
          (click)="seleccionaTab(2)"
          (keyup.enter)="seleccionaTab(2)"
          (keydown.space)="seleccionaTab(2)"
          tabindex="1"
          data-toggle="tab"
          >Modificación</a
        >
      </li>
      <li [ngClass]="indice === 3 ? 'active' : ''">
        <a
          (click)="seleccionaTab(3)"
          (keyup.enter)="seleccionaTab(3)"
          (keydown.space)="seleccionaTab(3)"
          tabindex="2"
          data-toggle="tab"
          >Bitácora</a
        >
      </li>
    </ul>

    <ng-container>
      @switch (indice) { @case (1) {
      <solicitante ></solicitante>
      } @case (2) {
      <app-datos-modificaciones></app-datos-modificaciones>
      <app-alta-planta></app-alta-planta>
      } @case (3) {
      <app-bitacora></app-bitacora>
      } }
    </ng-container>
  </div>
</div>
