.datos-table {
    ::ng-deep ng-table{
      th:not(:first-child), td:not(:first-child) {
        min-width: 180px;
        text-align: center;
        vertical-align: middle;
      }
    }
  }

.form-container {
    display: flex;
    flex-direction: column; 
    gap: 1.5rem;
}

.dropdown-field {
  height: 100px;
}


.modal-dialog {
  max-width: 1100px !important;
}

.modal-body {
  margin: 25px;
  text-align: center;
}

.modal-footer {
  margin: 0px 25px 25px 25px;
  justify-content: center !important;
}

.modal-content {
  .modal-header {
    padding: 20px;
    border-bottom: none;
  }
}

.confirmar-modal-small {
  max-width: 350px !important;
  margin: 5% auto !important;
}

.confirmar-modal-medium {
  max-width: 450px !important;
}

.confirmar-modal-large {
  max-width: 650px !important;
}

.modal-footer-centered {
  justify-content: center !important;
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.modal-backdrop.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.modal-backdrop.show {
  opacity: 0.5 !important;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal.show {
  display: block !important;
}

