.form-control {
  height: 35px;
  font-size: 15px;
  font-weight: 500;
}

.form-label {
  font-size: 16px;
}
.solicitante-datos {
  font-size: 16px;
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 370px) {
  .form-label {
    text-align: unset !important;
  }
}

/* Haz que el asterisco sea rojo cuando el campo tenga errores de validación */
.form-group.has-error label .require,
.form-group:has(.is-invalid) label .require,
label:has(+ input.is-invalid) .require,
label:has(+ input-fecha.is-invalid) .require,
label:has(+ app-catalogo-select .required) .require,
.has-error .form-label,
.has-error label .require {
    color: #dc3545 !important;
}
