.alert {
    text-align: left !important;
}

.alert label {
    font-weight: normal;
}

.manifiesto-descripcion {
    text-align: justify;
    margin: -25px 0px 0px 25px !important;
}

.mt-100 {
    margin-top: 100px;
}