.table-container {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: scroll;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

table td {
  word-wrap: break-word;
}
table {
  margin-bottom: 0;
  table-layout: fixed;
}

.pagination {
  display: table;
  margin: 0 auto;
}