textarea.form-control {
    height: auto;
    resize: none;
}

.table-responsive {
    overflow-x: auto;
}

.table-header {
    font-size: small;
    opacity: 0.7;
}


textarea{
    width: 100%;
}

@media (max-width: 575px) {
    textarea {
        width: 100%; 
        font-size: 0.9rem;  
        padding: 10px; 
        resize: none;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    textarea {
        width: 100%; 
        font-size: 1rem; 
        padding: 12px; 
        resize: vertical;
    }
}



  
  