<div class="container">
  <form>
    <ng-titulo titulo="Datos del tramite a realizar" />
    <div class="row">
      <div class="col-md-12">
        <label for="Tipo_de_Certificado">Tipo de Certificado</label>
        <span class="require">*</span>
      </div>
    </div>
    <app-input-radio [radioOptions]="radioOptions" [selectedValue]="selectedValue" [isRequired]="true"
      (valueChange)="onValueChange($event)" [layout]="'vertical'"></app-input-radio>
      
    <div class="row mt-4">
      <div class="col-md-12">
        <label for="message" class="form-label">Tratamiento :</label>
        <textarea id="message" class="form-control mb-5" placeholder="" readonly="true"></textarea>
      </div>
    </div>
  </form>
</div>