.alert {
  text-align: left !important;
}

.alert label {
  font-weight: normal;
}

.manifiesto-descripcion {
  text-align: justify;
  margin: -25px 0px 0px 25px !important;
}

.modal-dialog {
  max-width: 1220px !important;
}

::ng-deep p {
  font-size: 15px !important;
}

.mt-20 {
  margin-top: 15px;
}

.mr-5px {
  margin-right: 5px;
}

.modal-body {
  margin: 25px 25px 0px 25px;
}

.modal-footer {
  margin: 0px 25px 25px 0px;
}

textarea.form-control {
  height: 0% !important;
}

.modal-content {
  padding-left: 6% !important;
  padding-right: 6% !important;
  padding-bottom: 5% !important;
}

.danger{
    color:red;
    margin-right: 5px;
}

.space-between{
    display: flex;
    justify-content: space-between;
}

.alignRight{
    display: flex;
    justify-content: right;
}

.alignRight .form-control{
    width:40%;
    margin-left:10px;
}

.gap .form-group form{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.gap .form-group form div{
    width:50%;
}

.dis-flex-end{
    display: flex;
    align-items: end;
}