.tipo-carga{
  display: flex;
  align-items: center;
  gap: 40%; 
}

.form-label {
  margin-bottom: 0; 
  white-space: nowrap;
  display: flex;
  align-items: center; 
  height: 100%; 
}

.tipo-carga app-input-radio,
.tipo-carga app-input-radio > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  align-items: center;
  display: flex;
  position: relative;
  top: 1px; 
}