<div class="container form-container">
  <ng-titulo titulo="Representante Legal"></ng-titulo>
  <div>
    <form [formGroup]="representante">
      <ng-container>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="rfc">RFC*</label>
              <input
                class="form-control"
                id="rfc"
                formControlName="rfc"
                type="text"
                (change)="setValoresStore(representante,'rfc', 'setRfc')"
              />
              <div *ngIf="representante.get('rfc')?.touched && representante.get('rfc')?.hasError('required')" class="text-danger mt-1 small">
              Este campo es obligatorio
              </div>
            </div>
          </div>

          <div class="col-md-4 d-flex align-items-center">
            <div class="btn-group">
              <button class="btn btn-default" type="button" (click)="obtenerAduanasDisponiblesDatos()" [disabled]="esFormularioSoloLectura">Buscar</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="nombre">Nombre o Razón Social*</label>
              <input
                class="form-control"
                id="nombre"
                formControlName="nombre"
                type="text"
                
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="apellidoPaterno">Apellido Paterno*</label>
              <input
                class="form-control"
                id="apellidoPaterno"
                formControlName="apellidoPaterno"
                type="text"
                
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="apellidoMaterno">Apellido Materno</label>
              <input
                class="form-control"
                id="apellidoMaterno"
                formControlName="apellidoMaterno"
                type="text"
                
              />
            </div>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
</div>