 <div class="col-md-12">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="panel-group ficha-collapse" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading" (click)="mostrar_colapsable()">
            <p class="panel-title espacio-extra">
              Opciones de pre-llenado de Solicitud
            </p>
            <button type="button" class="collpase-button collapsed" [ngClass]="{ 'expanded': colapsable,'collapsed': !colapsable}" [disabled]="esFormularioSoloLectura"></button>
          </div>
          @if(colapsable){
          <div class="panel-collapse collapse in" id="panel-01" [ngClass]="{ 'in': colapsable, 'collapse': !colapsable}">
            <div class="panel-body">
              <ng-alert [CONTENIDO]="TEXTOS.ALERTA"></ng-alert>
              <div class="row mt-5 mb-5">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-end">
                  <div class="btn-group">
                    <button class="btn btn-primary me-2" type="button" [disabled]="esFormularioSoloLectura">
                      Copiar datos en una Nueva Solicitud
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>