<div class="row">
    <div class="col-md-12 hidden-xs">
        <ul class="wizard-steps ">
            <li class="completed">
                <h5>Paso 1</h5>
                <span>Capturar solicitud</span>
            </li>
            <li>
                <h5>Paso 2</h5>
                <span>Requisitos necesarios</span>
            </li>
            <li>
                <h5>Paso 3</h5>
                <span>Anexar requisitos</span>
            </li>
            <li>
                <h5>Paso 4</h5>
                <span>Firmar solicitud</span>
            </li>
            <!-- <li class="success">
                <i class="bi bi-check-circle icono-wizardbar-item-final"></i>

            </li> -->
        </ul>
    </div>

</div>