@import "../../../../assets/styles/_variables";

.wizard-steps li:last-child i,
.wizard-steps-extensive li:last-child i {
  visibility: hidden;
}

.wizard-steps,
.wizard-steps-extensive {
  margin: 0 0 25px;
  padding: 0;
  list-style-type: none;
}

.wizard-steps li,
.wizard-steps-extensive li {
  display: block;
  background-color: #eee;
  position: relative;
  padding: 10px;
  margin-bottom: 2px;
  text-align: center;
}

.wizard-steps li h5,
.wizard-steps-extensive li h5 {
  margin: 0;
}

.wizard-steps li {
  &.completed,
  &.current {
    background-color: $color-primario;
    color: $color-white;
  }
}

.wizard-steps-extensive li {
  &.completed,
  &.current {
    background-color: $color-primario;
    color: $color-white;
  }
}

.wizard-steps li:last-child.success,
.wizard-steps-extensive li:last-child.success {
  background-color: $color-success;
}

.wizard-steps li:last-child.success i,
.wizard-steps-extensive li:last-child.success i {
  visibility: visible;
  color: $color-white;
}

@media (min-width: 768px) {
  .wizard-steps li {
    h5,
    i,
    span {
      position: relative;
      z-index: 20;
    }

    font-size: 14px;
    padding: 0 10px 0 40px;
    display: inline-block;
    height: 70px;
    color: #000;
    margin-bottom: 0;
    text-align: left;

    h5 {
      margin: 14px 0 0;
    }

    i {
      padding-top: 18px;
      font-size: 35px;
      color: $color-white;
      display: block;
      margin: auto;
      text-align: center;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      z-index: 5;
    }

    &:last-child {
      top: 0px;
      width: 94px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      &:after,
      &:before {
        display: none;
      }
    }

    &:after,
    &:before {
      content: "";
      position: absolute;
      background-color: #ececec;
    }

    &:after {
      position: absolute;
      right: -29px;
      top: 9px;
      border-radius: 3px;
      border-right: 3px solid $color-white;
      border-top: 3px solid $color-white;
      height: 52px;
      width: 52px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      z-index: 4;
    }

    &:nth-child(3) {
      z-index: 3;
    }

    &:nth-child(4) {
      z-index: 2;
    }

    &.completed,
    &.current,
    &.success {
      background-color: $color-primario;
      color: $color-white;
      height: 80px;
      top: 0;
    }

    &.completed h5,
    &.current h5,
    &.success h5 {
      margin-top: 20px;
    }

    &.completed i,
    &.current i,
    &.success i {
      margin-top: 6px;
    }

    &.completed {
      &:after,
      &:before {
        background-color: $color-primario;
      }
    }

    &.current {
      &:after,
      &:before {
        background-color: $color-primario;
      }
    }

    &.success {
      &:after,
      &:before {
        background-color: $color-primario;
      }
    }

    &.completed:after,
    &.current:after,
    &.success:after {
      height: 60px;
      width: 60px;
      top: 10px;
      right: -33px;
    }
  }

  .wizard-steps-extensive {
    background-color: #eee;
    padding: 25px 50px;
    border-radius: 5px;

    li {
      display: inline-block;
      position: relative;
      width: 27px;
      height: 27px;
      margin-left: 30px;
      padding: 0;
      border: 2px solid $color-primario;
      border-radius: 50%;
      text-align: center;
      line-height: 25px;
      color: transparent;

      &:after {
        content: "";
        width: 25px;
        height: 2px;
        background-color: #ccc;
        position: absolute;
        top: 12px;
        right: 30px;
      }

      &:first-child {
        margin-left: 0;

        &:after {
          display: none;
        }
      }

      &:hover span {
        display: block;
      }

      &.completed {
        background-color: $color-primario;
        color: $color-white;

        &:after {
          background-color: $color-primario;
        }
      }

      h5 {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
      }

      span {
        display: none;
        position: absolute;
        top: 180%;
        left: -23px;
        background-color: $color-light-gray;
        padding: 8px 15px;
        border-radius: 6px;
        font-size: 16px;
        color: #eee;
        white-space: nowrap;
        text-overflow: ellipsis;
        z-index: 5;

        &:before {
          content: "";
          border: 10px solid transparent;
          border-bottom-color: $color-light-gray;
          position: absolute;
          bottom: 100%;
          left: 25px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .attention .step .row .col-md-4 {
    margin-top: 0;
  }

  .wizard-steps li {
    /* font-size: 16px; */
    padding: 0 20px 0 50px;

    &:last-child {
      width: 144px;
      top: 0;
    }
  }
}

@media (min-width: 1200px) {
  .wizard-steps li {
    padding: 0 30px 0 50px;

    &:last-child {
      width: 304px;
    }
  }
}
