.spaced-text {
    word-spacing: 20px;
    font-family: auto;
    display: flex;
    align-items: center; 
    gap: 5px;
  }

.manifest-box {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

