.spaced-text {
    word-spacing: 20px;
    font-family: auto;
    display: flex;
    align-items: center; 
    gap: 5px;
  }

.manifest-box {
  display: flex;
  align-items: flex-start;
  padding: 10px;

  label {
    display: flex;
    padding: 40px 0px 0px 10px;

    .label-asterisk {
      padding: 5px 0px 0px 15px;
    }
  }
}

.manifiest-alert {
  padding: 10px 10px 10px 80px;
}

