<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li [ngClass]="indice === 1 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(1)" (keydown.enter)="seleccionaTab(1)"
          (keydown.space)="seleccionaTab(1)" role="button" tabindex="0">Solicitante</a>
      </li>
      <li [ngClass]="indice === 2 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(2)" (keydown.enter)="seleccionaTab(2)"
          (keydown.space)="seleccionaTab(2)" role="button" tabindex="2">Certificado de Origen</a>
      </li>
      <li [ngClass]="indice === 3 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(3)" (keydown.enter)="seleccionaTab(3)"
          (keydown.space)="seleccionaTab(3)" role="button" tabindex="3">Destinatario</a>
      </li>
      <li [ngClass]="indice === 4 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(4)" (keydown.enter)="seleccionaTab(4)"
          (keydown.space)="seleccionaTab(4)" role="button" tabindex="4">Datos Certificado</a>
      </li>
    </ul>

    <ng-container>
      <solicitante [hidden]="indice !==1" [tabindex]="1" #solicitante></solicitante>
      <app-certificado-de-origen [hidden]="indice !==2" [active]="indice === 2" (dataEvent)="cargaArchivo($event)" [tabIndex]="2"
        #CertificadoOrigen></app-certificado-de-origen>
      <app-destinatario [hidden]="indice !==3" [tabIndex]="3" [active]="indice === 3" #Destinatario></app-destinatario>
      <app-datos-certificado [hidden]="indice !==4" [tabIndex]="4" [active]="indice === 4" [entidadFederativaData]="entidadFederativa"
        #DatosCertificado></app-datos-certificado>
    </ng-container>
  </div>
</div>
