<div class="container">
  <ng-titulo titulo="Representación federal"></ng-titulo>
  <form [formGroup]="frmRepresentacionForm">
    <div class="row">
      <div class="col-md-6 form-group">
        <app-catalogo-select [catalogo]="estado" [label]="'Estado'" [isDisabled]="esFormularioSoloLectura"
          formControlName="entidad"
          (change)="setValoresStore(frmRepresentacionForm, 'entidad')"></app-catalogo-select>
      </div>
      <div class="col-md-5 form-group">
        <app-catalogo-select [catalogo]="representacionFederal" [label]="'Representación federal'" [required]="true" [isDisabled]="esFormularioSoloLectura"
          formControlName="representacion"
          (change)="setValoresStore(frmRepresentacionForm, 'representacion')"></app-catalogo-select>
        <div
          *ngIf="frmRepresentacionForm.controls['representacion'].invalid && frmRepresentacionForm.controls['representacion'].touched"
          class="text-danger">
          <small *ngIf="frmRepresentacionForm.controls['representacion'].errors?.['required']">Debe seleccionar un
            valor.</small>
        </div>
      </div>
    </div>
  </form>
</div>