<div [formGroup]="datosDonanteExtranjeroForm">
    <div class="row">
        <div class="col-md-12">
            <label for="nombreDonante" class="form-label">{{datosDonanteExtranjero.nombreLabel}}*:</label>
            <input type="text" class="form-control" id="nombreDonante" name="razonSocial" formControlName="razonSocial"
                maxlength="120" (change)="setValoresStore(datosDonanteExtranjeroForm,'razonSocial', 'setRazonSocial')">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="calleDonante" class="form-label">{{datosDonanteExtranjero.calleLabel}}*:</label>
            <input type="text" class="form-control" id="calleDonante" name="calleDonante" formControlName="calleDonante"
                maxlength="120"
                (change)="setValoresStore(datosDonanteExtranjeroForm,'calleDonante', 'setCalleDonante')">
        </div>
        <div class="col-md-4">
            <label for="numExteriorLabel" class="form-label">{{datosDonanteExtranjero.numExteriorLabel}}*:</label>
            <input type="text" class="form-control" id="numExteriorLabel" name="numExteriorLabel"
                formControlName="numExteriorLabel" maxlength="55"
                (change)="setValoresStore(datosDonanteExtranjeroForm,'numExteriorLabel', 'setNumExteriorLabel')">
        </div>
        <div class="col-md-4">
            <label for="numInteriorDonante" class="form-label">{{datosDonanteExtranjero.numInteriorLabel}}:</label>
            <input type="text" class="form-control" id="numInteriorDonante" name="numInteriorDonante"
                formControlName="numInteriorDonante" maxlength="55"
                (change)="setValoresStore(datosDonanteExtranjeroForm,'numInteriorDonante', 'setNumInteriorDonante')">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <app-catalogo-select [catalogo]="pais" [label]="'País'" [required]="true" name="pais" formControlName="pais"
                [isDisabled]="formularioDeshabilitado" (change)="paisSeleccion()"></app-catalogo-select>
        </div>
        <div class="col-md-4">
            <label class="form-label" for="codigoPostalDonante">{{ datosDonanteExtranjero.codigoPostalLabel }}*:</label>
            <input type="text" class="form-control" id="codigoPostalDonante" name="codigoPostal"
                formControlName="codigoPostal" maxlength="12"
                (change)="setValoresStore(datosDonanteExtranjeroForm,'codigoPostal', 'setCodigoPostal')">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="estadoDonante">{{ datosDonanteExtranjero.estadoLabel }}*:</label>
            <input type="text" class="form-control" id="estadoDonante" name="informacionExtra"
                formControlName="informacionExtra" maxlength="55"
                (change)="setValoresStore(datosDonanteExtranjeroForm,'informacionExtra', 'setInformacionExtra')">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="ciudadLabel" class="form-label">{{datosDonanteExtranjero.ciudadLabel}}*:</label>
            <input type="text" class="form-control" id="coloniaDonante" name="coloniaDonante"
                formControlName="coloniaDonante" maxlength="30"
                (change)="setValoresStore(datosDonanteExtranjeroForm,'coloniaDonante', 'setColoniaDonante')">
        </div>
        <div class="col-md-4">
            <label for="correoElectronicoLabel"
                class="form-label">{{datosDonanteExtranjero.correoElectronicoLabel}}:</label>
            <input type="text" class="form-control" id="correoElectronicoDonante" name="correoElectronicoDonante"
                formControlName="correoElectronicoDonante" maxlength="50"
                (change)="setValoresStore(datosDonanteExtranjeroForm,'correoElectronicoDonante', 'setCorreoElectronicoDonante')">
        </div>
        <div class="col-md-4">
            <label for="telefonoLabel" class="form-label">{{datosDonanteExtranjero.telefonoLabel}}:</label>
            <input type="text" class="form-control" id="telefonoDonante" name="telefonoDonante"
                formControlName="telefonoDonante" maxlength="50"
                (change)="setValoresStore(datosDonanteExtranjeroForm,'telefonoDonante', 'setTelefonoDonante')">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <app-catalogo-select [catalogo]="cveDocumentoResidencia" (change)="documentoResidenciaSeleccion()"
                [label]="'Documento con el que acredita su residencia en el extranjero'" [required]="true"
                name="cveDocumentoResidencia" [isDisabled]="formularioDeshabilitado"
                formControlName="cveDocumentoResidencia"></app-catalogo-select>
        </div>
    </div>
</div>