<div class="container">
  <div class="row mt-5" *ngIf="showPreFillingOptions">
    <div class="col-md-12">
      <div class="panel-group ficha-collapse" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading" (click)="mostrarColapsable()" (keyup.enter)="mostrarColapsable()" tabindex="0">
            <h4 class="panel-title">
              <a aria-label="Repeat"><i class="bi bi-copy" aria-hidden="true"></i>Opciones de
                pre-llenado de Solicitud</a>
            </h4>
            <button type="button" class="collpase-button " [class.collapsed]="!colapsable1"
              (keydown)="mostrarColapsable()"></button>
          </div>
          @if(colapsable1){
          <div class="panel-collapse collapse in" id="panel-01">
            <div class="panel-body">
              <ng-alert [CONTENIDO]="TEXTOS1.TEXTOS_SOLICITUD"></ng-alert>
              @if(mostrarBotonCopiarDatos){
              <div class="row">
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-primary">
                    Copiar datos en una Nueva Solicitud
                  </button>
                </div>
              </div>
              }
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="domicilioEstablecimiento">
    <div>
      <div>
        <label class="mt-5 mb-3">
          Seleccione el tipo de operación que desea realizar*:
        </label>

        <app-input-radio [radioOptions]="genericOptions" [isRequired]="true" [layout]="'horizontal'"
          formControlName="ideGenerica1" (change)="
            enCambioDeControl('domicilioEstablecimiento', 'ideGenerica1')
          "></app-input-radio>
        <div
          *ngIf="domicilioEstablecimiento.get('ideGenerica1')?.touched && domicilioEstablecimiento.get('ideGenerica1')?.errors?.['required']"
          class="text-danger">
          Seleccione el tipo de operación.
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-12">
          <div>
            <label for="observaciones"> Justificacion*:</label>
          </div>
          <div>
            <textarea cols="70" rows="5" id="observacionesId" class="form-control" formControlName="observaciones"
              placeholder="Justificación" (change)="
                enCambioDeControl('domicilioEstablecimiento', 'observaciones')
              "></textarea>
          </div>
          <div *ngIf="domicilioEstablecimiento.get('observaciones')?.touched">
            <div *ngIf="domicilioEstablecimiento.get('observaciones')?.errors?.['required']" class="text-danger">
              La justificación es obligatoria.
            </div>
            <div *ngIf="domicilioEstablecimiento.get('observaciones')?.errors?.['maxlength']" class="text-danger">
              La justificación no debe exceder los 2000 caracteres.
            </div>
          </div>
        </div>
      </div>
      <ng-titulo titulo="Datos del establecimiento"></ng-titulo>
      @if (showCodigoPostalCorreoElectronico) {
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label" for="establecimientoRazonSocial">
              Denominación o razón social*:
            </label>
            <input class="form-control" id="establecimientoRazonSocialId" placeholder="" type="text"
              formControlName="establecimientoRazonSocial" (change)="
                enCambioDeControl(
                  'domicilioEstablecimiento',
                  'establecimientoRazonSocial'
                )
              " />
            <div
              *ngIf="domicilioEstablecimiento.get('establecimientoRazonSocial')?.touched && domicilioEstablecimiento.get('establecimientoRazonSocial')?.errors?.['required']"
              class="text-danger">
              La razón social es obligatoria.
            </div>
          </div>
          <!-- Closing div for form-group -->
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label" for="establecimientoCorreoElectronico">
              Correo electrónico*:
              <span class="bi bi-question-circle-fill" title="Correo electrónico" data-bs-toggle="tooltip"></span>
            </label>
            <input class="form-control" id="establecimientoCorreoElectronicoId" placeholder="" type="text"
              formControlName="establecimientoCorreoElectronico" (change)="
                enCambioDeControl(
                  'domicilioEstablecimiento',
                  'establecimientoCorreoElectronico'
                )
              " />
          </div>
          <div *ngIf="
              domicilioEstablecimiento.get('establecimientoCorreoElectronico')
                ?.touched
            ">
            <div *ngIf="domicilioEstablecimiento.get('establecimientoCorreoElectronico')?.errors?.['required']"
              class="text-danger">
              El correo electrónico es obligatorio.
            </div>
            <div *ngIf="domicilioEstablecimiento.get('establecimientoCorreoElectronico')?.errors?.['email']"
              class="text-danger">
              Ingrese un correo electrónico válido.
            </div>
          </div>
        </div>
      </div>
      } @else {
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 d-flex justify-content-end">
          <button type="button" class="btn btn-primary" (click)="abrirModal()">
            Seleccionar establecimiento
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="establecimientoRFCResponsableSanitario">RFC del responsable
              sanitario*:</label>
            <input class="form-control" id="establecimientoRFCResponsableSanitarioId" placeholder="" type="text"
              formControlName="establecimientoRFCResponsableSanitario" (change)="
                enCambioDeControl(
                  'domicilioEstablecimiento',
                  'establecimientoRFCResponsableSanitario'
                )
              " />
          </div>
          <div
            *ngIf="domicilioEstablecimiento.get('establecimientoRFCResponsableSanitario')?.touched && domicilioEstablecimiento.get('establecimientoRFCResponsableSanitario')?.errors?.['pattern']"
            class="text-danger">
            El RFC no tiene un formato válido.
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <label class="form-label" for="establecimientoRazonSocial">Denominación o razón social*:</label>
            <input class="form-control" id="establecimientoRazonSocialId" placeholder="" type="text"
              formControlName="establecimientoRazonSocial" (change)="
                enCambioDeControl(
                  'domicilioEstablecimiento',
                  'establecimientoRazonSocial'
                )
              " />
          </div>
          <div
            *ngIf="domicilioEstablecimiento.get('establecimientoRazonSocial')?.touched && domicilioEstablecimiento.get('establecimientoRazonSocial')?.errors?.['required']"
            class="text-danger">
            La razón social es obligatoria.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="establecimientoCorreoElectronico">Correo electrónico*:
              <span class="bi bi-question-circle-fill" title="Correo electrónico"
                data-bs-toggle="tooltip"></span></label>
            <input class="form-control" id="establecimientoCorreoElectronicoId" placeholder="" type="text"
              formControlName="establecimientoCorreoElectronico" (change)="
                enCambioDeControl(
                  'domicilioEstablecimiento',
                  'establecimientoCorreoElectronico'
                )
              " />
          </div>
          <div *ngIf="
              domicilioEstablecimiento.get('establecimientoCorreoElectronico')
                ?.touched
            ">
            <div *ngIf="domicilioEstablecimiento.get('establecimientoCorreoElectronico')?.errors?.['required']"
              class="text-danger">
              El correo electrónico es obligatorio.
            </div>
            <div *ngIf="domicilioEstablecimiento.get('establecimientoCorreoElectronico')?.errors?.['email']"
              class="text-danger">
              Ingrese un correo electrónico válido.
            </div>
          </div>
        </div>
      </div>
      }
      <ng-titulo titulo="Domicilio del establecimiento"></ng-titulo>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="establecimientoDomicilioCodigoPostal">Código postal*:</label>
            <input class="form-control" type="text" id="establecimientoDomicilioCodigoPostalId" appUppercase
              formControlName="establecimientoDomicilioCodigoPostal" (change)="
                enCambioDeControl(
                  'domicilioEstablecimiento',
                  'establecimientoDomicilioCodigoPostal'
                )
              " />
            <div *ngIf="domicilioEstablecimiento.get('establecimientoDomicilioCodigoPostal')?.touched && 
                   domicilioEstablecimiento.get('establecimientoDomicilioCodigoPostal')?.errors?.['required']"
              class="text-danger">
              El código postal es obligatorio.
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <app-catalogo-select [catalogo]="estado" [label]="'Estado*'" name="estado" [required]="true"
              formControlName="establecimientoEstados" (change)="
                enCambioDeControl(
                  'domicilioEstablecimiento',
                  'establecimientoEstados'
                )
              ">
            </app-catalogo-select>
          </div>
          <div *ngIf="domicilioEstablecimiento.get('establecimientoEstados')?.touched && 
               domicilioEstablecimiento.get('establecimientoEstados')?.errors?.['required']" class="text-danger">
            Seleccione un estado.
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="descripcionMunicipio">Municipio o alcaldía*:</label>
            <input class="form-control" type="text" id="descripcionMunicipioId" appUppercase
              formControlName="descripcionMunicipio" (change)="
                enCambioDeControl(
                  'domicilioEstablecimiento',
                  'descripcionMunicipio'
                )
              " />
            <div
              *ngIf="domicilioEstablecimiento.get('descripcionMunicipio')?.touched && domicilioEstablecimiento.get('descripcionMunicipio')?.errors?.['required']"
              class="text-danger">
              El municipio es obligatorio.
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <ng-alert [CONTENIDO]="TEXTOS1.ALERTA" [CUSTOMECLASS]="class"></ng-alert>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="localidad">Localidad:</label>
            <input class="form-control" type="text" id="localidad" formControlName="localidad" (change)="
                enCambioDeControl('domicilioEstablecimiento', 'localidad')
              " />
            <div *ngIf="domicilioEstablecimiento.get('localidad')?.touched && 
                   domicilioEstablecimiento.get('localidad')?.errors?.['required']" class="text-danger">
              La localidad es obligatoria.
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="establishomentoColonias">Colonias:</label>
            <input class="form-control" type="text" id="establishomentoColoniasId"
              formControlName="establishomentoColonias" (change)="
                enCambioDeControl(
                  'domicilioEstablecimiento',
                  'establishomentoColonias'
                )
              " />
            <div *ngIf="domicilioEstablecimiento.get('establishomentoColonias')?.touched && 
                   domicilioEstablecimiento.get('establishomentoColonias')?.errors?.['required']" class="text-danger">
              La colonia es obligatoria.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="form-label" for="calle">Calle*:
              <span class="bi bi-question-circle-fill" title="Calle" data-bs-toggle="tooltip"></span></label>
            <input class="form-control" type="text" id="calle" appUppercase formControlName="calle"
              (change)="enCambioDeControl('domicilioEstablecimiento', 'calle')" />
          </div>
          <div
            *ngIf="domicilioEstablecimiento.get('calle')?.touched && domicilioEstablecimiento.get('calle')?.errors?.['required']"
            class="text-danger">
            La calle es obligatoria.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1">
          <div class="form-group">
            <label class="form-label" for="lada">Lada:</label>
            <input class="form-control" type="text" id="lada" appUppercase formControlName="lada"
              (change)="enCambioDeControl('domicilioEstablecimiento', 'lada')" />
          </div>
          <div *ngIf="domicilioEstablecimiento.get('lada')?.touched">
            <div *ngIf="domicilioEstablecimiento.get('lada')?.errors?.['maxlength']" class="text-danger">
              La lada no debe tener más de 5 dígitos.
            </div>
            <div *ngIf="domicilioEstablecimiento.get('lada')?.errors?.['pattern']" class="text-danger">
              La lada debe contener solo números.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="form-label" for="telefono">Teléfono*:</label>
            <input class="form-control" type="text" id="telefono" appUppercase formControlName="telefono" (change)="
                enCambioDeControl('domicilioEstablecimiento', 'telefono')
              " />
          </div>
          <div *ngIf="domicilioEstablecimiento.get('telefono')?.touched">
            <div *ngIf="domicilioEstablecimiento.get('telefono')?.errors?.['required']" class="text-danger">
              El número de teléfono es obligatorio.
            </div>
            <div *ngIf="domicilioEstablecimiento.get('telefono')?.errors?.['pattern']" class="text-danger">
              El teléfono debe contener solo números.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" class="mt-5">
      <div class="form-group">
        <label class="form-label" for="scian">S.C.I.A.N.*:</label>
        <app-tabla-dinamica [configuracionTabla]="configuracionTabla" [datos]="personaparas"
          [tipoSeleccionTabla]="tipoSeleccionTabla.CHECKBOX" formcontrolname="scian">
        </app-tabla-dinamica>
        <div *ngIf="hasError(scianForm, 'scian', 'required')" class="text-danger mt-1">
          La clave S.C.I.A.N. es obligatoria.
        </div>
      </div>
      <div *ngIf="domicilioEstablecimiento.get('scian')?.touched && 
             domicilioEstablecimiento.get('scian')?.errors?.['required']" class="text-danger">
        Seleccione al menos una actividad económica (S.C.I.A.N.).
      </div>
    </div>

    @if (mostrarScianBotones) {
      <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-default btn-space me-2">
        Eliminar
      </button>
      <button type="button" class="btn btn-primary btn-space" data-bs-toggle="modal" data-bs-target="#modalClave"
        (click)="mostrarModeloClave()">
        Agregar
      </button>
    </div>
    }
  </form>

  <form [formGroup]="solicitudEstablecimientoForm">
    <div class="row align-item-center">
      <div class="col-md-4 mt-5">
        <lib-input-check [label]="'Aviso de funcionamiento'" [id]="'avisoCheckbox'" [required]="true"
          formControlName="avisoCheckbox" (change)="
            toggleNoLicenciaSanitaria($event);
            enCambioDeControl('solicitudEstablecimientoForm', 'avisoCheckbox')
          "></lib-input-check>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-label" for="licenciaSanitaria">No. de licencia sanitaria:
            <span class="bi bi-question-circle-fill" title="No. de licencia sanitaria"
              data-bs-toggle="tooltip"></span></label>
          <input class="form-control" id="licenciaSanitaria" placeholder="" type="text"
            formControlName="noLicenciaSanitaria" (change)="
              enCambioDeControl(
                'solicitudEstablecimientoForm',
                'noLicenciaSanitaria'
              )
            " />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <app-catalogo-select [catalogo]="estado" [label]="'Régimen'" [required]="true" name="regimen"
          [tooltipQuestionCircle]="true" formControlName="regimen" (change)="
            enCambioDeControl('solicitudEstablecimientoForm', 'regimen')
          "></app-catalogo-select>
        <div
          *ngIf="solicitudEstablecimientoForm.get('regimen')?.touched && solicitudEstablecimientoForm.get('regimen')?.errors?.['required']"
          class="text-danger mt-1">
          El régimen es obligatorio.
        </div>
      </div>
      <div class="col-md-8">
        <app-catalogo-select [catalogo]="estado" [label]="'Aduanas de entradas'" [required]="true"
          name="aduanasEntradas" formControlName="aduanasEntradas" (change)="
            enCambioDeControl('solicitudEstablecimientoForm', 'aduanasEntradas')
          "></app-catalogo-select>
        <div
          *ngIf="solicitudEstablecimientoForm.get('aduanasEntradas')?.touched && solicitudEstablecimientoForm.get('aduanasEntradas')?.errors?.['required']"
          class="text-danger mt-1">
          Las aduanas de entrada son obligatorias.
        </div>
      </div>
    </div>
    <div class="row mt-5" *ngIf="showAifaCheckbox">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <lib-input-check [label]="'Aeropuerto Internacional Felipe Ángeles (AIFA)'" [id]="'aifaCheckbox'"
          [required]="true" formControlName="aifaCheckbox" (change)="
            enCambioDeControl('solicitudEstablecimientoForm', 'aifaCheckbox')
          "></lib-input-check>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-5">
        <h4>Mercancías*:</h4>
      </div>
    </div>
    <div class="row mt-5">
      <app-tabla-dinamica [tipoSeleccionTabla]="tablaSeleccionCheckbox" [configuracionTabla]="mercanciasTabla"
        [datos]="mercanciasTablaDatos"></app-tabla-dinamica>
      <div class="container text-end mt-5">
        <button class="btn btn-default me-2">Eliminar</button>
        <button class="btn btn-default me-2">Modificar</button>
        <button class="btn btn-primary me-2" data-bs-toggle="modal" (click)="abrirModalMercancia()">
          Agregar
        </button>
      </div>
    </div>

    <app-manifiestos-representante-seccion
      [showRepresentanteLegal]="hideRepresentanteLegal"></app-manifiestos-representante-seccion>
  </form>
</div>
@if (nuevaNotificacion) {
<section>
  <lib-notificaciones [notificacionInput]="nuevaNotificacion" (confirmacionModal)="eliminarPedimento($event)">
  </lib-notificaciones>
</section>
}

<div class="modal fade" #establecimientoModal tabindex="-1" aria-labelledby="establecimientoModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form [formGroup]="scianForm">
        <div class="modal-body">
          <ng-titulo titulo="Clave S.C.I.A.N."></ng-titulo>
          <div class="row">
            <div class="col-md-8">
              <app-catalogo-select [catalogo]="scianJson" [label]="'Clave S.C.I.A.N.*'"
                [placeholder]="'Seleccione una valor'" formControlName="scian"
                (change)="enCambioDeControl('scianForm', 'scian')"></app-catalogo-select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label for="descripcionScian">Descripción del S.C.I.A.N.</label>
              <input type="text" id="descripcionScianId" formControlName="descripcionScian" class="form-control"
                (change)="enCambioDeControl('scianForm', 'descripcionScian')" />
            </div>
          </div>
        </div>
        <div class="modal-footer mt-5">
          <button type="button" class="btn btn-primary" (click)="limpiarScianForm()">
            Limpiar
          </button>
          <button type="button" class="btn btn-primary" (click)="cerrarModal()">
            Cancelar
          </button>
          <button type="button" class="btn btn-primary" (click)="guardarScian()">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" #modalAddAgentMercancias tabindex="-1" aria-labelledby="modalAddAgentMercanciasLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Datos mercancías</h4>
      </div>
      <div class="modal-body modal-height">
        <form [formGroup]="formMercancias">
          <div class="form-group pt-3">
            <app-catalogo-select
              [catalogo]="estado"
              formControlName="clasificacion"
              [label]="'Clasificación del producto'"
              [required]="true"
              name="clasificacion"
            ></app-catalogo-select>
            <div class="text-danger" *ngIf="getErrorMessage('clasificacion')">
              {{ getErrorMessage('clasificacion') }}
            </div>
          </div>
          <div class="form-group pt-1">
            <app-catalogo-select
              [catalogo]="estado"
              formControlName="especificarClasificacionProducto"
              [label]="'Especificar clasificación del producto'"
              [required]="true"
              name="especificarClasificacionProducto"
            ></app-catalogo-select>
            <div class="text-danger" *ngIf="getErrorMessage('especificarClasificacionProducto')">
              {{ getErrorMessage('especificarClasificacionProducto') }}
            </div>
          </div>
          <div class="form-group">
            <label for="denominacionEspecifica">Denominación específica del producto*:</label>
            <input type="text" id="denominacionEspecifica" formControlName="denominacionEspecifica"
              class="form-control" />
            <div class="text-danger" *ngIf="getErrorMessage('denominacionEspecifica')">
              {{ getErrorMessage('denominacionEspecifica') }}
            </div>
          </div>
          <div class="form-group">
            <label for="denominacionDistintiva">Denominación distintiva*:</label>
            <input type="text" id="denominacionDistintiva" formControlName="denominacionDistintiva"
              class="form-control" />
            <div class="text-danger" *ngIf="getErrorMessage('denominacionDistintiva')">
              {{ getErrorMessage('denominacionDistintiva') }}
            </div>
          </div>
          <div class="form-group">
            <label for="denominacionComun">
              Denominación o nombre científico*:
              <span
              class="bi bi-question-circle-fill"
              title="No. de licencia sanitaria"
              data-bs-toggle="tooltip"
              ></span>
            </label>
            <input
              type="text"
              id="denominacionComun"
              formControlName="denominacionComun"
              class="form-control"
            />
            <div class="text-danger" *ngIf="getErrorMessage('denominacionComun')">
              {{ getErrorMessage('denominacionComun') }}
            </div>
          </div>
          <div class="form-group pt-1">
            <app-catalogo-select
              [catalogo]="estado"
              formControlName="tipoDeProducto"
              [label]="'Tipo de producto'"
              [required]="true"
              name="tipoDeProducto"
            ></app-catalogo-select>
            <div class="text-danger" *ngIf="getErrorMessage('tipoDeProducto')">
              {{ getErrorMessage('tipoDeProducto') }}
            </div>
          </div>
          <div class="form-group">
            <app-catalogo-select [catalogo]="estado" formControlName="estadoFormaFarmaceutica"
              [label]="'Forma farmacéutica'" [required]="true" name="estadoFormaFarmaceutica"></app-catalogo-select>
            <div class="text-danger" *ngIf="getErrorMessage('estadoFormaFarmaceutica')">
              {{ getErrorMessage('estadoFormaFarmaceutica') }}
            </div>
          </div>
          <div class="form-group pt-1">
            <app-catalogo-select
              [catalogo]="estado"
              formControlName="estadoFisico"
              [label]="'Estado físico'"
              [required]="true"
              name="estadoFisico"
            ></app-catalogo-select>
            <div class="text-danger" *ngIf="getErrorMessage('estadoFisico')">
              {{ getErrorMessage('estadoFisico') }}
            </div>
          </div>
          <div class="form-group">
            <label for="fraccionArancelaria">Fracción arancelaria*:
              <span
              class="bi bi-question-circle-fill"
              title="No. de licencia sanitaria"
              data-bs-toggle="tooltip"
              ></span>
            </label>
            <input
              type="text"
              id="fraccionArancelaria"
              formControlName="fraccionArancelaria"
              class="form-control"
            />
            <div class="text-danger" *ngIf="getErrorMessage('fraccionArancelaria')">
              {{ getErrorMessage('fraccionArancelaria') }}
            </div>
          </div>
          <div class="form-group">
            <label for="descripcionFraccion"
              >Descripción de la fracción arancelaria*:</label
            >
            <input
              type="text"
              id="descripcionFraccion"
              formControlName="descripcionFraccion"
              class="form-control"
            />
            <div class="text-danger" *ngIf="getErrorMessage('descripcionFraccion')">
              {{ getErrorMessage('descripcionFraccion') }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="cantidadUMT">Cantidad UMT*:</label>
                <input type="text" id="cantidadUMT" formControlName="cantidadUMT" class="form-control" />
                <div class="text-danger" *ngIf="getErrorMessage('cantidadUMT')">
                  {{ getErrorMessage('cantidadUMT') }}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="UMT">UMT*:
                  <span
                   class="bi bi-question-circle-fill"
                   title="UMT"
                  data-bs-toggle="tooltip"
                  ></span>
                </label>
                <input
                  type="text"
                  id="UMT"
                  formControlName="UMT"
                  class="form-control"
                />
                <div class="text-danger" *ngIf="getErrorMessage('UMT')">
                  {{ getErrorMessage('UMT') }}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="cantidadUMC">Cantidad UMC*:</label>
                <input type="text" id="cantidadUMC" formControlName="cantidadUMC" class="form-control" />
                <div class="text-danger" *ngIf="getErrorMessage('cantidadUMC')">
                  {{ getErrorMessage('cantidadUMC') }}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <app-catalogo-select
                  [catalogo]="estado"
                  formControlName="UMC"
                  [label]="'UMC'"
                  [required]="true"
                  name="UMC"
                  [tooltipQuestionCircle]="true"
                ></app-catalogo-select>
                <div class="text-danger" *ngIf="getErrorMessage('UMC')">
                  {{ getErrorMessage('UMC') }}
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="presentacion">Presentación farmacéutica o tipo de envase*:</label>
            <input type="text" id="presentacion" formControlName="presentacion" class="form-control" />
            <div class="text-danger" *ngIf="getErrorMessage('presentacion')">
              {{ getErrorMessage('presentacion') }}
            </div>
          </div>
          @if (mostrarNumeroYFecha) {
            <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="numeroRegistro">Número de registro sanitario*:</label>
                <input type="text" id="numeroRegistro" formControlName="numeroRegistro" class="form-control" />
                <div class="text-danger" *ngIf="getErrorMessage('numeroRegistro')">
                  {{ getErrorMessage('numeroRegistro') }}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input-fecha [datos]="fechaCaducidadInput" [setFecha]="formMercancias.get('fechaCaducidad')?.value"
                  (valorCambiado)="cambioFechaFinal($event)"></input-fecha>
              </div>
            </div>
          </div>
          }

          <div class="form-group mt-5">
            <div class="panel-group ficha-collapse" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading" (click)="mostrar_colapsable()" tabindex="0">
                  <p class="panel-title">País de orígen</p>
                  <button type="button" class="collpase-button collapsed"></button>
                </div>
                @if(colapsable){
                <div class="panel-collapse collapse in" id="panel-01">
                  <div class="panel-body">
                    <crosslist [fechas]="seleccionarOrigenDelPais" [label]="paisDeProcedenciaLabel"
                      [botones]="paisDeProcedenciaBotons"></crosslist>
                  </div>
                </div>
                }
              </div>
            </div>
          </div>

          <div class="form-group mt-5">
            <div class="panel-group ficha-collapse" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading" (click)="mostrar_colapsableDos()" tabindex="0">
                  <p class="panel-title">País de procedencia</p>
                  <button type="button" class="collpase-button collapsed"></button>
                </div>
                @if(colapsableDos){
                <div class="panel-collapse collapse in" id="panel-01">
                  <div class="panel-body">
                    <crosslist [fechas]="seleccionarOrigenDelPaisDos" [label]="paisDeProcedenciaLabel"
                      [botones]="paisDeProcedenciaBotonsDos"></crosslist>
                  </div>
                </div>
                }
              </div>
            </div>
          </div>

          <div class="form-group mt-5">
            <div class="panel-group ficha-collapse" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading" (click)="mostrar_colapsableTres()" tabindex="0">
                  <p class="panel-title">Uso específico</p>
                  <button type="button" class="collpase-button collapsed"></button>
                </div>
                @if(colapsableTres){
                <div class="panel-collapse collapse in" id="panel-01">
                  <div class="panel-body">
                    <crosslist [fechas]="seleccionarOrigenDelPaisTres" [label]="paisDeProcedenciaLabel"
                      [botones]="paisDeProcedenciaBotonsTres"></crosslist>
                  </div>
                </div>
                }
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer custom-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">
          Limpiar
        </button>
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" (click)="guardarMarcancia()">
          Agregar
        </button>
      </div>
    </div>
  </div>
</div>