<div class="container">
    <form [formGroup]="seguridadPersonal">
        <div class="row mt-2">
            <div class="col-md-12 text-container">
                <p>Se debe contar con procedimientos documentados para el registro y evaluación de personas que desean
                    obtener un empleo dentro de la empresa y establecer métodos para realizar verificaciones periódicas
                    de los empleados actuales.</p>
                <p>También, deben existir programas de capacitación continuos para el personal que difundan las
                    políticas de seguridad de la empresa, así como las consecuencias y acciones a tomar en caso de
                    cualquier falta o incidente de seguridad.</p>
            </div>
        </div>

        <!-- 8.1-Verificación-de-antecedentes -->
        <div class="row mt-3">
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento1}}</h4>
                <p>
                    {{textos.paraca1}}
                </p>
                <p> {{textos.paraca2}}</p>
                <p>Toda la información referente al personal deberá mantenerse en expedientes personales, mismos que deberán tener un acceso restringido.</p>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="describaContratacion">
                    <span class="danger">*</span>Describa el procedimiento documentado para la contratación del personal
                </label>
                <textarea  id="describaContratacion" class="custom-textarea" rows="6" cols="100" formControlName="describaContratacion" (change)="setValoresStore(seguridadPersonal,'describaContratacion', 'setDescribaContratacion')"></textarea>
                <span
                    *ngIf="seguridadPersonal.controls['describaContratacion']?.errors?.['required'] && seguridadPersonal.controls['describaContratacion']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="documentacionExigida">
                    <span class="danger">*</span>Señale los requisitos y documentación exigida
                </label>
                <textarea id="documentacionExigida" class="custom-textarea" rows="6" cols="100" formControlName="documentacionExigida"
                    (change)="setValoresStore(seguridadPersonal, 'documentacionExigida', 'setDocumentacionExigida')"></textarea>
                
                <span
                    *ngIf="seguridadPersonal.controls['documentacionExigida']?.errors?.['required'] && seguridadPersonal.controls['documentacionExigida']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>

            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="examenesSolicitados">
                    <span class="danger">*</span>Señale las pruebas y exámenes solicitados.
                </label>
                <textarea id="examenesSolicitados" class="custom-textarea" rows="6" cols="100" formControlName="examenesSolicitados"
                    (change)="setValoresStore(seguridadPersonal, 'examenesSolicitados', 'setExamenesSolicitados')"></textarea>
                
                <span
                    *ngIf="seguridadPersonal.controls['examenesSolicitados']?.errors?.['required'] && seguridadPersonal.controls['examenesSolicitados']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>
              
            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="conformeAnalisis">
                    <span class="danger">*</span>Indique las áreas y/o puestos críticos que se hayan identificado como de riesgo, conforme a su análisis.
                </label>
                <textarea id="conformeAnalisis" class="custom-textarea" rows="6" cols="100" formControlName="conformeAnalisis"
                    (change)="setValoresStore(seguridadPersonal, 'conformeAnalisis', 'setConformeAnalisis')"></textarea>
                
                <span
                    *ngIf="seguridadPersonal.controls['conformeAnalisis']?.errors?.['required'] && seguridadPersonal.controls['conformeAnalisis']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>
              
            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="periodicidad">
                    <span class="danger">*</span>{{textos.etiqueta}}
                </label>
                <textarea id="periodicidad" class="custom-textarea" rows="6" cols="100" formControlName="periodicidad"
                    (change)="setValoresStore(seguridadPersonal, 'periodicidad', 'setPeriodicidad')"></textarea>
                
                <span
                    *ngIf="seguridadPersonal.controls['periodicidad']?.errors?.['required'] && seguridadPersonal.controls['periodicidad']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>

            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="confidencialidad">
                    <span class="danger">*</span>Indique si previo a la contratación, el candidato debe firmar un acuerdo de confidencialidad o un documento similar.
                </label>
                <textarea id="confidencialidad" class="custom-textarea" rows="6" cols="100" formControlName="confidencialidad"
                    (change)="setValoresStore(seguridadPersonal, 'confidencialidad', 'setConfidencialidad')"></textarea>
                
                <span
                    *ngIf="seguridadPersonal.controls['confidencialidad']?.errors?.['required'] && seguridadPersonal.controls['confidencialidad']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>
              
            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="contratacionPersonal">
                    <span class="danger">*</span>{{textos.etiqueta2}}
                </label>
                <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                    class="gap" formControlName="contratacionPersonal" (change)="setValoresStore(seguridadPersonal,'contratacionPersonal', 'setContratacionPersonal')"></app-input-radio>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label>
                    <span class="danger">*</span>Explique brevemente en qué consisten
                </label>
                <textarea id="expliqueBrevemente" class="custom-textarea" rows="6" cols="100" formControlName="expliqueBrevemente"
                    (change)="setValoresStore(seguridadPersonal, 'expliqueBrevemente', 'setExpliqueBrevemente')"></textarea>
                
                <span
                    *ngIf="seguridadPersonal.controls['expliqueBrevemente']?.errors?.['required'] && seguridadPersonal.controls['expliqueBrevemente']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>
              
            </div>
        </div>

        <!-- 8.2-Procedimiento-para-baja -->
        <div class="row mt-3">
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento2}}</h4>
                <p>
                    {{textos.paraca3}}
                </p>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="describaProcedimientoPersonal">
                    <span class="danger">*</span>Describa el procedimiento para la baja del personal
                </label>
                <textarea id="describaProcedimientoPersonal" class="custom-textarea" rows="6" cols="100"
                    formControlName="describaProcedimientoPersonal"
                    (change)="setValoresStore(seguridadPersonal,'describaProcedimientoPersonal', 'setDescribaProcedimientoPersonal')"></textarea>
                
                <span
                    *ngIf="seguridadPersonal.controls['describaProcedimientoPersonal']?.errors?.['required'] && seguridadPersonal.controls['describaProcedimientoPersonal']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>

            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="seguimientoProcedimiento">
                    <span class="danger">*</span>Quién es el responsable de llevar acabo y dar seguimiento a este procedimiento
                </label>
                <textarea id="seguimientoProcedimiento" class="custom-textarea" rows="6" cols="100"
                    formControlName="seguimientoProcedimiento"
                    (change)="setValoresStore(seguridadPersonal,'seguimientoProcedimiento', 'setSeguimientoProcedimiento')"></textarea>
                
                <span
                    *ngIf="seguridadPersonal.controls['seguimientoProcedimiento']?.errors?.['required'] && seguridadPersonal.controls['seguimientoProcedimiento']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>

            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="identificaciones">
                    <span class="danger">*</span>Cómo se realiza y confirma la entrega de identificaciones, uniformes, llaves y demás equipo.
                </label>
                <textarea id="identificaciones" class="custom-textarea" rows="6" cols="100" formControlName="identificaciones"
                    (change)="setValoresStore(seguridadPersonal,'identificaciones', 'setIdentificaciones')"></textarea>
                
                <span
                    *ngIf="seguridadPersonal.controls['identificaciones']?.errors?.['required'] && seguridadPersonal.controls['identificaciones']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>

            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="sistemasInformaticos">
                    <span class="danger">*</span>Indicar el control, registro y/o formato, en el que se identifique y asegure la entrega de material y baja en sistemas informáticos (en su caso, anexar)
                </label>
                <textarea id="sistemasInformaticos" class="custom-textarea" rows="6" cols="100" formControlName="sistemasInformaticos"
                    (change)="setValoresStore(seguridadPersonal,'sistemasInformaticos', 'setSistemasInformaticos')"></textarea>
                
                <span
                    *ngIf="seguridadPersonal.controls['sistemasInformaticos']?.errors?.['required'] && seguridadPersonal.controls['sistemasInformaticos']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>

            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="proveedoresServicios">
                    <span class="danger">*</span>Señalar el tipo de registros del personal que finalizó su relación laboral con la empresa, para que en caso de que haya sido por motivos de seguridad, se prevenga a sus proveedores de servicios y/o asociados de negocio.
                </label>
                <textarea id="proveedoresServicios" class="custom-textarea" rows="6" cols="100" formControlName="proveedoresServicios"
                    (change)="setValoresStore(seguridadPersonal,'proveedoresServicios', 'setProveedoresServicios')"></textarea>
                
                <span
                    *ngIf="seguridadPersonal.controls['proveedoresServicios']?.errors?.['required'] && seguridadPersonal.controls['proveedoresServicios']?.touched"
                    class="mensaje-error">
                    Este campo es obligatorio.
                </span>

            </div>
        </div>

        <!-- 8.3-Administración-de-personal -->
        <div class="row mt-3">
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento3}}</h4>
                <p>
                    {{textos.paraca4}}
                </p>
                <p>En el caso de que la empresa cuente con personal contratado por sus socios comerciales y labore dentro de las instalaciones, deberá asegurarse de que cumplan con los requerimientos establecidos para el resto de sus empleados.</p>
            </div>

            <div class="col-md-12 text-container mt-4">
                <div class="mt-2">
                    <p>
                        <span class="danger">*</span>{{textos.paraca5}}
                    </p>
                    <ul>
                        <div class="centered-list-wrapper">
                            <ol type="a">
                                <li>Nombre completo.</li>
                                <li>Fotografía actualizada mínimo cada 5 años.</li>
                                <li>Datos personales (edad, nombre, fecha de nacimiento, número telefónico, domicilio, CURP, número de seguridad social, tipo sanguíneo, alergias, etcétera).
                                </li>
                                <li>Filiación.</li>
                                <li>Antecedentes laborales.</li>
                                <li>Enfermedades.</li>
                                <li>Exámenes médicos.</li>
                                <li>Capacitación.</li>
                                <li>Resultados de evaluaciones periódicas.</li>
                                <li>Observaciones.</li>
                                <li>Este personal, deberá estar contratado de acuerdo con las leyes y reglamentos de
                                    orden laboral vigentes.</li>
                            </ol>
                        </div>
                    </ul>

                    <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                        class="gap" formControlName="administracionPersonal" (change)="setValoresStore(seguridadPersonal,'administracionPersonal', 'setAdministracionPersonal')"></app-input-radio>
                </div>
            </div>
        </div>
    </form>
</div>