<ng-titulo titulo="Trámites Asociados:*"></ng-titulo>
<app-tabla-dinamica
  [configuracionTabla]="destinatarioConfiguracionTabla"
  [datos]="tablaFilaDatos"
></app-tabla-dinamica>

<div class="d-flex justify-content-end mt-3">
  <button
    type="button"
    class="btn btn-primary"
    (click)="showModal()" 
  >
    Continuar
  </button>
</div>

<div
  class="modal fade"
  id="modalAlerta"
  tabindex="-1"
  aria-labelledby="modalAlertaLabel"
  [class.show]="isModalVisible"
  [style.display]="isModalVisible ? 'block' : 'none'"
  [attr.aria-hidden]="!isModalVisible ? 'true' : null"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body">
        <p>¿Está seguro que su solicitud no requiere los datos del pago de derechos?</p>
      </div>
      <div class="modal-footer custom-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="navigateToPagoDeDerechos()"

        >
          No
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="hideModal()" 
        >
          Sí
        </button>
      </div>
    </div>
  </div>
</div>
