<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>
          Solicitud de Registro en el Esquema de Certificación de Empresas, modalidad Socio Comercial Certificado, rubro Transporte Ferroviario
        </h2>
      </div>

      <app-wizard [listaPasos]="pasos"></app-wizard>
    </div>

    <div class="row">
      @switch (indice) { @case (1) {
      <app-paso-uno></app-paso-uno>
      } @case (2) {
      <app-paso-duos></app-paso-duos>
      } @case (3) {
      <app-paso-tres></app-paso-tres>
      } }

      <btn-continuar
        [datos]="datosPasos"
        (continuarEvento)="getValorIndice($event)"
      ></btn-continuar>
      
    </div>
  </div>
</div>
