/* Contenedor y Fila */
.container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  
  .list-box{
   list-style: none;
   padding: 0%;
  }

  .m-top{
    margin-top: 26px;
  }

  .col {
    display: flex;
    flex-direction: column;
  }
  .btn-box{
    margin-top: 23px;
    text-align: center;
  }
  /* Caja para datos */
  .list-first-box{
    list-style: none;
    padding: 0px;
  }
  .box-first {
    padding: 0px;
    width: 100%;
    border: 1px solid #ccc;
    overflow-y: auto;
    padding: 5px;
    cursor:no-drop;
    list-style: none;
    background-color: #f9f9f9;
    min-height: 125px;
  }
  
  /* Elemento individual */
  .box-item-frst {
    font-size: 13px;
    margin-bottom: 4px;
    transition: background-color 0.2s ease;
  }

  .box {
    list-style: none;
    padding: 0px;
    width: 100%;
    height: 250px;
    border: 1px solid #ccc;
    overflow-y: auto;
    padding: 5px;
  }
  
  /* Elemento individual */
  .box-item {
    font-size: 15px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .box-item:hover {
    background-color: lightskyblue;
  }
  .active {
    background-color: lightskyblue;
  }
  
  .box-item.selected {
    background-color: #d1e7ff;
    border-color: #a0c4ff;
  }
  
  /* Estilos de Botón */ 
  .btn {
    padding: 8px;
    color: gray;
    border: none;
    margin-top: 7px;
    width: 204px;
    cursor: pointer;
    margin-bottom: 12px;
    transition: background-color 0.2s;
    border: 1px solid gray;
  }
  
  .btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .btn:hover:not(:disabled) {
    background-color: #7a0036;
    color: white;
  }
  .cstm-ht{
    height: 100px;
  }