<app-datos-del-tramite
  [form]="formDelTramite"
  [inputFields]="datosInputFields"
  [catalogosArray]="catalogosArray"
  [solicitudOpciones]="opcionesSolicitud"
  [mostrarErrorClasificacion]="true"
  [esFormularioSoloLectura] ="esFormularioSoloLectura"
  (setValoresStoreEvent)="setValoresStore($event)"
></app-datos-del-tramite>

<app-datos-de-la-mercancia
  [form]="mercanciaForm"
  [productoOpciones]="productoOpciones"
  [fraccionCatalogo]="fraccionCatalogo"
  [unidadCatalogo]="unidadCatalogo"
  [esFormularioSoloLectura] ="esFormularioSoloLectura"
  (setValoresStoreEvent)="setValoresStore($event)"
></app-datos-de-la-mercancia>


<app-partidas-de-la-mercancia
  [partidasDelaMercanciaForm]="partidasDelaMercanciaForm"
  [formForTotalCount]="formForTotalCount"
  [modificarPartidasDelaMercanciaForm]="modificarPartidasDelaMercanciaForm"
  [tableHeaderData]="tableHeaderData"
  [tableBodyData]="tableBodyData"
  [mostrarTabla]="mostrarTabla"
  [mostrarErrores]="true"
  (modificarPartidaSeleccionada)="modificarPartidaSeleccionada($event)"
  [esFormularioSoloLectura] ="esFormularioSoloLectura"
  (filaSeleccionadaChange)="manejarlaFilaSeleccionada($event)"
  (validarYEnviarFormularioEvent)="validarYEnviarFormulario()"
  (navegarParaModificarPartidaEvent)="navegarParaModificarPartida()"
  [disabled]="disabledModificar()"
  (validarAntesDeCargarArchivo)="validarYCargarArchivo()"
  (partidaModificada)="partidaModificada($event)"
  [isInvalidaPartidas]="isInvalidaPartidas"
  (setValoresStoreEvent)="setValoresStore($event)"
  (partidasEliminadas)="partidasEliminadas($event)"

></app-partidas-de-la-mercancia>
 

<app-pais-procendencia
[paisForm]="paisForm"
[elementosDeBloque]="elementosDeBloque"
[paisesPorBloque]="paisesPorBloque"
[selectRangoDias]="selectRangoDias"
[esFormularioSoloLectura] ="esFormularioSoloLectura"
(todosPaisesSeleccionadosEvent)="todosPaisesSeleccionados($event)"
(fechasSeleccionadas)="fechasSeleccionadas($event)"
(bloqueCambiar)="enCambioDeBloque($event)"
[idProcedimiento]="idProcedimiento"
(setValoresStoreEvent)="setValoresStore($event)"
></app-pais-procendencia>

<app-representacion 
[frmRepresentacionForm]="frmRepresentacionForm"
[entidadFederativa]="entidadFederativa"
[representacionFederal]="representacionFederal"
[TEXTOS]="TEXTOS"
[idProcedimiento]="idProcedimiento"
[esFormularioSoloLectura] ="esFormularioSoloLectura"
(setValoresStoreEvent)="setValoresStore($event)">
</app-representacion>