.pt-custom {
  padding-top: 0.7rem !important;
}

.text-truncate-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevents text from wrapping */
}

.mt-custom {
  margin-top: -8px !important;
}
