<div class="container">
  <div class="row">
    <div class="col-12">
      <ng-titulo titulo="Terceros relacionados"></ng-titulo>
    </div>
    <div class="panel-collapse collapse in" id="panel-01">
      <div class="panel-body">
        <div class="row">
          <ng-alert [CONTENIDO]="instruccionDobleClic" class="text-center"></ng-alert>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="xportador">Exportador</label>
    </div>
    <div class="col-md-12 mt-5">
      <div class="table-container">
        <app-tabla-dinamica
          [tipoSeleccionTabla]="tablaSeleccionCheckbox"
          [configuracionTabla]="exportadorTabla"
          [datos]="exportadorTableDatos"
          [disableSeleccionTablaCheckBox]="campoDeshabilitar"
        ></app-tabla-dinamica>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="xportador">Destinatario (destino final)</label>
    </div>
    <div class="col-md-12 mt-5">
      <div class="table-container">
        <app-tabla-dinamica
          [tipoSeleccionTabla]="tablaSeleccionCheckbox"
          [configuracionTabla]="destinoTabla"
          [datos]="destinoTableDatos"
          [disableSeleccionTablaCheckBox]="campoDeshabilitar"
        ></app-tabla-dinamica>
      </div>
    </div>
  </div>
</div>
