<ng-titulo titulo="Domicilio del establecimiento"></ng-titulo>
<form [formGroup]="domicilio">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="codigoPostal">Código postal*:</label>
        <input class="form-control" id="codigoPostal" placeholder="" type="text" maxlength="12" size="29"
          formControlName="codigoPostal" (change)="setValoresStore(domicilio, 'codigoPostal', 'setCodigoPostal')" />
        <div class="d-grid">
          <div *ngIf="domicilio.get('codigoPostal')?.touched">
            <small class="mensaje-error" *ngIf="domicilio.get('codigoPostal')?.hasError('required')">
              Este campo es obligatorio.
            </small>
            <small class="mensaje-error" *ngIf="domicilio.get('codigoPostal')?.hasError('maxlength')">
              El código postal no puede exceder los 12 caracteres.
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-catalogo-select [catalogo]="estado" formControlName="estado" [label]="'Estado'" [required]="true"
        name="estado" (change)="setValoresStore(domicilio, 'estado', 'setEstado')"
        [isDisabled]="esFormularioSoloLectura ? true : false"></app-catalogo-select>
      <div class="d-grid">
        <div *ngIf="domicilio.get('estado')?.touched">
          <small class="mensaje-error" *ngIf="domicilio.get('estado')?.hasError('required')">
            Este campo es obligatorio.
          </small>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="muncipio">Municipio y alcaldía*:</label>
        <input class="form-control" id="muncipio" placeholder="" type="text" formControlName="muncipio" maxlength="120"
          (change)="setValoresStore(domicilio, 'muncipio', 'setMuncipio')" />
        <div class="d-grid">
          <div *ngIf="domicilio.get('muncipio')?.touched">
            <small class="mensaje-error" *ngIf="domicilio.get('muncipio')?.hasError('required')">
              Este campo es obligatorio.
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="localidad">Localidad:</label>
        <input class="form-control" id="localidad" placeholder="" type="text" formControlName="localidad" maxlength="120"
          (change)="setValoresStore(domicilio, 'localidad', 'setLocalidad')" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="colonia">Colonia:</label>
        <input class="form-control" id="colonia" placeholder="" type="text" formControlName="colonia" maxlength="120"
          (change)="setValoresStore(domicilio, 'colonia', 'setColonia')" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label class="form-label" for="calle">Calle*: <span
              class="bi bi-question-circle-fill"
              title="Calle y número"
              data-bs-toggle="tooltip"
            ></span></label>
<input class="form-control" id="calle" placeholder="" type="text" formControlName="calle" maxlength="100"
          (change)="setValoresStore(domicilio, 'calle', 'setCalle')" />
        <div class="d-grid">
          <div *ngIf="domicilio.get('calle')?.touched">
            <small class="mensaje-error" *ngIf="domicilio.get('calle')?.hasError('required')">
              Este campo es obligatorio.
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <div class="form-group">
        <label class="form-label" for="lada">Lada:</label>
        <input class="form-control" id="lada" placeholder="" type="number" formControlName="lada"
          (change)="setValoresStore(domicilio, 'lada', 'setLada')" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="form-label" for="telefono">Teléfono*:</label>
        <input class="form-control" id="telefono" placeholder="" type="number" maxlength="30" size="29"
          formControlName="telefono" (change)="setValoresStore(domicilio, 'telefono', 'setTelefono')" />
        <div class="d-grid">
          <div *ngIf="domicilio.get('telefono')?.touched">
            <small class="mensaje-error" *ngIf="domicilio.get('telefono')?.hasError('required')">
              Este campo es obligatorio.
            </small>
            <small class="mensaje-error" *ngIf="domicilio.get('telefono')?.hasError('maxlength')">
              El teléfono no puede exceder los 30 caracteres.
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-5">
      <h4>S.C.I.A.N.*:</h4>
    </div>
  </div>
  <div class="row">
    <app-tabla-dinamica [tipoSeleccionTabla]="tablaSeleccionCheckbox" [configuracionTabla]="nicoTabla"
      [datos]="nicoTablaDatos" [disableSeleccionTablaCheckBox]="esFormularioSoloLectura ? true : false"></app-tabla-dinamica>
    <div class="container text-end mt-5">
      <button class="btn btn-default me-2" [disabled]="esFormularioSoloLectura ? true : false">Eliminar</button>
      <button class="btn btn-primary me-2" [disabled]="esFormularioSoloLectura ? true : false" data-bs-toggle="modal"
        data-bs-target="#modalAddAgent" (click)="guardarScian()">
        Agregar
      </button>
    </div>
  </div>
  <div class="row">
    <crosslist [fechas]="seleccionarOrigenDelPais" [label]="aduanasDeLabel" [botones]="paisDeProcedenciaBotones"
      [isDisabled]="esFormularioSoloLectura ? true : false">
    </crosslist>
  </div>
  <div class="row">
    <div class="col-md-12 mt-5">
      <h5>Datos de la mercancía*:</h5>
    </div>
  </div>
  <div class="row mt-5">
    <app-tabla-dinamica [tipoSeleccionTabla]="tablaSeleccionCheckbox" [configuracionTabla]="mercanciasTabla"
      [datos]="mercanciasTablaDatos"
      [disableSeleccionTablaCheckBox]="esFormularioSoloLectura ? true : false"></app-tabla-dinamica>
    <div class="container text-end mt-5">
      <button class="btn btn-default me-2" [disabled]="esFormularioSoloLectura ? true : false" data-bs-toggle="modal"
        data-bs-target="#modalAddAgentMercancias">
        Modificar
      </button>
      <button class="btn btn-default me-2" [disabled]="esFormularioSoloLectura ? true : false">Eliminar</button>
      <button class="btn btn-primary me-2" [disabled]="esFormularioSoloLectura ? true : false" data-bs-toggle="modal"
        data-bs-target="#modalAddAgentMercancias">
        Agregar
      </button>
    </div>
  </div>
</form>

<div class="modal fade" id="modalAddAgent" tabindex="-1" aria-labelledby="modalAddAgentLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content overflow-auto">
      <div class="modal-header">
        <h4 class="modal-title">Clave S.C.I.A.N.</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="formAgente">
          <div class="form-group">
            <app-catalogo-select [catalogo]="estado" formControlName="claveScianModal" [label]="'Clave S.C.I.A.N.'"
              [required]="true" name="claveScianModal" [isDisabled]="esFormularioSoloLectura ? true : false"
              (change)="onClaveScianChange($event);setValoresStore(formAgente, 'claveScianModal', 'setClaveScianModal')" ></app-catalogo-select>
          </div>
          <div class="form-group">
            <app-catalogo-select [catalogo]="estado" formControlName="claveDescripcionModal"
              [label]="'Descripción del S.C.I.A.N.'" [required]="false" name="claveDescripcionModal"
              [isDisabled]="esFormularioSoloLectura ? true : false"
              (change)="setValoresStore(formAgente, 'claveDescripcionModal', 'setClaveDescripcionModal')"></app-catalogo-select>
          </div>
        </form>
      </div>
      <div class="modal-footer custom-footer">
        <button type="button" class="btn btn-default" [disabled]="esFormularioSoloLectura ? true : false"
          data-bs-dismiss="modal" (click)="limpiarScianForm()">
          Limpiar
        </button>
        <button type="button" class="btn btn-default" [disabled]="esFormularioSoloLectura ? true : false"
          data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" [disabled]="esFormularioSoloLectura ? true : false"
          data-bs-dismiss="modal">
          Agregar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalAddAgentMercancias" tabindex="-1" aria-labelledby="modalAddAgentMercanciasLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 80vw">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Datos mercancías</h4>
      </div>
      <div class="modal-body modal-height">
        <form [formGroup]="formMercancias">
          <div class="form-group">
            <label for="nombreComercial">Nombre comercial*:</label>
            <input type="text" id="nombreComercial" formControlName="nombreComercial" class="form-control"
              (change)="setValoresStore(formMercancias, 'nombreComercial', 'setNombreComercial')" />
            <div class="d-grid">
              <div *ngIf="formMercancias.get('nombreComercial')?.touched">
                <small class="mensaje-error" *ngIf="formMercancias.get('nombreComercial')?.hasError('required')">
                  Este campo es obligatorio.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="nombreComun">Nombre común*:</label>
            <input type="text" id="nombreComun" formControlName="nombreComun" class="form-control"
              (change)="setValoresStore(formMercancias, 'nombreComun', 'setNombreComun')" />
            <div class="d-grid">
              <div *ngIf="formMercancias.get('nombreComun')?.touched">
                <small class="mensaje-error" *ngIf="formMercancias.get('nombreComun')?.hasError('required')">
                  Este campo es obligatorio.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="nombreCientifico">Nombre científico*:</label>
            <input type="text" id="nombreCientifico" formControlName="nombreCientifico" class="form-control"
              (change)="setValoresStore(formMercancias, 'nombreCientifico', 'setNombreCientifico')" />
            <div class="d-grid">
              <div *ngIf="formMercancias.get('nombreCientifico')?.touched">
                <small class="mensaje-error" *ngIf="formMercancias.get('nombreCientifico')?.hasError('required')">
                  Este campo es obligatorio.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="usoEspecifico" class="form-label text-start">Uso específico*:</label>
            <textarea id="usoEspecifico" class="form-control" formControlName="usoEspecifico"
              (change)="setValoresStore(formMercancias, 'usoEspecifico', 'setUsoEspecifico')"></textarea>
            <div class="d-grid">
              <div *ngIf="formMercancias.get('usoEspecifico')?.touched">
                <small class="mensaje-error" *ngIf="formMercancias.get('usoEspecifico')?.hasError('required')">
                  Este campo es obligatorio.
                </small>
              </div>
            </div>
          </div>

          <div class="form-group">
            <app-catalogo-select [catalogo]="estado" formControlName="estadofisico" [label]="'Estado físico'"
              [required]="true" name="estadofisico" [isDisabled]="esFormularioSoloLectura ? true : false"
              (change)="setValoresStore(formMercancias, 'estadofisico', 'setEstadoFisico')"></app-catalogo-select>
          </div>

          <div class="form-group">
            <label for="fraccionArancelaria">Fracción arancelaria*:</label>
            <input type="text" id="fraccionArancelaria" formControlName="fraccionArancelaria" class="form-control"
              (change)="setValoresStore(formMercancias, 'fraccionArancelaria', 'setFraccionArancelaria')" />
            <div class="d-grid">
              <div *ngIf="formMercancias.get('fraccionArancelaria')?.touched">
                <small class="mensaje-error" *ngIf="formMercancias.get('fraccionArancelaria')?.hasError('required')">
                  Este campo es obligatorio.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="descripcionFraccion">Descripción de la fracción*:</label>
            <input type="text" id="descripcionFraccion" formControlName="descripcionFraccion" class="form-control"
              (change)="setValoresStore(formMercancias, 'descripcionFraccion', 'setDescripcionFraccion')" />
            <div class="d-grid">
              <div *ngIf="formMercancias.get('descripcionFraccion')?.touched">
                <small class="mensaje-error" *ngIf="formMercancias.get('descripcionFraccion')?.hasError('required')">
                  Este campo es obligatorio.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="cantidadUMT">Cantidad UMT*:</label>
              <input type="text" id="cantidadUMT" formControlName="cantidadUMT" class="form-control"
                (change)="setValoresStore(formMercancias, 'cantidadUMT', 'setCantidadUMT')" />
              <div class="d-grid">
                <div *ngIf="formMercancias.get('cantidadUMT')?.touched">
                  <small class="mensaje-error" *ngIf="formMercancias.get('cantidadUMT')?.hasError('required')">
                    Este campo es obligatorio.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="UMT">UMT*:</label>
              <input type="text" id="UMT" formControlName="UMT" class="form-control"
                (change)="setValoresStore(formMercancias, 'UMT', 'setUMT')" />
              <div class="d-grid">
                <div *ngIf="formMercancias.get('UMT')?.touched">
                  <small class="mensaje-error" *ngIf="formMercancias.get('UMT')?.hasError('required')">
                    Este campo es obligatorio.
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="cantidadUMC">Cantidad UMC*:</label>
                <input type="text" id="cantidadUMC" formControlName="cantidadUMC" class="form-control"
                  (change)="setValoresStore(formMercancias, 'cantidadUMC', 'setCantidadUMC')" />
                <div class="d-grid">
                  <div *ngIf="formMercancias.get('cantidadUMC')?.touched">
                    <small class="mensaje-error" *ngIf="formMercancias.get('cantidadUMC')?.hasError('required')">
                      Este campo es obligatorio.
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <app-catalogo-select [catalogo]="estado" formControlName="UMC" [label]="'UMC'" [required]="true"
                  name="UMC" [isDisabled]="esFormularioSoloLectura ? true : false"
                  (change)="setValoresStore(formMercancias, 'UMC', 'setUMC')"></app-catalogo-select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="numerocas">Número CAS*:</label>
            <input type="text" id="numerocas" formControlName="numerocas" class="form-control"
              (change)="setValoresStore(formMercancias, 'numerocas', 'setNumerocas')" />
            <div class="d-grid">
              <div *ngIf="formMercancias.get('numerocas')?.touched">
                <small class="mensaje-error" *ngIf="formMercancias.get('numerocas')?.hasError('required')">
                  Este campo es obligatorio.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="porcentajeConcentracion">Porcentaje de concentración*:</label>
            <input type="text" id="porcentajeConcentracion" formControlName="porcentajeConcentracion"
              class="form-control"
              (change)="setValoresStore(formMercancias, 'porcentajeConcentracion', 'setPorcentajeConcentracion')" />
            <div class="d-grid">
              <div *ngIf="formMercancias.get('porcentajeConcentracion')?.touched">
                <small class="mensaje-error"
                  *ngIf="formMercancias.get('porcentajeConcentracion')?.hasError('required')">
                  Este campo es obligatorio.
                </small>
              </div>
            </div>
          </div>

          <div class="form-group mt-5">
            <div class="panel-group ficha-collapse" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading" (click)="mostrar_colapsableTres()" tabindex="0">
                  <p class="panel-title">País de origen</p>
                  <button type="button" class="collpase-button collapsed"></button>
                </div>
                @if(colapsableTres){
                <div class="panel-collapse collapse in" id="panel-01">
                  <div class="panel-body">
                    <crosslist [fechas]="seleccionarOrigenDelPaisTres" [label]="paisDeOrigenLabel"
                      [botones]="paisDeProcedenciaBotones" [isDisabled]="esFormularioSoloLectura ? true : false">
                    </crosslist>
                  </div>
                </div>
                }
              </div>
            </div>
          </div>
          <div class="form-group mt-5">
            <div class="panel-group ficha-collapse" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading" (click)="mostrar_colapsableDuos()" tabindex="0">
                  <p class="panel-title">País de procedencia/país de último puerto de embarque</p>
                  <button type="button" class="collpase-button collapsed"></button>
                </div>
                @if(colapsableDuos){
                <div class="panel-collapse collapse in" id="panel-01">
                  <div class="panel-body">
                    <crosslist [fechas]="seleccionarOrigenDelPaisCuatro" [label]="paisDeProcedenciaLabel"
                      [botones]="paisDeProcedenciaBotones" [isDisabled]="esFormularioSoloLectura ? true : false">
                    </crosslist>
                  </div>
                </div>
                }
              </div>
            </div>
          </div>
          <div class="form-group">
            <app-catalogo-select [catalogo]="estado" formControlName="clasificacionToxicologica"
              [label]="'Clasificación toxicológica'" [required]="true" name="clasificacionToxicologica"
              [isDisabled]="esFormularioSoloLectura ? true : false"
              (change)="setValoresStore(formMercancias, 'clasificacionToxicologica', 'setClasificacionToxicologica')"></app-catalogo-select>
          </div>
          <div class="form-group">
            <app-catalogo-select [catalogo]="estado" formControlName="objetoImportacion"
              [label]="'Objeto de importación'" [required]="true" name="objetoImportacion"
              [isDisabled]="esFormularioSoloLectura ? true : false"
              (change)="setValoresStore(formMercancias, 'objetoImportacion', 'setObjetoImportacion')"></app-catalogo-select>
          </div>
        </form>
      </div>
      <div class="modal-footer custom-footer">
        <button type="button" class="btn btn-default" [disabled]="esFormularioSoloLectura ? true : false"
          data-bs-dismiss="modal">
          Limpiar
        </button>
        <button type="button" class="btn btn-default" [disabled]="esFormularioSoloLectura ? true : false"
          data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" [disabled]="esFormularioSoloLectura ? true : false"
          data-bs-dismiss="modal">
          Agregar
        </button>
      </div>
    </div>
  </div>
</div>