<div class="container">
    <ng-titulo [titulo]="'Datos de instalación de procedencia'"> </ng-titulo>
    <formas-dinamicas [forma]="formularioDatosDeInstalacion" [formularioDatos]="configuracionFormularioDatosDeInstalacion"
        [estado]="estadoSeleccionado" (emitirCambioDeValor)="establecerCambioDeValor($event)"></formas-dinamicas>
</div>

<button name="agregar" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalMercancia">
    Agregar
</button>


<div #modalMercancia class="modal fade test-modal" id="modalMercancia" tabindex="-1" aria-labelledby="modalMercancia">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body">
                <app-agregar-destinatario (closeModal)="closeModal()"></app-agregar-destinatario>
                    </div>
                </div>
            </div>
        </div>

