<div class="row">
  <div class="col-md-12">
      <h6 class="mb-5">Facturador:</h6>
<app-tabla-dinamica
[configuracionTabla]="configuracionTabla"
[datos]="tercerosProd"
[tipoSeleccionTabla]="TablaSeleccion.CHECKBOX">
</app-tabla-dinamica> 

<div  style="text-align: right">
  <button style="text-align: right"
          type="button"
          class="btn btn-primary ms-2"
          data-bs-toggle="modal"
          data-bs-target="#modalfacurator"
          (click)="abrirModalfacurator()"
        >
          Agregar
        </button>
       </div>
  </div>
  </div>
  
<div class="container mt-4">
      <div
        class="modal fade"
        id="modalfacurator"
        tabindex="-1"
        aria-labelledby="modalfacuratorLabel"
        aria-hidden="true"
      >
      <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <ng-titulo titulo="Agregar Facturador" />
             
            </div>
            <div class="modal-body">
              <form [formGroup]="facturatorForm" >
                  <h6>Datos generales</h6>
                  <div class="row mb-3">
                      <div class="col-md-6">
                      <div class="col-md-12">
                        
                      </div>
                      
                      <div class="col-md-12">
                        <!-- <input type="radio" id="fisica" name="nacional" formControlName="nacional" value="nacional" >
                        <label for="fisica"  >Nacional</label> -->
                      </div>
                      <div class="col-md-12">
                        <!-- <input type="radio" id="moral" name="nacional" formControlName="extranjero">
                        <label for="moral">Extranjero</label> -->
                      </div>
                    </div>
                <div class="col-md-6">
                      <div class="col-md-12">
                        <label class="form-label" for="tipoPersona">Tipo persona*:</label>
                      </div>
                      <div class="col-md-12">
                        <input type="radio" id="facturatorfisica" name="nacional1" formControlName="facturatorfisica" >
                        <label for="fisica">Física</label>
                      </div>
                      <div class="col-md-12">
                        <input type="radio" id="facturatorfisica" name="nacional1" formControlName="facturatormoral" value="moral"  >
                        <label for="moral">Moral</label>
                      </div>
                    </div>
                    </div>
                    <div class="row">
                      <h6>Datos Personales</h6>
                      <div class="col-md-4">
                        <label class="form-label" for="rfc">Nombre(s)*</label>
                        <input type="text" class="form-control" id="nombres" formControlName="nombres"  [ngClass]="isValid(facturatorForm, 'nombres') ? 'required' : ''"
                        (change)="setValoresStore(facturatorForm,'nombres', 'setnombres')">
                      </div>
                      <div class="col-md-4">
                          <label class="form-label" for="rfc">Primer apellido*:</label>
                        <input type="text" class="form-control" id="facturatorapellido" formControlName="facturatorapellido" [ngClass]="isValid(facturatorForm, 'facturatorapellido') ? 'required' : ''"
                        (change)="setValoresStore(facturatorForm,'facturatorapellido', 'setfacturatorapellido')">
                      </div>
                      <div class="col-md-4">
                          <label class="form-label" for="rfc">segundoApellido</label>
                        <input type="text" class="form-control" id="facturatorsapellido" formControlName="facturatorsapellido"
                        (change)="setValoresStore(facturatorForm,'facturatorsapellido', 'setfacturatorsapellido')">
                      </div>

                    </div>

                   
                  <ng-titulo titulo="Domicilio" />
                
                  <div class="row">
                    <div class="col-md-4 ">
                      
                      <app-catalogo-select
                      [catalogo]="proveedorList"
                      formControlName="facturatorcpail"
                      [label]="'Pais*'"
                      [placeholder]="'Seleccione una aduana'"
                      
                    ></app-catalogo-select>
                      
                    </div>
                    <div class="col-md-4 mb-3">
                      
                      <label class="form-label" for="rfc">Estado*:</label>
                      <input type="text" class="form-control" id="facturatorestado" formControlName="facturatorestado"
                      (change)="setValoresStore(facturatorForm,'facturatorestado', 'setfacturatorestado')">
                     
                   
                    
                    </div>
                    <div class="col-md-4 mb-3">
                      
                      <label class="form-label" for="rfc">Codigo Postal o equivalente</label>
                        <input type="text" class="form-control" id="facturatorcp" formControlName="facturatorcp"
                        (change)="setValoresStore(facturatorForm,'facturatorcp', 'setfacturatorcp')">
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col-md-4 ">
                      <label class="form-label" for="rfc">Colonia o equivalente</label>
                      <input type="text" class="form-control" id="facturatorequivalente" formControlName="facturatorequivalente"  [ngClass]="isValid(facturatorForm, 'nombres') ? 'required' : ''"
                      (change)="setValoresStore(facturatorForm,'facturatorequivalente', 'setfacturatorequivalente')">
                      
                    </div>
                    <div class="col-md-4 mb-3">
                     
                    
                    </div>
                    <div class="col-md-4 ">
                     
                      
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-8">
                      <label class="form-label" for="numeroCalle">Calle*:</label>
                      <input type="text" class="form-control" id="facturatorcalle" formControlName="facturatorcalle"
                      (change)="setValoresStore(facturatorForm,'facturatorcalle', 'setfacturatorcalle')">
                    </div>
                    <div class="col-md-4">
                      <label class="form-label" for="experior">Numero experior*:</label>
                      <input type="text" class="form-control" id="facturatorexperior" formControlName="facturatorexperior"
                      (change)="setValoresStore(facturatorForm,'facturatorexperior', 'setfacturatorexperior')">
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-label" for="interior">Numero interior:</label>
                    <input type="text" class="form-control" id="facturatorinterior" formControlName="facturatorinterior"
                    (change)="setValoresStore(facturatorForm,'facturatorinterior', 'setfacturatorinterior')">
                  </div>
                  <div class="col-md-1 mb-3">
                    <label class="form-label" for="lada">Lada:</label>
                    <input type="text" class="form-control" id="facturatorlada" formControlName="facturatorlada"
                    (change)="setValoresStore(facturatorForm,'facturatorlada', 'setfacturatorlada')">
                  </div>
                  <div class="col-md-3 mb-3">
                    <label class="form-label" for="numerotelefono">Teléfono:</label>
                    <input type="text" class="form-control" id="facturatortelefono" formControlName="facturatortelefono"
                    (change)="setValoresStore(facturatorForm,'facturatortelefono', 'setfacturatortelefono')">
                  </div>
                  <div class="col-md-4 mb-3">
                    <label class="form-label" for="correoElectronico">Correo electrónico:</label>
                    <div class="input-group">
                      <input type="email" class="form-control" id="facturatorElectronico" formControlName="facturatorElectronico"
                      (change)="setValoresStore(facturatorForm,'facturatorElectronico', 'setfacturatorElectronico')">
                      </div>
                  </div>
                </div>
  </form>
  </div>
  
  
  <div class="modal-footer custom-footer justify-content-center">
      <button type="button" class="btn btn-primary">Cancelar</button>
      <button
        type="button"
        class="btn btn-default"
        data-bs-dismiss="modal"
        #closeModal
      >
        Limpiar
      </button>
      <button type="button" class="btn btn-primary">Guardar</button>
    </div>     
  </div>
</div>
</div>
