<div class="mt-4">
  <form [formGroup]="solicitudForm">
    <ng-titulo titulo="Régimen aduanero"></ng-titulo>
    <div class="col-md-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="regimen_0" value="" name="regimen_0"
          formControlName="regimen_0" (change)="setValoresStore(solicitudForm, 'regimen_0', 'setRegimen_0')" />
        <label class="form-check-label" for="regimen_0">
          Importación temporal para la elaboración, transformación o reparación
          en programas de maquila o de exportación (IMMEX)
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="regimen_1" value="" name="regimen_1"
          formControlName="regimen_1" (change)="setValoresStore(solicitudForm, 'regimen_1', 'setRegimen_1')" />
        <label class="form-check-label" for="regimen_1">
          Depósito fiscal para someterse al proceso de ensamble y fabricación de
          vehículo a empresas de la industria automotriz terminal
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="regimen_2" value="" name="regimen_2"
          formControlName="regimen_2" (change)="setValoresStore(solicitudForm, 'regimen_2', 'setRegimen_2')" />
        <label class="form-check-label" for="regimen_2">
          Elaboración, transformación o reparación en recinto fiscalizado
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="regimen_3" value="" name="regimen_3"
          formControlName="regimen_3" (change)="setValoresStore(solicitudForm, 'regimen_3', 'setRegimen_3')" />
        <label class="form-check-label" for="regimen_3">
          Recinto Fiscalizado Estratégico
        </label>
      </div>
    </div>
    
    <ng-titulo titulo="Operaciones virtuales"></ng-titulo>
    <div class="col-md-12">
      <ng-alert [CONTENIDO]="TEXTOS.TEXTO_OPERACIONES_VIRTUALES" [CUSTOMECLASS]="infoAlert"></ng-alert>
    </div>
    <div class="col-md-12">
      <label class="form-label text-justify">
        Para descargar plantilla del archivo de excel de click
        <a [href]="" target="_blank" class="text-primary fw-bold">aquí</a>.
      </label>
      <div class="row mt-4 mb-4">
        <div class="col-md-4">
          <input class="form-control" type="file" name="cargarProveedores" id="cargarProveedores" required />
        </div>
        <div class="col-md-8 d-flex justify-content-end">
          <button type="button" class="btn btn-default" (click)="cargarProveedores()">
            Cargar Proveedores
          </button>
        </div>
      </div>
      <label class="form-label text-justify">
        Proveedores existentes actualmente.
      </label>
      <div class="row">
        <div class="alert alert-info">
          <label style="font-weight: normal">
            <input type="checkbox" formControlName="manifiesto" (change)="
                setValoresStore(solicitudForm, 'manifiesto', 'setManifiesto')
              " />{{ TEXTOS.TEXTO_PROVEEDORES_EXISTENTES_ACTUALMENTE }}
          </label>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="confirmarModal" aria-labelledby="confirmarModalLabel" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true" #confirmarModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content modalsm">
      <div class="modal-body">
        <label>Los registros se realizaron correctamente</label>
      </div>
      <div class="modal-footer" style="justify-content: center">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" #closeModal>
          Acceptar
        </button>
      </div>
    </div>
  </div>
</div>

<div id="errorModal" aria-labelledby="errorModalLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
  #errorModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content modalsm">
      <div class="modal-body">
        <label>El número de columnas del archivo es incorrecto</label>
      </div>
      <div class="modal-footer" style="justify-content: center">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" #closeModal>
          Acceptar
        </button>
      </div>
    </div>
  </div>
</div>