<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Registro de solicitud IMMEX modalidad controladora</h1>
    </div>

    <app-wizard [listaPasos]="pasos"></app-wizard>

  </div>

  <div class="row">
    @switch (indice) {
    @case (1) {
    <app-paso-uno-cs></app-paso-uno-cs>
    }
    @case (2) {
    <app-paso-dos
          [idTipoTRamite]="'80104'"
          [datosUsuario]="datosUsuario"
          [cargaArchivosEvento]="cargarArchivosEvento"
          (reenviarEventoCarga)="manejaEventoCargaDocumentos($event)"
          (reenviarCargaRealizada)="cargaRealizada($event)"></app-paso-dos>
    }
    @case (3) {
   <paso-firma [idSolicitud]="solicitudState.idSolicitud" [procedure]="80104" [procedureUrl]="'registro-solicitud-immex-modalidad-controladora/action'"></paso-firma>
    }
    }

    <div class="row">
      <div class="col-md-12">
        @if (indice !== 2) {
        <btn-continuar
        [datos]="datosPasos"
        [btnGuardar]="true" 
        [dePadre]="padreBtn"
        [btnGuardarVisible]="btnGuardarVisible"
        (btnGuardarClicked)="obtenerDatosDelStore()"
        (continuarEvento)="getValorIndice($event)"></btn-continuar>
        } @else {
        <div class="mt-5 mb-3 d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-default"
            (click)="anterior()"
            *ngIf="seccionCargarDocumentos"
          >
            Anterior
          </button>

        
          <button
            class="btn btn-primary ms-3"
            (click)="
              seccionCargarDocumentos ? onClickCargaArchivos() : siguiente()
            "
            [disabled]="!activarBotonCargaArchivos && seccionCargarDocumentos"
          >
            {{ seccionCargarDocumentos ? 'Cargar archivos' : 'Continuar' }}
          </button>
        </div>
        }
      </div>
    </div>
      
  </div>
</div>
