<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Cancelación de certificado</h2>
      </div>
      <div class="col-md-12 alert alert-danger" style="text-align: center;" role="alert" *ngIf="nombre == 3"> Favor de
        verficar los compos que
        marcan error.
      </div>
      <app-wizard [listaPasos]="pasos"></app-wizard>
    </div>
    <div class="row"> @switch (indice) { @case (1) { <app-paso-uno (miEvento)="alEventoHijo($event)"></app-paso-uno> }
      @case (2) { <app-paso-tres></app-paso-tres> } } <btn-continuar *ngIf="nombre !== 2" [datos]="datosPasos"
        (continuarEvento)="getValorIndice($event)"></btn-continuar>
    </div>
  </div>
</div>