.ng-touched.ng-invalid{
        border: #fe4a47 1px solid;
}
form {
  border: none !important;
}

.mensaje-coma-personalizado {
  color: #404040;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.428571429;
}