<div class="container">
    <ng-titulo [titulo]="'Detalles del transporte'"></ng-titulo>
    <form [formGroup]="transporteForm">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <app-catalogo-select  formControlName="medioDeTransporte" 
                    [catalogo]="medioDeTransporteOptions" 
                    [label]="'Medio de transporte'"
                    [required]="false"></app-catalogo-select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="rutaCompleta" class="form-label">Ruta Completa :</label>
                    <input type="text" id="rutaCompleta" formControlName="rutaCompleta" class="form-control">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="puertoDeEmbarque" class="form-label">Puerto de Embarque :</label>
                    <input type="text" id="puertoDeEmbarque" formControlName="puertoDeEmbarque" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="puertoDeDesembarque" class="form-label">Puerto de Desembarque :</label>
                    <input type="text" id="puertoDeDesembarque" formControlName="puertoDeDesembarque"
                        class="form-control">
                </div>
            </div>
        </div>
    </form>
</div>
