<form [formGroup]="transporteForm">
    <ng-titulo [titulo]="'Detalles del transporte'"></ng-titulo>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <app-catalogo-select formControlName="medioDeTransporte" 
                    [catalogo]="medioDeTransporteOptions" 
                    [label]="'Medio de transporte'"
                    [required]="true"
                    [isDisabled]="esFormularioSoloLectura"
                    (change)="setValoresStore(transporteForm,'medioDeTransporte')"></app-catalogo-select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="rutaCompleta" class="form-label">Ruta completa:</label>
                    <input type="text" id="rutaCompleta" formControlName="rutaCompleta" class="form-control" placeholder="pruebas de la ruta el dato completo"
                    (change)="setValoresStore(transporteForm,'rutaCompleta')" maxlength="40">
                    <div *ngIf="transporteForm.get('rutaCompleta')?.touched && transporteForm.get('rutaCompleta')?.invalid">
                        <small *ngIf="transporteForm.get('rutaCompleta')?.errors?.['pattern']" class="text-danger">Por favor, corrija el nombre.</small>
                      </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="puertoDeEmbarque" class="form-label">Puerto de embarque:</label>
                    <input type="text" id="puertoDeEmbarque" formControlName="puertoDeEmbarque" class="form-control" placeholder="Mazatlan"
                    (change)="setValoresStore(transporteForm,'puertoDeEmbarque')" maxlength="40">
                    <div *ngIf="transporteForm.get('puertoDeEmbarque')?.touched && transporteForm.get('puertoDeEmbarque')?.invalid">
                        <small *ngIf="transporteForm.get('puertoDeEmbarque')?.errors?.['pattern']" class="text-danger">Por favor, corrija el nombre.</small>
                      </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="puertoDeDesembarque" class="form-label">Puerto de desembarque:</label>
                    <input type="text" id="puertoDeDesembarque" formControlName="puertoDeDesembarque" placeholder="Mazatlan"
                        class="form-control"
                        (change)="setValoresStore(transporteForm,'puertoDeDesembarque')" maxlength="40">
                        <div *ngIf="transporteForm.get('puertoDeDesembarque')?.touched && transporteForm.get('puertoDeDesembarque')?.invalid">
                            <small *ngIf="transporteForm.get('puertoDeDesembarque')?.errors?.['pattern']" class="text-danger">Por favor, corrija el nombre.</small>
                          </div>
                </div>
            </div>
        </div>
 </form>

