<app-terceros-relacionados
[fabricanteTablaDatos]="(tercerosDatos$ | async)?.fabricanteTablaDatos || []"
[destinatarioFinalTablaDatos]="(tercerosDatos$ | async)?.destinatarioFinalTablaDatos || []"
[proveedorTablaDatos]="(tercerosDatos$ | async)?.proveedorTablaDatos || []"
[facturadorTablaDatos]="(tercerosDatos$ | async)?.facturadorTablaDatos || []"
[formularioDeshabilitado]="esFormularioSoloLectura"
[elementosRequeridos]="elementosRequeridos"
(fabricanteEliminar)="eliminarFabricante($event)"
></app-terceros-relacionados>