.datosMonumentoButton{
    margin-top:25px;
  }

  .buttonPosition{
    position: absolute;
    right : 32px;
  }

  .buttonAlign{
    position: relative;
    left : 25px;
  }

  .buttonAlignCancel{
    position: relative;
    left: 15px;
   }