.datos-monumento-button{
    margin-top:25px;
  }

  .button-position{
    position: absolute;
    right : 32px;
  }

  .button-align{
    position: relative;
    left : 25px;
  }

  .button-align-cancel{
    position: relative;
    left: 15px;
   }