<div class="container">
  <div class="container1">
    <ng-titulo titulo="Datos generales del solicitante" />
    <form [formGroup]="solicitudForm">
      <div class="row">
        <div class="col-md-4">
          <label class="form-label" for="rfc">RFC: <span class="bi bi-question-circle-fill fs-4 m-1" title="Title" ata-bs-toggle="tooltip"></span>
          </label>
          <input type="text" class="form-control" id="rfc" formControlName="rfc" readonly />
        </div>
        <div class="col-md-8">
          <label class="form-label" for="denominacion">Denominación o razón social:</label>
          <input type="text" class="form-control" id="denominacion" formControlName="denominacion" readonly />
        </div>
        <div class="col-md-12">
          <label class="form-label" for="actividad-economica">Actividad económica preponderante:</label>
          <input type="text" class="form-control" id="actividad-economica" formControlName="actividadEconomica" readonly />
        </div>
        <div class="col-md-4">
          <label class="form-label" for="correo-electronico">Correo electrónico:</label>
          <input type="text" class="form-control" id="correo-electronico" formControlName="correoElectronico" readonly />
        </div>
      </div>
    </form>
  </div>
  <div class="container2">
    <ng-titulo titulo="Domicilio fiscal del solicitante" />
    <form [formGroup]="solicitudForm">
      <div class="row">
        <div class="col-md-4">
          <label class="form-label" for="pais">País <span class="bi bi-question-circle-fill fs-4 m-1" title="Title" ata-bs-toggle="tooltip"></span>
          </label>
          <input type="text" class="form-control" id="pais" formControlName="pais" readonly />
        </div>
        <div class="col-md-4">
          <label class="form-label" for="codigo-portal">Código</label>
          <input type="text" class="form-control" id="codigo-portal" formControlName="codigoPostal" readonly />
        </div>
        <div class="col-md-4">
          <label class="form-label" for="estado">Estado:</label>
          <input type="text" class="form-control" id="estado" formControlName="estado" readonly />
        </div>
        <div class="col-md-4">
          <label class="form-label" for="municipio-o-alcadia">Municipio o alcaldía:</label>
          <input type="text" class="form-control" id="municipio-o-alcadia" formControlName="municipioOAlcadia" readonly />
        </div>
        <div class="col-md-4">
          <label class="form-label" for="localidad">Localidad:</label>
          <input type="text" class="form-control" id="localidad" formControlName="localidad" readonly />
        </div>
        <div class="col-md-4">
          <label class="form-label" for="colonia">Colonia:</label>
          <input type="text" class="form-control" id="colonia" formControlName="colonia" readonly />
        </div>
        <div class="col-md-8">
          <label class="form-label" for="calle">Calle:</label>
          <input type="text" class="form-control" id="calle" formControlName="calle" readonly />
        </div>
        <div class="col-md-4">
          <label class="form-label" for="numero-exterior">Número exterior:</label>
          <input type="text" class="form-control" id="umero-exterior" formControlName="numeroExterior" readonly />
        </div>
        <div class="col-md-4">
          <label class="form-label" for="numero-ixterior">Número interior:</label>
          <input type="text" class="form-control" id="numero-ixterior" formControlName="numeroInterior" readonly />
        </div>
        <div class="col-md-2">
          <label class="form-label" for="lada">Lada:</label>
          <input type="text" class="form-control" id="lada" formControlName="lada" readonly />
        </div>
        <div class="col-md-3">
          <label class="form-label" for="telefono">Teléfono:</label>
          <input type="text" class="form-control" id="telefono" formControlName="telefono" readonly />
        </div>
      </div>
    </form>
  </div>
</div>