textarea.form-control{
    height: 0% !important;
}

.m-0 {
    margin: 0 !important;
}

::ng-deep lib-notificaciones .modal-dialog {
    display: flex !important;
    align-items: start !important;
    min-height: calc(100% - var(--bs-modal-margin) * 2) !important;
    max-width: 565px !important;
}

::ng-deep lib-notificaciones .modal-body {
    display: flex !important;
    justify-content: end !important;
    padding-right: 20px !important;
}

::ng-deep lib-notificaciones .modal-footer {
    justify-content: end !important;
    flex-direction: row-reverse !important;
    padding-right: 20px !important;
}

.require {
    color: #CE0923;
    font-weight: bold;
}