<form [formGroup]="masterForm" autocomplete="off">
  <div class="row mt-5">
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="form-group">
        <label
          >Guía Master
          <span class="form-text form-text-error">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="guideMaster"
          [ngClass]="{
            'form-control-error': formUtils.isValidField(masterForm, 'guideMaster')
          }"
        />
        @if (formUtils.isValidField(masterForm, 'guideMaster')) {
          <small class="form-text form-text-error">
            {{ formUtils.getFieldError(masterForm, 'guideMaster') }}
          </small>
        }
      </div>
    </div>
  </div>
</form>
