    .btn {
        margin: 2px !important;
    }

    ::ng-deep .mensaje-error {
        display: none !important;
    }

    :ng-deep .ng-invalid.ng-dirty .form-label .require {
        color: unset !important;
    }

    ::ng-deep .eliminar-modal {
        width: 470px !important;
        max-width: 100%;
        margin: 2% auto !important;
        padding: 0 !important;
        text-align: center;
    }