<div class="page">
    <div class="container">
      <ng-titulo titulo="Selecci&oacute;n de tr&aacute;mite" />
      <div class="row">
        <table class="table table-responsive table-striped table-hover">
          <thead>
            <tr>
              <th>
                Tipo tr&aacute;mite
              </th>
              <th>
                URL
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                5701
              </td>
              <td>
                <a routerLink="/servicios-extraordinarios/solicitud">{{ruta}}/servicios-extraordinarios/solicitud</a>
              </td>
            </tr>
            <tr>
              <td>
                130118
              </td>
              <td>
                <a routerLink="/pexim/solicitud">{{ruta}}/pexim/solicitud</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>    
</div>
  