.modal-dialog {
    max-width: 1200px !important;
}

::ng-deep .eliminar-modal {
    width: 470px !important;
    max-width: 100%;
    margin: 2% auto !important;
    padding: 0 !important;
    text-align: center;
}

.modal-body {
    margin: 25px 25px 0px 25px;

    form {
        ::ng-deep label {
            font-size: 1.6rem !important;
            padding-top: 0px !important;
            margin-top: 15px !important;
            margin-bottom: 0 !important;
        }
    }

    ::ng-deep hr.red {
        margin: 10px 0 45px !important;
    }
}

.btn {
    margin: 2px !important;
}

.modal-footer {
    margin: 0px 25px 25px 0px;
}

.textarea {
    height: 50px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1055;
}

.custom-modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;

    .title {
        background-color: black;

        h5 {
            background-color: black;
            color: white;
            height: 55px;
            text-align: center;
            margin: 0;
            line-height: 55px;
        }
    }
}

::ng-deep app-input-radio form {
    display: flex;

    :first-child {
        padding-right: 25px
    }
}

.mt-19 {
    margin-top: 19px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

::ng-deep #paisEmisor2daPlaca {
    .form-label {
        padding-top: 0px !important;
    }
}

::ng-deep .ng-invalid.ng-invalid.ng-invalid.ng-dirty.ng-dirty .form-label.form-label .require.require.require,
::ng-deep .ng-invalid.ng-invalid.ng-invalid.ng-touched.ng-touched .form-label.form-label .require.require.require {
    color: unset !important;
}

::ng-deep html body .modal-body .ng-invalid.ng-dirty .form-label .require,
::ng-deep html body .modal-body .ng-invalid.ng-touched .form-label .require,
::ng-deep html body form .ng-invalid.ng-dirty .form-label .require,
::ng-deep html body form .ng-invalid.ng-touched .form-label .require {
    color: unset !important;
}

::ng-deep .ng-invalid .form-label .require {
    animation: resetColor 0s forwards !important;
}

@keyframes resetColor {
    to {
        color: unset !important;
    }
}

::ng-deep .required {
    border: 1px solid #ced4da !important;
}