
<form [formGroup]="forma">
  <div class="row mb-3">
    <formas-dinamicas
      formularioTitulo="Certificación de la empresa"
      [forma]="ninoFormGroup"
      [formularioDatos]="certificacionEmpresa"
      [estado]="certificacionState"
      (emitirCambioDeValor)="establecerCambioDeValor($event)"
      [soloLectura]="consultaState.readonly"
    ></formas-dinamicas>
  </div>
</form>

<lib-notificaciones 
  *ngIf="confirmEliminarPopupAbierto"
  [notificacionInput]="nuevaNotificacion" 
  (confirmacionModal)="cerrarModal()">
</lib-notificaciones>
