<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li [ngClass]="indice === 1 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(1)">Solicitante</a>
      </li>
      <li [ngClass]="indice === 2 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(2)">Datos de la solicitud</a>
      </li>
    </ul>

    <ng-container>
      @switch (indice) {
      @case (1) {
      <solicitante [tabindex]="1"></solicitante>
      }
      @case (2) {
        @if(esDatosRespuesta){
          <app-datos-de-la-solicitud [tabindex]="2"></app-datos-de-la-solicitud>

          }
        }
      }
    </ng-container>
  </div>
</div>
