<app-certificado-de-origen #certificadoDeOrigen
    [operador]="operador"
    [tratadoAcuerdo]="(estados$ | async) || []"
    [paisBloqu]="(pais$ | async) || []"
    (tipoEstadoSeleccionEvent)="tipoEstadoSeleccion($event)"
    (paisBloquEvent)="tipoSeleccion($event)"
    (setbuscarMercanciaEvent)="buscarrMercancia()"
    [tableData]="(datos1 | async) ||  []"
    (filaClics)="abrirModificarModal($event)"
    [tablaSeleccionEvent]="tablaSeleccionEvent"
    [guardarClicado]="(datosTabla$ | async) ||  []"
    (guardarClicadoEvent)="guardarClicado($event)"
    (formaValida)="setFormValida($event)"
    [datosForm]="formCertificado"
    [cargoDeMercancias]="cargoDeMercancias"
    [mercanciasDisponibles]="mercanciasDisponibles"
    [mercanciasDisponiblesTabla]="mercanciasDisponiblesTabla"
    [esFormularioSoloLectura]="esFormularioSoloLectura"
    (formCertificadoEvent)="setValoresStore($event)"
    [idProcedimiento]="idProcedimiento"
    (setModelCargaPorArchivo)="abrirModalCargaPorArchivo()"
    [domicilioTercer]="true" >
</app-certificado-de-origen>

<div class="modal fade" #modifyModal tabindex="-1" aria-labelledby="modifyModalLabel" aria-hidden="true">
    <app-mercancias-modal [esFormularioSoloLectura]="esFormularioSoloLectura" [datosSeleccionados]="datosSeleccionados" (guardarClicado)="abrirModificarModal($event)"
        (cerrarClicado)="cerrarModificarModal()"></app-mercancias-modal>
</div>
<div class="modal fade" #buscarMercanciaModal tabindex="-1" aria-labelledby="modifyModalLabel" aria-hidden="true">
    <app-carga-por-archivo></app-carga-por-archivo>
</div>
