.italic-bold {
  font-style: italic;
  font-weight: bold;
}

.no-resize {
  resize: none;
}

.costumbre-file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.costumbre-label {
  display: inline-block;
  padding: 6px 12px;
  min-width: 155px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #555;
  font-size: 18px !important;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  margin-right: 5px;
}

.costumbre-label:hover {
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  color: #555;
}

.costumbre-label.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.form-check-input:checked {
  background-color: #ccc;
  border-color: #ccc;
}

.disabled-link {
  pointer-events: none;
  color: gray;
  text-decoration: none;
  cursor: default;
}

.h60{
  height: 60px;
}
.btn-custom-gray {
  background-color: #6c757d;
  border-color: #6c757d;
}
