<div class="container">
  <form [formGroup]="ctpatForm">
    <div class="row">
      <div class="col-md-12">
        <label class="form-label text-start" for=""
          >El sistema señala que Conforme a la regla 7.1.4. tercer párrafo y a la 7.1.5., fracción I, segundo párrafo, el solicitante debe acreditar lo siguiente:</label
        >
      </div>
      <div class="col-md-12">
        <label class="form-label text-start estructura-accionaria-corporativa" for=""
          >Incluir en sección de anexos:</label
        >
      </div>
      <div class="col-md-12">
        <label class="form-label text-start estructura-accionaria-corporativa" for=""
          >El reporte de validación emitido en un periodo no mayor a 3 años a la
          fecha que se presente la solicitud, a través del cual acredite a la
          solicitante como socio del programa CBP (C-TPAT), con estatus
          certificado-validado, para cada una de las instalaciones validadas por
          CBP (C-TPAT), así como anexar su correspondiente traducción simple al
          español.</label
        >
      </div>
      <div class="col-md-12">
        <label class="form-label text-start estructura-accionaria-corporativa" for=""
          >Carta de presentación (Cover Letter) original y traducción simple al
          español</label
        >
      </div>
      <div class="col-md-12 mt-4">
        <label class="form-label text-start"
          >Señale si autorizó a CBP (C-TPAT) a compartir información con México,
          a través de su portal de C-TPAT o del mecanismo que la autoridad de
          dicho país haya definido.</label
        >
        <app-input-radio
          [radioOptions]="opcionDeBotonDeRadio"
          [isRequired]="true"
          [layout]="'horizontal'"
          formControlName="autorizacionCBP"
          (change)="setValoresStore(ctpatForm, 'autorizacionCBP')"
        ></app-input-radio>
      </div>
      <div *ngIf="ctpatForm.get('autorizacionCBP')?.invalid && ctpatForm.get('autorizacionCBP')?.touched" class="text-danger mt-3">
          <b>Respuesta Obligatoria</b>
      </div>
      <div class="col-md-12 mt-4">
        <label class="form-label text-start"
          >Señale si las instalaciones que cuentan con la certificación de CBP
          (C-TPAT) y de las cuales no se deberá de presentar el "Perfil de Auto
          Transportista Terrestre", "Perfil de la empresa" o el "Perfil del
          Recinto Fiscalizado Estratégico", según corresponda, cumplen con los
          estándares mínimos en materia de seguridad</label
        >
        <app-input-radio
          [radioOptions]="opcionDeBotonDeRadio"
          [isRequired]="true"
          [layout]="'horizontal'"
          [gap]="'50px'"
          formControlName="instalacionesCertificadasCBP"
          (change)="setValoresStore(ctpatForm, 'instalacionesCertificadasCBP')"
        ></app-input-radio>
         <div *ngIf="ctpatForm.get('instalacionesCertificadasCBP')?.invalid && ctpatForm.get('instalacionesCertificadasCBP')?.touched" class="text-danger mt-3">
          <b>Respuesta Obligatoria</b>
      </div>
      </div>
      <div class="col-md-12 mt-4">
        <label class="form-label text-start"
          >Señale si a la fecha de la presentación de su solicitud se encuentra
          sujeta a un proceso de suspensión o cancelación por parte de CBP
          (C-TPAT)</label
        >
        <app-input-radio
          [radioOptions]="opcionDeBotonDeRadio"
          [isRequired]="true"
          [layout]="'horizontal'"
          [gap]="'50px'"
          formControlName="suspensionCancelacionCBP"
          (change)="setValoresStore(ctpatForm, 'suspensionCancelacionCBP');manejarCambioSuspensionCancelacion($event)"
        ></app-input-radio>
         <div *ngIf="ctpatForm.get('suspensionCancelacionCBP')?.invalid && ctpatForm.get('suspensionCancelacionCBP')?.touched" class="text-danger mt-3">
          <b>Respuesta Obligatoria</b>
      </div>
      </div>
    </div>
  </form>
</div>


<ng-template #template>
  <div class="modal-header">
    <h6 class="modal-title text-danger">Mensaje</h6>
  </div>
  <div class="modal-body">
    <p class="mb-0">
      Este requisito es necesario para hacer válido el reconocimiento mutuo como socio del programa CBP (CTPAT), de conformidad con las RGCE.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="cerrarModal()"
    >
      Aceptar
    </button>
  </div>
</ng-template>
