.form-control {
    background-color: #80808024;
}

.custom-textarea {
    height: 120px;
    /* Adjust the height as needed */
}

@media (min-width: 320px) and (max-width: 370px) {
    .form-label {
        text-align: unset !important;

    }
}

.label-width {
    text-align: center;
}

.bg-white {
    background-color: white !important;
}

:host ::ng-deep .select-form-label .form-label{
    text-align: left !important;
}