<app-datos-certificado-de
  #datosCertificadoDeRef
  [idioma]="idioma"
  [idiomaDatos]="idiomaDatos"
  [idProcedimiento]="110211"
  (formDatosCertificadoEvent)="setValoresStore($event)"
  (idiomaSeleccionEvent)="idiomaSeleccion($event)"
  (entidadFederativaSeleccionEvent)="entidadFederativaSeleccion($event)"
  (representacionFederalSeleccionEvent)="representacionFederalSeleccion($event)"
  [entidadFederativaDatos]="entidadFederativas || []"
  [representacionFederalDatos]="representacionFederal || []"
  [esFormularioSoloLectura]="esFormularioSoloLectura"
  [datosFormCertificado]="formDatosCertificadoValues"
  (formaValida)="setFormValida($event)"
></app-datos-certificado-de>
