<div class="container">
    <form [formGroup]="modificacionForm">
        <div>
            <div class="row" style="padding-top: 45px;">
                <div class="col-md-4">
                    <label class="form-label" for="rfc">Registro Federal de Contribuyentes:</label>
                    <input type="text" class="form-control" id="rfc" formControlName="rfc" readonly>
                </div>

                <div class="col-md-8">
                    <label class="form-label" for="federal">Representación federal:</label>
                    <input type="text" class="form-control" id="federal" formControlName="federal" readonly>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="tipo">Tipo de modificación:</label>
                    <input type="text" class="form-control" id="tipo" formControlName="tipo" readonly>
                </div>

                <div class="col-md-8">
                    <label class="form-label" for="programa">Modificación de programa:</label>
                    <input type="text" class="form-control" id="programa" formControlName="programa" readonly>
                </div>
            </div>
        </div>
    </form>
    <div>
        <ng-titulo titulo="Lista de domicilios" />
        <app-tabla-dinamica [tipoSeleccionTabla]="TablaSeleccion.BUTTON" [configuracionTabla]="encabezadoDeTabla" [datos]="datosTabla" (alternarValor)="valorDeAlternancia($event)" [desactivarButton]="soloLectura"></app-tabla-dinamica>
    </div>
</div>