.form-control {
    height: 35px;
    background-color: #80808024;
    font-size: 15px;
    font-weight: 500;
  }
  
  .form-label {
    font-size: 16px;
  }
  .solicitante-datos {
    font-size: 16px;
    font-weight: 700;
  }
  
  @media (min-width: 320px) and (max-width: 370px) {
    .form-label {
      text-align: unset !important;
    }
  }