<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <ul class="nav nav-tabs">
        <li *ngFor="let tab of seccionesDeLaSolicitud" [ngClass]="indice === tab.index ? 'active' : ''">
          <a data-toggle="tab" (click)="seleccionaTab(tab.index)" (keydown.enter)="seleccionaTab(tab.index)"
            tabindex="0">{{ tab.title }}</a>
        </li>
      </ul>
    </ul>

    <ng-container>
      @switch (indice) { @case (1) {
      <solicitante #Solicitante></solicitante>
      } @case (2) {
      <app-datos-de-la-solicitud></app-datos-de-la-solicitud>
      } @case (3) {
      <app-datos-para-movilizacion-nacional></app-datos-para-movilizacion-nacional>
      } @case (4) {
      <app-tercerospage></app-tercerospage>
      } @case (5) {
      <app-pago-de-derechos></app-pago-de-derechos>
      } }
    </ng-container>
  </div>
</div>