.ht{
    height: 60px;
}
.table-container{
    max-height: 400px;
    overflow-y: auto;
    overflow-x: scroll;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}
.label-fnt{
    font-size: 16px !important;
}