.group-checkbox {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-self: end;
}

.btn-group {
  height: 100%;
  display: flex;
  align-items: center;
}



.p-bold {
  text-align: justify;
  font-weight: bold;
}

.form-check-label {
  padding-right: 7px;
}

.multi-select {
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 27rem
}

.form-select {
  min-height: 30rem;
  font-size: medium;
}

.collpase-button:disabled {
  opacity: 0.5;
}

.rango-de-fechas-label {
  padding-top: 7px;
}

#rangoDeFechas {
  margin-top: 10px;
}

.red-require {
  color: #CE0923;
  font-weight: bold;
}

.modal-dialog {
  max-width: 1100px !important;
}

.pagination {
  display: table;
  margin: 0 auto;
}

::ng-deep {
  .reexportacion {
    .modal-footer {
      justify-content: right;
    }
  }

  .tipo-certificado {
    form>div:first-of-type {
      display: flex;
      justify-content: space-between;
    }
  }
}