.pagination {
    display: table;
    margin: 0 auto;
  }
  
  .custom-textarea {
    height: 120px;
  }
  
  ::ng-deep table th {
    text-align: center;
  }
  
  .header {
    display: flex;               
    justify-content: flex-end;   
    align-items: center;         
  }

  .plus-icon {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;     
  height: 32px;
  border-radius: 50%;
  border: 1px solid #888;
  background: #fff;
}
  
  .container {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .content {
    margin-top: 10px;
    padding: 15px;
  }
  