.gris-color {
    background-color: var(--bs-secondary-bg);
    opacity: 1;
}

.table-container {
  width: 1100px;
  overflow-x: auto;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.error-border {
  border: 1px solid red;
}

.error-star {
  color: red;
}

.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.disabled-input-fecha {
  background-color: rgb(227, 226, 226) !important;
  pointer-events: none;
  opacity: 1;
}

::ng-deep .disabled-input-fecha{
  background-color: rgb(227, 226, 226) !important;
  pointer-events: none;
  opacity: 1;
}

.table-container{
    overflow-x: auto;
    white-space: nowrap;
}
::ng-deep .centered-table-wrapper app-tabla-dinamica .table-wrapper table th, table td {
    text-align: center !important;
}

.alert-text {
  font-weight: 700;
  text-align: center;
}
