/* Dale estilo a la mesa para darle una apariencia más moderna y limpia. */
::ng-deep .table-wrapper {
  max-height: 200px; /* Adjust this value according to your row height (e.g., 50px per row) */
  overflow-y: auto;  /* Vertical scrolling when the number of rows exceeds 3 */
  overflow-x: auto;  /* Horizontal scrolling if table is wider than container */
}

::ng-deep table th, table td {
  text-align: center;
}

  .header {
    display: flex;        /* Use flexbox to layout the child elements */
    justify-content: space-between; /* Space between elements */
    align-items: center;  /* Vertically center the items */
  }
  
  .header span:first-child {
    text-align: left;      /* Align the first span to the left */
    flex-grow: 1;          /* Allow the first span to take up remaining space */
  }  
  .container {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  
  
  .plus-icon {
    font-size: 20px;
    cursor: pointer;
  }
  
  .content {
    margin-top: 10px;
  }

.pagination {
    display: table;
    margin: 0 auto;
}