<form [formGroup]="dictamenForm">
     <div class="row margin-top">
                <ul class="nav nav-tabs justify-content-center">
                   <ul class="nav nav-tabs">
                        <li [ngClass]="indice === 1 ? 'active' : ''">
                            <a data-toggle="tab" role="button" 
                            (click)="seleccionaTab(1)"
                            (keydown.enter)="seleccionaTab(1)"
                            (keydown.space)="seleccionaTab(1)"
                            tabindex="1">Justificación</a>
                        </li>
                        @if ((this.dataIniciarDictamen && this.dataIniciarDictamen.dictaminador_califica_exportador) ||
                                (this.dataIniciarDictamenAutorizar && this.dataIniciarDictamenAutorizar.mostrar_calificacion_ue)) {
                            <li [ngClass]="indice === 2 ? 'active' : ''">
                                <a data-toggle="tab" role="button"
                                (click)="seleccionaTab(2)"
                                (keydown.enter)="seleccionaTab(2)"
                                (keydown.space)="seleccionaTab(2)"
                                tabindex="2">Clasificación exportador autorizado UE</a>
                            </li>
                        }
                         @if ((this.dataIniciarDictamen && this.dataIniciarDictamen.dictaminador_califica_exportador_jpn) ||
                          (this.dataIniciarDictamenAutorizar && this.dataIniciarDictamenAutorizar.mostrar_calificacion_jpn)) {
                            <li [ngClass]="indice === 3 ? 'active' : ''">
                                <a data-toggle="tab" role="button"
                                (click)="seleccionaTab(3)"
                                (keydown.enter)="seleccionaTab(3)"
                                (keydown.space)="seleccionaTab(3)"
                                tabindex="3">Clasificación exportador autorizado Japón</a>
                            </li>
                        }
                         @if (this.dataIniciarDictamen && this.dataIniciarDictamen.tiene_fraccion_aladi) {
                            <li [ngClass]="indice === 4 ? 'active' : ''">
                                <a data-toggle="tab" role="button"
                                (click)="seleccionaTab(4)"
                                (keydown.enter)="seleccionaTab(4)"
                                (keydown.space)="seleccionaTab(4)"
                                tabindex="4">Clasificación descripción ALADI</a>
                            </li>
                        }
                    </ul>
                </ul>
                <ng-container>
                    @switch (indice) {
                    @case (1) {
                        <div class="row ">
                            @if (mostrarTitulo) {
                            <div class="col-md-12">
                                <h3 class="titulo-dictamen">Generar Dictamen</h3>
                            </div>
                            }
                            <div class="col-md-12">
                                <div class="col-md-3 d-flex align-items-center">
                                    <label class="form-label mb-0" style="min-width: 150px;">Sentido dictamen<span [ngClass]="dictamenForm.get('cumplimiento')?.errors?.['required'] ? 'text-danger' : ''">*</span>:</label>
                                </div>
                                @if(inputSentidos === true){
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" [value]="resultadoEvaluacion" [disabled]="true">
                                    </div>
                                }@else{

                            
                                @if(opcionesSentidosDisponibles.length > 0) {
                                    <div class="col-md-8 d-flex justify-content-center">
                                        <div class="d-flex gap-3">
                                            <div 
                                                *ngFor="let opcion of opcionesSentidosDisponibles" 
                                                class="border px-4 py-2 d-flex align-items-center radio-button"
                                                
                                            >
                                                <input
                                                    class="form-check-input me-3 seleccion-radio"
                                                    type="radio"
                                                    formControlName="cumplimiento"
                                                    name="cumplimiento"
                                                    [value]="opcion.clave"
                                                    [id]="'sentidoDictamen' + opcion.clave"
                                                    [ngClass]="{ 'radio-invalid': dictamenForm.get('mensajeDictamen')?.invalid && dictamenForm.get('mensajeDictamen')?.touched }"
                                                />
                                                <label class="control-label mb-0" [for]="'sentidoDictamen' + opcion.clave">
                                                    {{ opcion.descripcion }}
                                                </label>
                                            </div>
                                        </div>                    
                                    </div>
                                    
                                }
                                
                                @else {
                                    <div class="col-md-8 d-flex justify-content-center">
                                        <div class="d-flex gap-3">
                                            <div class="border px-4 py-2 d-flex align-items-center radio-button">
                                                <input class="form-check-input me-3 seleccion-radio" type="radio" formControlName="cumplimiento" name="cumplimiento" value="SEDI.AC"
                                                    id="sentidoDictamenAceptado">
                                                <label class="control-label mb-0" for="sentidoDictamenAceptado">Aceptado</label>
                                            </div>
                                            <div class="border px-4 py-2 d-flex align-items-center radio-button">
                                                <input class="form-check-input me-3 seleccion-radio" type="radio" formControlName="cumplimiento" name="cumplimiento" value="SEDI.RZ"
                                                    id="sentidoDictamenRechazado">
                                                <label class="control-label mb-0" for="sentidoDictamenRechazado">Rechazado</label>
                                            </div>
                                        </div>
                                </div>
                                }
                            }
                            </div>
                            <div class="col-md-12 d-flex align-items-center text-danger mt-2" *ngIf="dictamenForm.get('cumplimiento')?.invalid && dictamenForm.get('cumplimiento')?.touched">
                                    Este campo es obligatorio.
                                </div>
                        </div>
                    
                        <div class="row mt-5">
                            <div class="col-md-12">
                                <label for="justificacionDictamen" class="form-label">
                                    Justificación del dictamen<span [ngClass]="dictamenForm.get('mensajeDictamen')?.errors?.['required'] ? 'text-danger' : ''">*</span>:
                                </label>
                                <textarea id="justificacionDictamen" class="form-control text-height" formControlName="mensajeDictamen"
                                    [ngClass]="{ 'is-invalid': dictamenForm.get('mensajeDictamen')?.invalid && dictamenForm.get('mensajeDictamen')?.touched }"></textarea>

                                @if (dictamenForm.get('mensajeDictamen')?.touched && dictamenForm.get('mensajeDictamen')?.errors) {
                                <div class="text-danger" *ngIf="dictamenForm.get('mensajeDictamen')?.errors?.['required']">
                                    Este campo es obligatorio.
                                </div>
                                <div class="text-danger" *ngIf="dictamenForm.get('mensajeDictamen')?.errors?.['soloEspacios']">
                                    No se permiten solo espacios en blanco.
                                </div>
                                <div class="text-danger" *ngIf="dictamenForm.get('mensajeDictamen')?.errors?.['maxlength']">
                                    No puede exceder los 2000 caracteres.
                                </div>
                                }
                            </div>
                            @if (evaluarObservacionesDictamen.length > 0) {
                                <ng-titulo [titulo]="'Observaciones al dictamen'" />
                                <div class="col-md-12">
                                    <app-tabla-dinamica 
                                        [configuracionTabla]="tablaObservacionesDictamen" 
                                        [datos]="evaluarObservacionesDictamen">
                                    </app-tabla-dinamica>
                                </div>
                            }
                        </div>

                        <!-- De conformidad con section -->
                        <div class="row mt-5" *ngIf="anexo222se">
                            <div class="col-md-12">
                                <h4>De conformidad con</h4>
                            </div>
                        </div>
                        <div class="row mt-3" *ngIf="isAntecedentes">
                            <div class="col-md-12">
                                <label for="antecedentesEditables" class="form-label">
                                    *Antecedentes que sustentan el dictamen:
                                </label>
                                <textarea id="antecedentesEditables" class="form-control text-height"
                                    formControlName="antecedentesEditables"
                                    [ngClass]="{ 'is-invalid': dictamenForm.get('antecedentesEditables')?.invalid && dictamenForm.get('antecedentesEditables')?.touched }"></textarea>

                                @if (dictamenForm.get('antecedentesEditables')?.touched &&
                                dictamenForm.get('antecedentesEditables')?.errors) {
                                <div class="text-danger" *ngIf="dictamenForm.get('antecedentesEditables')?.errors?.['required']">
                                    Este campo es obligatorio.
                                </div>
                                <div class="text-danger" *ngIf="dictamenForm.get('antecedentesEditables')?.errors?.['soloEspacios']">
                                    No se permiten solo espacios en blanco.
                                </div>
                                <div class="text-danger" *ngIf="dictamenForm.get('mensajeDictamen')?.errors?.['maxlength']">
                                    No puede exceder los 2000 caracteres.
                                </div>
                                }
                            </div>
                        </div>
                        <div class="row mt-3" *ngIf="anexo222se">
                            <div class="col-md-12">
                                <label for="antecedentesEditables" class="form-label">
                                    *Antecedentes que sustentan el dictamen:
                                </label>
                                <textarea id="antecedentesReadonly" class="form-control text-height" formControlName="antecedentesReadonly"
                                    placeholder="Fracción I numeral 2 del Anexo 2.2.2 del Acuerdo por el que la Secretaría de Economía emite reglas y criterios de carácter general en materia de Comercio Exterior, publicado en el Diario Oficial de la Federación el 6 de julio de 2007 y sus modificaciones.">
                                </textarea>
                            </div>
                        </div>

                        <!-- Campos de fecha condicionales -->
                        @if (mostrarCamposFecha) {
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <label for="fechaInicioVigenciaAutorizada" class="form-label">*Fecha de inicio de vigencia
                                    autorizada:</label>
                                <input type="date" id="fechaInicioVigenciaAutorizada" class="form-control"
                                    formControlName="fechaInicioVigenciaAutorizada"
                                    [ngClass]="isValid('fechaInicioVigenciaAutorizada') ? 'required' : ''">
                                @if (dictamenForm.get('fechaInicioVigenciaAutorizada')?.invalid &&
                                dictamenForm.get('fechaInicioVigenciaAutorizada')?.touched) {
                                <div class="text-danger">
                                    Este campo es obligatorio.
                                </div>
                                }
                            </div>
                            <div class="col-md-6">
                                <label for="fechaFinVigenciaAutorizada" class="form-label">*Fecha de fin de vigencia autorizada:</label>
                                <input type="date" id="fechaFinVigenciaAutorizada" class="form-control"
                                    formControlName="fechaFinVigenciaAutorizada"
                                    [ngClass]="isValid('fechaFinVigenciaAutorizada') ? 'required' : ''">
                                @if (dictamenForm.get('fechaFinVigenciaAutorizada')?.invalid &&
                                dictamenForm.get('fechaFinVigenciaAutorizada')?.touched) {
                                <div class="text-danger">
                                    Este campo es obligatorio.
                                </div>
                                }
                            </div>
                        </div>
                        }
                    }
                    @case (2) {
                        <div class="row ">
                            <div class="col-md-12">
                                <h3 class="titulo-dictamen">Mercancia Calificador Dictaminador</h3>
                            </div>
                            <div class="col-md-8 d-flex justify-content-center">
                                <div class="d-flex gap-3">
                                    <div class="border px-4 py-2 d-flex align-items-center radio-button">
                                        <input class="form-check-input me-3 seleccion-radio" type="radio" formControlName="clasificacionUE"
                                            name="clasificacionUE" [value]="true" id="clasificacionUE">
                                        <label class="control-label mb-0" for="clasificacionUE">AUTORIZADA</label>
                                    </div>
                                    <div class="border px-4 py-2 d-flex align-items-center radio-button">
                                        <input class="form-check-input me-3 seleccion-radio" type="radio" formControlName="clasificacionUE"
                                            name="clasificacionUE" [value]="false" id="clasificacionUE">
                                        <label class="control-label mb-0" for="clasificacionUE">RECHAZADA</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    } @case (3) {
                        <div class="row ">
                            <div class="col-md-12">
                                <h3 class="titulo-dictamen">Mercancia Calificador Dictaminador</h3>
                            </div>
                            <div class="col-md-8 d-flex justify-content-center">
                                <div class="d-flex gap-3">
                                    <div class="border px-4 py-2 d-flex align-items-center radio-button">
                                        <input class="form-check-input me-3 seleccion-radio" type="radio" formControlName="clasificacionJpn"
                                            name="clasificacionJpn" [value]="true" id="clasificacionJpn">
                                        <label class="control-label mb-0" for="clasificacionJpn">AUTORIZADA</label>
                                    </div>
                                    <div class="border px-4 py-2 d-flex align-items-center radio-button">
                                        <input class="form-check-input me-3 seleccion-radio" type="radio" formControlName="clasificacionJpn"
                                            name="clasificacionJpn" [value]="false" id="clasificacionJpn">
                                        <label class="control-label mb-0" for="clasificacionJpn">RECHAZADA</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    } @case (4) {
                         <div class="row ">
                            <div class="col-md-12">
                                <h3 class="titulo-dictamen">Calificación de descripción</h3>
                            </div>
                            <div class="col-md-8 d-flex justify-content-center">
                                <div class="d-flex gap-3">
                                    <div class="border px-4 py-2 d-flex align-items-center radio-button">
                                        <input class="form-check-input me-3 seleccion-radio" type="radio" formControlName="clasificacionAladi"
                                            name="clasificacionAladi" [value]="true" id="clasificacionAladi">
                                        <label class="control-label mb-0" for="clasificacionAladi">Aceptado</label>
                                    </div>
                                    <div class="border px-4 py-2 d-flex align-items-center radio-button">
                                        <input class="form-check-input me-3 seleccion-radio" type="radio" formControlName="clasificacionAladi"
                                            name="clasificacionAladi" [value]="false" id="clasificacionAladi" 
                                            (click)="abrirModal()">
                                        <label class="control-label mb-0" for="clasificacionAladi">No aceptada</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    } 
                </ng-container>

        </div>
   

    @if(!soloLectura){
     <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-end">
            <button type="button" class="btn btn-primary me-3" (click)="firmar()">Guardar y firmar</button>
            <button type="button" class="btn btn-primary me-3" (click)="guardar()">Guardar</button>
            <button type="button" class="btn btn-default me-3" (click)="cancelar()">Cancelar</button>
        </div>
     </div>
    }
</form>
<div class="modal fade" id="modalAladi" #modalAladi tabindex="-1" aria-labelledby="modalAgregarLabel"
  aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
          <h5>Al no aprobar la descripción la clasificación del tratado se modificará a "No aprobar". ¿Desea Continuar? </h5>
      </div>
      <div class="modal-footer d-flex justify-content-end p-5 gap-3">
        <button class="btn btn-primary ms-2" (click)="onClasificacionChange(false)">Aceptar</button>
        <button class="btn btn-default" (click)="cerrarDialogo()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
