<div class="container mt-5">
   <app-modificacion-info-90305 ></app-modificacion-info-90305>
   <app-consultad-domicilios-90305 (domicilioBuscado)="agregarDomicilio($event)"></app-consultad-domicilios-90305>
   <app-lista-domicilios-90305 [personaparas]="personaparas"></app-lista-domicilios-90305>
    <app-plantas-90305></app-plantas-90305>
    <app-sector-90305></app-sector-90305>
    <app-mercancias-90305></app-mercancias-90305>
    <app-productor-indirecto-90305></app-productor-indirecto-90305>
 
</div>