/* Dale estilo a la mesa para darle una apariencia más moderna y limpia. */
::ng-deep .table-wrapper {
  max-height: 200px; /* Ajuste este valor según la altura de su fila  (e.g., 50px per row) */
  overflow-y: auto;  /* Desplazamiento vertical cuando el número de filas supera las 3  */
  overflow-x: auto;  /* Desplazamiento horizontal si la tabla es más ancha que el contenedor  */
}

::ng-deep table th, table td {
  text-align: center;
}

  .header {
    display: flex;        /* Utilice flexbox para diseñar los elementos secundarios  */
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center;  /* Centrar verticalmente los elementos */
  }
  
  .header span:first-child {
    text-align: left;      /* Alinee el primer tramo a la izquierda. */
    flex-grow: 1;          /* Permita que el primer tramo ocupe el espacio restante. */
  }  
  .container {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  
  
  .plus-icon {
    font-size: 20px;
    cursor: pointer;
  }
  
  .content {
    margin-top: 10px;
  }

.pagination {
    display: table;
    margin: 0 auto;
}