<div class="page">
  <div class="container">
    <ng-titulo titulo="Selecci&oacute;n de tr&aacute;mite" />
    <div class="row">
      <table class="table table-responsive table-striped table-hover">
        <thead>
          <tr>
            <th>Tipo tr&aacute;mite</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5701</td>
            <td>
              <a routerLink="/aga/servicios-extraordinarios/solicitud"
                >{{ ruta }}/aga/servicios-extraordinarios/solicitud</a
              >
            </td>
          </tr>
          <tr>
            <td>303</td>
            <td>
              <a routerLink="/aga/pago/despacho-mercancias/registro/registro"
                >{{ ruta }}/aga/pago/despacho-mercancias/registro/registro</a
              >
            </td>
          </tr>
          <tr>
            <td>220401</td>
            <td>
              <a routerLink="/agriculture/pago/pantallas-extraordinarios"
                >{{ ruta }}/agriculture/pago/pantallas-extraordinarios</a
              >
            </td>
          </tr>
          <tr>
            <td>
              220501
            </td>
            <td>
              <a routerLink="/agriculture/pago/sagarpa">{{ruta}}/agriculture/pago/sagarpa</a>
            </td>
          </tr>
          <tr>
            <td>
              220502
            </td>
            <td>
              <a routerLink="/agriculture/pago/inspeccion-fisica">{{ruta}}/agriculture/pago/inspeccion-fisica</a>
            </td>
          </tr>
          <tr>
            <td>130102</td>
            <td>
              <a routerLink="/se/pago/octava-temporal/solicitante"
                >{{ ruta }}/se/pago/octava-temporal/solicitante</a
              >
            </td>
          </tr>
          <tr>
            <td>110101</td>
            <td>
              <a routerLink="/se/pago/pantallas/datosdecomponentes"
                >{{ ruta }}/se/pago/pantallas/datosdecomponentes</a
              >
            </td>
          </tr>
          <tr>
            <td>301</td>
            <td>
              <a routerLink="/aga/pago/importante/datosdelasolicitud"
                >{{ ruta }}/aga/pago/importante/datosdelasolicitud</a
              >
            </td>
          </tr>

          <tr>
            <td>120301</td>
            <td>
              <a
                routerLink="/se/pago/elegibilidad-de-textiles/elegibilidad-textiles"
                >{{
                  ruta
                }}/se/pago/elegibilidad-de-textiles/elegibilidad-textiles</a
              >
            </td>
          </tr>
          <tr>
            <td>130120</td>
            <td>
              <a routerLink="/se/pago/permiso-importacion/intro-permiso"
                >{{ ruta }}/se/pago/permiso-importacion/intro-permiso</a
              >
            </td>
          </tr>
          <tr>
            <td>130118</td>
            <td>
              <a routerLink="/se/pago/pexim/solicitud"
                >{{ ruta }}/se/pago/pexim/solicitud</a
              >
            </td>
          </tr>
          <tr>
            <td>110102</td>
            <td>
              <a routerLink="/se/pago/exportador-autorizado/registrar-solicitud">{{ ruta }}/se/pago/exportador-autorizado/registrar-solicitud</a>
            <td>31601</td>
            <td>
              <a routerLink="/agace/antecesor/datosdelasolicitud"
                >{{ ruta }}/agace/antecesor/datosdelasolicitud</a
              >
            </td>
          </tr>
          <tr>
            <td>90305</td>
            <td>
              <a routerLink="/se/prosec-modificacion/solicitante"
                >{{ ruta }}/se/prosec-modificacion/solicitante</a
              >
            </td>
            <td>
              <a routerLink="/aga/pago/atender-requerimientos"
              >{{ ruta }}/aga/pago/atender-requerimientos</a>
            </td>
          </tr>
          <tr>
            <td>80208</td>
            <td>
              <a routerLink="/se/pago/solicitud-modalidad/modalidad">{{ ruta }}/se/pago/solicitud-modalidad/modalidad</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
