<div class="conatiner p-3">
    <div class="row mt-2">
        <div class="col-md-12 text-container">
            <p>{{textos.paraca1}}</p>
            <p>{{textos.paraca2}}</p>
            <h4 class="para-title">{{textos.encabezamiento1}}</h4>
            <p>{{textos.paraca3}}</p>
            <p>{{textos.paraca4}}</p>
            <p>{{textos.paraca5}}</p>
            <p>{{textos.paraca6}}</p>
            <p>{{textos.paraca7}}</p>
            <p>{{textos.paraca8}}</p>
            <p>{{textos.paraca9}}</p>
        </div>
    </div>
    <form [formGroup]="forma">
        <div class="row mt-2">
            <formas-dinamicas [forma]="capacitacionFormGroup"
                [estado]="solicitudeState"
                [soloLectura]="consultaState.readonly"
                (emitirCambioDeValor)="emitirCambioDeValor($event)"
             [formularioDatos]="capacitacionDatos">
            </formas-dinamicas>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 text-container">
                <p>{{textos.paraca10}}</p>
            </div>
            <div class="col-md-12 text-container">
                <div class="mt-2 alert-text">
                    <ul>
                        <div class="centered-list-wrapper">
                            <ol type="a">
                                <li>Signos de compartimentos ocultos;</li>
                                <li>Contrabando oculto en compartimentos naturales;</li>
                                <li>Señales de contaminación por plagas;</li>
                                <li>Procedimientos a seguir si se encuentra algo durante una inspección del medio de transporte o si ocurre un incidente de seguridad durante el tránsito.</li>
                            </ol>
                        </div>
                    </ul>
                </div>
            </div>
            <formas-dinamicas         [estado]="solicitudeState"
            [soloLectura]="consultaState.readonly"
        (emitirCambioDeValor)="emitirCambioDeValor($event)" [forma]="capacitacionDosFormGroup" [formularioDatos]="capacitacionDatosDos">
            </formas-dinamicas>
        </div>
    </form>
</div>
