<form [formGroup]="formularioOperacionForm">
    <div class="row mb-4">

        <div class="col-md-4 mt-5">
            <p>
            <input type="checkbox" (change)="alternarSoloLectura($event)" formControlName="avisoclave" />
            Aviso de funcionamiento:</p>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="noLicenciaSanitaria:">No. de licencia sanitaria:<span class="p-2" tooltip="Número de la autorización
indicado en el documento emitido por la autoridad sanitaria competente" placement="top"><i class="bi bi-question-circle-fill"></i></span>
                </label>
                <input class="form-control" type="text" id="noLicenciaSanitaria"  formControlName="noLicenciaSanitaria">
            </div>
        </div>
    </div>
    <div class="row pb-5 mb-5">
        <div class="col-md-4">
            <div class="form-group">
                <app-catalogo-select [catalogo]="clave" [label]="'Régimen'" [required]="true" name="régimen" [tooltipQuestionCircle]="true"
                    formControlName="regimen" (change)="updateRegimen()" [isDisabled]="esFormularioSoloLectura">
                </app-catalogo-select>
            </div>
        </div>

        <div class="col-md-8 left-align">
            <app-catalogo-select [catalogo]="clave" [label]="'Aduanas de entradas'" [required]="true" name="clave"
                formControlName="entradas" (change)="updateEntradas()" [isDisabled]="esFormularioSoloLectura">
            </app-catalogo-select>
        </div>
    </div>
</form>