<fieldset [formGroupName]="claveDeControl">
  <ng-titulo titulo="Datos del trámite a realizar" />
  <div class="row">
    <div class="col-md-4">
      <div class="form-field">
        <app-catalogo-select
          id="certificadosAutorizados"
          [catalogo]="certificadosAutorizados.catalogos"
          [label]="certificadosAutorizados.labelNombre"
          [placeholder]="certificadosAutorizados.primerOpcion"
          [required]="certificadosAutorizados.required"
          [isDisabled]="esFormularioSoloLectura"
          formControlName="certificadosAutorizados"
          (selectionChange)="setCertificadosAutorizados($event)"
        ></app-catalogo-select>
             <div *ngIf="grupoFormularioPadre.get(claveDeControl)?.get('certificadosAutorizados')?.hasError('required') 
          && grupoFormularioPadre.get(claveDeControl)?.get('certificadosAutorizados')?.touched"
     class="text-danger">
  <small>Este campo es obligatorio.</small>
</div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="form-field">
        <input-fecha
          [isDisabled]="esFormularioSoloLectura"
          [datos]="configuracionFechaFinVigencia"
          (valorCambiado)="cambioFechaInicio($event)"
          [setFecha]="grupoFormularioPadre.get(claveDeControl)?.get('fechaDeInspeccion')?.value"
        ></input-fecha>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-field">
        <app-catalogo-select
          id="horaDeInspeccion"
          [catalogo]="horaDeInspeccion.catalogos"
          [label]="horaDeInspeccion.labelNombre"
          [placeholder]="horaDeInspeccion.primerOpcion"
          [required]="horaDeInspeccion.required"
          formControlName="horaDeInspeccion"
          [isDisabled]="esFormularioSoloLectura"
          (selectionChange)="setHoraDeInspeccion($event)"
        ></app-catalogo-select>
        <div *ngIf="grupoFormularioPadre.get(claveDeControl)?.get('horaDeInspeccion')?.hasError('required') 
          && grupoFormularioPadre.get(claveDeControl)?.get('horaDeInspeccion')?.touched"
          class="text-danger">
          <small>Este campo es obligatorio.</small>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-field">
        <app-catalogo-select
          id="aduanaDeIngreso"
          [catalogo]="aduanaDeIngreso.catalogos"
          [label]="aduanaDeIngreso.labelNombre"
          [placeholder]="aduanaDeIngreso.primerOpcion"
          [required]="aduanaDeIngreso.required"
          formControlName="aduanaDeIngreso"
          [isDisabled]="esFormularioSoloLectura"
          (selectionChange)="setAduanaDeIngreso($event)"
        ></app-catalogo-select>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-field">
        <app-catalogo-select
          id="sanidadAgropecuaria"
          [catalogo]="sanidadAgropecuaria.catalogos"
          [label]="sanidadAgropecuaria.labelNombre"
          [placeholder]="sanidadAgropecuaria.primerOpcion"
          [required]="sanidadAgropecuaria.required"
          formControlName="sanidadAgropecuaria"
          [isDisabled]="esFormularioSoloLectura"
          (selectionChange)="setSanidadAgropecuaria($event)"
        ></app-catalogo-select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-field">
        <app-catalogo-select
          id="puntoDeInspeccion"
          [catalogo]="puntoDeInspeccion.catalogos"
          [label]="puntoDeInspeccion.labelNombre"
          [placeholder]="puntoDeInspeccion.primerOpcion"
          [required]="puntoDeInspeccion.required"
          formControlName="puntoDeInspeccion"
          [isDisabled]="esFormularioSoloLectura"
          (selectionChange)="setPuntoDeInspeccion($event)"
        ></app-catalogo-select>
      </div>
    </div>
  </div>
</fieldset>
