<app-main-layout>
  <app-working-area>
    <app-principal></app-principal>
    <form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()" id="formId">
      <input type="hidden" formControlName="solicitud.idSolicitud" id="idSolicitud" />
      
      <app-encabezado-wizard-captura></app-encabezado-wizard-captura>
      
      <div id="tabs">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tabs-1">
              {{ 'captura.tab.solicitante' }}
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="tabs-1" class="tab-pane fade">
            <app-solicitante></app-solicitante>
          </div>
        </div>
      </div>
      
      <app-pie-wizard-captura></app-pie-wizard-captura>
      <app-aviso-privacidad></app-aviso-privacidad>
    </form>
  </app-working-area>
</app-main-layout>