<form [formGroup]="modificacionForm" (ngSubmit)="validarDestinatarioFormulario()">
<div class="row mt-5">
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-label" for="registroFederalContribuyentes">Registro Federal de Contribuyentes:</label>
        <input class="form-control gris-color" type="text" id="registroFederalContribuyentes" formControlName="registroFederalContribuyentes" [disabled]="soloLectura" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-label" for="representacionFederal">Representación federal:</label>
        <input class="form-control gris-color" type="text" id="representacionFederal" formControlName="representacionFederal" [disabled]="soloLectura" readonly >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-label" for="tipoModificacion">Tipo de modificación:</label>
        <input class="form-control gris-color" type="text" id="tipoModificacion" formControlName="tipoModificacion" [disabled]="soloLectura" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-label" for="modificacionPrograma">Modificación de programa:</label>
        <input class="form-control gris-color" type="text" id="modificacionPrograma" formControlName="modificacionPrograma" [disabled]="soloLectura" readonly>
      </div>
    </div>
  </div>
  <!-- Lista de domicilios -->
  <ng-titulo titulo="Lista de domicilios" />
    <app-tabla-dinamica [tipoSeleccionTabla]="tablaSeleccion.BUTTON" [configuracionTabla]="listaTabla" (click)="onFilaClic($event)" [datos]="listaTablaDatos" ></app-tabla-dinamica>
  <!-- Plantas -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <span class="nav-link active" aria-current="page">Complementaria</span>
    </li>
  </ul>
  <app-plantas [plantasTablaDatos]="listaPlantasTabla"></app-plantas>
  <!-- Sector -->
  <app-sector [sectorTablaDatos]="listaSectorTabla"></app-sector>
  <!-- Mercancias a producir -->
  <app-producir-mercancias [mercanciasProducir]="listaTablaMercancia"></app-producir-mercancias>
  <!-- Productor indirecto -->
  <app-productor-indirecto [productoIndirectoDatos]="listaTablaProductor"></app-productor-indirecto>
  </form>