<!-- Datos generales del documento de transporte -->
<div class="container-fluid">
  <h5>Datos generales del documento de transporte</h5>
  <hr class="red" />
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Nombre Mensaje</label>
        <input type="text" class="form-control" [value]="documentGeneralData()?.nombreMensaje" disabled />
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Tipo de Movimiento</label>
        <input type="text" class="form-control" [value]="documentGeneralData()?.tipoMovimiento" disabled />
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Fecha/Hora Mensaje</label>
        <input type="text" class="form-control" [value]="documentGeneralData()?.fechaHoraMensaje" disabled />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>ID Referencia</label>
        <input type="text" class="form-control" [value]="documentGeneralData()?.idReferencia" disabled />
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>CAAT</label>
        <input type="text" class="form-control" [value]="documentGeneralData()?.caat" disabled />
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Fecha/Hora Validación</label>
        <input type="text" class="form-control" [value]="documentGeneralData()?.fechaHoraValidacion" disabled />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Nombre CAAT</label>
        <input type="text" class="form-control" [value]="documentGeneralData()?.nombreCaat" disabled />
      </div>
    </div>
  </div>
</div>
