<app-certificado-de-origen 
    [operador]="operador"
    [tratadoAcuerdo]="(estados$ | async) || []"
    [paisBloqu]="pais || []"
    (tipoEstadoSeleccionEvent)="tipoEstadoSeleccion($event)"
    (paisBloquEvent)="tipoSeleccion($event)"
    (setbuscarMercanciaEvent)="conseguirDisponiblesDatos()"
    [tableData]="(datos1 | async) ||  []"
    (filaClicsMercanciaDisponibles)="abrirModificarModal($event, true)"
    (filaClicsMercanciaSelecction)="abrirModificarModal($event, false)"
    [tablaSeleccionEvent]="tablaSeleccionEvent"
    [guardarClicado]="datosTabla$"
        (guardarClicadoEvent)="guardarClicado($event)"
    (formaValida)="setFormValida($event)"
    [datosForm]="formCertificado"
    [cargoDeMercancias]="cargoDeMercancias"
    [mercanciasDisponibles]="mercanciasDisponibles"
    [esFormularioSoloLectura]="esFormularioSoloLectura"
    (formCertificadoEvent)="setValoresStore($event)"
    [tramiteState]="formCertificadoValues"
    [domicilioTercer]="true"
    [domicilio]="false"
    [mercanciasDisponiblesTabla]="mercanciasDisponiblesTabla"
    [cargaMercanciaConfiguracionTabla]="cargaMercanciaConfiguracionTabla"
    [idProcedimiento]="idProcedimiento">
</app-certificado-de-origen>

<div class="modal fade" #modifyModal tabindex="-1" aria-labelledby="modifyModalLabel" aria-hidden="true">
    <app-datos-mercancia-model [esFormularioSoloLectura]="esFormularioSoloLectura" [datosSeleccionados]="datosSeleccionados" [idProcedimiento]="idProcedimiento" [fromMercanciasDisponibles]="fromMercanciasDisponibles" (guardarClicado)="abrirModificarModal($event, false)"
        (cerrarClicado)="cerrarModificarModal()" (EMITMERCANIAS)="emitmercaniasDatos($event)"></app-datos-mercancia-model>
</div>
 