<div class="conatiner p-3">
    <div class="row mt-2">
        <div class="col-md-12 text-container">
            <p>{{textos.paraca1}}</p>
            <p>{{textos.paraca2}}</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-container">
            <h4 class="para-title">{{textos.encabezamiento1}}</h4>
            <p>
                {{textos.paraca3}}
            </p>
            <p>{{textos.paraca4}}</p>
            <p>{{textos.paraca5}}</p>
            <p>{{textos.paraca6}}</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 text-container">
        <div class="mt-2 alert-text">
          <ul>
            <div class="centered-list-wrapper">
              <ol type="1">
                <li>Verificación del padrón correspondiente.</li>
                <li>Encargo conferido.</li>
                <li>Revalidación del documento de transporte en su caso.
                </li>
                <li>Revisión previa al despacho.
                </li>
                <li>Clasificación Arancelaria.</li>
                <li>Captura del pedimento.</li>
                <li>Cumplimiento de regulaciones y restricciones no arancelarias (obligatoriedad que se cuente con los permisos de autoridad competente antes de presentarse al despacho de la mercancía).</li>
                <li>Generación del COVE (en su caso).</li>
                <li>Manifestación de valor.</li>
                <li>Determinación de contribuciones.</li>
                <li>Revisión de información transmitida al SEA con la documentación generada del embarque (Glosa).</li>
                <li>Pago de contribuciones.</li>
                <li>Pago de maniobras.</li>
                <li>Validación del pedimento.</li>
                <li>Presentación de mercancía ante el mecanismo de selección automatizado.</li>
                <li>Desaduanamiento libre.</li>
                <li>Reconocimiento Aduanero.</li>
                <li>Procedimiento en caso de toma de muestras (Puede proporcionarlas el importador mediante su Agente Aduanal al momento del despacho siempre y cuando las muestras contengan los precintos, sellos o cualquier medio que manifieste que el resultado de laboratorio se conserva estéril o bien lo podrá realizar la autoridad).</li>
                <li>Manejo y control de medios de seguridad, candados/sellos de alta seguridad y otros.</li>
                <li>Verificación de la entrega de la mercancía en el destino acordado en su caso.</li>
                <li>Procedimiento de reexpedición de mercancías.</li>
                <li>Procedimiento para la promoción del desistimiento de una importación o exportación.</li>
                <li>Subdivisión del embarque.</li>
                <li>Comunicación efectiva a las autoridades aduaneras para casos que representen un riesgo en materia de seguridad.</li>
                <li>Cuenta de gastos del embarque.</li>
                <li>Medición para la satisfacción de clientes.</li>
                <li>Tratamiento para quejas.</li>
                <li>Verificación de mercancía en transporte.</li>
                <li>Consolidación del embarque.</li>
                <li>Conformación del expediente electrónico de cada uno de los pedimentos o documentos aduaneros (artículo 167 de la Ley).</li>
              </ol>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 text-container">
            <h4 class="para-title">{{textos.encabezamiento2}}</h4>
            <p>{{textos.paraca7}}</p>
            <p>{{textos.paraca8}}</p>
            <p>{{textos.paraca9}}</p>
            <p>{{textos.paraca10}}</p>
        <div class="mt-2 alert-text">
            <ul>
                <div class="centered-list-wrapper">
                    <ol type="a">
                        <li>Responsables de llevar a cabo la revisión.</li>
                        <li>Documentos a cotejar.</li>
                        <li>Áreas a las que se reporta la información.</li>
                    </ol>
                </div>
            </ul>
        </div>
          <p>Este procedimiento, deberá aplicarse a la mercancía que se recibe de importación, exportación; y en caso de aplicar, en la revisión en puntos intermedios.</p>
        </div>
    </div>
    <form [formGroup]="forma">
        <div class="row mt-2">
            <formas-dinamicas 
                [forma]="procesamientoFormGroup" 
                [formularioDatos]="procesamientoDatos"
                [estado]="solicitudeState"
                (emitirCambioDeValor)="emitirCambioDeValor($event)"
                [soloLectura]="consultaState.readonly"
                >
            </formas-dinamicas>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento4}}</h4>
                <p>{{textos.paraca16}}</p>
                <p>{{textos.paraca17}}</p>
                <div class="mt-2 alert-text">
                    <ul>
                        <div class="centered-list-wrapper">
                            <ol type="a">
                                <li>Almacén solamente accesible a personal autorizado.</li>
                                <li>Periodicidad del control de existencias.</li>
                                <li>Control de mercancías entrantes, transferencias a otros almacenes, consolidación o desconsolidación.</li>
                                <li>Acciones que se toman si se identifican irregularidades, discrepancias, pérdidas o hurtos.</li>
                                <li>Tratamiento del deterioro o de la destrucción de las mercancías.</li>
                                <li>Separación de los diversos tipos de mercancías por ejemplo de alto valor, peligrosas.</li>
                            </ol>
                        </div>
                    </ul>
                </div>
                <p>{{textos.paraca18}}</p>
                <div class="mt-2 alert-text">
                    <ul>
                        <div class="centered-list-wrapper">
                            <ol type="a">
                                <li>La frecuencia con la que lleva a cabo la verificación de existencias (inventario periódico). Indicar si existe un calendario programado documentado para realizarlos.</li>
                                <li>Indicar qué se realiza, en el caso de existir excedentes y faltantes en los inventarios.</li>
                                <li>Señalar el tratamiento que se brinda para el control y manejo del material de empaque, envase y embalaje, en el que también se incluya el procedimiento de control, diseminación y prevención de la contaminación visible de plagas, en el caso de uso de materiales de embalaje de madera (como tarimas o pallets, cajas, cajones, jaulas, carretes, estiba, calzas, soportes o plataformas) para apilar la carga, moverla y protegerla.</li>
                                <li>Este punto, también está enfocado a reducir el riesgo de introducción o diseminación de plagas de importancia cuarentenaria al país a través del embalaje (importaciones), por lo anterior, describa cómo cumple con las disposiciones señaladas por la Secretaría de Medio Ambiente y Recursos Naturales (SEMARNAT) y la NOM-144 SEMARNAT-2017, en concordancia con la Norma Internacional de Medidas Fitosanitarias No.15 denominada "Reglamentación del embalaje de madera utilizado en el Comercio Internacional," las cuales emanan de la Organización de las Naciones Unidas para la Alimentación y la Agricultura.</li>
                            </ol>
                        </div>
                    </ul>
                </div>
                <p>{{textos.paraca19}}</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento5}}</h4>
                <p>{{textos.paraca20}}</p>
                <p>{{textos.paraca21}}</p>
            </div>
            <div class="col-md-12 text-container">
                <div class="mt-2 alert-text">
                    <ul>
                        <li>El procedimiento podrá incluir:</li>
                    </ul>
                    <ul>
                        <div class="centered-list-wrapper">
                            <ol type="a">
                                <li>Responsable del buen funcionamiento y mantenimiento de los aparatos de comunicación.</li>
                                <li>Registro de verificación y mantenimiento de los aparatos.</li>
                                <li>Forma de asignación de los aparatos de comunicación.</li>
                            </ol>
                        </div>
                    </ul>
                </div>
            </div>
            <formas-dinamicas 
                [forma]="comunicacionFormGroup" 
                [formularioDatos]="comunicacionDatos"
                [estado]="solicitudeState"
                [soloLectura]="consultaState.readonly"
                (emitirCambioDeValor)="emitirCambioDeValor($event)"
                >
            </formas-dinamicas>
        </div>
    </form>
</div>
