<div class="container">
  <form [formGroup]="form">
    <ng-titulo titulo="Datos del trámite a realizar"></ng-titulo>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="solicitud">Solicitud*:</label>
          <app-input-radio
            [radioOptions]="solicitudOpciones"
            formControlName="solicitud"
            [isRequired]="true"
            (valueChange)="setValoresStore(form, 'solicitud')"
            [layout]="'vertical'"
          ></app-input-radio>
          <div *ngIf="esInvalido('solicitud')" class="text-danger">
            <small *ngIf="form.controls['solicitud'].errors?.['required']">
              Por favor, selecciona una opción.
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div *ngFor="let catalogo of catalogosArray; let i = index">
          <app-catalogo-select
            [catalogo]="catalogosArray[i]" 
            [label]="inputFields[i].label"
            [required]="inputFields[i].required"
            [isDisabled]="esFormularioSoloLectura"
            [formControlName]="inputFields[i].controlName"
            (change)="setValoresStore(form, inputFields[i].controlName)"
          ></app-catalogo-select>
          <div *ngIf="esInvalido(inputFields[i].controlName)" class="text-danger">
            <small *ngIf="form.controls[inputFields[i].controlName].errors?.['required']">
              Por favor, selecciona una opción.
            </small>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>