<div class="container">
    <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="control-label" >Folio del trámite:</label>
            <span>44434354445454544 </span>    
          </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label class="control-label" >Tipo de solicitud:</label>
            <span>Registro de solicitud de servicios extraordinarios</span>
        </div>
    </div>
    <br>
    </div>
    <ng-titulo titulo="Notificación de acto administrativo" />
    <form [formGroup]="formActoAdministrativo">
      <div class="form">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label class="control-label" for="nombre">Nombre, denominación o razón social:</label>
              <input class="form-control" id="nombre" placeholder="Nombre, denominación o razón social" type="text" formControlName="nombre">
            </div>
          </div>

        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="rfc">R.F.C.:</label>
              <input class="form-control" id="rfc" placeholder="R.F.C." type="text" formControlName="rfc">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="fecha">Fecha y hora de la notificación:</label>
              <input class="form-control" id="fecha" placeholder="Fecha y hora de la notificación" type="text" formControlName="fecha">
            </div>
          </div>
        </div>
        <br>
      </div>
    </form>
    <div class="modal-footer custom-footer">
        <button type="button" class="btn btn-primary" >Continuar</button>
    </div>
    <br>
  </div>
  