<app-terceros-relacionados
[fabricanteTablaDatos]="fabricanteTablaDatos"
[destinatarioFinalTablaDatos]="destinatarioFinalTablaDatos"
[proveedorTablaDatos]="proveedorTablaDatos"
[facturadorTablaDatos]="facturadorTablaDatos"
[elementosRequeridos]="elementosRequeridos"
[formularioDeshabilitado]="formularioDeshabilitado"
(fabricanteEliminar)="onFabricantesChange($event)"
(destinatarioEliminar)="onDestinatariosChange($event)"
(proveedorEliminar)="onProveedoresChange($event)"
(facturadorEliminar)="onFacturadoresChange($event)"
[tramiteID]="'260201'"
></app-terceros-relacionados>
