<div class="container mt-5">
    <ng-titulo titulo="Terceros relacionados"></ng-titulo>
    <ng-alert [CONTENIDO]="TEXTOS.Importante"></ng-alert>
    <div class="row mb-3">
        <h5>
            {{ programTitle ? 'Fabricante*:' : 'Fabricante*:' }}
        </h5>
        <div class="col-md-12">
            <app-tabla-dinamica [configuracionTabla]="configuracionTabla" [datos]="fabricanteTablaDatos"
                [tipoSeleccionTabla]="checkbox" [disableSeleccionTablaCheckBox]="esFormularioSoloLectura">
            </app-tabla-dinamica>
            <div class="d-flex justify-content-end mt-4">
                @if (fabricanteTablaDatos.length > 0) {
                <button type="button" class="btn btn-danger ms-2" [disabled]="esFormularioSoloLectura">
                    Eliminar
                </button>
                <button type="button" class="btn btn-default" [disabled]="esFormularioSoloLectura">
                    Modificar
                </button>
                }
                <button type="button" class="btn btn-primary" [disabled]="esFormularioSoloLectura">Agregar</button>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <h5>
            {{ programTitle ? 'Destinatario (destino final)*:' : 'Facturador:' }}
        </h5>
        <div class="col-md-12">
            <app-tabla-dinamica [configuracionTabla]="configuracionFacturadorTabla" [datos]="fabricanteTablaDatos"
                [tipoSeleccionTabla]="checkbox" [disableSeleccionTablaCheckBox]="esFormularioSoloLectura">
            </app-tabla-dinamica>
            <div class="d-flex justify-content-end mt-4">
                @if(fabricanteTablaDatos.length > 0) {
                    <button type="button" class="btn btn-danger ms-2" [disabled]="esFormularioSoloLectura">
                        Eliminar
                    </button>
                    <button type="button" class="btn btn-default" [disabled]="esFormularioSoloLectura">
                        Modificar
                    </button>
                }
                <button type="button" class="btn btn-primary" [disabled]="esFormularioSoloLectura">Agregar</button>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <h5>
            {{ programTitle ? 'Proveedor:' : 'Proveedor/distribuidor:' }}
        </h5>
        <div class="col-md-12">
            <app-tabla-dinamica [configuracionTabla]="configuracionProveedorTabla" [datos]="fabricanteTablaDatos"
                [tipoSeleccionTabla]="checkbox" [disableSeleccionTablaCheckBox]="esFormularioSoloLectura">
            </app-tabla-dinamica>
            <div class="d-flex justify-content-end mt-4">
                @if(fabricanteTablaDatos.length > 0) {
                    <button type="button" class="btn btn-danger ms-2" [disabled]="esFormularioSoloLectura">
                        Eliminar
                    </button>
                    <button type="button" class="btn btn-default" [disabled]="esFormularioSoloLectura">
                        Modificar
                    </button>
                }
                <button type="button" class="btn btn-primary" [disabled]="esFormularioSoloLectura">Agregar</button>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <h5>
            {{ programTitle ? 'Facturador:' : 'Certificado analítico:' }}
        </h5>
        <div class="col-md-12">
            <app-tabla-dinamica [configuracionTabla]="configuracionCertificadoAnaliticoTabla"
                [datos]="fabricanteTablaDatos" [tipoSeleccionTabla]="checkbox" [disableSeleccionTablaCheckBox]="esFormularioSoloLectura">
            </app-tabla-dinamica>
            <div class="d-flex justify-content-end mt-4">
                @if(fabricanteTablaDatos.length > 0) {
                    <button type="button" class="btn btn-danger ms-2" [disabled]="esFormularioSoloLectura">
                        Eliminar
                    </button>
                    <button type="button" class="btn btn-default" [disabled]="esFormularioSoloLectura">
                        Modificar
                    </button>
                }
                <button type="button" class="btn btn-primary" [disabled]="esFormularioSoloLectura">Agregar</button>
            </div>
        </div>
    </div>
    <div class="row mb-3" *ngIf="!programTitle">
        <h5>Otros:</h5>
        <div class="col-md-12">
            <app-tabla-dinamica [configuracionTabla]="configuracionOtrosTabla" [datos]="otrosTablaDatos"
                [tipoSeleccionTabla]="checkbox" [disableSeleccionTablaCheckBox]="esFormularioSoloLectura">
            </app-tabla-dinamica>
            <div class="d-flex justify-content-end mt-4">
                <button type="button" class="btn btn-primary" [disabled]="esFormularioSoloLectura">Agregar</button>
            </div>
        </div>
    </div>
</div>