<div class="container">
    <div>
      <ng-titulo
        titulo="Detalles del transporte"
      ></ng-titulo>
      <form [formGroup]="detallestransporte">
        <div class="row">
          <div class="col-md-4">
            <label class="form-label" for="puertodeEmbarque">Puerto de embarque: </label>
            <input type="text" class="form-control" id="puertodeEmbarque" formControlName="puertodeEmbarque" (change)="onPuertodeEmbarque()">
          </div>
          <div class="col-md-4">
            <label class="form-label" for="puertodeDesembarque">Puerto de desembarque:</label>
            <input type="text" class="form-control" id="puertodeDesembarque" formControlName="puertodeDesembarque" (change)="onPuertodeDesembarque()">
          </div>
          <div class="col-md-4">
            <label class="form-label" for="puertodeTránsito">Puerto de tránsito:</label>
            <input type="text" class="form-control" id="puertodeTránsito" formControlName="puertodeTránsito" (change)="onPuertodeTransito()">
          </div>
          <div class="col-md-4">
            <label class="form-label" for="nombredelaEmbarcación">Nombre de la embarcación:</label>
            <input type="text" class="form-control" id="nombredelaEmbarcación" formControlName="nombredelaEmbarcación" (change)="onNombredelaEmbarcacion()">
          </div>
          <div class="col-md-4">
            <label class="form-label" for="númerodeVuelo">Número de vuelo:</label>
            <input type="text" class="form-control" id="númerodeVuelo" formControlName="númerodeVuelo" (change)="onNumerodeVuelo()">
          </div>
          
        </div>
        </form>
    </div>
</div>
