<form [formGroup]="modificarDestinatarioForm">
  <div class="row mt-5">
    <div class="col-md-12">
      @if(modificarDestinatario) {
      <ng-titulo titulo="Modificar destinatario (destino final)" />
      }@else {
      <ng-titulo titulo="Agregar destinatario (destino final)" />
      }
    </div>

    <div class="col-md-12">
      <label class="form-label" for="">Datos generales</label>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <label class="form-label" for=""
        >Tipo persona<span
          class="require"
          [ngClass]="{
            'text-danger':
              modificarDestinatarioForm.get('tipoPersona')?.invalid &&
              modificarDestinatarioForm.get('tipoPersona')?.touched
          }"
          >*</span
        >:</label
      >
      <app-input-radio
        [radioOptions]="tipoPersonaRadioOptions"
        [selectedValue]="modificarDestinatarioForm.get('tipoPersona')?.value"
        [isRequired]="true"
        [showTooltip]="true"
        formControlName="tipoPersona"
        [layout]="'vertical'"
        (valueChange)="setTipoPersona($event)"
      >
      </app-input-radio>
    </div>

    <div class="col-md-4 mt-4">
      <label class="form-label" for="rfc"
        >R.F.C.<span
          class="require"
          [ngClass]="{
            'text-danger':
              modificarDestinatarioForm.get('modificarRFC')?.invalid &&
              modificarDestinatarioForm.get('modificarRFC')?.touched
          }"
          >*</span
        >:
        <span
          class="bi bi-question-circle-fill"
          title="Registro Federal de Contribuyente"
          data-bs-toggle="tooltip"
        ></span>
      </label>
      <input
        class="form-control"
        id="rfc"
        placeholder=""
        maxlength="15"
        size="29"
        type="text"
        formControlName="modificarRFC"
        (change)="setModificarRFC($event)"
      />
      @if (modificarDestinatarioForm.get('modificarRFC')?.hasError('required')
      && modificarDestinatarioForm.get('modificarRFC')?.touched) {
      <span class="text-danger"> Este campo es obligatorio </span>
      }
    </div>
    <div class="col-md-8"></div>
    @if (tipoPublicos === 1) {
    <div class="col-md-8 mt-4">
      <label class="form-label" for="denominacion"
        >Denominación/razón social<span
          class="require"
          [ngClass]="{
            'text-danger':
              modificarDestinatarioForm.get('denominacion')?.invalid &&
              modificarDestinatarioForm.get('denominacion')?.touched
          }"
          >*</span
        >:</label
      >
      <input
        class="form-control"
        id="denominacion"
        placeholder=""
        maxlength="254"
        size="75"
        type="text"
        formControlName="denominacion"
        (change)="setDenominacion($event)"
      />
      @if (modificarDestinatarioForm.get('denominacion')?.hasError('required')
      && modificarDestinatarioForm.get('denominacion')?.touched) {
      <span class="text-danger"> Este campo es obligatorio </span>
      }
    </div>
    <div class="col-md-4 mt-4"></div>
    } @if (tipoPublicos === 2) {
    <div class="col-md-4 mt-4">
      <label class="form-label" for="nombre"
        >Nombre(s)
        <span
          class="require"
          [ngClass]="{
            'text-danger':
              modificarDestinatarioForm.get('denominacionNombre')?.invalid &&
              modificarDestinatarioForm.get('denominacionNombre')?.touched
          }"
          >*</span
        >:</label
      >
      <input
        class="form-control"
        id="terceros_nombre"
        placeholder=""
        type="text"
        maxlength="200"
        size="20"
        formControlName="denominacionNombre"
        (change)="setNombre($event)"
      />
      @if
      (modificarDestinatarioForm.get('denominacionNombre')?.hasError('required')
      && modificarDestinatarioForm.get('denominacionNombre')?.touched) {
      <span class="text-danger"> Este campo es obligatorio </span>
      }
    </div>
    <div class="col-md-4 mt-4">
      <label class="form-label" for="apellidoPaterno"
        >Primer apellido
        <span
          class="require"
          [ngClass]="{
            'text-danger':
              modificarDestinatarioForm.get('denominacionApellidoPaterno')
                ?.invalid &&
              modificarDestinatarioForm.get('denominacionApellidoPaterno')
                ?.touched
          }"
          >*</span
        >:</label
      >
      <input
        class="form-control"
        id="terceros_apellidoPaterno"
        placeholder=""
        maxlength="200"
        size="29"
        type="text"
        formControlName="denominacionApellidoPaterno"
        (change)="setApellidoPaterno($event)"
      />
      @if
      (modificarDestinatarioForm.get('denominacionApellidoPaterno')?.hasError('required')
      && modificarDestinatarioForm.get('denominacionApellidoPaterno')?.touched)
      {
      <span class="text-danger"> Este campo es obligatorio </span>
      }
    </div>
    <div class="col-md-4 mt-4">
      <label class="form-label" for="denominacion">Segundo apellido:</label>
      <input
        class="form-control"
        id="terceros_apellidoMaterno"
        placeholder=""
        type="text"
        formControlName="denominacionApellidoMaterno"
        (change)="setApellidoMaterno($event)"
      />
    </div>
    }

    <div class="col-md-12 mt-5">
      <label class="form-label" for="domicilio">Domicilio:</label>
    </div>

    <div class="col-md-4 mt-4">
      <app-catalogo-select
        [id]="'productos'"
        [catalogo]="paisCatalogo.catalogos"
        [label]="paisCatalogo.labelNombre"
        [placeholder]="paisCatalogo.primerOpcion"
        [required]="paisCatalogo.required"
        [isDisabled]="true"
        formControlName="domicilioPais"
        (selectionChange)="seleccionaPais($event)"
      >
      </app-catalogo-select>
    </div>
    <div class="col-md-4 mt-4">
      <app-catalogo-select
        [id]="'productos'"
        [catalogo]="estadoCatalogo.catalogos"
        [label]="estadoCatalogo.labelNombre"
        [placeholder]="estadoCatalogo.primerOpcion"
        [required]="estadoCatalogo.required"
        formControlName="domicilioEstado"
        (selectionChange)="seleccionaEstado($event)"
        [isDisabled]="esFormularioSoloLectura"
      >
      </app-catalogo-select>
    </div>
    <div class="col-md-4 mt-4">
      <app-catalogo-select
        [id]="'productos'"
        [catalogo]="municipioCatalogo.catalogos"
        [label]="municipioCatalogo.labelNombre"
        [placeholder]="municipioCatalogo.primerOpcion"
        [required]="municipioCatalogo.required"
        formControlName="domicilioMunicipio"
        (selectionChange)="seleccionaMunicipio($event)"
        [isDisabled]="esFormularioSoloLectura"
      >
      </app-catalogo-select>
    </div>
    <div class="col-md-4 mt-4">
      <app-catalogo-select
        [id]="'productos'"
        [catalogo]="localidadCatalogo.catalogos"
        [label]="localidadCatalogo.labelNombre"
        [placeholder]="localidadCatalogo.primerOpcion"
        [required]="localidadCatalogo.required"
        formControlName="domicilioLocalidad"
        (selectionChange)="seleccionaLocalidad($event)"
        [isDisabled]="esFormularioSoloLectura"
      >
      </app-catalogo-select>
    </div>
    <div class="col-md-4 mt-4">
      <app-catalogo-select
        [id]="'productos'"
        [catalogo]="codigoCatalogo.catalogos"
        [label]="codigoCatalogo.labelNombre"
        [placeholder]="codigoCatalogo.primerOpcion"
        [required]="codigoCatalogo.required"
        formControlName="domicilioCodigo"
        (selectionChange)="seleccionaCodigo($event)"
        [isDisabled]="esFormularioSoloLectura"
      >
      </app-catalogo-select>
    </div>
    <div class="col-md-4 mt-4">
      <app-catalogo-select
        [id]="'productos'"
        [catalogo]="coloniaCatalogo.catalogos"
        [label]="coloniaCatalogo.labelNombre"
        [placeholder]="coloniaCatalogo.primerOpcion"
        [required]="coloniaCatalogo.required"
        formControlName="domicilioColonia"
        (selectionChange)="seleccionaColonia($event)"
        [isDisabled]="esFormularioSoloLectura"
      >
      </app-catalogo-select>
    </div>
    <div class="col-md-8 mt-4">
      <label class="form-label" for="calle"
        >Calle
        <span
          class="require"
          [ngClass]="{
            'text-danger':
              modificarDestinatarioForm.get('domiciliCalle')?.invalid &&
              modificarDestinatarioForm.get('domiciliCalle')?.touched
          }"
          >*</span
        >:<span
          class="bi bi-question-circle-fill"
          title="Domicilio, calle, número interior, número exterior, lote"
          data-bs-toggle="tooltip"
        ></span
      ></label>
      <input
        class="form-control"
        id="domiciliCalle"
        placeholder=""
        type="text"
        formControlName="domiciliCalle"
        (change)="setDomiciliCalle($event)"
      />
      @if (modificarDestinatarioForm.get('domiciliCalle')?.hasError('required')
      && modificarDestinatarioForm.get('domiciliCalle')?.touched) {
      <span class="text-danger"> Este campo es obligatorio </span>
      }
    </div>
    <div class="col-md-4 mt-4">
      <label class="form-label" for="numeroExterior"
        >Número exterior
        <span
          class="require"
          [ngClass]="{
            'text-danger':
              modificarDestinatarioForm.get('domiciliNumeroExterior')
                ?.invalid &&
              modificarDestinatarioForm.get('domiciliNumeroExterior')?.touched
          }"
          >*</span
        >:</label
      >
      <input
        class="form-control"
        id="numeroExterior"
        placeholder=""
        maxlength="300"
        type="text"
        formControlName="domiciliNumeroExterior"
        (change)="setDomiciliNumeroExterior($event)"
      />
      @if
      (modificarDestinatarioForm.get('domiciliNumeroExterior')?.hasError('required')
      && modificarDestinatarioForm.get('domiciliNumeroExterior')?.touched) {
      <span class="text-danger"> Este campo es obligatorio </span>
      }
    </div>
    <div class="col-md-4 mt-4">
      <label class="form-label" for="numeroInterior">Número interior:</label>
      <input
        class="form-control"
        id="numeroInterior"
        placeholder=""
        maxlength="55"
        type="text"
        formControlName="domiciliNumeroInterior"
        (change)="setDomiciliNumeroInterior($event)"
      />
    </div>

    <div class="col-md-1 mt-4">
      <label class="form-label" for="lada">Lada:</label>
      <input
        class="form-control"
        id="lada"
        placeholder=""
        maxlength="3"
        type="text"
        formControlName="domiciliLada"
        (change)="setDomiciliLada($event)"
      />
    </div>

    <div class="col-md-3 mt-4">
      <label class="form-label" for="telefono">Teléfono:</label>
      <input
        class="form-control"
        id="telefono"
        placeholder=""
        maxlength="30"
        type="text"
        formControlName="domiciliTelefono"
        (change)="setDomiciliTelefono($event)"
      />
      @if
      (modificarDestinatarioForm.get('domiciliTelefono')?.hasError('pattern') &&
      modificarDestinatarioForm.get('domiciliTelefono')?.touched) {
      <span class="text-danger">
        Existen datos incorrectos que no cumplen con el formato esperado.
      </span>
      }
    </div>

    <div class="col-md-4 mt-4">
      <label class="form-label" for="correoElectronioco"
        >Correo electrónico:
        <span
          class="bi bi-question-circle-fill"
          title="ejemplo@dominio.com"
          data-bs-toggle="tooltip"
        ></span
      ></label>
      <input
        class="form-control"
        id="correoElectronioco"
        placeholder=""
        maxlength="320"
        type="text"
        formControlName="domiciliCorreoElectronioco"
        (change)="setDomiciliCorreoElectronioco($event)"
      />
      @if
      (modificarDestinatarioForm.get('domiciliCorreoElectronioco')?.hasError('pattern')
      && modificarDestinatarioForm.get('domiciliCorreoElectronioco')?.touched) {
      <span class="text-danger">
        Por favor, escribe una dirección de correo válida
      </span>
      }
    </div>
  </div>

  <div class="col-md-12 mt-5 d-flex justify-content-end align-items-end">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-default btn-space"
        data-bs-dismiss="modal"
      >
        Cancelar
      </button>
      <button
        class="btn btn-default ms-3"
        type="button"
        (click)="limpiarDestinatario()"
      >
        Limpiar
      </button>
      <button
        type="button"
        class="btn btn-primary ms-3"
        (click)="guardarDestinatario()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>
