<div class="page page-color">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="fw-bold my-5 titulo-tasks">Confirma datos de accionista</h2>
            </div>
            <hr class="red">
            <form [formGroup]="formConsultaSocioExtranjero">
                <div class="row ">
                    <div class="col-md-4">
                        <label for="nombre" class="form-label">Nombre*:</label>
                        <input type="text" id="nombre" formControlName="nombre"
                            class="form-control font-weight-titulo text-title" />
                    </div>
                    <div class="col-md-4">
                        <label for="apellidoPaterno" class="form-label text-title">Apellido paterno*:</label>
                        <input type="text" id="apellidoPaterno" formControlName="apellidoPaterno"
                            class="form-control font-weight-titulo" />
                    </div>
                    <div class="col-md-4">
                        <label for="apellidoMaterno" class="form-label">Apellido materno*:</label>
                        <input type="text" id="apellidoMaterno" formControlName="apellidoMaterno"
                            class="form-control font-weight-titulo text-title" />
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4">
                        <label for="pais" class="form-label">País*:</label>
                        <input type="text" id="pais" formControlName="pais"
                            class="form-control font-weight-titulo text-title" />
                    </div>
                    <div class="col-md-4">
                        <label for="codigoPostal" class="form-label text-title">Código postal*:</label>
                        <input type="text" id="codigoPostal" formControlName="codigoPostal" class="form-control font-weight-titulo" />
                    </div>
                    <div class="col-md-4">
                        <label for="estado" class="form-label">Estado*:</label>
                        <input type="text" id="estado" formControlName="estado"
                            class="form-control font-weight-titulo text-title" />
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4">
                        <label for="calle" class="form-label">Calle*:</label>
                        <input type="text" id="calle" formControlName="calle"
                            class="form-control font-weight-titulo text-title" />
                    </div>
                    <div class="col-md-4">
                        <label for="numeroInterior" class="form-label text-title">Número interior*:</label>
                        <input type="text" id="numeroInterior" formControlName="numeroInterior"
                            class="form-control font-weight-titulo" />
                    </div>
                    <div class="col-md-4">
                        <label for="numeroExterior" class="form-label">Número exterior*:</label>
                        <input type="text" id="numeroExterior" formControlName="numeroExterior"
                            class="form-control font-weight-titulo text-title" />
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4">
                        <label for="numeroSeguroSocial" class="form-label">Número de seguro social*:</label>
                        <input type="text" id="numeroSeguroSocial" formControlName="numeroSeguroSocial"
                            class="form-control font-weight-titulo text-title" />
                    </div>
                    <div class="col-md-4">
                        <label for="numeroIdentificacionFiscal" class="form-label text-title">Número de identificación fiscal*:</label>
                        <input type="text" id="numeroIdentificacionFiscal" formControlName="numeroIdentificacionFiscal"
                            class="form-control font-weight-titulo" />
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="d-flex justify-content-lg-end h1">
                    <button class="btn btn-primary ms-2" type="button" (click)="confirmarExtranjeroFisica()">Confirma datos</button>
                    <button type="button" class="btn btn-default ms-2" (click)="cancelarGuardado()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@if (nuevaNotificacion) {
<section>
    <lib-notificaciones [notificacionInput]="nuevaNotificacion">
    </lib-notificaciones>
</section>
}