<form [formGroup]="profileForm" class="form-container">
  <h4>Información General</h4>
  <div class="row">
    <label for="domicilio">* Domicilio de la Instalación:</label>
    <textarea class="custom-textarea" rows="6" cols="100" id="domicilio" formControlName="domicilio"></textarea>
  </div>

  <p>
    El objetivo de este Perfil, es asegurar que las empresas de mensajería y paquetería, cuenten con prácticas y procesos de seguridad implementados en sus instalaciones, enfocados a fortalecer la cadena de suministro y a mitigar el riesgo de contaminación de los embarques con productos ilícitos.
  </p>
  <p>
    Las empresas de mensajería y paquetería interesadas en obtener la autorización a que se refiere la regla 7.1.5., de las RGCE vigentes deberán demostrar que cuentan con procesos documentados y verificables; así mismo, deberán integrar los criterios exigidos en el presente documento de acuerdo al modelo o diseño empresarial que tengan establecido, buscando durante la implementación de los estándares en materia de seguridad, la aplicación de una cultura de análisis de riesgos soportada en la toma de decisiones acorde a los valores, la misión, visión, los códigos de ética y conducta de la propia empresa.
  </p>
  <p>
    En caso de que la empresa de mensajería y paquetería cuente con autorización de "Recinto Fiscalizado, Recinto Fiscalizado Estratégico; Depósito Fiscal; elaboración, transformación o reparación en Recinto Fiscalizado", además de cumplir con lo dispuesto en el presente documento, deberá de acreditar los requisitos y lineamientos establecidos para el control, vigilancia, vías de acceso, infraestructura, equipamiento y de seguridad de las mercancías de comercio exterior establecidos por la AGA y podrá comprobar su cumplimiento con aquello que sea coincidente con lo establecido en el presente perfile.
  </p>
  <p> *Conforme a la regla 7.1.5. fracción VI, inciso e)"Perfil de Mansajeria y Paqueteria"establecido en el Anexo 1 de las RGCE declare los siguiente</p>
  
  <h6>Indique la siguiente información de la instalación:</h6>
  <div class="form-row">
    <label class="custom-label" for="antiguedad">Antigüedad de la instalación (años de operación):</label>
    <input class="custom-input" id="antiguedad" formControlName="antiguedad" type="number" />
  </div>
  <div class="form-row">
    <label class="custom-label" for="productos">Productos preponderantes que manejan en la instalación:</label>
    <input class="custom-input"  id="productos" formControlName="productos" type="text" />
  </div>
  <div class="form-row">
    <label class="custom-label" for="embarquesExp">No. de embarques promedio mensual (EXP):</label>
    <input class="custom-input" id="embarquesExp" formControlName="embarquesExp" type="number" />
  </div>
  <div class="form-row">
    <label class="custom-label" for="embarquesImp">No. de embarques promedio mensual (IMP):</label>
    <input class="custom-input" id="embarquesImp" formControlName="embarquesImp" type="number" />
  </div>
  <div class="form-row">
    <label class="custom-label" for="empleados">Número de empleados total de esta instalación:</label>
    <input class="custom-input" id="empleados" formControlName="empleados" type="number" />
  </div>
  <div class="form-row">
    <label class="custom-label" for="superficie">Superficie de la instalación (m²):</label>
    <input class="custom-input" id="superficie" formControlName="superficie" type="number" />
  </div>
  <p class="fw-bold">Indique si cuenta con certificaciones que consideren que impactan en el proceso de su cadena de suministros, por ejemplo: ISO 9000; Procesos Logísticos Confiables, entre otros.</p>
  <div class="form-row">
    <p class="fw-bold">Otras Certificaciones:</p>
  </div>
  
  <div class="row">
  <div class="col-md-12">
    <label class="form-label" for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" formControlName="nombre" 
     >
  </div>

    <div class="col-md-12">
        <label class="form-label" for="categoria">Categoría</label>
        <input type="text" class="form-control" id="categoria" formControlName="categoria" 
         >
    </div>

    <div class="col-md-4">
        <label class="form-label" for="nombre">Vigencia:</label>
        <input type="date" class="form-control" id="vigencia" formControlName="vigencia" 
         >
      </div>

      <div class="col-md-12">
        <label class="form-label" for="nombre2">Nombre</label>
        <input type="text" class="form-control" id="nombre2" formControlName="nombre2" 
         >
      </div>
    
        <div class="col-md-12">
            <label class="form-label" for="categoria2">Categoría</label>
            <input type="text" class="form-control" id="categoria2" formControlName="categoria2" 
             >
        </div>
    
        <div class="col-md-4">
            <label class="form-label" for="vigencia2">Vigencia:</label>
            <input type="date" class="form-control" id="vigencia2" formControlName="vigencia2" 
             >
          </div>
          <div class="col-md-12">
            <label class="form-label" for="nombre3">Nombre</label>
            <input type="text" class="form-control" id="nombre3" formControlName="nombre3" 
             >
          </div>
        
            <div class="col-md-12">
                <label class="form-label" for="categoria3">Categoría</label>
                <input type="text" class="form-control" id="categoria3" formControlName="categoria3" 
                 >
            </div>
        
            <div class="col-md-4">
                <label class="form-label" for="vigencia3">Vigencia:</label>
                <input type="date" class="form-control" id="vigencia3" formControlName="vigencia3" 
                 >
              </div>
            </div>

            <div class="table-container">
                <div class="table-header pb-2">
                  <h3>Empresas del grupo certificadas en materia de IVA e IEPS</h3>
                  <button (click)="alternarContenido()" class="toggle-btn">
                    <i
                      class="bi fs-5 m-1"
                      [ngClass]="{
                        'bi-chevron-down': !mostrarContenido,
                        'bi-chevron-up': mostrarContenido
                      }"
                    >
                    </i>
                  </button>
                </div>
            </div>
            <div class="table-container">
              <div class="table-header pb-2">
                <h3>Seguridad física</h3>
                <button (click)="toggleSeguridad()" class="toggle-btn">
                  <i
                    class="bi fs-5 m-1"
                    [ngClass]="{
                      'bi-chevron-down': !showSeguridad,
                      'bi-chevron-up': showSeguridad
                    }"
                  >
                  </i>
                </button>
              </div>
              <div class="accordion-body body-panel {{ showSeguridad ? 'open' : 'close'}}" >
                <app-seguridad-fisica></app-seguridad-fisica>
              </div>
          </div>
</form>

