<div class="container">
  <ng-titulo titulo="Requisitos opcionales" />

  <ng-alert [CONTENIDO]="TEXTOS.INSTRUCCIONES"></ng-alert>

    <carga-documento
      [idTipoTRamite]="idTipoTRamite"
      [datosUsuario]="datosUsuario"
      [idSolicitud]="idSolicitud"
      [cargaArchivosEvento]="reenviarEvento"
      (cargaRealizada)="documentosCargados($event)"
      (activarBotonCargaArchivos)="manejarEventoCargaDocumento($event)"
      (cargaEnProgreso)="onCargaEnProgreso($event)"
    ></carga-documento>
</div>
