<div class="container">
  <ng-titulo titulo="Empleados"></ng-titulo>
  <form [formGroup]="empleadosForm">
    <div class="row">
      <div class="col-md-4">
        <label class="form-label" for="totalDeEmpleados"
          >Total de empleados*:</label
        >
        <input
          class="form-control min-hgt"
          id="totalDeEmpleados"
          formControlName="totalDeEmpleados"
          type="text"
             (change)="setValoresStore(empleadosForm, 'totalDeEmpleados', 'setTotalDeEmpleados')"
        />
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="directos"
            value=""
            name="directos"
            formControlName="directos"
              (change)="setValoresStore(empleadosForm, 'directos', 'setDirectos')"
          />
          <label class="form-check-label" for="regimen_0"> Directos </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="indirectos"
            value=""
            name="indirectos"
            formControlName="indirectos"
             (change)="setValoresStore(empleadosForm, 'indirectos', 'setIndirectos')"
          />
          <label class="form-check-label" for="indirectos"> Indirectos </label>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <h3>Directios</h3>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <label class="form-label" for="directos">Directos:</label>
        <input
          class="form-control min-hgt"
          id="directo"
          formControlName="directo"
          type="text"
           (change)="setValoresStore(empleadosForm, 'directo', 'setDirecto')"
        />
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <app-catalogo-select
          [catalogo]="cedulasOptions"
          [label]="'Cédulas de determinación de cuotas'"
          [required]="true"
          name="cedulasOptions"
          formControlName="cedula"
        (change)="setValoresStore(empleadosForm, 'cedula', 'setCedula')"
        ></app-catalogo-select>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <input-fecha [datos]="fetchaDeCedula"  [setFecha]="empleadosForm.get('fechaCedula')?.value"
          (valorCambiado)="cambiofetchaDeCedula($event)"></input-fecha>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <h3>Indirectos</h3>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <label class="form-label" for="directos">Indirectos:</label>
        <input
          class="form-control min-hgt"
          id="indirectosDatos"
          formControlName="indirectosDatos"
          type="text"
           (change)="setValoresStore(empleadosForm, 'indirectosDatos', 'setIndirectosDatos')"
        />
      </div>
      <div class="col-md-4">
        <label class="form-label" for="contrato"
          >Contrato de prestación de servicios:</label
        >
        <input
          class="form-control min-hgt"
          id="contrato"
          formControlName="contrato"
          type="text"
          (change)="setValoresStore(empleadosForm, 'contrato', 'setContrato')"
        />
      </div>
      <div class="col-md-4">
        <label class="form-label" for="directos"
          >Objeto del contrato del servicio:</label
        >
        <input
          class="form-control min-hgt"
          id="objeto"
          formControlName="objeto"
          type="text"
             (change)="setValoresStore(empleadosForm, 'objeto', 'setObjeto')"
        />
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="form-group">
          <input-fecha [datos]="fetchaDeFirma"  [setFecha]="empleadosForm.get('fechaFirma')?.value"
          (valorCambiado)="cambiofetchaDeFirma($event)"></input-fecha>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <input-fecha [datos]="fetchaFinVigencia" [setFecha]="empleadosForm.get('fechaFinVigencia')?.value"
          (valorCambiado)="cambiofechaFinVigencia($event)"></input-fecha>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <label class="form-label" for="rfcEmpresa"
          >RFC de la empresa prestadora de servicios:</label
        >
        <input
          class="form-control min-hgt"
          id="rfcEmpresa"
          formControlName="rfcEmpresa"
          type="text"  (change)="setValoresStore(empleadosForm, 'rfcEmpresa', 'setRfcEmpresa')"
        />
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-8">
        <label class="form-label" for="razonSocial"
          >Razón social de la empresa prestadora de servicios:</label
        >
        <input
          class="form-control min-hgt"
          id="razonSocial"
          formControlName="razonSocial"
          type="text" (change)="setValoresStore(empleadosForm, 'razonSocial', 'setRazonSocial')"
        />
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 container text-end mt-5">
        <button class="btn btn-default me-2">Limpiar</button>
        <button class="btn btn-primary">Agregar</button>
      </div>
    </div>
    <div class="row mt-5">
      <app-tabla-dinamica
        [configuracionTabla]="directosEncabezado"
        [tipoSeleccionTabla]="directosTablaSeleccion"
        [datos]="directosDatos"
      ></app-tabla-dinamica>
    </div>
  </form>
  <div class="row mt-5">
    <div class="col-12 container text-end mt-5">
      <button (click)="regrasar()" class="btn btn-default me-2">
        Regresar a plantas
      </button>
    </div>
  </div>
</div>
