<div class="container">
    <form [formGroup]="formProgrmasReporte">
      <ng-titulo titulo="Periodo que cubre reporte anual" />
      <div class="row">
        <div class="col-md-4">
          <div class="form-group input-container">
            <label class="form-label" for="ideGenerica1">Inicio:</label>
            <input
              type="text"
              class="form-control input-date"
              formControlName="inicio"
              id="ideGenerica1"
              bsDatepicker
              [bsConfig]="bsConfig"
            />
            <span class="bi icon bi-calendar2-fill"></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group input-container">
            <label class="form-label" for="ideGenerica2">Fin:</label>
            <input
              type="text"
              class="form-control input-date"
              formControlName="fin"
              id="ideGenerica2"
              bsDatepicker
              [bsConfig]="bsConfig"
            />
            <span class="bi icon bi-calendar2-fill"></span>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12">
          <app-tabla-dinamica
            [tipoSeleccionTabla]="solicitudSeleccionTabla"
            [datos]="solicitudDatos"
            [configuracionTabla]="solicitudConfiguracionTabla"
            (filaSeleccionada)="actualizarProgramasReporte($event)"
          >
          </app-tabla-dinamica>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <label class="form-label" for="folioPrograma">Folio de programa:</label>
          <input
            type="text"
            id="folioPrograma"
            class="form-control"
            size="30"
            formControlName="folioPrograma"
            [disabled]="esFormularioSoloLectura"
          />
        </div>
        <div class="col-md-4">
          <label class="form-label" for="modalidad"
            >Selecciona la modalidad:</label
          >
          <input
            type="text"
            id="modalidad"
            size="50"
            class="form-control"
            formControlName="modalidad"
            [disabled]="esFormularioSoloLectura"
          />
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <label class="form-label" for="tipoPrograma">Tipo programa:</label>
          <input
            type="text"
            id="tipoPrograma"
            size="30"
            class="form-control"
            formControlName="tipoPrograma"
            [disabled]="esFormularioSoloLectura"
          />
        </div>
        <div class="col-md-4">
          <label class="form-label" for="estatus">Estatus:</label>
          <input
            type="text"
            id="estatus"
            size="50"
            class="form-control"
            formControlName="estatus"
            [disabled]="esFormularioSoloLectura"
          />
        </div>
        <div class="col-md-4"></div>
      </div>
    </form>
  </div>
  @if(nuevaNotificacion){
    <lib-notificaciones [notificacionInput]="nuevaNotificacion" ></lib-notificaciones>
  }