<app-terceros-relacionados
#TercerosRelacionadosComponent
[tramiteID]="'260218'"
[fabricanteTablaDatos]="fabricanteTablaDatos"
[destinatarioFinalTablaDatos]="destinatarioFinalTablaDatos"
[proveedorTablaDatos]="proveedorTablaDatos"
[facturadorTablaDatos]="facturadorTablaDatos"
[estaOculto]="estaOculto"
[formularioDeshabilitado]="esFormularioSoloLectura"
[idProcedimiento]="idProcedimiento"
[elementosRequeridos]="elementosRequeridos"
(updateFabricanteTablaDatos)="addFabricantes($event)"
(updateDestinatarioFinalTablaDatos)="addDestinatarios($event)"
(updateProveedorTablaDatos)="addProveedores($event)"
(updateFacturadorTablaDatos)="addFacturadores($event)"
></app-terceros-relacionados>
