
.pais{
    height: 1200px;
    }

::ng-deep app-catalogo-select {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .form-control {
        padding: 0 10px;
      }