<div class="container">
    <ng-titulo titulo="Datos generales del solicitante" />
    <form [formGroup]="solicitudForm">
    <div class="row">
       
        <div class="col-md-4">
            <label class="form-label" for="rfc">RFC:<span 
                class="bi bi-question-circle-fill fs-4 m-1" title="Title" 
                ata-bs-toggle="tooltip"></span>
            </label>
            <input type="text" class="form-control" id="rfc" formControlName="rfc"  readonly>
        </div>

        <div class="col-md-8">
            <label class="form-label" for="denominacion">Denominacion o razon social:</label>
            <input type="text" class="form-control" id="denominacion" formControlName="denominacion" readonly>
        </div>

        <div class="col-md-12">
            <label class="form-label" for="actividad-economica">Actividad economica preponderante:</label>
            <input type="text" class="form-control" id="actividad-economica" formControlName="actividadEconomica" readonly>
        </div>

        <div class="col-md-4">
            <label class="form-label" for="correo-electronico">Correo electronico:</label>
            <input type="text" class="form-control" id="correo-electronico" formControlName="correoElectronico" readonly>
        </div>
    </div>
</form>
</div>
