<div class="container mt-5">
  <ng-titulo titulo="Recinto fiscalizado estratégico" />
  <p>
    Deberá anexar copia simple de la autorización vigente emitida por el SAT
    para la elaboración, transformación o reparación en recinto fiscalizado
    estratégico.
  </p>
  <div class="row">
    <form [formGroup]="regimenForm">
      <div class="col-md-12">
        <label
          >Indique si se encuentra sujeto a un procedimiento de
          cancelación</label
        >
      </div>
      <div class="col-md-12">
        <app-input-radio
          [radioOptions]="radioBotons"
          formControlName="cancelacionProcedimiento"
          [isRequired]="true"
          [layout]="'horizontal'"
          (change)="
            setValoresStore(
              'cancelacionProcedimiento',
              'setCancelacionProcedimiento'
            )
          "
        ></app-input-radio>
      </div>
      <div class="col-md-12">
        <label
          >Indique si cumple con los lineamientos que determinen las autoridades
          aduaneras para el control, vigilancia y seguridad del recinto y de las
          mercancias del comercio exterior</label
        >
      </div>
      <div class="col-md-12">
        <app-input-radio
          [radioOptions]="radioBotons"
          formControlName="cumpleLineamientos"
          [isRequired]="true"
          [layout]="'horizontal'"
          (change)="
            setValoresStore('cumpleLineamientos', 'setCumpleLineamientos')
          "
        ></app-input-radio>
      </div>
    </form>
  </div>
</div>
