td {
  border: 0 !important;
}
th {
  border: 0 !important;
}

.pagination {
  display: table;
  margin: 0 auto;
}

.label-left {
  text-align: left;
}
.btn-space {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  .require{
    color: red;
  }
