.text-center {
  text-align: center;
}
.validation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.validation-index {
  text-align: left;
  position: absolute !important;  
  left: 12px !important;
  color: red !important;
}

.validation-message {
  flex: 1;
  text-align: center;
  color: red !important;
}
