.custom-section p,
.modal-body p {
    font-size: 16px;
}

.check-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #6ec1ff, #007bff);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.checkmark {
  color: white;
  font-size: 10px;
}


.percent {
  float: right;
}

.progress-bar {
  width: 100%;
  height: 12px;
  background-color: #e0e0e0;
  overflow: hidden;
  margin: 15px 0;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(to right, #1e90ff, #1e90ff);
  transition: width 0.1s linear;
}