  <div class="container rounded p-3 bg-light">
    <ng-titulo titulo="Evaluar solicitud" />
    <div class="row">
      <div class="col-md-4">
        <lib-encabezado-requerimiento [numFolioTramite]="'02309482934723832'"
        [tipoTramite]="'Registro de solicitud de servicios extraordinarios'"></lib-encabezado-requerimiento>
      </div>
    </div>

  <br>
  <div class="row">
    <ul class="nav nav-tabs justify-content-center gap-3">
      <li [ngClass]="indice === 1 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(1)" (keydown.enter)="seleccionaTab(1)"
          (keydown.space)="seleccionaTab(1)" role="button" tabindex="0">Dictamen</a>
      </li>
      <li [ngClass]="indice === 2 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(2)" (keydown.enter)="seleccionaTab(2)"
          (keydown.space)="seleccionaTab(2)" role="button" tabindex="2">Requerimiento de información</a>
      </li>
      <li [ngClass]="indice === 3 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(3)" (keydown.enter)="seleccionaTab(3)"
          (keydown.space)="seleccionaTab(3)" role="button" tabindex="3">Solicitar opinión</a>
      </li>
    </ul>
    <ng-container>
      @switch (indice) {
      @case (1) {
      <app-generar-dictamen></app-generar-dictamen>
      }
      @case (2) {
      <app-requerimiento-informacion></app-requerimiento-informacion>
      }
      @case (3) {
        <app-solicitar-opinion></app-solicitar-opinion>
        }
      }
    </ng-container>
  </div>
  <div class="d-flex justify-content-lg-end h1">
    <button *ngIf="firmarFuncionario" type="button" class="btn btn-default ms-2">Cancelar</button>
    <button *ngIf="firmarFuncionario" class="btn btn-primary ms-2" (click)="guardarFirmar()" type="button">Guardar y
      firmar</button>
  </div>
</div>