.btn-outline-primary {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #f8f9fa;
    color: #6c757d;
    font-size: 16px;
  }
  
  .btn-outline-primary:hover {
    background-color: #e2e6ea;
  }

  .radio-button {
    border-radius: 4px;
    }
    
    .seleccion-radio{
        background-color: #9F803C;
        border-color: #9F803C;
    }
    #mensajeDictamen{
      height: 120px;
  }