/* 
 * Estilo para el grupo de botones.
 * - Alineación horizontal habilitada.
 * - Espaciado entre botones.
 * - Alineación vertical centrada.
 */
 .btn-group {
  display: flex;        /* Habilita la alineación horizontal */
  gap: 10px;            /* Agrega espacio entre los botones */
  align-items: center;  /* Alinea verticalmente los botones */
}

/* 
* Estilo para los botones individuales.
* - Evita que el texto de los botones se desborde a la siguiente línea.
*/
.btn {
  white-space: nowrap;  /* Evita que los botones se envuelvan a la siguiente línea */
}

.custom-modal-width {
  max-width: 90%; 
}