<app-datos-de-la-solicitud
  [datosSolicitudFormState]="tramiteState.datosSolicitudFormState"
  [scianConfig]="scianConfig"
  [opcionesColapsableState]="tramiteState.opcionesColapsableState"
  [tablaMercanciasConfig]="tablaMercanciasConfig"
  [opcionConfig]="opcionConfig"
  [idProcedimiento]="idProcedimiento"
  (datasolicituActualizar)="datasolicituActualizar($event)"
  (opcionSeleccionado)="opcionSeleccionado($event)"
  (scianSeleccionado)="scianSeleccionado($event)"
  (mercanciasSeleccionado)="mercanciasSeleccionado($event)"
  (datosDeTablaSeleccionados)="datosDeTablaSeleccionados($event)"
  [formularioDeshabilitado]="esFormularioSoloLectura"
  (idSolicitudPrellenado)="enIdSolicitudPrellenado($event)"
  [elementosRequeridos]="denominacionRazon.split(',')"
  #datosDeLaSolicitud
></app-datos-de-la-solicitud>
