<div class="container">
  <div class="row d-flex align-items-end">
    <div class="col-md-4">
      <select-catalogos [catalogosDatos]="tiposDocumentos"
        (valorSelección)="docSeleccionado($event)"></select-catalogos>
    </div>
    <div class="col-md-4">
      <div class="btn-upload">
        <input type="file" class="form-control" id="file-input" (change)="cargarDoc($event)"
          [disabled]="btnDesactivado">
        <label for="file-input" class="btn" [ngClass]="!btnDesactivado ? 'btn-primary' : 'btn-disabled'">
          <i class="bi bi-cloud-arrow-up"></i>
          Subir documento
        </label>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-4">
      @if (documentoSeleccionado) {
      <div class="especificaciones">
        <span>Tipo documento: {{documentoSeleccionado.tipoArchivo}}</span>
        <span>Tamaño(MB): {{documentoSeleccionado.archivo?.tamanio}} {{documentoSeleccionado.archivo?.unidad}} </span>
        <span>Resolución(dpi): {{documentoSeleccionado.imagen?.resolucion}}
          {{documentoSeleccionado.imagen?.unidad}}</span>
      </div>

      }
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      @if (docCargados) {
      <table class="table table-responsive">
        <thead>
          <tr>
            <th colspan="2">Tipo Documento</th>
            <th>Documento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (item of documentosCargados; track item.tipoDocumento.id; let i = $index) {
          <tr>
            <td> {{i+1}} </td>
            <td>{{ item.tipoDocumento.descripcion}}</td>
            <td>{{ item.nombreArchivo}}</td>
            <td>
              <button type="button" class="btn btn-link"            (click)="verDocumento(i, 'v')">
                <i class="bi bi-eye bi-c"></i>
              </button>

              <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="abrirModal(i)">
                <i class="bi bi-trash3 bi-c"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
  </div>
</div>

<!-- Offcanvas para ver documento -->
<div class="offcanvas offcanvas-end offcanvas-size-xl" tabindex="-1" id="offcanvasRight" data-bs-backdrop="static"
  aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Ver documento</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Documento
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar archivo</h4>
      </div>
      <div class="modal-body">
        <p>¿Desea eliminar el archivo</p>
      </div>
      <div class="modal-footer custom-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="eliminarDocumento(indiceDocumento)">Eliminar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

