<div class="Page"></div>
<div class="Page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Permiso de exportación temporal o definitiva de monumentos o bienes muebles históricos</h1>
      </div>
      <app-wizard [listaPasos]="pantallasPasos"></app-wizard>
    </div>
    <div class="row">
      @switch (indice) {

      @case (1) {
      <app-datos></app-datos>
      }
      
      @case (2){
        <anexar-documentos></anexar-documentos>
        }

      @case (3) {
      <app-firmar-solicitud></app-firmar-solicitud>

      }


      }
      <btn-continuar [datos]="datosPasos" (continuarEvento)="getValorIndice($event)">
      </btn-continuar>

    </div>
    @if(indice === 1){
    <ng-alert [CONTENIDO]="TEXTOS.Aviso"></ng-alert>
    }
  </div>

</div>