<div class="container">
  <ng-titulo titulo="Datos generales del la Animales"></ng-titulo>
  <form [formGroup]="formGroup">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="fraccionArancelaria" class="form-label">Fracción arancelaria:</label>
          <input type="text" class="form-control" id="fraccionArancelaria" formControlName="fraccionArancelaria">
          <div *ngIf="formGroup.get('fraccionArancelaria')?.invalid && formGroup.get('fraccionArancelaria')?.touched">
            <small class="text-danger" *ngIf="formGroup.get('fraccionArancelaria')?.errors?.['required']">Este campo es obligatorio.</small>
            <small class="text-danger" *ngIf="formGroup.get('fraccionArancelaria')?.errors?.['maxlength']">Máximo 8 caracteres.</small>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="tratamiento" class="form-label">Descripción de la fracción arancelaria:</label>
          <input type="text" class="form-control disabledColor1" id="tratamiento" formControlName="tratamiento" maxlength="1000" readonly [disabled]="true">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="presentacion" class="form-label">Cantidad UMT:</label>
          <span class="require">*</span>
          <input type="text" class="form-control disabledColor1" id="presentacion" formControlName="presentacion" readonly [disabled]="true">
         
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="marcaEmbarque" class="form-label">UMT:</label>
          <input type="text" class="form-control disabledColor1" id="marcaEmbarque" formControlName="marcaEmbarque" maxlength="200" readonly [disabled]="true">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group datepicker-group" style="margin-bottom: 0px">
          <label for="fechaCaducidad" class="form-label">Cantidad UMC <span class="require">*</span>:</label>
          <input type="text" class="form-control" id="fechaCaducidad" formControlName="fechaCaducidad">
          <div *ngIf="formGroup.get('fechaCaducidad')?.invalid && formGroup.get('fechaCaducidad')?.touched">
            <small class="text-danger" *ngIf="formGroup.get('fechaCaducidad')?.errors?.['required']">Este campo es obligatorio.</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <select-catalogos [catalogosDatos]="aduanas" (valorSeleccion)="aduanaSeleccion($event)"></select-catalogos>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="cites" class="form-label">Tratamiento:</label>
          <input type="text" class="form-control disabledColor1" id="cites" formControlName="cites" maxlength="15" readonly [disabled]="true">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="nombreIdentificacion" class="form-label">Nombre y/o No. de identificación:</label>
          <input type="text" class="form-control" id="nombreIdentificacion" formControlName="nombreIdentificacion" maxlength="1000" readonly>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="raza" class="form-label">Raza:</label>
          <input type="text" class="form-control" id="raza" formControlName="raza">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <select-catalogos [catalogosDatos]="aduanasOne" (valorSeleccion)="aduanaSeleccionOne($event)"></select-catalogos>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="edadAnimal" class="form-label">Edad del animal:</label>
          <span class="require">*</span>
          <input type="text" class="form-control" id="edadAnimal" formControlName="edadAnimal">
          <div *ngIf="formGroup.get('edadAnimal')?.invalid && formGroup.get('edadAnimal')?.touched">
            <small class="text-danger" *ngIf="formGroup.get('edadAnimal')?.errors?.['required']">Este campo es obligatorio.</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-md-4">
        <div class="form-group">
          <label for="color" class="form-label">Color:</label>
          <input type="text" class="form-control" id="color" formControlName="color" maxlength="15">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="numeroAutorizacionCITES" class="form-label">Número de autorización CITES:</label>
          <input type="text" class="form-control" id="numeroAutorizacionCITES" formControlName="numeroAutorizacionCITES" maxlength="15">
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3 text-muted text-vertical-align-button">
        <span>*Campos obligatorios</span>
      </div>
      <div class="col-md-9">
        <div class="pull-right">
          <button type="button" class="btn btn-default btn-space" (click)="limpiarDatosCapturaMercancia()">Limpiar</button>
          <button type="button" class="btn btn-default btn-space" (click)="guardarCapturaMercancia()">Modificar</button>
          <!-- <button type="button" class="btn btn-danger btn-space" (click)="cerrarCapturaMercanciaAnimal()" >Cancelar</button> -->
          <button type="button" class="btn btn-primary btn-space" (click)="guardarCapturaMercancia()">Agregar</button>
        </div>
      </div>
    </div>
  </form>
</div>