<app-datos-de-la-solicitud (filaSeleccionada)="onRowSelected($event)"></app-datos-de-la-solicitud>
<div class="container">
  <form [formGroup]="informationCafeForm">
    <ng-titulo titulo="Información del Cafe" />
    <ng-container formGroupName="datosDelTramiteRealizar"> 
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="form-group">
          <app-catalogo-select
          id="formasdelcafeData"
          formControlName="formasdelcafe"
          [catalogo]="formasdelcafeData.catalogos"
          [label]="'Formas Del Cafe'"
          [placeholder]="formasdelcafeData.primerOpcion"
          [required]="true"
          (change)="setValoresStore(datosDelTramiteRealizar,'formasdelcafe', 'setFormasDelCafe')"
          [disabled]="esFormularioSoloLectura"
        ></app-catalogo-select>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="form-group">
        <app-catalogo-select
        id="tiposData"
        formControlName="tipos"
        [catalogo]="tiposData.catalogos"
        [label]="'Tipos'"
        [placeholder]="tiposData.primerOpcion"
        [required]="true"
        (change)="setValoresStore(datosDelTramiteRealizar,'tipos', 'setTipos')"
        [disabled]="esFormularioSoloLectura"
      ></app-catalogo-select>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="form-group">
        <app-catalogo-select
        id="calidadData"
        formControlName="calidad"
        [catalogo]="calidadData.catalogos"
        [label]="'Calidad'"
        [placeholder]="calidadData.primerOpcion"
        [required]="true"
        (change)="setValoresStore(datosDelTramiteRealizar,'calidad', 'setCalidad')"
        [disabled]="esFormularioSoloLectura"
      ></app-catalogo-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="form-group">
        <app-catalogo-select
        id="procesosData"
        formControlName="procesos"
        [catalogo]="procesosData.catalogos"
        [label]="'Procesos'"
        [placeholder]="procesosData.primerOpcion"
        [required]="true"
        (change)="setValoresStore(datosDelTramiteRealizar,'procesos', 'setProcesos')"
        [disabled]="esFormularioSoloLectura"
      ></app-catalogo-select>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="form-group">
        <app-catalogo-select
        id="certificationsData"
        formControlName="certifications"
        [catalogo]="certificacionsData.catalogos"
        [label]="'Cerficaciones'"
        [placeholder]="certificationsData.primerOpcion"
        [required]="true"
        (change)="setValoresStore(datosDelTramiteRealizar,'certifications', 'setCertifications')"
        [disabled]="esFormularioSoloLectura"
      ></app-catalogo-select>
        </div>
      </div>
    </div>
    <ng-titulo titulo="Destino" />
    <div class="col-md-4">
      <div class="form-group">
      <app-catalogo-select
      id="adunadesalidaData"
      formControlName="adunadesalida"
      [catalogo]="adunadesalidaData.catalogos"
      [label]="'Aduana de salida'"
      [placeholder]="adunadesalidaData.primerOpcion"
      [required]="true"
      (change)="setValoresStore(datosDelTramiteRealizar,'adunadesalida', 'setAdunadesalida')"
      [disabled]="esFormularioSoloLectura"
    ></app-catalogo-select>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group">
      <app-catalogo-select
      id="paisdestinoData"
      formControlName="paisdestino"
      [catalogo]="paisdestinoData.catalogos"
      [label]="'Pais destino'"
      [placeholder]="paisdestinoData.primerOpcion"
      [required]="true"
      (change)="setValoresStore(datosDelTramiteRealizar,'paisdestino', 'setPaisdestino')"
      [disabled]="esFormularioSoloLectura"
    ></app-catalogo-select>
      </div>
    </div>
 
    <ng-titulo titulo="Procedencia" />
    <div class="row">
    <div class="col-md-4">
      <div class="form-group">
      <app-catalogo-select
      id="entidaddeprocedenciaData"
      formControlName="entidaddeprocedencia"
      [catalogo]="entidaddeprocedenciaData.catalogos"
      [label]="'Entidad de procedencia'"
      [placeholder]="entidaddeprocedenciaData.primerOpcion"
      [required]="true"
      (change)="setValoresStore(datosDelTramiteRealizar,'entidaddeprocedencia', 'setEntidaddeprocedencia')"
      [disabled]="esFormularioSoloLectura"
    ></app-catalogo-select>
      </div>
    </div>
  </div>
  <div class="row">
    <ng-titulo titulo="Ciclo cafetalero" />
    <div class="col-md-4">
      <div class="form-group">
      <app-catalogo-select
      id="ciclocafetaleroData"
      formControlName="ciclocafetalero"
      [catalogo]="ciclocafetaleroData.catalogos"
      [label]="'Ciclo cafetalero'"
      [placeholder]="ciclocafetaleroData.primerOpcion"
      [required]="true"
      (change)="setValoresStore(datosDelTramiteRealizar,'ciclocafetalero', 'setCiclocafetalero')"
      [disabled]="esFormularioSoloLectura"
    ></app-catalogo-select>
      </div>
      </div>
    </div>
    </ng-container>
  </form>
</div>
<app-datos-del-cafe></app-datos-del-cafe>