
<ng-titulo titulo="Buscar cupos" />



<div class="container form-container">
    <div>
    
           <div class="row">
             <div class="col-md-4">
             <app-catalogo-select
             [catalogo]="regime"
             [label]="'Régimen aduanero:'"
             [required]="true"      >
              </app-catalogo-select>
           </div>
           <div class="col-md-4">
            <app-catalogo-select
            [catalogo]="mecanismo"
            [label]="'Mecanismo de asignación:'"
            [required]="true"      >
             </app-catalogo-select>
          </div>
          <div class="col-md-4">
            <app-catalogo-select
            [catalogo]="tratado"
            [label]="'Tratado o bloqueo comercial:'"
              >
             </app-catalogo-select>
          </div>
   </div>
   <div class="row">
    <div class="col-md-4">
    <app-catalogo-select
    [catalogo]="nombrede"
    [label]="'Nombre de producto:'"
       >
     </app-catalogo-select>
  </div>
  <div class="col-md-4">
   <app-catalogo-select
   [catalogo]="nombredel"
   [label]="'Nombre del subproducto:'"
    >
    </app-catalogo-select>
 </div>
 <div class="col-md-4">
   <app-catalogo-select
   [catalogo]="nombredel"
   [label]="'Representación federal:'"
    >
    </app-catalogo-select>



</div>

<div class="row" style="padding-top: 20px;text-align: right;">
    <div>
        <button type="button" class="btn btn-primary btn-space" >Buscar</button>
        
    </div>
</div>
<H6> Cupos disponibles</H6>
<app-tabla-dinamica 
  [configuracionTabla]="configuracionTabla"
  [datos]="cancelation">
</app-tabla-dinamica>



  
   