<div class="container">
    <div class="row">
      <ul class="nav nav-tabs">
        <li [ngClass]="indice === 1 ? 'active' : ''">
          <a data-toggle="tab" (click)="seleccionaTab(1)" (keydown.enter)="seleccionaTab(1)"
            (keydown.space)="seleccionaTab(1)" role="button" tabindex="0">Solicitante</a>
        </li>
        <li [ngClass]="indice === 2 ? 'active' : ''">
          <a data-toggle="tab" (click)="seleccionaTab(2)" (keydown.enter)="seleccionaTab(2)"
            (keydown.space)="seleccionaTab(2)" role="button" tabindex="2">Empresas submanufactureras</a>
        </li>
      </ul>
  
      <ng-container>
        @if(esDatosRespuesta){
        <solicitante [tabindex]="1" [hidden]="indice !== 1" #solicitanteRef></solicitante>
        <app-empresas-subfabricante [tabindex]="2" #solicitudComponent [hidden]="indice !== 2"></app-empresas-subfabricante>
      }
      </ng-container>
    </div>
  </div>
