<div class="container">
  <form [formGroup]="mercanciaFormularioModelo">
    <ng-titulo titulo="Modificación de descripción mercancía" />
    <div class="row">
      <div class="col-md-8">
        <label>Descripcion Solicitada:</label>
        <textarea
          class="form-control height-100"
          id="descipcionSolicitada"
          formControlName="descipcionSolicitada"
        ></textarea>
      </div>
    </div>
  </form>
  <div class="row pull-right mb-5">
    <div class="d-flex justify-content-end">
      <button
        class="btn btn-default me-3"
        type="button"
        data-bs-dismiss="modal"
        #closeModal
        (click)="cancelarMercanciaSeleccionadas()"
      >
        Cancelar
      </button>
      <button
        class="btn btn-primary"
        type="button"
        data-bs-dismiss="modal"
        #closeModal
        (click)="modificarMercanciaSeleccionadas()"
      >
        Modificar
      </button>
    </div>
  </div>
</div>
