.para-title {
  color: #0078d4;
}

.alert-text {
  color: #0078d4;
  font-weight: bold;
}

.danger {
  color: red;
  margin-right: 5px;
}

.container {
  overflow: hidden;
  word-wrap: break-word;
  padding: 15px;
}

.text-container {
  width: 96%;
  box-sizing: border-box;
}

.custom-textarea {
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  padding: 10px;
  font-size: 14px;
}

.centered-list-wrapper ol li {
  padding-left: 2%;
  margin-bottom: 5px;
}

.centered-list {
  display: inline-block;
  text-align: left;
  margin-top: 0;
}

.d-grid {
  padding-left: 2%;
}
