.required-label {
  font-weight: bold;
  color: black;
}

.required-label::before {
  content: "*";
  color: red;
  margin-right: 5px;
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pushes the icon to the right */
  }
  
  .table-header h3 {
    margin: 0 !important;
    font-size: 16px;
    text-align: left;
  }
  
  .toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .table-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    margin-top: 15px;
  }

  .toggle-btn {
    background-color: #0e4279;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }



.custom-btn:hover {
    background: linear-gradient(to bottom, #0073e6, #005bb5);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

