<div class="container">
    <ng-titulo [titulo]="'Manifiesto'"></ng-titulo>
    <form [formGroup]="manifiestoFormulario">
                <div class="alert alert-info">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-1">
                        <input type="checkbox" formControlName="declaracion" [disabled]="esFormularioSoloLectura"
                        (change)="setValorStore(manifiestoFormulario, 'declaracion')"
                        [disabled]="esFormularioSoloLectura" [required]="true">
                        <label>*</label>
                        </div>
                        <div class="col-md-10">
                            <p class="text-justify">
                                Declaro bajo protesta de decir
                                verdad que retornaré oportunamente al
                                extranjero la mercancía importada temporalmente
                                a los Estados Unidos Mexicanos y a no realizar actos
                                u omisiones que configuren delitos o infracciones por
                                el indebido uso o destino de las mismas.
                            </p>
                        </div>
                    </div>
                </div>
    </form>
</div>