<app-historico-productores #HistoricoProductoresComponent (formHistoricoEvent)="setValoresStore($event)"
    (agregarDatosProductorFormularioEvent)="setValoresStoreAgregarForm($event)" [tramiteState]="tramiteState"
    [agregarDatosProductor]="agregarDatosProductor" [productoresExportador]="productoresExportador || []"
    [agregarProductoresExportador]="(agregarProductoresExportador$ | async) || []"
    [mercanciaDatos]="(mercanciaProductores$ | async) || []" [ocultarFax]="ocultarFax" [esTipoDeSeleccionado]="esTipoDeSeleccionado"
    [optionsTipoFactura]="optionsTipoFactura || []"
    [esFormularioSoloLectura]="esFormularioSoloLectura"
    [sortMercanciasTablaOrder]="true"
    (emitAgregarExportador)="emitAgregarExportador($event)" 
    (formaValida)="formaValida($event)"></app-historico-productores>