<div class="container">
    <form [formGroup]="sociosComercialesForm">
        <div class="row mt-2">
            <div class="col-md-12 text-container">
                <p>{{textos.paraca1}}
                </p>
                <p>
                    {{textos.paraca2}}
                </p>
            </div>
        </div>

        <!-- 4.1-Criterios-de-selección -->
        <div class="row mt-3">
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento1}}</h4>
                <p>
                    {{textos.paraca3}}
                </p>
            </div>

            <div class="col-md-12 text-container mt-4">
                <div class="mt-2 alert-text">
                    <ul>
                        <li>{{textos.paraca4}}<span class="danger">*</span>:
                            <div class="centered-list-wrapper">
                                <ol type="a">
                                    <li>Qué información es requerida a su socio comercial.</li>
                                    <li>Qué aspectos son revisados e investigados.</li>
                                    <li>{{textos.paraca5}}
                                    </li>
                                    <li>Indicar si mantiene un expediente físico o electrónico de cada uno de sus socios comerciales, así como la información que debe contener.</li>
                                    <li>Señalar de qué manera se evalúan los servicios de su socio comercial y qué puntos revisa.</li>
                                </ol>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="mt-4 alert-text">
                    <ul>
                        <li>El expediente debe incluir como mínimo lo siguiente<span class="danger">*</span>:
                            <div class="centered-list-wrapper">
                                <ol type="a">
                                    <li>Datos de la empresa (nombre, RFC, actividad, etcétera).</li>
                                    <li>Datos del representante legal.</li>
                                    <li>Comprobante de domicilio.</li>
                                    <li>Referencias comerciales (en su caso).</li>
                                    <li>Contratos, acuerdos y/o convenios de confidencialidad y políticas de seguridad.
                                    </li>
                                    <li>En su caso, certificado o número de certificación en los programas de seguridad a los que pertenezca.</li>
                                </ol>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="indiqueLleva">
                    {{textos.etiqueta}}<span class="danger">*</span>:
                </label>
                <textarea class="custom-textarea" rows="6" cols="100" id="indiqueLleva" formControlName="indiqueLleva" (change)="setValoresStore(sociosComercialesForm,'indiqueLleva')"></textarea>
            </div>
            @if(sociosComercialesForm.controls['indiqueLleva'].invalid &&
            sociosComercialesForm.controls['indiqueLleva'].touched){
            <div class="d-grid">
              @if(sociosComercialesForm.controls['indiqueLleva'].errors?.['required']) {
              <span class="mensaje-error">Este campo es obligatorio</span>
              }
            </div>
            }
        </div>

        <!-- 4.2-Requerimientos-en-seguridad -->
        <div class="row mt-3">
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento2}}</h4>
                <p>
                    {{textos.paraca6}}
                </p>
                <p>Los requisitos deberán estar basados en el Perfil de la empresa establecido por la AGACE, o en caso de existir, el Perfil específico para cada actor de la cadena de suministros que le corresponda.</p>
                <p>{{textos.paraca7}}
                </p>
                <p>En el caso de los socios comerciales de la empresa que presten sus servicios en el interior de las instalaciones, deberán estar obligados al cumplimiento de estos requerimientos de seguridad en la cadena de suministro.</p>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="describaProcedimientoDos">
                    Describa el procedimiento que indique cómo lleva a cabo la identificación de socios comerciales que requieran el cumplimiento de estándares mínimos en materia de seguridad<span class="danger">*</span>:
                </label>
                <textarea class="custom-textarea" rows="6" cols="100" id="describaProcedimientoDos" formControlName="describaProcedimientoDos" (change)="setValoresStore(sociosComercialesForm,'describaProcedimientoDos')"></textarea>
            </div>
            @if(sociosComercialesForm.controls['describaProcedimientoDos'].invalid &&
            sociosComercialesForm.controls['describaProcedimientoDos'].touched){
            <div class="d-grid">
              @if(sociosComercialesForm.controls['describaProcedimientoDos'].errors?.['required']) {
              <span class="mensaje-error">Este campo es obligatorio</span>
              }
            </div>
            }

            <div class="col-md-12 text-container mt-4">
                <label for="indiqueSocios">
                    {{textos.etiqueta2}}<span class="danger">*</span>:
                </label>
                <textarea class="custom-textarea" rows="6" cols="100" id="indiqueSocios" formControlName="indiqueSocios" (change)="setValoresStore(sociosComercialesForm,'indiqueSocios')"></textarea>
            </div>
            @if(sociosComercialesForm.controls['indiqueSocios'].invalid &&
            sociosComercialesForm.controls['indiqueSocios'].touched){
            <div class="d-grid">
              @if(sociosComercialesForm.controls['indiqueSocios'].errors?.['required']) {
              <span class="mensaje-error">Este campo es obligatorio</span>
              }
            </div>
            }

            <div class="col-md-12 text-container mt-4">
                <label for="indiqueForma">
                    Indique de qué forma documental (convenios, acuerdos, cláusulas contractuales y/o adendas), asegura que sus socios comerciales cumplan con los requisitos en materia de seguridad<span class="danger">*</span>:
                </label>
                <textarea class="custom-textarea" rows="6" cols="100" id="indiqueForma" formControlName="indiqueForma" (change)="setValoresStore(sociosComercialesForm,'indiqueForma')"></textarea>
            </div>
            @if(sociosComercialesForm.controls['indiqueForma'].invalid &&
            sociosComercialesForm.controls['indiqueForma'].touched){
            <div class="d-grid">
              @if(sociosComercialesForm.controls['indiqueForma'].errors?.['required']) {
              <span class="mensaje-error">Este campo es obligatorio</span>
              }
            </div>
            }

            <div class="col-md-12 text-container mt-4">
                <label for="indiqueExisten">
                    {{textos.etiqueta3}}<span class="danger">*</span>:
                </label>
                <textarea class="custom-textarea" rows="6" cols="100" id="indiqueExisten" formControlName="indiqueExisten" (change)="setValoresStore(sociosComercialesForm,'indiqueExisten')"></textarea>
            </div>
            @if(sociosComercialesForm.controls['indiqueExisten'].invalid &&
            sociosComercialesForm.controls['indiqueExisten'].touched){
            <div class="d-grid">
              @if(sociosComercialesForm.controls['indiqueExisten'].errors?.['required']) {
              <span class="mensaje-error">Este campo es obligatorio</span>
              }
            </div>
            }

            <div class="col-md-12 text-container mt-4">
                <label for="indiqueCuenta">
                    Indique si cuenta con socios comerciales que se les exija pertenecer a un programa de seguridad de la cadena de suministros (por ejemplo: CTPAT o algún otro Programa de Operador Económico Autorizado de la OMA), así como la información y documentación que le son solicitadas<span class="danger">*</span>:
                </label>
                <textarea class="custom-textarea" rows="6" cols="100" id="indiqueCuenta" formControlName="indiqueCuenta" (change)="setValoresStore(sociosComercialesForm,'indiqueCuenta')"></textarea>
            </div>
            @if(sociosComercialesForm.controls['indiqueCuenta'].invalid &&
            sociosComercialesForm.controls['indiqueCuenta'].touched){
            <div class="d-grid">
              @if(sociosComercialesForm.controls['indiqueCuenta'].errors?.['required']) {
              <span class="mensaje-error">Este campo es obligatorio</span>
              }
            </div>
            }
        </div>

        <!-- 4.3-Revisiones-socio-comercial -->
        <div class="row mt-3">
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento3}}</h4>
                <p>
                    {{textos.paraca8}}
                </p>
                <p>{{textos.paraca9}}</p>
                <p>{{textos.paraca10}}
                </p>
            </div>

            <div class="col-md-12 text-container mt-4">
                <label for="procedimientoRealizar">
                    Describir el procedimiento para realizar evaluaciones para verificaciónde los requisitos materia (procesos e instalaciones) de sus socios comerciales<span class="danger">*</span>:
                </label>
                <textarea class="custom-textarea" rows="6" cols="100" id="procedimientoRealizar" formControlName="procedimientoRealizar" (change)="setValoresStore(sociosComercialesForm,'procedimientoRealizar')"></textarea>
            </div>
            @if(sociosComercialesForm.controls['procedimientoRealizar'].invalid &&
            sociosComercialesForm.controls['procedimientoRealizar'].touched){
            <div class="d-grid">
              @if(sociosComercialesForm.controls['procedimientoRealizar'].errors?.['required']) {
              <span class="mensaje-error">Este campo es obligatorio</span>
              }
            </div>
            }

            <div class="col-md-12 text-container mt-4">
                <label id="indiquePeriodicidad">
                    Indique la periodicidad con la que realiza las visitas al sociocomercial (estas deben de ser por lo menos una vez al año y derivadas de situaciones de riesgo)<span class="danger">*</span>:
                </label>
                <textarea class="custom-textarea" rows="6" cols="100" id="indiquePeriodicidad" formControlName="indiquePeriodicidad" (change)="setValoresStore(sociosComercialesForm,'indiquePeriodicidad')"></textarea>
            </div>
            @if(sociosComercialesForm.controls['indiquePeriodicidad'].invalid &&
            sociosComercialesForm.controls['indiquePeriodicidad'].touched){
            <div class="d-grid">
              @if(sociosComercialesForm.controls['indiquePeriodicidad'].errors?.['required']) {
              <span class="mensaje-error">Este campo es obligatorio</span>
              }
            </div>
            }

            <div class="col-md-12 text-container mt-4">
                <label for="describaComo">
                    Describa cómo se lleva a cabo el programa o calendario para la ejecución de las revisiones de seguridad<span class="danger">*</span>:
                </label>
                <textarea class="custom-textarea" rows="6" cols="100" id="describaComo" formControlName="describaComo" (change)="setValoresStore(sociosComercialesForm,'describaComo')"></textarea>
            </div>
            @if(sociosComercialesForm.controls['describaComo'].invalid &&
            sociosComercialesForm.controls['describaComo'].touched){
            <div class="d-grid">
              @if(sociosComercialesForm.controls['describaComo'].errors?.['required']) {
              <span class="mensaje-error">Este campo es obligatorio</span>
              }
            </div>
            }

            <div class="col-md-12 text-container mt-4">
                <label for="comoAseguran">
                    Cómo aseguran los formularios y la documentación relacionada con la importación y/o exportación para evitar el uso no autorizado<span class="danger">*</span>:
                </label>
                <textarea class="custom-textarea" rows="6" cols="100" id="comoAseguran" formControlName="comoAseguran" (change)="setValoresStore(sociosComercialesForm,'comoAseguran')"></textarea>
            </div>
            @if(sociosComercialesForm.controls['comoAseguran'].invalid &&
            sociosComercialesForm.controls['comoAseguran'].touched){
            <div class="d-grid">
              @if(sociosComercialesForm.controls['comoAseguran'].errors?.['required']) {
              <span class="mensaje-error">Este campo es obligatorio</span>
              }
            </div>
            }

            <div class="col-md-12 text-container mt-4">
                <label for="indiqueFormatos">
                    Indique el o los formatos de verificación tendrán que estar debidamente requisitados, colocando la fecha, nombre y cargo de quienes participan en la revisión, firmas, etcétera<span class="danger">*</span>:
                </label>
                <textarea class="custom-textarea" rows="6" cols="100" id="indiqueFormatos" formControlName="indiqueFormatos" (change)="setValoresStore(sociosComercialesForm,'indiqueFormatos')"></textarea>
            </div>
            @if(sociosComercialesForm.controls['indiqueFormatos'].invalid &&
            sociosComercialesForm.controls['indiqueFormatos'].touched){
            <div class="d-grid">
              @if(sociosComercialesForm.controls['indiqueFormatos'].errors?.['required']) {
              <span class="mensaje-error">Este campo es obligatorio</span>
              }
            </div>
            }

            <div class="col-md-12 text-container mt-4">
                <label for="senalarMedidas">
                    Señalar qué medidas de acción se toman en caso de que los socios comerciales no cumplan con los requisitos de seguridad establecidos<span class="danger">*</span>:
                </label>
                <textarea class="custom-textarea" rows="6" cols="100" id="senalarMedidas" formControlName="senalarMedidas" (change)="setValoresStore(sociosComercialesForm,'senalarMedidas')" ></textarea>
            </div>
            @if(sociosComercialesForm.controls['senalarMedidas'].invalid &&
            sociosComercialesForm.controls['senalarMedidas'].touched){
            <div class="d-grid">
              @if(sociosComercialesForm.controls['senalarMedidas'].errors?.['required']) {
              <span class="mensaje-error">Este campo es obligatorio</span>
              }
            </div>
            }

            <div class="col-md-12 text-container mt-4">
                <label for="casoSocios">
                    En caso de contar con socios comerciales con la certificación de C-TPAT u otro programa de certificación de seguridad en la cadena de suministros, indique la periodicidad con la que es revisado su estatus y las acciones que toma en caso de detectarse que este suspendido y/o cancelado<span class="danger">*</span>:
                </label>
                <app-input-radio [radioOptions]="opcionDeBotonDeRadio" [isRequired]="true" [layout]="'horizontal'"
                    class="gap" formControlName="casoSocios" (change)="setValoresStore(sociosComercialesForm,'casoSocios')"></app-input-radio>
            </div>
        </div>
    </form>
</div>