<div [formGroup]="datosDonatarioForm">
    <div class="row">
        <div class="col-md-4">
            <label class="form-label" for="rfcDonatario">R.F.C.*: 
            <span class="bi bi-question-circle-fill" title="Registro Federal de Contribuyentes"
                data-bs-toggle="tooltip"></span></label>
            <input type="text" class="form-control" id="rfcDonatario" name="rfc" maxlength="13"
                (blur)="buscarContribuyenteRfc(1, 'rfcDonatario')" formControlName="rfcDonatario"
                (change)="setValoresStore(datosDonatarioForm,'rfcDonatario', 'setRfcDonatario')">
        </div>
        <div class="col-md-8">
            <label class="form-label" for="nombreDonatario">Nombre: </label>
            <input type="text" class="form-control" id="nombreDonatario" name="nombre" formControlName="nombreDonatario"
                (change)="setValoresStore(datosDonatarioForm,'nombreDonatario', 'setNombreDonatario')">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label class="form-label" for="calleDonatario">Calle: </label>
            <input type="text" class="form-control" id="calleDonatario" name="calle" formControlName="calleDonatario"
                (change)="setValoresStore(datosDonatarioForm,'calleDonatario', 'setCalleDonatario')">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="numExteriorDonatario">Número exterior: </label>
            <input type="text" class="form-control" id="numExteriorDonatario" name="numeroExterior"
                formControlName="numExteriorDonatario"
                (change)="setValoresStore(datosDonatarioForm,'numExteriorDonatario', 'setNumExteriorDonatario')">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="numInteriorDonatario">Número interior: </label>
            <input type="text" class="form-control" id="numInteriorDonatario" name="numeroInterior"
                formControlName="numInteriorDonatario"
                (change)="setValoresStore(datosDonatarioForm,'numInteriorDonatario', 'setNumInteriorDonatario')">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <app-catalogo-select [catalogo]="pais" [label]="'País'" [isDisabled]="formularioDeshabilitado" name="pais"
                formControlName="cvePaisDonatario" (change)="paisSeleccion()"></app-catalogo-select>
        </div>
        <div class="col-md-4">
            <label class="form-label" for="codigoPostal">Código postal: </label>
            <input type="text" class="form-control" id="codigoPostalDonatario" name="codigoPostal"
                formControlName="codigoPostalDonatario"
                (change)="setValoresStore(datosDonatarioForm,'codigoPostalDonatario', 'setCodigoPostalDonatario')">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="informacionExtra" name="estado">Estado: </label>
            <input type="text" class="form-control" id="estadoDonatario" name="informacionExtra"
                formControlName="estadoDonatario"
                (change)="setValoresStore(datosDonatarioForm,'estadoDonatario', 'setEstadoDonatario')">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label class="form-label" for="colonia">Colonia: </label>
            <input type="text" class="form-control" id="coloniaDonatario" name="colonia"
                formControlName="coloniaDonatario"
                (change)="setValoresStore(datosDonatarioForm,'coloniaDonatario', 'setColoniaDonatario')">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="correoElectronico">Correo electrónico: </label>
            <input type="text" class="form-control" id="correoElectronicoDonatario" name="correoElectronico"
                formControlName="correoElectronicoDonatario"
                (change)="setValoresStore(datosDonatarioForm,'correoElectronicoDonatario', 'setCorreoElectronicoDonatario')">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="telefono">Teléfono: </label>
            <input type="text" class="form-control" id="telefonoDonatario" name="telefono"
                formControlName="telefonoDonatario"
                (change)="setValoresStore(datosDonatarioForm,'telefonoDonatario', 'setTelefonoDonatario')">
        </div>
    </div>
</div>