.height {
    height: 75px;
}
.modal-body {
    overflow-y: auto;
   overflow-x: hidden;
}
.btn-row{
    margin-bottom: 55px;
}
.text-end {
    margin-top: 150px;
}
.input-error {
  border: 1px solid #dc3545 !important; 
}
textarea{
    overflow: hidden;
}
.custom-backdrop{
    z-index: 1045 !important;
    background: rgba(0, 0, 0, 0.5) !important;
}
.alert.infoError {
  border: 2px solid #e53935 !important;
  background-color: #fbe9e7 !important;
  color: #b71c1c !important;
  font-size: 1rem;
  text-align: center;
}
