<div class="container mb-5">
    <ng-titulo titulo="Pago de derechos" />
    <form [formGroup]="pagoDerechos">
        <div class="form">
            <div class="row">
                <div class="col-md-4 mt-2">
                    <div class="form-group">
                        <label class="control-label" for="clave">Clave de referencia*:</label>
                        <input class="form-control" id="clave" placeholder="Clave de referencia" type="number"
                            formControlName="clave">
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="form-group">
                        <label class="control-label" for="dependencia">Cadena de la dependencia*:</label>
                        <input class="form-control" id="dependencia" placeholder="Cadena de la dependencia"
                            type="text" formControlName="dependencia">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <app-catalogo-select [isDisabled]="esFormularioSoloLectura" [catalogo]="materialesPeligrososService.listoBanco" formControlName="banco" [label]="'Banco'"
                            [required]="true" name="banco" (change)="clasificacionSeleccione()"></app-catalogo-select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="llavePago">Llave de pago*:</label>
                        <input class="form-control" id="llavePago" placeholder="Llave de pago" type="text"
                            formControlName="llavePago">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <input-fecha [datos]="fechaPagoInput" (valorCambiado)="onCambioDeTiempo($event)" [setFecha]="pagoDerechos.get('fecha')?.value"></input-fecha>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="importePago">Importe de pago*:</label>
                        <input class="form-control" id="importePago" placeholder="Importe de pago" type="number"
                            formControlName="importePago">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>