:host ::ng-deep .input-group-text {
    height: 35px !important;
    border: 1px solid #ccc;
}

@media (min-width: 320px) and (max-width: 370px) {
    .form-label {
        text-align: unset !important;

    }
}

.label-width {
    text-align: center;
}

.bg-white {
    background-color: white;
}