<div class="row mt-5">
    <div class="col-md-12">
    
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Estatus</th>
        
            <th>Documento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (item of documentosCargados; track item.tipoDocumento.id; let i = $index) {
          <tr>
            <td> {{i+1}} </td>
            <td>{{ item.tipoDocumento.descripcion}}</td>
            <td> <i class="bi bi-check-circle bi-c"></i></td>
            <td>{{ item.nombreArchivo}}</td>
            <td>
              <button type="button" class="btn btn-link" (click)="verPdf(url)">
                <i class="bi bi-eye bi-c"></i>
              </button>

              <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#modalConfirmacion"
                (click)="abrirModal(i)">
                <i class="bi bi-download bi-c"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
      
    </div>
  </div>