.gris-color {
  background-color: rgb(227, 226, 226);
}

.disabled-input-fecha {
  background-color: rgb(227, 226, 226) !important;
  pointer-events: none;
  opacity: 1;
}

::ng-deep .disabled-input-fecha {
  background-color: rgb(227, 226, 226) !important;
  pointer-events: none;
  opacity: 1;
}

.label-spacing {
  display: block;
}

.gris-color {
  background-color: rgb(227, 226, 226);
}

.manifiesto-descripcion {
    text-align: justify;
    margin: -25px 0px 0px 35px !important;
    font-size: medium;
}

.alert {
    text-align: left !important;
    margin-bottom: 0px !important;
}

.alert label {
    font-weight: normal;
}