<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ tituloMensaje || null }}</h1>
    </div>

    <div class="col-12">
        @if (esFormaValido) {
        <ng-alert [CONTENIDO]="formErrorAlert" [CUSTOMECLASS]="infoError"></ng-alert>
      }
      </div>

    <ng-container *ngIf="indice === 2"> </ng-container>
    <app-wizard #WizardComponent [listaPasos]="pasos"></app-wizard>
  </div>

  <div class="row">
    @switch (indice) { @case (1) {
    <app-paso-uno [confirmarSinPagoDeDerechos]="confirmarSinPagoDeDerechos" #PasoUnoComponent></app-paso-uno>
    } @case (2) {
    <app-paso-carga-documento 
    [idSolicitud]="solicitudState.idSolicitud"
    [idTipoTRamite]="idTipoTRamite"
    [cargaArchivosEvento]="cargarArchivosEvento"
    (reenviarEventoCarga)="manejaEventoCargaDocumentos($event)"
    (reenviarCargaRealizada)="cargaRealizada($event)"
    (cargaEnProgreso)="onCargaEnProgreso($event)"
    (enBlancoObligatoria)="onBlancoObligatoria($event)"
    ></app-paso-carga-documento>
    } @case (3) {
     <paso-firma [idSolicitud]="solicitudState.idSolicitud" [procedure]="260203" [procedureUrl]="'medicamentos-registro-sanitario/solicitud'"></paso-firma>

    } }

 <div class="row">
      <div class="col-md-12">
        @if (indice !== 2) {
      <btn-continuar [datos]="datosPasos" (continuarEvento)="getValorIndice($event)"></btn-continuar>
        } @else {
        <div class="mt-5 mb-3 d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-default"
            (click)="anterior()"
            *ngIf="seccionCargarDocumentos"
          >
            Anterior
          </button>

          
           @if(isSaltar) {
          <button
            type="button"
            class="btn btn-default ms-3"
            (click)="saltar()"
          >
            Saltar
          </button>
        }

          <button
            class="btn btn-primary ms-3"
            (click)="
              seccionCargarDocumentos ? onClickCargaArchivos() : siguiente()
            "
            [disabled]="(seccionCargarDocumentos && !activarBotonCargaArchivos) || (!seccionCargarDocumentos && cargaEnProgreso)"
          >
            {{ seccionCargarDocumentos ? 'Cargar archivos' : 'Continuar' }}
          </button>
        </div>
        }
      </div>
    </div>

  </div>
  @if(indice === 1) {
    <div class="mt-5">
      <div class="mt-5">
        <ng-alert [CONTENIDO]="TEXTOS" [CUSTOMECLASS]="infoAlert"></ng-alert>
      </div>
    </div>
    }
</div>

@if(mostrarAlerta){
  <section>
    <lib-notificaciones *ngIf="mostrarAlerta && !requiresPaymentData" [notificacionInput]="seleccionarFilaNotificacion" (confirmacionModal)="cerrarModal($event)">
    </lib-notificaciones>
  </section>
  }
