.modal-body {
    margin: 25px;
    padding: 0;
    label {
        font-size: 1.5rem;
        ::ng-deep .require {
            color: unset !important;
        }
    }
    ::ng-deep .form-label {
        font-size: 1.5rem!important;
    }
    ::ng-deep .mensaje-error{
        display: none!important;
    }
    ::ng-deep  .required {
        border: #cccccc 1px solid !important;
    }
}
