.modal-fullscreen .modal-body {
  overflow-y: auto;
  overflow-x: hidden;
}
.table-responsive {
  overflow-x: auto;
  max-width: 100%;
}
::ng-deep app-tabla-dinamica table th,
::ng-deep app-tabla-dinamica table td {
  white-space: nowrap;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}
