<div class="container pago-de-derechos-container">
  <ng-titulo titulo="Pago de derechos" />

  <!-- contenedor de formulario -->
  <form [formGroup]="pagoDerechos">
    <div class="row d-flex pago-de-derechos-form-container">
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-label" for="claveDeReferncia">Clave de referencia:</label>
          <input class="form-control" type="text" id="claveDeReferncia" formControlName="claveDeReferncia"
            (input)="actualizarClaveDeReferncia()" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="form-label" for="cadenaDeLaDependencia">Cadena de la dependencia:</label>
          <input class="form-control" type="text" id="cadenaDeLaDependencia" formControlName="cadenaDeLaDependencia"
            (input)="actualizarCadenaDeLaDependencia()" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <app-catalogo-select [catalogo]="dropdownData" [label]="'Banco'" [required]="true" name="dropdownData"
            id="banco" formControlName="banco" (change)="obtenerBanco()"
            [isDisabled]="esFormularioSoloLectura"></app-catalogo-select>
        </div>
      </div>
      
      <div class="col-md-4 mt-3">
        <div class="form-group">
          <label class="form-label" for="llaveDePago">Llave de pago:</label>
          <input class="form-control" type="text" id="llaveDePago" formControlName="llaveDePago"
            (input)="actualizarLlaveDePago()" />
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <input-fecha [datos]="fechaInicioInput" [setFecha]="fechaPagoDate" id="fechaDePago" (valorCambiado)="actualizarFechaDePago()"></input-fecha>
      </div>

      <div class="col-md-4 mt-3">
        <div class="form-group">
          <label class="form-label" for="importeDePago">Importe de pago:</label>
          <input class="form-control" type="text" id="importeDePago" formControlName="importeDePago"
            (input)="actualizarImporteDePago()" />
        </div>
      </div>
    </div>
  </form>

  <!-- boton borrar datos -->
  <div class="col-md-12 text-end mt-5">
    <button class="btn btn-danger" (click)="borrarDatosDelPago()" [disabled]="esFormularioSoloLectura">Borrar datos del pago</button>
  </div>
</div>