    <ng-titulo titulo="Solicitud" />
    <form [formGroup]="solicitudForm">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="folio">Folio:</label>
                    <input type="text" id="folio" formControlName="folio" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="fechaInicio">Fecha inicio de trámite:</label>
                    <input type="text" id="fechaInicio" formControlName="fechaInicio" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="estatusSolicitud">Estatus de solicitud:</label>
                    <input type="text" id="estatusSolicitud" formControlName="estatusSolicitud" class="form-control">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="folioResolucion">Folio resolución:</label>
                    <input type="text" id="folioResolucion" formControlName="folioResolucion" class="form-control">
                </div>
            </div>
        </div>
    </form>