/* You can add global styles to this file, and also import other style files */
$primary: #9F803C;

.titulo {
    font-weight: 400;
    font-size: 32px;
    font-family: Patria;
    margin-top: 3rem;
    margin-bottom: 3rem !important;
}

//color general de la vista
.page-funcionario {
    background-color: #f3f9fa !important;
}

//estilo de titulo por cada secciósn 
.titulo-tasks {
    font-family: Patria;
    font-size: 35px;
    font-weight: lighter !important;
}

.text-title {
    font-size: 16px;
}

.text-primary {
    color: $primary !important;
}

.bg-primary {
    background-color: #9F803C !important;
    height: 1px;
}

.font-weight-titulo {
    font-weight: lighter;
}

.btn-size-1 {
    width: 200px;
}

.color-back {
    background-color: #611232;
    color: #fff !important;
}

.col-format-th {
    font-size: 14px;
    color: 787b7a;
}

.col-format-td {
    font-size: 14px;
}