.wizard-item{
    display: none !important;
  }

  ::ng-deep btn-continuar button {
    visibility: hidden !important;
  }

  ::ng-deep btn-continuar button::after{
    content: "Guardar y firmar" !important;
    }