.wizard-item{
    display: none !important;
  }

  ::ng-deep btn-continuar button {
    visibility: hidden !important;
  }

  ::ng-deep btn-continuar button::after{
    content: "Guardar y firmar" !important;
    // font-size: 16px;
    // font-weight: 600;
    // color: #fff;
    // padding: 10px 20px;
    // border-radius: 5px;
    // background-color: #007bff;
    // border: none;
    // cursor: pointer;
  }