<div>
    <form [formGroup]="formCertificado">
        <div>
            <ng-titulo [titulo]="title" />
            @if(operador){
                <div class="row">
                    <div class="col-md-12">
                      <label for="Tipo_de_Certificado"
                        >&iquest; La operación se realizó con un tercer operador?</label
                      >
                    </div>
                    <div class="col">
                        <div class="form-check">
                          <lib-input-check [id]="'si'"
                          [label]="'SI'" [required]="false"
                          formControlName="si"
                          (change)="setValoresStore(
                            'formCertificado',
                        'si',
                        'setFormCertificadoGenric')"
                          [isDisabled]="esFormularioSoloLectura"></lib-input-check>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row" *ngIf="formCertificado.get('si')?.value  && mercanciasDisponibles">
            <div class="row my-4">
                <div class="col-md-4 form-group">
                    <label class="form-label" for="nombres">Nombre(s)*:</label>
                    <input type="text" id="nombres" class="form-control" formControlName="nombres"
                        (change)="setValoresStore('formCertificado','nombres','setFormCertificadoGenric')" />
                </div>
            
                <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="primerApellido">Primer apellido*:</label>
                    <input type="text" id="primerApellido" class="form-control" formControlName="primerApellido"
                        (change)="setValoresStore('formCertificado','primerApellido','setFormCertificadoGenric')" />
                </div>
                  @if(formCertificado.controls['primerApellido'].invalid && formCertificado.controls['primerApellido'].touched) {
      <div class="d-grid">
        @if(formCertificado.controls['primerApellido'].errors?.['required']) {
          <span class="mensaje-error">Este campo es obligatorio</span>
        }
        @if(formCertificado.controls['primerApellido'].errors?.['maxlength']) {
          <span class="mensaje-error">Por favor, no escribas más de 20 caracteres</span>
        }
      </div>
    }
                </div>
            
                <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="segundoApellido">Segundo apellido:</label>
                    <input type="text" id="segundoApellido" class="form-control" formControlName="segundoApellido"
                        (change)="setValoresStore('formCertificado','segundoApellido','setFormCertificadoGenric')" />
                </div>
                 @if(formCertificado.controls['segundoApellido'].invalid && formCertificado.controls['segundoApellido'].touched) {
      <div class="d-grid">
        @if(formCertificado.controls['segundoApellido'].errors?.['maxlength']) {
          <span class="mensaje-error">Por favor, no escribas más de 20 caracteres</span>
        }
      </div>
    }
                </div>
            
              <div class="col-md-4">
              <div class="form-group">
                    <label class="form-label" for="numeroDeRegistroFiscal">Número de registro fiscal*:</label>
                    <input type="text" id="numeroDeRegistroFiscal" class="form-control" formControlName="numeroDeRegistroFiscal"
                        (change)="setValoresStore('formCertificado','numeroDeRegistroFiscal','setFormCertificadoGenric')" />
                </div>
                 @if(formCertificado.controls['numeroDeRegistroFiscal'].invalid && formCertificado.controls['numeroDeRegistroFiscal'].touched) {
      <div class="d-grid">
        @if(formCertificado.controls['numeroDeRegistroFiscal'].errors?.['maxlength']) {
          <span class="mensaje-error">Por favor, no escribas más de 30 caracteres</span>
        }
      </div>
    }
                </div>
            
                <div class="col-md-8">
                <div class="form-group">
                    <label class="form-label" for="razonSocial">Razón social*:</label>
                    <input type="text" id="razonSocial" class="form-control" formControlName="razonSocial"
                        (change)="setValoresStore('formCertificado','razonSocial','setFormCertificadoGenric')" />
                </div>
                 @if(formCertificado.controls['razonSocial'].invalid && formCertificado.controls['razonSocial'].touched) {
      <div class="d-grid">
        @if(formCertificado.controls['razonSocial'].errors?.['required']) {
          <span class="mensaje-error">Este campo es obligatorio</span>
        }
        @if(formCertificado.controls['razonSocial'].errors?.['maxlength']) {
          <span class="mensaje-error">Por favor, no escribas más de 200 caracteres</span>
        }
      </div>
    }
                </div>
            </div>
            @if(domicilio){
            <div class="my-4" >
                <ng-titulo titulo="Domicilio del tercer operador" />
                <div class="row">
                    <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label" for="calle">Calle*:</label>
                        <input type="text" id="calle" class="form-control" formControlName="calle"
                            (change)="setValoresStore('formCertificado','calle','setFormCertificadoGenric')" />
                    </div>
                    @if(formCertificado.controls['calle'].invalid && formCertificado.controls['calle'].touched) {
    <div class="d-grid">
      @if(formCertificado.controls['calle'].errors?.['required']) {
        <span class="mensaje-error">Este campo es obligatorio</span>
      }
      @if(formCertificado.controls['calle'].errors?.['maxlength']) {
        <span class="mensaje-error">Por favor, no escribas más de 90 caracteres</span>
      }
    </div>
  }
                    </div>
                
                    <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label" for="numeroLetra">Número y/o letra*:</label>
                        <input type="text" id="numeroLetra" class="form-control" formControlName="numeroLetra"
                            (change)="setValoresStore('formCertificado','numeroLetra','setFormCertificadoGenric')" />
                    </div>
                    @if(formCertificado.controls['numeroLetra'].invalid && formCertificado.controls['numeroLetra'].touched) {
    <div class="d-grid">
      @if(formCertificado.controls['numeroLetra'].errors?.['required']) {
        <span class="mensaje-error">Este campo es obligatorio</span>
      }
      @if(formCertificado.controls['numeroLetra'].errors?.['maxlength']) {
        <span class="mensaje-error">Por favor, no escribas más de 30 caracteres</span>
      }
    </div>
  }
                    </div>
                </div>
            </div>
        }
        </div>

        <ng-titulo titulo="Tratado y país o bloque" />
        <div class="row mb-3">
            <div class="col-md-4">
                <app-catalogo-select [catalogo]="tratadoAcuerdo || []" [label]="'Tratado / Acuerdo'"
                    [required]="true" name="estado" formControlName="entidadFederativa"
                    (selectionChange)="tipoEstadoSeleccion($event)"
                    [isDisabled]="esFormularioSoloLectura"
                    (change)="setValoresStore(
                        'formCertificado',
                      'entidadFederativa',
                      'setFormCertificadoGenric')"
                      [isDisabled]="esFormularioSoloLectura"
                    ></app-catalogo-select>
            </div>

            <div class="col-md-4">
                <app-catalogo-select [catalogo]="paisBloqu || []" [label]="'País / Bloque'" [required]="true"
                    name="estado" formControlName="bloque"
                    (selectionChange)="tipoSeleccion($event)"
                    [isDisabled]="esFormularioSoloLectura"
                    (change)="setValoresStore(
                    'formCertificado',
                  'bloque',
                  'setFormCertificadoGenric')"
                   [isDisabled]="esFormularioSoloLectura" ></app-catalogo-select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                  <div class="form-group">
                <label for="fracciónArancelaria" class="form-label">Fracción arancelaria:</label>
                <input type="text" class="form-control" formControlName="fraccionArancelariaForm"
                (change)="setValoresStore(
                    'formCertificado',
                  'fraccionArancelariaForm',
                  'setFormCertificadoGenric')"
                    id="fracciónArancelaria">
            </div>
              @if(formCertificado.controls['fraccionArancelariaForm'].invalid && formCertificado.controls['fraccionArancelariaForm'].touched) {
    <div class="d-grid">
      @if(formCertificado.controls['fraccionArancelariaForm'].errors?.['required']) {
        <span class="mensaje-error">Este campo es obligatorio</span>
      }
      @if(formCertificado.controls['fraccionArancelariaForm'].errors?.['maxlength']) {
        <span class="mensaje-error">Por favor, no escribas más de 8 caracteres</span>
      }
    </div>
}
  
            </div>

            <div class="col-md-4">
                <div class="form-group">
                <label for="registroProducto" class="form-label"># Registro producto:</label>
                <input type="text" class="form-control" formControlName="registroProductoForm"   (change)="setValoresStore(
                    'formCertificado',
                  'registroProductoForm',
                  'setFormCertificadoGenric')" id="registroProducto">
            </div>
              @if(formCertificado.controls['registroProductoForm'].invalid && formCertificado.controls['registroProductoForm'].touched) {
    <div class="d-grid">
      @if(formCertificado.controls['registroProductoForm'].errors?.['required']) {
        <span class="mensaje-error">Este campo es obligatorio</span>
      }
      @if(formCertificado.controls['registroProductoForm'].errors?.['maxlength']) {
        <span class="mensaje-error">Por favor, no escribas más de 12 caracteres</span>
      }
    </div>
  }
            </div>
            <div class="col-md-4">
                <div class="form-group">
                <label for="nombreComercial" class="form-label">Nombre comercial:</label>
                <input type="text" class="form-control" formControlName="nombreComercialForm" (change)="setValoresStore(
                    'formCertificado',
                  'nombreComercialForm',
                  'setFormCertificadoGenric')" id="nombreComercial">
            </div>
             @if(formCertificado.controls['nombreComercialForm'].invalid && formCertificado.controls['nombreComercialForm'].touched) {
    <div class="d-grid">
      @if(formCertificado.controls['nombreComercialForm'].errors?.['required']) {
        <span class="mensaje-error">Este campo es obligatorio</span>
      }
      @if(formCertificado.controls['nombreComercialForm'].errors?.['maxlength']) {
        <span class="mensaje-error">Por favor, no escribas más de 200 caracteres</span>
      }
    </div>
  }
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12  text-center">
                <label for="fracciónArancelaria" class="form-label">Periodo</label>
            </div>
        </div>

        <div class="col-md-4 form-field">
            <input-fecha [datos]="fechaInicioInput" [setFecha]="formCertificado.get('fechaInicioInput')?.value" [isDisabled]="esFormularioSoloLectura"
            (valorCambiado)="cambioFechaInicio($event)" (change)="setValoresStore('formCertificado','fechaInicioInput','setFormCertificadoGenric')"></input-fecha>
        </div>
        <div class="col-md-4 form-field">
            <input-fecha [datos]="fechaFinalInput" [setFecha]="formCertificado.get('fechaFinalInput')?.value" (valorCambiado)="cambioFechaFinal($event)" [isDisabled]="esFormularioSoloLectura"
             (change)="setValoresStore('formCertificado','fechaFinalInput','setFormCertificadoGenric')"></input-fecha>
        </div>

        @if(mercanciasDisponibles){
            <div class="col-12 d-flex justify-content-end mt-3 mb-4">
                <button class="btn btn-primary"  (click)="buscarMercancia()" [disabled]="esFormularioSoloLectura">Buscar mercancías</button>
            </div>
        } @else {
            <div class="col-12 d-flex justify-content-end mt-3 mb-4">
                <button class="btn btn-primary" [disabled]="esFormularioSoloLectura" (click)="buscarMercancia()" >Mercancías Disponibles</button>
            </div>
        }

        @if (mercanciasDisponibles) {
            <div class="row">
                <div class="col-md-12 my-3">
                    <label for="mercancíasDisponibles" class="form-label">Mercancías disponibles</label>
                </div>
            </div>
          } @else {
            <div class="row">
                <div class="col-md-12">
                    <ng-titulo titulo="Mercancías disponibles" />

                </div>
            </div>
          }

           
        @if(mercanciasDisponiblesTabla){
            <div class="row">
                <app-tabla-dinamica [tipoSeleccionTabla]="seleccionTabla"  [configuracionTabla]="configuracionTablaMercanciaDisponible"
                [datos]="tableData || []" (filaClic)="abrirModificarModal($event)"  ></app-tabla-dinamica>
            </div>
        }
        @else{
        <app-tabla-dinamica [configuracionTabla]="configuracionTabla" [datos]="tableData || []"
            [tipoSeleccionTabla]="seleccionTabla" (filaClic)="abrirModificarModal($event)"></app-tabla-dinamica>
        }

            @if (cargoDeMercancias) {
                <div class="row">
                    <div class="col-md-12">
                        <ng-titulo titulo="Carga de mercancías por archivo" />
                    </div>
                </div>

                <div class="row d-flex justify-content-end">
                    <div class="col-12 container text-end">
                      <button class="btn btn-primary my-5" [disabled]="esFormularioSoloLectura">Carga por archivo</button>
                    </div>
                </div>

                <div class="my-5">
                    <ng-alert [CONTENIDO]="TEXTOS"></ng-alert>
                </div>
            }
            
            @if(tablaSeleccionEvent){

                @if (mercanciasDisponibles) {
                    <div class="row">
                        <div class="col-md-12 my-3">
                            <label for="mercancíasSeleccionadas" class="form-label">Mercancías seleccionadas</label>
                        </div>
                    </div>
                }

                @if (mercanciasDisponibles) {
                    <div class="row">
                        <app-tabla-dinamica [tipoSeleccionTabla]="tablaSeleccion"  [configuracionTabla]="cargaMercanciaConfiguracionTabla"
                        [datos]="guardarClicado || []" (filaSeleccionada)="obtenerSeleccionadoMercancia($event)"  ></app-tabla-dinamica>
                    </div>
                } @else {
                    <div class="row">
                        <app-tabla-dinamica [tipoSeleccionTabla]="tablaSeleccion"  [configuracionTabla]="configuracionTablaMercancia"
                        [datos]="guardarClicado || []"  ></app-tabla-dinamica>
                    </div>
                }
           
              <div class="row d-flex  mt-3 mb-4 justify-content-end">
                  <div class="col-12 container text-end mt-5">
                    <button class="btn btn-default me-2" (click)="eliminarSeleccionados()" [disabled]="esFormularioSoloLectura">Eliminar</button>
                    <button class="btn btn-primary"  (click)="abrirModal(tableData[0])" [disabled]="esFormularioSoloLectura">Modificar</button>
                  </div>
              </div>

            }

    </form>

</div>