<div>
    <form [formGroup]="formCertificado">
        <div>
            <ng-titulo titulo="Validación inicial del certificado de circulación de mercancías" />
            @if(operador){
                <div class="row">
                    <div class="col-md-12">
                      <label for="Tipo_de_Certificado"
                        >&iquest; La operación se realizó con un tercer operador?</label
                      >
                    </div>
                    <div class="col">
                        <div class="form-check">
                          <lib-input-check [id]="'si'"
                          [label]="'SI'" [required]="false"
                          formControlName="si"
                          (change)="setValoresStore(
                            'formCertificado',
                        'si',
                        'setFormCertificadoGenric')"
                          ></lib-input-check>
                        </div>
                    </div>
                </div>
            }
        </div>
        <ng-titulo titulo="Tratado y país o bloque" />
        <div class="row mb-3">
            <div class="col-md-6">
                <app-catalogo-select [catalogo]="tratadoAcuerdo || []" [label]="'Tratado / Acuerdo'"
                    [required]="true" name="estado" formControlName="entidadFederativa"
                    (selectionChange)="tipoEstadoSeleccion($event)"
                    (change)="setValoresStore(
                        'formCertificado',
                      'entidadFederativa',
                      'setFormCertificadoGenric')"
                    ></app-catalogo-select>
            </div>

            <div class="col-md-6">
                <app-catalogo-select [catalogo]="paisBloqu || []" [label]="'País / Bloque'" [required]="true"
                    name="estado" formControlName="bloque"
                    (selectionChange)="tipoSeleccion($event)"
                    (change)="setValoresStore(
                    'formCertificado',
                  'bloque',
                  'setFormCertificadoGenric')"
                    ></app-catalogo-select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="fracciónArancelaria" class="form-label">Fracción arancelaria:</label>
                <input type="text" class="form-control" formControlName="fraccionArancelariaForm"
                (change)="setValoresStore(
                    'formCertificado',
                  'fraccionArancelariaForm',
                  'setFormCertificadoGenric')"
                    id="fracciónArancelaria">
            </div>

            <div class="col-md-4">
                <label for="registroProducto" class="form-label"># Registro producto:</label>
                <input type="text" class="form-control" formControlName="registroProductoForm"   (change)="setValoresStore(
                    'formCertificado',
                  'registroProductoForm',
                  'setFormCertificadoGenric')" id="registroProducto">
            </div>
            <div class="col-md-4">
                <label for="nombreComercial" class="form-label">Nombre comercial:</label>
                <input type="text" class="form-control" formControlName="nombreComercialForm" (change)="setValoresStore(
                    'formCertificado',
                  'nombreComercialForm',
                  'setFormCertificadoGenric')" id="nombreComercial">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12  text-center">
                <label for="fracciónArancelaria" class="form-label">Periodo</label>
            </div>
        </div>

        <div class="col-md-4 form-field">
            <input-fecha [datos]="fechaInicioInput" [setFecha]="formCertificado.get('fechaInicioInput')?.value"
            (valorCambiado)="cambioFechaInicio($event)" (change)="setValoresStore('formCertificado','fechaInicioInput','setFormCertificadoGenric')"></input-fecha>
        </div>
        <div class="col-md-4 form-field">
            <input-fecha [datos]="fechaFinalInput" [setFecha]="formCertificado.get('fechaFinalInput')?.value" (valorCambiado)="cambioFechaFinal($event)"
             (change)="setValoresStore('formCertificado','fechaFinalInput','setFormCertificadoGenric')"></input-fecha>
        </div>

        <div class="row w-100">
            <div class="col-12 d-flex justify-content-end mt-3 mb-4">
                <button class="btn btn-primary" [disabled]="formCertificado.invalid" (click)="buscarMercancia()">Mercancías Disponibles</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ng-titulo titulo="Mercancías disponibles" />

            </div>
        </div>
        <app-tabla-dinamica [configuracionTabla]="configuracionTabla" [datos]="tableData || []"
            [tipoSeleccionTabla]="seleccionTabla" (filaClic)="abrirModificarModal($event)"></app-tabla-dinamica>

            
            @if(tablaSeleccionEvent){
            <div class="row">
                <app-tabla-dinamica [tipoSeleccionTabla]="tablaSeleccion"  [configuracionTabla]="configuracionTablaMercancia"
                [datos]="guardarClicado || []"  ></app-tabla-dinamica>
              </div>

              <div class="row d-flex  mt-3 mb-4 justify-content-end">
                  <div class="col-12 container text-end mt-5">
                    <button class="btn btn-default me-2">Eliminar</button>
                    <button class="btn btn-primary"  (click)="abrirModal(tableData[0])">Modificar</button>
                  </div>
              </div>

            }

    </form>

</div>