.scrollable-table-container {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ddd;
  display: block;
}

.alert-with-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.alert-with-checkbox input[type='checkbox'] {
  margin-right: 10px;
}

.table-active {
  background-color: #e9ecef;
  cursor: pointer;
}

.table-hover tr:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.btn {
  white-space: nowrap;
}
.table-container {
  max-height: 400px;
  overflow-x: auto;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

table td {
  word-wrap: break-word;
}
table {
  margin-bottom: 0;
  table-layout: fixed;
}

.transfer-list {
  height: 200px;
  border: 2px solid #dee2e6;
  border-radius: 0.25rem;
  overflow-y: scroll;
}

.transfer-list option {
  padding: 8px 12px;
  cursor: pointer;
}

.transfer-list option:hover {
  background-color: #f8f9fa;
}

.transfer-list option:checked {
  background-color: #e9ecef;
}

.btn {
  white-space: nowrap;
}

#bi-1-square {
  margin-left: 506px width= '25' height= '25';
}

.custome-file-label {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s ease, border-color 0.15s ease;
}
.custome-file-label:hover {
  background-color: #a5a8ab;
  border-color: #a5a8ab;
}

.font-weight{
font-weight: bold;
background-color: lightgrey;
}
.visually-hidden-file {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.custom-table {
  white-space: nowrap;
}

:host ::ng-deep .instance-special ng-table tbody td {
  display: table-cell !important;
  padding: 12px;
}

:host ::ng-deep .instance-special ng-table thead {
  display: none !important;
}

.hide-checkbox
  .table-responsive
  table
  thead
  tr
  th:first-child
  input[aria-label='Select All'] {
  display: none !important;
}
.grisColor{
  background-color: lightgrey;
}


 .disabled-input-fecha {
    background-color: rgb(227, 226, 226) !important;
    pointer-events: all;
    opacity: 1;
  }
  
  ::ng-deep .disabled-input-fecha{
    background-color: rgb(227, 226, 226) !important;
    pointer-events: all;
    opacity: 1;
  }

  .is-invalid {
  border-color: #dc3545 !important;
  }
