.datos-table {
  ng-table {
    th:not(:first-child),
    td:not(:first-child) {
      min-width: 190px;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.dropdown-field {
  height: 100px;
}

.aceptar-modal {

  .black-top-header {
    background-color: black; 
    height: 50px; 
    width: 100%; 
  }

  p {
    margin-top: 20px;
    font-size: 16px; 
    text-align: center; 
  }

  .d-flex {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
  }

  button {
    justify-content: center;
    min-width: 100px; 
    margin: 20% 40%;
  }
}

.popup {
    width: 90% !important; 
    height:80% !important;
    position: relative; 
    z-index: 1050; 
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }



