<!-- ...existing code... -->
<app-terceros-relacionados
  [fabricanteTablaDatos]="fabricanteTablaDatos"
  [destinatarioFinalTablaDatos]="destinatarioFinalTablaDatos"
  [proveedorTablaDatos]="proveedorTablaDatos"
  [facturadorTablaDatos]="facturadorTablaDatos"
  (proveedorSeleccionadoDatos)="onProveedorSeleccionado($event)"
  (facturadorSeleccionadoDatos)="onFacturadorSeleccionado($event)"
  [estaOculto]="botonDesactivarParaProrrogar"
  [idProcedimiento]="idProcedimiento"
  (agregarFabricante)="abrirModalAgregarFabricante()"
  [formularioDeshabilitado]="esFormularioSoloLectura || isFabricanteTablaDatosDisabled || isDestinatarioFinalTablaDatosDisabled || isProveedorTablaDatosDisabled || isFacturadorTablaDatosDisabled"
  (fabricanteEventoModificar)="abrirModalEditarFabricante(fabricanteSeleccionadoDatos[0])"
  (fabricanteEventoModificarModal)="abrirModalEditarFabricante($event[0])"
   (listaDeFilaSeleccionada)="onFabricanteSeleccionado($event)"
   (filaSeleccionada)="onFabricanteSeleccionado([$event])"
></app-terceros-relacionados>

<!-- Modal para Editar Fabricante -->
<div class="modal fade" id="modalEditarFabricante" tabindex="-1" aria-labelledby="modalEditarFabricanteLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" [ngClass]="{show: mostrarModalEditarFabricante}" [ngStyle]="{display: mostrarModalEditarFabricante ? 'block' : 'none'}">
  <div class="modal-dialog modal-xl" style="max-width: 98vw;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditarFabricanteLabel">Modificar Fabricante</h5>
      </div>
      <div class="modal-body" style="overflow-y: auto; max-height: 80vh;">
        <app-agregar-fabricante-contenedora
          [idProcedimiento]="idProcedimiento"
          [fabricanteTablaDatos]="fabricanteTablaDatos"
          [tramiteState]="tramiteState"
          [datoSeleccionado]="fabricanteSeleccionadoParaEditar"
          (updateFabricanteTablaDatos)="updateFabricanteTablaDatos($event)"
          (cancelar)="cerrarModalEditarFabricante()"
          (guardarYSalir)="cerrarModalEditarFabricante()"
        ></app-agregar-fabricante-contenedora>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalAgregarFabricante" tabindex="-1" aria-labelledby="modalAgregarFabricanteLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl" style="max-width: 98vw;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAgregarFabricanteLabel">Agregar Fabricante</h5>
      </div>
      <div class="modal-body" style="overflow-y: auto; max-height: 80vh;">
        <app-agregar-fabricante-contenedora
          [idProcedimiento]="idProcedimiento"
          [fabricanteTablaDatos]="fabricanteTablaDatos"
          [tramiteState]="tramiteState"
          [datoSeleccionado]="fabricanteSeleccionadoDatos"
          (updateFabricanteTablaDatos)="updateFabricanteTablaDatos($event)"
          (cancelar)="cerrarModalAgregarFabricante()"
          (guardarYSalir)="cerrarModalAgregarFabricante()"
        ></app-agregar-fabricante-contenedora>
      </div>
    </div>
  </div>
</div>