.table-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}


.btn-agregar {
    border: 1px solid #800020;
    color: #800020;
    background-color: transparent;
  }

  .btn-agregar:hover {
    background-color: #800020;
    color: #fff;
  }

  .btn-buscar {
    border: 1px solid #6c757d;
    color: #6c757d;
    background-color: transparent;
  }

  .btn-buscar:hover {
    background-color: #6c757d;
    color: #fff;
  }

  .set-width-modal .popup{
    width:95% !important;
  }