.contenedor-de-mesa {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: scroll;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

table td {
  word-wrap: break-word;
}
table {
  margin-bottom: 0;
  table-layout: fixed;
}

.pagination {
  display: table;
  margin: 0 auto;
}

.modal-content {
  width: fit-content;
  margin-top: 50%
}

.modal-div {
  background-color: black;
  height: 55px
}

.modal-footer{
  justify-content: center;
}

.show {
  background: #0000006b;
}