<app-federatarios-y-planta
  [federatariosConfig]="federatariosTablaConfiguracion"
  [federatariosDatos]="(federatariosTablaLista$ | async) || []"
  [plantasDisponiblesConfig]="plantasDisponiblesTablaConfiguracion"
  [plantasImmexConfig]="plantasImmexTablaConfiguracion"
  [plantasDisponiblesDatos]="(plantasDisponiblesTablaLista$ | async) || []"
  [plantasImmexDatos]="(plantasImmexTablaLista$ | async) || []"
  (datosFormaFedratario)="setFormaDatos($event)"
  (datosPlantaDisponibles)="setPlantasDisponiblesDatos($event)"
  (datosPlantasImmex)="setPlantasImmexDatos($event)"
  [estadoOptions]="estadosCatalogos"
  (obtenerCapacidadInstaladaTablaDatos)="obtenerCapacidadInstaladaTablaList($event)"
></app-federatarios-y-planta>