<div class="container">
    <div class="row">
        <br>
        <ul class="nav nav-tabs">
            <li [ngClass]="indiceOpinion === 1 ? 'active' : ''">
                <a data-toggle="tab" (click)="seleccionaTab(1)" (keydown.enter)="seleccionaTab(1)" 
                    (keydown.space)="seleccionaTab(1)" role="button" tabindex="0">Capturar solicitud de opinión</a>
            </li>
            <li [ngClass]="indiceOpinion === 2 ? 'active' : ''">
                <a data-toggle="tab" (click)="seleccionaTab(2)" (keydown.enter)="seleccionaTab(2)" 
                    (keydown.space)="seleccionaTab(2)" role="button" tabindex="0">Registrar opinión</a>
            </li>
        </ul>
        <ng-container>
            @switch (indiceOpinion) {
            @case (1) {
            <app-capturar-solictud-opinion></app-capturar-solictud-opinion>
            }
            @case (2) {
            <app-registrar-opinion></app-registrar-opinion> 
            }
            }
        </ng-container>
    </div>
</div>