<div class="page">
    <div class="container">
        <div class="container">
            <form [formGroup]="mercanciaForm" novalidate>
                <div class="row mt-5">
                <ng-titulo titulo="Datos de las mercancías destruidas" />
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                              <label for="consecutivo">Consecutivo</label>
                              <span class="require">*</span>
                              <label for="puntos"></label>
                              <input
                                type="text"
                                formControlName="consecutivo"
                                id="consecutivo"
                                maxlength="3"
                                class="form-control"
                                [required]="true"
                              />
                            </div>
                            <div class="col-md-10">
                              <label for="descripcion">Descripción</label>
                              <span class="require">*</span>
                              <label for="puntos"></label>
                              <input
                                type="text"
                                formControlName="descripcion"
                                id="descripcion"
                                maxlength="250"
                                class="form-control"
                                [required]="true"
                              />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <label for="cantidad">Cantidad</label>
                              <span class="require">*</span>
                              <label for="puntos"></label>
                              <input
                                type="text"
                                formControlName="cantidad"
                                id="cantidad"
                                maxlength="16"
                                class="form-control"
                                [required]="true"
                              />
                            </div>
                            <div class="col-md-4">
                                <div class="form-group text-left">
                                    <app-catalogo-select [label]="'Unidad de medida'" [catalogo]="unidadMedida"
                                    formControlName="unidadMedida" [required]="true" name="unidadMedida"></app-catalogo-select>
                                  </div>
                            </div>
                            <div class="col-md-4">
                              <label for="peso">Peso (Kg)</label>
                              <span class="require">*</span>
                              <label for="puntos"></label>
                              <input
                                type="text"
                                formControlName="peso"
                                id="peso"
                                maxlength="16"
                                class="form-control"
                                [required]="true"
                              />
                            </div>
                          </div>
                          <br />
                          <div class="row">
                            <div class="col-md-12">
                              <div class="pull-right">
                                <button
                                  type="submit"
                                  class="btn btn-primary"
                                  (click)="seleccionaTab(2)"
                                  [disabled]="mercanciaForm.invalid"
                                >
                                  Agregar
                                </button>
                                <button
                                  type="button"
                                  class="btn btn-danger"
                                (click)="cancelarMercancia()"
                                (click)="seleccionaTab(2)"
                                >
                                  Cancelar
                                </button>
                              </div>
                            </div>
                          </div>                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
