<div class="navbar navbar-expand-sm navbar-gob">
  <div class="container">
    <a class="navbar-brand" href="https://www.gob.mx/">
      <img class="img-logo" src="../../../../assets/img/LOGOS_gobmx/logo_blanco.svg" alt="Bootstrap">
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Trámites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gobierno</a>
      </li>
      <li class="nav-item align-icon">
        <i class="bi bi-search"></i>
      </li>
    </ul>
  </div>
</div>
