@import "../../../../assets/styles/_variables.scss";

.navbar {
  padding: 0 15rem;
}

.navbar-dark {
  background-color: $color-primario;
  height: 60px;
  color: $c-white;
}

.navbar-end {
  display: flex !important;
  justify-content: end;
  align-content: center;
}

li a {
  text-decoration: none;

  &:hover,
  &focus {
    color: #d4c19c;
  }
}

.img-logo {
  width: 128px;
  height: 48px;
}

.align-icon {
  display: grid;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}
