:host {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #404041;
  }
  
.container {
  margin: 0 auto;
  padding: 2rem;
}

.title {
  color: #2c3e50;
  margin-bottom: 2rem;
  text-align: center;
}

.form-section {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 2rem;
  margin-bottom: 2rem;

  h3 {
    color: #2c3e50;
    margin-bottom: 1.5rem;
    //font-size: 1.25rem;
  }
}

.form-group {
  margin-bottom: 1.5rem;

  label {
    margin-bottom: 0.5rem;
    color: #495057;
    //font-weight: 500;
  }

  .form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 4px;

    &:focus {
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }

    &::placeholder {
      color: #6c757d;
    }
  }
}

.radio-group {
  display: flex;
  gap: 1.5rem;

  .radio-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    input[type="radio"] {
      margin: 0;
    }
  }
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #dee2e6;

  .campos-obligatorios {
    color: #6c757d;
    margin: 0;
  }

  .form-actions {
    display: flex;
    gap: 1rem;
  }
}

// .btn-outline-primary {
//     border: 1px solid #ccc;
//     border-radius: 20px;
//     padding: 10px 20px;
//     background-color: #f8f9fa;
//     color: #6c757d;
//     font-size: 16px;
//   }
  
//   .btn-outline-primary:hover, .btn-outline-primary:hover:disabled {
//     background-color: #e2e6ea;
//   }

  .radio-button {
    border-radius: 4px;
    }
    
    .seleccion-radio{
        background-color: #9F803C;
        border-color: #9F803C;
    }

// button {
//   border: none;
//   cursor: pointer;
//   transition: all 0.3s ease;

//   &.btn-salir {
//     background-color: #6c757d;
//     color: white;

//     &:hover {
//       background-color: #5a6268;
//     }
//   }

//   &.btn-recuperar {
//     color: white;

//     &:hover:not(:disabled) {
//       cursor: auto;
//     }

//     &:disabled {
//       cursor: not-allowed;
//     }
//   }
// }

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

//   .form-section {
//     padding: 1rem;
//   }

  .radio-group {
    flex-direction: column;
    gap: 0.5rem;
  }

  .form-footer {
    flex-direction: column-reverse;
    gap: 1rem;
    text-align: center;

    .form-actions {
      width: 100%;
      justify-content: center;
    }
  }
}