<div class="container">
  <div class="row">
    <div class="col-md-4">
      <table class="table table-bordered table-responsive">
        <tbody>
          <tr>
            <th>
              Ignacio Eduardo Leos Quiñones
              <a href="#">Cerrar la sesión</a>
            </th>
          </tr>
          <tr>
            <th>
              <i class="bi bi-person-fill"></i>
              LEQI8101314S7
            </th>
          </tr>
          <tr>
            <th>
              <i class="bi bi-info-circle"></i>Persona Física
              <i class="bi bi-credit-card-fill"></i>FIEL
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
