<div class="page page-color">
    <div class="container">
        <div class="row">
            <form [formGroup]="formConsulta">
                <div class="col-12">
                    <h2 class="fw-bold my-5 titulo-tasks">Confirma datos de persona para oir y recibir notificaciones
                    </h2>
                </div>
                <div class="bg-primary"></div>
                <div class="row ">
                    <div class="col-md-4">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" id="nombre" formControlName="nombre"
                            class="form-control font-weight-titulo text-title" />
                    </div>
                    <div class="col-md-4">
                        <label for="apellidoPaterno" class="form-label text-title">Apellido paterno</label>
                        <input type="text" id="apellidoPaterno" formControlName="apellidoPaterno"
                            class="form-control font-weight-titulo" />
                    </div>
                    <div class="col-md-4">
                        <label for="apellidoMaterno" class="form-label">Apellido materno</label>
                        <input type="text" id="apellidoMaterno" formControlName="apellidoMaterno"
                            class="form-control font-weight-titulo text-title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="rfc" class="form-label">Registro Federal del Contribuyentes</label>
                        <input type="text" id="rfc" formControlName="rfc"
                            class="form-control font-weight-titulo text-title" />
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-lg-end h1">
                        <button class="btn btn-primary ms-2" type="button" (click)="confirmarDatos()">Confirma
                            datos</button>
                        <button type="button" class="btn btn-default ms-2" (click)="cancelarDatos()">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>