.gris-color {
    background-color: rgb(227, 226, 226);
  }

  .disabled-input-fecha {
    background-color: rgb(227, 226, 226) !important;
    pointer-events: none;
    opacity: 1;
  }
  
  ::ng-deep .disabled-input-fecha{
    background-color: rgb(227, 226, 226) !important;
    pointer-events: none;
    opacity: 1;
  }

.label-spacing{
  display: block; 
  margin-bottom: 2em;
}

.textarea-container {
  resize: vertical; 
  overflow: hidden;
  height: auto;
}

/* Estilo para input-fecha cuando es inválido */
::ng-deep input-fecha.is-invalid,
::ng-deep .input-fecha-wrapper.is-invalid input-fecha .require {
  border-color: #dc3545;
}

/* Estilos adicionales para los campos de fecha */
.input-fecha-wrapper.is-invalid {
    position: relative;
}

.input-fecha-wrapper.is-invalid::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //border: 1px solid #dc3545;
    border-radius: 0.25rem;
    pointer-events: none; 
    z-index: 1;
}
