<div style="margin-top: 40px;">
  <ng-titulo titulo="Manifiesto de aceptación"></ng-titulo>
  <div class="row">
    <div class="alert alert-info">
      <label style="font-weight: normal">
        <input type="checkbox" id="manifesto" />

        "Acepto expresamente que todas las notificaciones relacionadas con la presente solicitud y/o el permiso que, en
        su caso, deriven de la misma, se realizarán a través del correo electrónico registrado en la Ventanilla Digital
        Mexicana de Comercio Exterior (VUCEM) en relación con esta solicitud, y/o por medio de las cuentas de correo
        electrónico que señale como medios de comunicación oficial con la SENER en relación con este trámite; en el
        entendido de que dichas notificaciones, con independencia de lo establecido en cualquier otra regla, siempre
        surtirán sus efectos al día siguiente de que hayan sido cargadas en VUCEM y notificadas a través de los correos
        electrónicos antes señalados.
        <span style="display:block;"> Por lo e manifiesto, bajo protesta de decir verdad, que acepto que prevalezcan
          para esta solicitud y lo
          relacionado con la misma, las reglas de notificación descritas en el párrafo que antecede, y me comprometo a
          revisar continuamente los avisos que emita la VUCEM, así como las notificaciones recibidas en los correos
          electrónicos señalados como medios de comunicación oficial con la SENER, a fin de proceder con oportunidad
          conforme a derecho corresponda".:</span>


      </label>
    </div>
  </div>
</div>