<div class="container">
 <div class="tipo">
  <ng-alert [CONTENIDO]="TEXTO"></ng-alert>
  </div>
  <form [formGroup]="avisoForm">
    <div class="row">
      <div class="col-md-8">
        <!-- Campo para mostrar el folio del programa -->
        <div class="form-group">
          <label for="numeroDeOficio">Número de oficio*:</label>
          <input type="text" id="numeroDeOficio" formControlName="numeroDeOficio" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="fechaFinVigencia">Fecha fin de vigencia*:</label>
          <input type="date" id="fechaFinVigencia" formControlName="fechaFinVigencia" class="form-control" />
          <span>
          <i class="bi-calendar-fill calendar pull-right" aria-hidden="true"></i>
        </span>
        </div>
      </div>
    </div>
    <div class="tipo">
    <div class="row">
      <div class="col-md-12">
        <lib-input-check [id]="'avisoDeMod'"
          [label]="'Aviso de cambio de modificación de apoderado aduanal, agente aduanal o agente aduanal y transportistas.'"
          [required]="false" formControlName="avisoDeMod" (change)="onCambiarAviso('avisoDeMod',$event)" [isDisabled]="soloLectura">
      </lib-input-check>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <lib-input-check [id]="'avisoDeFusion'"
          [label]="'Aviso de fusión o escisión de dos o más empresas que cuenten con la autorización en el registro del despacho de mercancías de las empresas, resulta una nueva sociedad, configurándose una o más empresas con autorización.'"
          [required]="false" formControlName="avisoDeFusion" (change)="onCambiarAviso('avisoDeFusion',$event)" [isDisabled]="soloLectura">
        </lib-input-check>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <lib-input-check [id]="'avisoDeCal'"
          [label]="'Aviso de cálculo a que se refiere el artículo 99-A la ley, correspondiente a ejercicio inmediato anterior.'"
          [required]="false" formControlName="avisoDeCal" (change)="onCambiarAviso('avisoDeCal',$event)" [isDisabled]="soloLectura"></lib-input-check>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <lib-input-check [id]="'avisoDenom'" [label]="'Aviso por cambio de denominación o razón social.'"
          [required]="false" formControlName="avisoDenom" (change)="onCambiarAviso('avisoDenom',$event)" [isDisabled]="soloLectura"></lib-input-check>
      </div>
    </div>
  </div>
  </form>
</div>