<div class="conatiner p-3">
    <div class="row mt-2">
        <div class="col-md-12 text-container">
            <p>{{textos.paraca1}}</p>
            <p>{{textos.paraca2}}</p>
            <h4 class="para-title">{{textos.encabezamiento1}}</h4>
            <p>{{textos.paraca3}}</p>
            <p>{{textos.paraca4}}</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 text-container">
            <p>{{textos.paraca5}}</p>
        </div>
        <div class="col-md-12 text-container">
        <div class="mt-2 alert-text">
          <ul>
            <li>Los procedimientos para la contratación del personal y contratistas podrán incluir:</li>
            <div class="centered-list-wrapper">
              <ol type="a">
                <li>Investigaciones exhaustivas de los antecedentes laborales y personales de los nuevos empleados.</li>
                <li>Cláusulas de confidencialidad y responsabilidad en los contratos de los empleados.</li>
                <li>Requerimientos específicos para puestos críticos.</li>
                <li>En su caso, la actualización periódica del estudio socioeconómico y físico/médico de los empleados que trabajen en áreas críticas y/o sensibles.</li>
                <li>Proceso de contratación y requisitos que solicitan para los empleados temporales y contratistas.</li>
              </ol>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 text-container">
            <p>{{textos.paraca6}}</p>
        </div>
    </div>
    <form [formGroup]="forma">
        <div class="row mt-2">
            <formas-dinamicas 
                [forma]="antecedentesLaboralesFormGroup" 
                [formularioDatos]="antecedentesLaboralesDatos"
                [estado]="solicitudeState"
                [soloLectura]="consultaState.readonly"
                (emitirCambioDeValor)="emitirCambioDeValor($event)"
                >
            </formas-dinamicas>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento2}}</h4>
                <p>{{textos.paraca8}}</p>
            </div>
        </div>
        <div class="row mt-2">
            <formas-dinamicas 
                [forma]="procedimientoFormGroup" 
                [formularioDatos]="procedimientoDatos"
                [estado]="solicitudeState"
                [soloLectura]="consultaState.readonly"
                (emitirCambioDeValor)="emitirCambioDeValor($event)"
                >
            </formas-dinamicas>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 text-container">
                <h4 class="para-title">{{textos.encabezamiento3}}</h4>
                <p>{{textos.paraca9}}</p>
                <p>{{textos.paraca10}}</p>
                <p>{{textos.paraca11}}</p>
                <p>{{textos.paraca12}}</p>
                <div class="mt-2 alert-text">
                    <ul>
                        <div class="centered-list-wrapper">
                            <ol type="a">
                                <li>Nombre completo.</li>
                                <li>Fotografía actualizada mínimo cada 5 años.</li>
                                <li>Datos personales (edad, nombre, fecha de nacimiento, número telefónico, domicilio, CURP, número de seguridad social, tipo sanguíneo, alergías, etcétera).</li>
                                <li>Filiación.</li>
                                <li>Antecedentes laborales.</li>
                                <li>Enfermedades.</li>
                                <li>Exámenes médicos.</li>
                                <li>Capacitación.</li>
                                <li>Exámenes Psicométricos.</li>
                                <li>Exámenes Toxicológicos.</li>
                                <li>Resultados de evaluaciones periódicas.</li>
                                <li>Observaciones.</li>
                            </ol>
                        </div>
                    </ul>
                </div>
            </div>
            <formas-dinamicas 
                [forma]="administracionFormGroup" 
                [formularioDatos]="administracionDatos"
                [estado]="solicitudeState"
                [soloLectura]="consultaState.readonly"
                (emitirCambioDeValor)="emitirCambioDeValor($event)"
                >
            </formas-dinamicas>
        </div>
    </form>
</div>
