<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ tituloMensaje || null }}</h1>
    </div>
    <ng-container *ngIf="indice === 2"> </ng-container>
    <app-wizard [listaPasos]="pasos"></app-wizard>
  </div>

  <div class="row">
    @switch (indice) { @case (1) {
    <app-paso-uno></app-paso-uno>
    } @case (2) {
    <app-paso-dos></app-paso-dos>
    } @case (3) {
    <app-paso-tres></app-paso-tres>

    } }

    <btn-continuar
      [datos]="datosPasos"
      (continuarEvento)="getValorIndice($event)"
    ></btn-continuar>
  </div>
     @if(indice === 1) {
    <div class="mt-5">
      <div class="mt-5">
        <ng-alert [CONTENIDO]="TEXTOS" [CUSTOMECLASS]="infoAlert"></ng-alert>
      </div>
    </div>
    }
</div>
