<div class="container mb-5">
    <div class="form">
        <ng-titulo titulo="Agregar residuo o materia prima a importar" />
        <div class="row mb-3">
            <div class="col-md-8">
                <label required="true">Orígen de generación de residuos:</label>
                <app-input-radio [radioOptions]="radioOptions" [isRequired]="true"
                    [layout]="'horizontal'"></app-input-radio>
            </div>
        </div>
        <ng-titulo titulo="Materias primas relacionadas" />
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="Numero" class="form-label">Número de bitácora*:</label>
                    <input type="text" class="form-control" id="Numero">
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <button type="button" class="btn btn-primary align-self-end">Buscar</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <app-catalogo-select [catalogo]='nombre' [label]="'Nombre de la materia prima'"
                    [required]="true"></app-catalogo-select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="Candidad" class="form-label">Candidad</label>
                    <input type="text" class="form-control" id="Candidad">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="CandidadLetra" class="form-label">Candidad (letra)</label>
                    <input type="text" class="form-control" id="CandidadLetra">
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="UnidadDeMedida" class="form-label">Unidad de medida</label>
                    <input type="text" class="form-control" id="UnidadDeMedida">
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="FraccionArancelaria" class="form-label">Fracción arancelaria</label>
                    <input type="text" class="form-control" id="FraccionArancelaria">
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 d-flex justify-content-end align-items-end">
                <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal">
                    Agregar
                </button>
            </div>
        </div>
        <div class="row mt-5">
            <h6>Materias primas relacionadas*:</h6>
            <div class="row mb-3">
                <div class="col-md-12">
                    <ng-table [commonTableHeader]="establecimientoHeaderData"
                        [commonTableBody]="establecimientoBodyData"></ng-table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination d-flex justify-content-center">
                            <li class="page-item"><a class="page-link">1</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 d-flex justify-content-end align-items-end">
                <button class="btn btn-danger" type="button">Borrar</button>
            </div>
        </div>
    </div>