<div class="container">
  <form [formGroup]="form">
    <div>
      <ng-titulo titulo="Partidas de la mercancía"></ng-titulo>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="cantidadMercancia">Cantidad*:</label>
            <input
              class="form-control"
              type="text"
              id="cantidadMercancia"
              formControlName="cantidadMercancia"
              appUppercase
              aria-labelledby="cantidadMercancia"
              (change)="setValoresStore(form, 'cantidadMercancia', 'setCantidadMercancia')"
            />
            <div *ngIf="esInvalido('cantidadMercancia')" class="text-danger">
              <small *ngIf="form.controls['cantidadMercancia'].hasError('required')"
                >Cantidad es obligatoria.</small
              >
              <small *ngIf="form.controls['cantidadMercancia'].hasError('pattern')"
                >Solo se permiten números.</small
              >
              <small *ngIf="form.controls['cantidadMercancia'].hasError('maxlength')"
                >Máximo 18 caracteres.</small
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="valorPartidaUSDMercancia"
              >Valor partida USD*:</label
            >
            <input
              class="form-control"
              type="number"
              id="valorPartidaUSDMercancia"
              formControlName="valorPartidaUSDMercancia"
              aria-labelledby="valorPartidaUSDMercancia"
              (change)="
                setValoresStore(form, 'valorPartidaUSDMercancia', 'setValorPartidaUSDMercancia')
              "
            />
            <div *ngIf="esInvalido('valorPartidaUSDMercancia')" class="text-danger">
              <small
                *ngIf="form.controls['valorPartidaUSDMercancia'].hasError('required')"
                >Este campo es obligatorio.</small
              >
              <small
                *ngIf="form.controls['valorPartidaUSDMercancia'].hasError('pattern')"
                >Ingrese un número válido.</small
              >
              <small *ngIf="form.controls['valorPartidaUSDMercancia'].hasError('min')"
                >El valor debe ser mayor o igual a 0.</small
              >
              <small
                *ngIf="form.controls['valorPartidaUSDMercancia'].hasError('maxlength')"
                >Máximo 20 caracteres permitidos.</small
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="form-label" for="descripcionMercancia">Descripción*:</label>
            <textarea
              class="form-control height"
              rows="3"
              id="descripcionMercancia"
              formControlName="descripcionMercancia"
              aria-labelledby="descripcionMercancia"
              (change)="setValoresStore(form, 'descripcionMercancia', 'setDescripcionMercancia')"
            ></textarea>
            <div *ngIf="esInvalido('descripcionMercancia')" class="text-danger">
              <small *ngIf="form.controls['descripcionMercancia'].hasError('required')"
                >Descripción es obligatoria.</small
              >
              <small *ngIf="form.controls['descripcionMercancia'].hasError('maxlength')"
                >Máximo 255 caracteres.</small
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 text-end">
          <div class="btn-group">
            <button
              class="btn btn-primary me-2"
              type="button"
              (click)="navegarACargarArchivo()"
            >
              Cargar archivo
            </button>
            <button
              class="btn btn-danger"
              type="button"
              (click)="validarYEnviarFormulario()"
            >
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div>
      <h6>Partidas</h6>
      <div *ngIf="mostrarTabla">
        <app-tabla-dinamica
          [configuracionTabla]="tableHeaderData"
          [datos]="tableBodyData"
          [tipoSeleccionTabla]="CHECKBOX"
          (listaDeFilaSeleccionada)="handleListaDeFilaSeleccionada($event)"
        >
        </app-tabla-dinamica>
      </div>

      <form [formGroup]="formularioParaConteoTotal">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="cantidadTotal"
                >Cantidad total:</label
              >
              <input
                class="form-control"
                type="number"
                id="cantidadTotal"
                formControlName="cantidadTotal"
                aria-labelledby="cantidadTotal"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="valorTotalUSD"
                >Valor Total USD:</label
              >
              <input
                class="form-control"
                type="number"
                id="valorTotalUSD"
                formControlName="valorTotalUSD"
                aria-labelledby="valorTotalUSD"
              />
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <hr />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6"></div>
          <div class="col-md-6 col-sm-6 text-end">
            <div class="btn-group">
              <button class="btn btn-primary me-2" type="button">
                Elimina Partida
              </button>
              <button
                class="btn btn-danger"
                type="button"
                (click)="navegarParaModificarPartida()"
              >
              Modificar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
