<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ tituloMensaje || null }}</h1>
    </div>
    <ng-container *ngIf="indice === 2">
      <ng-alert [CONTENIDO]="mensajeDeTextoDeExito"></ng-alert>
    </ng-container>
    <app-wizard [listaPasos]="pasos"></app-wizard>
  </div>

  <div class="row">
    @switch (indice) { @case (1) {
    <app-paso-uno></app-paso-uno>
    } @case (2) {
    <app-paso-carga-documento 
    [idSolicitud]="solicitudState.idSolicitud"
    [idTipoTRamite]="'80101'"
    [cargaArchivosEvento]="cargarArchivosEvento"
    (reenviarEventoCarga)="manejaEventoCargaDocumentos($event)"
    (reenviarCargaRealizada)="cargaRealizada($event)"
    (cargaEnProgreso)="onCargaEnProgreso($event)"
    ></app-paso-carga-documento>
    } @case (3) {
    <paso-firma [idSolicitud]="this.solicitudState.idSolicitud" [procedure]="80202" [procedureUrl]="'immex-ampliacion-sensibles/solicitud'"></paso-firma>

    } }

    <btn-continuar
      [datos]="datosPasos"
      (continuarEvento)="obtenerDatosDelStore($event)"
    ></btn-continuar>
  </div>
</div>
