.font-wt-500 {
    font-weight: 500;
}

.radio-label-wrap{
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
    gap: 8px;
    max-width: 100%;
}

.etiqueta-de-radio {
  margin-left: 15px;
}


.radio-row {
  display: flex;
  justify-content: flex-start;
}

.radio-label-margin-left {
  margin-left: 15px;
}
