<div class="container">
    <ng-titulo titulo="Representación federal" />
    <form [formGroup]="formulario">
        <div class="row mb-3">
            <div class="col-md-4">
                <app-catalogo-select [catalogo]="entidad" 
                    [label]="'Entidad federativa'" 
                    [required]="true"
                    name="entidad" 
                    formControlName="entidad"
                    [isDisabled]="esFormularioSoloLectura"
                    (change)="setValoresStore(formulario, 'entidad', 'setEntidad')" 
                    >
                </app-catalogo-select>
            </div>
            <div class="col-md-4">
                <app-catalogo-select [catalogo]="representacion" 
                    [label]="'Representación federal'" 
                    [required]="true"
                    name="representacion" 
                    formControlName="representacion"
                    [isDisabled]="esFormularioSoloLectura"
                    (change)="setValoresStore(formulario, 'representacion', 'setRepresentacion')"
                    >
                </app-catalogo-select>
            </div>
        </div>
    </form>

    <ng-titulo titulo="Protesto de Decir Verdad" />
    <div class="form-check bg-light p-3 border rounded">
        <ng-alert [CONTENIDO]="TEXTOS.ADJUNTAR" [CUSTOMECLASS]="infoAlert"></ng-alert>
    </div>
</div>