.group-checkbox {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-self: end;
  }
  
  .btn-group {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  
  
  .p-bold {
    text-align: justify;
    font-weight: bold;
  }
  
  .container #valueTA, #valueTAObs, #domicilio{
    height: 0% !important;
  }
  
  ::ng-deep .form-label{
    text-align: left !important;
  }
  
  ::ng-deep .clasifi-regimen-catalogo .form-label{
    margin-bottom: 30px;
  }
  
  .rf-input {
    margin-top: 7px;
  }
  