<div class="container">
    <form [formGroup]="FormSolicitud" (ngSubmit)="validarFormulario()">
        <ng-container formGroupName="adaceForm">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="adace" class="form-label">ADACE:</label>
                    <input class="form-control" [ngClass]="isValid(adaceForm, 'adace') ? 'required' : ''" type="text"
                        formControlName="adace" name="adace" id="adace" />
                </div>
            </div>
        </ng-container>

        <ng-titulo titulo="Datos del extranjero que realizar&aacute; la importaci&oacute;n" />
        <ng-container formGroupName="extranjeroAvisoAgace">
            <div class="row mb-3">
                <div class="col-md-9">
                    <label for="razonSocial" class="form-label">Nombre o Raz&oacute;n Social*:</label>
                    <input class="form-control"
                        [ngClass]="isValid(extranjeroAvisoAgace, 'razonSocial') ? 'required' : ''" type="text"
                        formControlName="razonSocial" name="razonSocial" id="razonSocial"  (change)="setValoresStore(extranjeroAvisoAgace, 'razonSocial')" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="rfc" class="form-label">RFC*:</label>
                    <input class="form-control" [ngClass]="isValid(extranjeroAvisoAgace, 'rfc') ? 'required' : ''"
                        type="text" formControlName="rfc" name="rfc" id="rfc"   (change)="setValoresStore(extranjeroAvisoAgace, 'rfc')" />
                </div>
                <div class="col-md-5">
                    <label for="rfcExtranjero" class="form-label">Tax ID en el pa&iacute;s de origen del
                        extranjero*:</label>
                    <input class="form-control"
                        [ngClass]="isValid(extranjeroAvisoAgace, 'rfcExtranjero') ? 'required' : ''" type="text"
                        formControlName="rfcExtranjero" name="rfcExtranjero" id="rfcExtranjero" (change)="setValoresStore(extranjeroAvisoAgace, 'rfcExtranjero')" />
                </div>

            </div>
        </ng-container>

        <ng-titulo titulo="Datos de la mercanc&iacute;a que se importar&aacute; temporalmente" />
        <ng-container formGroupName="mercanciaST">
            <div class="row mb-3">
                <div class="col-md-4">
                    <app-catalogo-select [catalogo]="fraccionArancelaria" formControlName="cveFraccionArancelaria"
                        [label]="'Fracc&iacute;on arancelaria'" [required]="true" name="cveFraccionArancelaria"
                        (change)="fraccionArancelariaSeleccion()"></app-catalogo-select>
                </div>
                <div class="col-md-4">
                    <app-catalogo-select [catalogo]="fraccionRegla" formControlName="reglaFraccion"
                        [label]="'Fracción de la regla 4.2.2'" [required]="true" name="reglaFraccion"
                        (change)="fraccionReglaSeleccion()"></app-catalogo-select>
                </div>
                <div class="col-md-4">
                    <label for="nico" class="form-label">NICO*:</label>
                    <input class="form-control" [ngClass]="isValid(mercanciaST, 'nico') ? 'required' : ''"
                        type="number" formControlName="nico" name="nico" id="nico" (change)="setValoresStore(mercanciaST, 'nico')" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="valorUSD" class="form-label">Valor USD*:</label>
                    <input class="form-control" [ngClass]="isValid(mercanciaST, 'valorUSD') ? 'required' : ''"
                        type="number" formControlName="valorUSD" name="valorUSD" id="valorUSD" (change)="setValoresStore(mercanciaST, 'valorUSD')" />
                </div>
                <div class="col-md-4">
                    <label for="marca" class="form-label">Marca*:</label>
                    <input class="form-control" [ngClass]="isValid(mercanciaST, 'marca') ? 'required' : ''"
                        type="text" formControlName="marca" name="marca" id="marca" (change)="setValoresStore(mercanciaST, 'marca')" />
                </div>
                <div class="col-md-4">
                    <label for="peso" class="form-label">Peso (Kg)*:</label>
                    <input class="form-control" [ngClass]="isValid(mercanciaST, 'peso') ? 'required' : ''"
                        type="number" formControlName="peso" name="peso" id="peso" (change)="setValoresStore(mercanciaST, 'peso')" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <input-fecha [datos]="fechaInicioInput" (valorCambiado)="cambioFechaDeIngreso($event) " [setFecha]="mercanciaST.get('fechaInicio')?.value"></input-fecha>
                    @if (isValid(mercanciaST,'fechaInicio')) {
                    <div class="mensaje-error">
                        Fecha no válida, elija otro día
                    </div>
                    }
                </div>
                <div class="col-md-4">
                    <label for="numeroSerie" class="form-label">N&uacute;mero de serie:</label>
                    <input class="form-control" type="text" formControlName="numeroSerie" name="numeroSerie" id="numeroSerie" (change)="setValoresStore(mercanciaST, 'numeroSerie')" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8">
                    <label for="descripcionMercancia" class="form-label">Descripci&oacute;n de la mercancía*:</label>
                    <textarea cols="60" rows="5" class="form-control" formControlName="descripcionMercancia"
                    id="descripcionMercancia" (change)="setValoresStore(mercanciaST, 'descripcionMercancia')"></textarea>
                </div>
            </div>
        </ng-container>

        <ng-titulo titulo="Datos del domicilio donde se utilizará la mercancía" />
        <ng-container formGroupName="direccionST">
            <div class="row mb-3">
                <div class="col-md-8">
                    <label for="idNomComercial" class="form-label">Nombre comercial:</label>
                    <input class="form-control" [ngClass]="isValid(direccionST, 'informacionExtra') ? 'required' : ''"
                        type="text" formControlName="informacionExtra" maxlength="250" name="informacionExtra" id="informacionExtra" (change)="setValoresStore(direccionST, 'informacionExtra')" />
                </div>
                <div class="col-md-4">
                    <app-catalogo-select [catalogo]="fraccionArancelaria" formControlName="entidadFederativa"
                        [label]="'Entidad federativa'" [required]="true" name="cveFraccionArancelaria"
                        (change)="onEntidadFederativaChange()">
                    </app-catalogo-select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <app-catalogo-select [catalogo]="fraccionArancelaria" formControlName="delegacionMunicipio"
                        [label]="'Alcaldía o Municipio'" [required]="true" name="cveFraccionArancelaria"
                        (change)="fraccionArancelariaSeleccion()"></app-catalogo-select>
                </div>
                <div class="col-md-4">
                    <app-catalogo-select [catalogo]="fraccionRegla" formControlName="colonia"
                        [label]="'Colonia'" [required]="true" name="reglaFraccion"
                        (change)="fraccionReglaSeleccion()"></app-catalogo-select>
                </div>
                <div class="col-md-4">
                    <label for="calle" class="form-label">Calle*:</label>
                    <input class="form-control" [ngClass]="isValid(direccionST, 'calle') ? 'required' : ''"
                        type="text" formControlName="calle" name="calle" id="calle" (change)="setValoresStore(direccionST, 'calle')" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="valorUSD" class="form-label">No. exterior*:</label>
                    <input class="form-control" [ngClass]="isValid(direccionST, 'numeroExterior') ? 'required' : ''"
                        type="number" formControlName="numeroExterior" name="valorUSD" id="valorUSD" (change)="setValoresStore(direccionST, 'numeroExterior')" />
                </div>
                <div class="col-md-4">
                    <label for="numeroInterior" class="form-label">No. interior:</label>
                    <input class="form-control" [ngClass]="isValid(direccionST, 'numeroInterior') ? 'required' : ''"
                        type="text" formControlName="numeroInterior" name="numeroInterior" id="numeroInterior" (change)="setValoresStore(direccionST, 'numeroInterior')" />
                </div>
                <div class="col-md-4">
                    <label for="codigoPostal" class="form-label">Código postal*:</label>
                    <input class="form-control" [ngClass]="isValid(direccionST, 'codigoPostal') ? 'required' : ''"
                        type="number" formControlName="codigoPostal" name="codigoPostal" id="codigoPostal" (change)="setValoresStore(direccionST, 'codigoPostal')" />
                </div>
            </div>
        </ng-container>

        <ng-titulo titulo="Datos de la operación de importación" />
        <ng-container formGroupName="pedimentoST">
            <div class="row mb-3">
                <div class="col-md-8">
                    <label for="patenteAutorizacion" class="form-label">Patente o autorización del Agente Aduanal</label>
                    <input class="form-control" [ngClass]="isValid(pedimentoST, 'patenteAutorizacion') ? 'required' : ''"
                        type="number" formControlName="patenteAutorizacion" name="patenteAutorizacion" id="patenteAutorizacion" (change)="setValoresStore(pedimentoST, 'patenteAutorizacion')" />
                </div>
                <div class="col-md-4">
                    <label for="rfcAgenteAduanal" class="form-label">RFC del Agente Aduanal:</label>
                    <input class="form-control" [ngClass]="isValid(pedimentoST, 'rfcAgenteAduanal') ? 'required' : ''"
                        type="text" formControlName="rfcAgenteAduanal" name="rfcAgenteAduanal" id="rfcAgenteAduanal" (change)="setValoresStore(pedimentoST, 'rfcAgenteAduanal')" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <app-catalogo-select [catalogo]="fraccionRegla" formControlName="numeroPedimento"
                        [label]="'Número de pedimento:'" [required]="true" name="numeroPedimento"
                        (change)="fraccionReglaSeleccion()"></app-catalogo-select>
                </div>
                <div class="col-md-4">
                    <label for="claveAduana" class="form-label">Aduana de importación:</label>
                    <input class="form-control" [ngClass]="isValid(pedimentoST, 'claveAduana') ? 'required' : ''"
                        type="number" formControlName="claveAduana" name="claveAduana" id="claveAduana" (change)="setValoresStore(pedimentoST, 'claveAduana')" />
                </div>
            </div>
            
            <ng-container>
                <ng-alert [CONTENIDO]="declaracionDeResponsabilidadSolidaria"></ng-alert>
            </ng-container>

        </ng-container>

    </form>
</div>