.table-scroll {
  max-height: 400px; /* Establece la altura deseada para el área desplazable */
  overflow-y: auto; /* Habilitar desplazamiento vertical */
}

.table-scroll table {
  width: 100%;
  border-collapse: collapse; /* Colapsar bordes para un aspecto más limpio */
}

thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa; /* Color de fondo para el encabezado fijo */
  z-index: 1; /* Asegúrate de que el encabezado permanezca por encima del contenido */
  border-bottom: 2px solid #ccc; /* Agregar borde inferior al encabezado */
}

th, td {
  padding: 10px;
  text-align: left;
  width: 0%; /* Asegurar un ancho igual para las celdas del encabezado y del cuerpo */
  white-space: nowrap; /* Evitar el ajuste de texto para un ancho consistente */
}
