<div class="container">
  <form [formGroup]="movilizacionForm">
    <ng-titulo titulo="Destino" />
    <div class="row">
      <div class="col-md-4 form-group">
        <label class="form-label" for="coordenadas"
          >Coordenadas geográficas:</label
        >
        <input
          class="form-control"
          id="coordenadas"
          formControlName="coordenadas"
          placeholder=""
          type="text"
        />
      </div>
    </div>
    <ng-titulo titulo="Medio de transporte" />
    <div class="row">
      <div class="col-md-4">
        <select-catalogos
          [catalogosDatos]="medioTransporteList"
        ></select-catalogos>
      </div>
      <div class="col-md-4 form-group">
        <select-catalogos
          [catalogosDatos]="identificacionTransporteList"
        ></select-catalogos>
      </div>
      <div class="col-md-8">
        <select-catalogos
          [catalogosDatos]="puntoDeVerificacionFederal"
        ></select-catalogos>
      </div>
      <div class="col-md-8">
        <select-catalogos
          [catalogosDatos]="nombreDeLaEmpresaTransportista"
        ></select-catalogos>
      </div>
    </div>
  </form>
</div>
