<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li [ngClass]="indice === 1 ? 'active' : ''">
                <a data-toggle="tab" tabindex="0" (keyup)="seleccionaTab(1)" (click)="seleccionaTab(1)">Solicitante</a>
            </li>
            <li [ngClass]="indice === 2 ? 'active' : ''">
                <a data-toggle="tab" tabindex="0" (keyup)="seleccionaTab(2)" (click)="seleccionaTab(2)">Tratados</a>
            </li>
            <li [ngClass]="indice === 3 ? 'active' : ''">
                <a data-toggle="tab" tabindex="0" (keyup)="seleccionaTab(3)" (click)="seleccionaTab(3)">Destinatario</a>
            </li>
            <li [ngClass]="indice === 4 ? 'active' : ''">
                <a data-toggle="tab" tabindex="0" (keyup)="seleccionaTab(4)" (click)="seleccionaTab(4)">Transporte</a>
            </li>
            <li [ngClass]="indice === 5 ? 'active' : ''">
                <a data-toggle="tab" tabindex="0" (keyup)="seleccionaTab(5)" (click)="seleccionaTab(5)">Datos Certificado</a>
            </li>
          
        </ul>

<ng-container>
  <!-- indice = 1 -->
  <solicitante #Solicitante [hidden]="indice !== 1"></solicitante>
  @if (esDatosRespuesta) {
    <!-- indice = 2 -->
    <app-tratados-110203 #TratadosComponent [hidden]="indice !== 2"></app-tratados-110203>
    <!-- indice = 3 -->
    <app-destinatario-110203 #DestinatarioComponent [hidden]="indice !== 3"></app-destinatario-110203>
    <!-- indice = 4 -->
    <app-transporte-110203 #TransporteComponent [hidden]="indice !== 4"></app-transporte-110203>
    <!-- indice = 5 -->
    <app-datos-certificado-110203 #DatosCertificadoComponent [hidden]="indice !== 5"></app-datos-certificado-110203>
  }
</ng-container>

    </div>
</div>